[2020-07-30 20:26] EppO commented on #6400
[code]
What about etcd? Should we change that default to true? It makes etcd upgrades impossible outside of kubernetes upgrades, kubeadm still doesn't support upgrading etcd without the kubernetes components AFAIK.

[2020-07-30 23:37] AndriiNeverov commented on #6454
@floryut

We use `--become --become-user=root`, but the root user doesn't have password setup on the default Ubuntu images. Only the "ubuntu" user has a password. Are we supposed to use that now?

The question is what have changed. I tested it with the exactly same Ansible version 2.8.0 and it works "as is" (same images, same users, etc.) with v2.12.7, but not with v2.13.x.

[2020-07-31 09:27] liupeng0518 commented on #5226
the latest kubespray version, same issue.

[2020-07-31 10:09] nico0olas opened #6481 "add FELIX_DEVICEROUTESOURCEADDRESS option to calico"
**What would you like to be added**:
add calico FELIX_DEVICEROUTESOURCEADDRESS option to k8s-net-calico.yml and calico-node.yml.j2

exemple:
k8s-net-calico.yml:
calico_route_source_address: true

kubespray/roles/network_plugin/calico/templates/calico-node.yml.j2
  {%  if calico_version is version('v3.9.0, '>=') and calico_route_source_address == "true" %}
            - name: FELIX_DEVICEROUTESOURC

[2020-07-31 11:41] floryut commented on #6481
@nico0olas As you already pinpoint a change, would you be able to submit a PR ?

[2020-07-31 11:48] nico0olas commented on #6481
I never wrote a PR... I'm not sure I have a good developpement environnement to do it, It doesn't seem easy for a beginner

[2020-07-31 12:32] marco69 commented on #5757
I have the same issue.. Is there a workaround?

[2020-07-31 13:32] EppO commented on #6400
- Add CI job to test scale playbook

[2020-07-31 13:35] floryut commented on #6400
I also though about that, scale and remove needs some love from CI

[2020-07-31 14:14] intrand opened #6483 "2.13.3 release schedule"
Our company unfortunately depends on proxy support, which is in master but hasn't made it into a release yet. We've forked and backported the fix (actually a number of fixes), but we're eager for a proper release so we may drop a lot of these patches.

I'm humbly asking for an estimated release date for 2.13.3.

Thanks!

[2020-07-31 14:43] floryut commented on #6483
Should be soon, can't really give you an exact date, but we are starting to plan next release (2.14/2.13.3/2.12.8)

[2020-07-31 15:46] intrand commented on #6483
Yes, I understand not being able to give an exact date. No problem.

Could you please give me a n estimate of what "soon" entails? A week? A month? Valve time?

Thank you very much for getting back to me so quickly. I appreciate it.

[2020-07-31 17:52] navarro-chamberlain opened #6484 "[WARNING]: Unhandled error in Python interpreter discovery for host bastion: Failed to connect to the host via ssh: Connection timed out during banner exchange"
**Environment**:
AWS

NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
UBUNTU_CODENAME

[2020-07-31 18:53] DirkTheDaring commented on #6451
Resolution found here
https://github.com/coreos/fedora-coreos-tracker/issues/574

basically kubespray needs to deploy a new file for systemd because of the problems described in the issue.

in **/etc/systemd/network/10-flannel.link** the following needs to be added

[code]

[2020-07-31 19:17] vbottu opened #6485 "External Loadbalancer for apiserver"
How do I configure an external load balancer for api server endpoints? I am planning to leverage haproxy for this purpose. Our cluster is on prem and we are using kubernetes v1.15.5

[2020-08-01 07:33] #6395 closed

[2020-08-01 08:26] pssvenkatrao commented on #6460
hi Floryut, thank you for checking this, below are the few logs from the script output. I logged in to the etcd box and tried below command -
etcdctl memberlist   ( but no members listed). can you please let me know in which location I need to check logs. I am trying to create this cluster for the first time.
415  TASK [Configure | Wait for etcd cluster to be healthy] *****************************

[2020-08-01 11:54] AbirHamzi opened #6486 "Some roles are missing when installing kubespray with ansible-galaxy"
I'm trying to install kubespray using ansible-galaxy command (I'm not sure if it is possible ) using the following requirements.yml file:

[code]

Used command : ` ansible-galaxy install -r requirements.yml -p .`

When installed I can find the kubespray folder however there are some missing roles like etcd role doesn't exist, is this expected ?

[2020-08-01 14:15] mvdpoel commented on #5550
same for me!

[2020-08-02 01:46] #5703 closed

[2020-08-02 15:48] drewbitt commented on #5602
/remove-lifecycle stale

[2020-08-02 21:59] ak2766 commented on #5139
I believe kubespray scripts ought to make sure that all hosts (including the load balancer where an external one is being used) are reachable.  In my case, I getting this same error using KVM VM's and in my case, the load balancer VM was stuck during boot waiting to do a fsck (or ctrl+D) in order to complete boot up.

[2020-08-02 23:40] JackTiber commented on #5835
@hornpolish You can switch from `ipvs` to `iptables` on line 102 of the k8s-cluster.yml file in the inventory directory. I ran into this issue today while deploying a new cluster to our own OpenStack cloud and the switch to iptables fixed the issue.

You probably found this already, but leaving this comment for anyone else who comes across it.

[2020-08-03 06:24] yotsapon opened #6488 "etcd cluster is unavailable or misconfigured and connection refused"
I have used to ansible to setup production K8S cluster with kubespray 2.13.0 for 5 months ago. It used to work before. So I want to use the exact setting to setup another K8S cluster. So I found this in issues below. I am not so sure what has been changed with ETCD.

![image](https://user-images.githubusercontent.com/46857257/89151577-819de300-d58b-11ea-8c0a-6271b1bf7f22.png)

**Environment**:
- *

[2020-08-03 08:15] floryut commented on #6460
I meant checking the logs of the etcd service, using journalctl for exemple (on one of the etcd server, if started externally and not inside k8s)

[2020-08-03 08:20] floryut commented on #6488
@yotsapon Could you please check etcd logs ? if the service is unavailable the issue will be visible though etcd service logs

[2020-08-03 08:24] floryut commented on #6485
Hello @vbottu did you check https://github.com/kubernetes-sigs/kubespray/blob/master/docs/ha-mode.md ?

[2020-08-03 13:06] vbottu commented on #6485
I did check out the ha-mode, can we use external lb(for clients like kubectl) along with internal lb (for internal calls to api server)

[2020-08-03 13:08] #6485 closed

[2020-08-03 17:12] yohan-couppey commented on #6055
I confirm that I reproduce the problem and the add of "async" and "poll" lines works.

Context for the issue :

I needed to install a new Kubernetes with Kubespray v2.13.2 with only one Master, one ETCD Node and Calico as CNI to prepare the transition of an existing Kubernetes cluster to a new one behind a bastion host without using a lot of hardware.

So I downscaled my old cluster to create a ne

[2020-08-03 18:56] EppO commented on #5757
what issue?
So far the message `The recommended value for \"clusterDNS\" in \"KubeletConfiguration\" is` is just a warning, it won't make the kubespray run fail

[2020-08-03 23:07] mattqm commented on #6488
I had what looked like a similar issue yesterday installing onto fresh openSUSE 15.2 VMs.  The firewall was on by default - so once I stopped it and reran ansible it came together ok.  If this is a common issue, then the instructions should either say to stop the firewall or the ansible code should stop it or set up the required rules.

[2020-08-04 08:15] floryut commented on #6483
In the next weeks (let's say before september) :)

[2020-08-04 08:29] floryut commented on #6481
I guess you already tested your fix in your own/company cluster?
If so you can fork and create a PR in this repository, CI test will validate your code change and reviewers will discuss with you if need be.

But it is indeed up to you :)

[2020-08-04 08:30] floryut commented on #5758
Fix by ##5657
/close

[2020-08-04 08:31] #5758 closed

[2020-08-04 09:07] floryut commented on #6301
This commit is now in release branch 2.13, if you think it needs to release to be backported further (2.12) I'll suggest to open up a PR :)
/close

[2020-08-04 09:07] #6301 closed

[2020-08-04 09:12] floryut commented on #6079
As #6112 was merged onto 2.13 branch I'm closing this, please reopen if any other inputs.
/close

[2020-08-04 09:12] #6079 closed

[2020-08-04 12:23] floryut commented on #6483
@intrand fastracked :D credits to @Miouge1 https://github.com/kubernetes-sigs/kubespray/releases/tag/v2.13.3

[2020-08-04 12:24] floryut commented on #6483
/close

[2020-08-04 12:24] #6483 closed

[2020-08-04 14:30] intrand commented on #6483
Thank you! Awesome!

[2020-08-04 14:45] hafe commented on #6400
Flip default of var kubeadm_control_plane to true and remove "experimental" from code?

[2020-08-04 14:46] hafe commented on #6400
etcd_kubeadm_enabled: true
makes all etcdctl related use cases not to work.
I started looking at it

[2020-08-04 15:46] yotsapon commented on #6488
I know the root cause. It's my fault. I put IP address from ansible_host to access_ip.

[2020-08-04 15:46] #6488 closed

[2020-08-04 16:49] EppO commented on #6400
That's actually what I was referring with "Drop non-kubeadm deployment" but I mixed two different use cases: since 2.9 kubespray is _always_ using kubeadm to provision the cluster but it doesn't use kubeadm join on the non-first control plane nodes by default (just another run of kubeadm init).
I think the join model is the good way forward.

[2020-08-04 22:19] MarkusTeufelberger commented on #6400
Personally I'd like to drop a few features that are relatively exotic or easy to work around/implement yourself such as downloading binaries and rsync'ing them around instead of just fetching them on each node. This could really simplify the `download` role.

Another bigger architectural change could be to change kubespray into a collection (maybe even adding some roles to https://github.com/ansib

[2020-08-05 03:13] EppO commented on #6400
I'd prefer rely on the distro package manager when applicable instead of downloading all the stuff but if you have a better design for the download role, feel free to submit a PR.

Ansible 2.10 is not released yet and we need to be careful on what ansible version is available on each supported distros.
Regarding the usage of kubespray, I know @Miouge1 wanted to promote the container image use case

[2020-08-05 12:02] #6471 closed

[2020-08-05 13:15] ermajn commented on #4257
I have same issue here

[code]

[2020-08-06 04:45] qingkunl commented on #6175
My kube-router PR has been merged and released in v1.0.1, and https://github.com/kubernetes-sigs/kubespray/pull/6479 has updated kube-router to v1.0.1 in Kubespray. So this issue should have been fixed.

[2020-08-06 06:26] #5946 closed

[2020-08-06 09:46] marquetemb opened #6504 "Fail to update data in etcd through calicoctl (configuring route reflector) installing the cluster"
** Description **

Installing the cluster with calico, at the time the route reflector is being configured, an error is shown:
[code]

This is due a race condition between getting the calico-node data and the replace of it through calicoctl. The revisionVersion of the data from etcd is outdated when the replace is done, as the data of etcd have been modified and the revisionVersion were increased.

[2020-08-06 11:40] ivanvtimofeev opened #6506 "K8s system pods fails due to liveness check not working"
**What happened**:
kube-scheduler and kube-controller pods fail due to liveness checking not works. Liveness checking does not work because healtz check entrypoints for these pod was removed in 1.16.13 k8s (for kube-scheduler pod http://127.0.0.1:10251/healthz and for kube-controller pod  http://127.0.0.1:10252/healthz )

**What you expected to happen**:
I expect k8s pods manifests will not contai

[2020-08-06 11:58] lacebal opened #6507 "Integrate with AWS IAM trough aws-iam-authenticator"
**What would you like to be added**: integrate with AWS IAM through aws-iam-authenticator (https://github.com/kubernetes-sigs/aws-iam-authenticator)

**Why is this needed**: To allow configuring Kubernetes cluster with AWS IAM authentication though official AWS aws-iam-authenticator.

[2020-08-06 12:51] ivanvtimofeev commented on #6506
Additionally. The report from k8s repo about this but. The ask me report here with this issue: https://github.com/kubernetes/kubernetes/issues/93746

[2020-08-06 17:06] BharathB23 opened #6509 "hosts.yaml generation fails if node host name contains hyphen character"
When generating hosts.yaml required for deploying kubernetes, if the arguments passed to contrib/inventory_builder/inventory.py contains host name with a hyphen character, the action is failing.
[code]

**Environment**:
- **Cloud provider or hardware configuration:** Virtual machine

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 4.15.0-112-generic x86_64
NAME="Ubuntu"
VERSIO

[2020-08-07 20:01] #4772 closed

[2020-08-07 21:53] zhu20200720 opened #6511 "any kubespray dns related settings to let application container able to access nameserver on nodes"
Here are the facts when we set up HA k8s cluster on-prem.

- We used v2.12.7 release
- We have 3 master nodes(node1/node2/node3) and 3 worker nodes(node4/node5/node6) in cluster
- We used the most of the default settings except for using **Calico**, and **IPVS**
- There has DNS entry(FQDN) could be looked up from the node's nameserver, however the name not to be recognized inside the application c

[2020-08-08 09:14] #5303 closed

[2020-08-08 11:19] hornpolish commented on #5835
Thanks @JackTiber -- i had kinda shelved it and went back to 18.04 which worked for me.  i will give it a go next time i repave a cluster.  i have a gaggle of throw-away desktops that this will be perfect for.

[2020-08-08 11:23] eifelmicha commented on #6506
`
❯ kubectl get componentstatuses
NAME                 STATUS      MESSAGE                                                                                     ERROR
scheduler            Unhealthy   Get http://127.0.0.1:10251/healthz: dial tcp 127.0.0.1:10251: connect: connection refused
controller-manager   Unhealthy   Get http://127.0.0.1:10252/healthz: dial tcp 127.0.0.1:10252: connect: connecti

[2020-08-10 11:10] olegsidokhmetov commented on #3471
Hello!
I have some issue with this commands

quersys@node1:/etc/kubernetes$ _sudo kubeadm init phase certs apiserver --config kubeadm-config.yaml_
W0810 11:08:48.479307   31818 utils.go:26] The recommended value for "clusterDNS" in "KubeletConfiguration" is: [10.233.0.10]; the provided value is: [169.254.25.10]
W0810 11:08:48.479525   31818 configset.go:202] WARNING: kubeadm cannot validate compon

[2020-08-10 11:52] juliohm1978 commented on #3471
What version of K8s are you using? It's been almost a year since I posted. Did something change in kubeadm since then?

I would start by searching for official instructios on how to renew and recreate certs.

https://kubernetes.io/docs/tasks/administer-cluster/

[2020-08-10 11:55] olegsidokhmetov commented on #3471
quersys@node1:/etc/kubernetes$ kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T16:58:53Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c

[2020-08-10 15:09] juliohm1978 commented on #3471
[code]
Those look like warnings. Most people seem to ignore them. Are you sure no error messages appear as well? Does it hang and never return? If that's the case, I'd wait for a timeout to hopefully get some actual error messages.

[2020-08-10 15:30] olegsidokhmetov commented on #3471
Yeh, also I have timeout error with my node, when I use cluster.yml and tried to add this node to master
10 авг. 2020 г. 17:10 пользователь Julio H Morimoto написал:

[code]
Those look like warnings. Most people seem to ignore them. Are you sure no error messages appear as well? Does it hang and never return? If that's the case, I'd wait for a timeout to hopefully get some actual error messages.

[2020-08-10 15:52] mhabicht commented on #5886
I think in the end, it was determined that you cannot upgrade from 14-15 and you need to install fresh.

[2020-08-10 17:49] bmelbourne commented on #5134
@EppO @servo1x @dannyk81
Is anyone working on a PR for this issue?

I applied similar changes to a customised Kubespray deployment for a recent client and would be happy to raise a PR to get the changes added to the next release as I feel it's good practice to follow the official Kubernetes release docs.

[2020-08-10 21:57] juliohm1978 commented on #3471
Sounds like a conectivity problem or something that leads to it. If you can provide any further logs and relevant messages, it would be helpful.

[2020-08-11 06:19] olegsidokhmetov commented on #3471
Thanks!!!

I have my new node ip in apiserver.crt

DNS:node1, DNS:kubernetes, DNS:kubernetes.default, DNS:kubernetes.default.svc, DNS:kubernetes.default.svc.cluster.local, DNS:kubernetes, DNS:kubernetes.default, DNS:kubernetes.default.svc, DNS:kubernetes.default.svc.cluster.local, DNS:localhost, DNS:node1, DNS:node3, DNS:lb-apiserver.kubernetes.local, DNS:node1.cluster.local, DNS:node3.cluster.loc

[2020-08-11 07:28] floryut commented on #5981
Thx @bmelbourne and as there is no answer for a while, let's close this, we can always reopen if needed.
/close

[2020-08-11 07:28] #5981 closed

[2020-08-11 07:30] floryut commented on #6115
/close

[2020-08-11 07:30] #6115 closed

[2020-08-11 07:32] JosephKang opened #6521 "Etcd cert not found during update upgrade-cluster"
**Environment**:
- **Cloud provider or hardware configuration:**
 OpenStack VM

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
ubuntu 16.04

- **Version of Ansible** (`ansible --version`):
ansible 2.7.12

- **Version of Python** (`python --version`):
Python 2.7.12

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
release-2.11

**Network plugin used**:
etcd

**Full inv

[2020-08-11 09:52] wesley9620 commented on #6375
Try adding the config file as an argument :

`[root@node1 pki]# kubeadm alpha certs renew all --config="/etc/kubernetes/kubeadm-config.yaml"`
`certificate embedded in the kubeconfig file for the admin to use and for kubeadm itself renewed`
`certificate for serving the Kubernetes API renewed`
`apiserver-etcd-client is not a valid certificate for this cluster`

[2020-08-11 10:22] floryut commented on #6521
@JosephKang Did you set `etcd_kubeadm_enabled` to `true` ?

[2020-08-11 11:52] juliohm1978 commented on #3471
Please post relevant log messages for more context. At this level, "connection timeout" is a broad error message.

[2020-08-11 16:47] poussa commented on #5550
I think this is the correct fix for this issue: https://github.com/kubernetes-sigs/kubespray/pull/6346

[2020-08-11 19:21] marco69 commented on #5303
I still have the issue
null_resource.kubespray_create (local-exec): fatal: [k8s-kubespray-lab-master-0]: FAILED! => {"attempts": 4, "changed": false, "cmd": "/usr/local/bin/etcdctl --no-sync --endpoints=https://192.168.0.131:2379,https://192.168.0.132:2379,https://192.168.0.133:2379 cluster-health | grep -q 'cluster is healthy'", "delta": "0:00:03.060691", "end": "2020-08-11 21:19:14.811849", "msg

[2020-08-11 19:21] marco69 commented on #5303
I forgot OS is CentOS 7.7 3 masters and 2 workers all on Centos7.7

[2020-08-11 19:26] spaced commented on #6451
is podman network CNI in place?
Make sure you have only ONE `cni` plugin installed (check `/etc/cni/net.d`).
I removed the podman network with `podman network rm podman` command.

[2020-08-11 19:40] rptaylor opened #6523 "support volume_type in Terraform to create instances on Openstack using different kinds of storage"
**What would you like to be added**:
When k8s nodes are created on Openstack with Terraform, we should be able to specify an optional volume_type for them to  use.

**Why is this needed**:
So we can benefit from different volume types that may be available on Openstack clouds, for example faster volumes on SSDs, or different levels of data protection.

In terraform, functionality for Openstack was

[2020-08-11 21:28] caseydavenport commented on #6289
Most likely this is just a problem with `calicoctl node checksystem` and not a problem with Calico's support of those platforms themselves. Debian 8+ / Ubuntu 16.04+ should both be supported platforms to the best of my knowledge.

[2020-08-11 23:24] rptaylor commented on #6523
The terraform-provider-openstack plugin has a microversion check in it so it should avoid any problems on older Openstack versions that do not yet support this.

[2020-08-11 23:31] JosephKang commented on #6521
@floryut ,

Yes, I set **etcd_kubeadm_enabled** to **true** and **kubeadm_control_plane: true** while deploying the cluster.

When I restore  etcd_kubeadm_enabled as **false** I got the run cert generation script error: bash: /usr/local/bin/etcd-scripts/make-ssl-etcd.sh: No such file or directory in [add_node_kubeadm_disable.log](https://github.com/kubernetes-sigs/kubespray/files/5059922/add_node_

[2020-08-12 06:17] paulcosma commented on #6506
same issue here after upgrade from v1.18.5 to v1.18.6

[2020-08-12 09:24] dongxijia commented on #6289
I have met the same question，and I believe that ipt_set is a windows kernel.

[2020-08-12 09:37] floryut commented on #6521
Could you try with this patch ?
[code]

[2020-08-12 09:43] floryut commented on #6521
By the way if you want to add a new node why are you running upgrade_cluster.yml ?
https://github.com/kubernetes-sigs/kubespray/blob/75571ed30353832ceb78520301c27f45aa8ef17e/docs/nodes.md#addingreplacing-a-worker-node
Scale playbook is here for that.

[2020-08-12 10:36] Svendegroote91 commented on #5550
I tested it with release-2.13 (which should include https://github.com/kubernetes-sigs/kubespray/pull/6346) but still does not work.

[2020-08-12 13:13] holmesb opened #6525 "Wrong apiVersion for audit policy"
Should be apiVersion: audit.k8s.io/v1 not [audit.k8s.io/v1beta1](https://github.com/kubernetes-sigs/kubespray/blob/56f389a9f386767fa347732890889033d4e2c91d/roles/kubernetes/master/templates/apiserver-audit-policy.yaml.j2#L1)

Has been v1 since [k8s v1.14](https://v1-14.docs.kubernetes.io/docs/tasks/debug-application-cluster/audit/) or earlier.

[2020-08-12 13:59] floryut commented on #6509
Well it's more buggy if the host contains more than 1 hyphen char, but indeed still broken.

[2020-08-12 14:21] BharathB23 commented on #6509
Thank you for the response @floryut.

Yes host name should not begin or end with a hyphen, but it is a valid character and can be used in a host name.

Please let me know the way forward. If it is not a major change, will it be possible to include the changes in the upcoming release.

[2020-08-12 18:09] qingkunl commented on #5694
any update? thanks

[2020-08-13 05:35] JosephKang commented on #6521
Hello @floryut ,

Thanks for the help. I did another test by keeping etcd_kubeadm_enabled as false in ~/inventory/sample/group_vars/all/all.yml and kubeadm_control_plane as false in inventory/sample/group_vars/k8s-cluster/k8s-cluster.yml

The cluster can be deployed and the new node update-cluster flow can be executed successfully without /etc/calico/certs/ cert files issues. Therefore I might don

[2020-08-13 05:45] JosephKang commented on #6521
Thanks for the additional information. I use openpai, https://github.com/microsoft/pai, and just follow the steps to add a new worker node here: https://openpai.readthedocs.io/en/latest/manual/cluster-admin/how-to-add-and-remove-nodes.html#how-to-add-and-remove-nodes.

Base on your description, I can run the following **Cmd.2** instead of **Cmd.1**?
**Cmd.1**: ansible-playbook -i inventory/pai/hos

[2020-08-13 07:14] floryut commented on #6521
Yes the second cmd is intended for this task, it's way simpler and was faster if you only want to add a node

[2020-08-13 08:30] Svendegroote91 commented on #5550
Can you elaborate how I can add a task to disable firewall/iptables?

[2020-08-13 11:31] jcaesar opened #6527 "reset.yml may fail because no_proxy is not set"
**Environment**:
- **Cloud provider or hardware configuration:**
Hardware configuration? One desktop as master and some servers in the basement. Irrelevant?

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
`ansible 2.9.6`

- **Version of Python** (`python --version`):
`Python 3.8.5` (in virtualenv)

**Kubespray version (commit)

[2020-08-13 11:38] axelgobletbdr opened #6528 "Support reconfiguration of an existing control plane"
**What would you like to be added**:

Sometimes it is necessary to make changes to Kubeadm, e.g. by adding args to `kube_kubeadm_apiserver_extra_args`. After making changes to such variables and running `cluster.yaml`, kubespray does not update the apiserver, controller manager and scheduler. One has to manually to this, e.g. by running `sudo kubeadm init --config /etc/kubernetes/kubeadm-config.ya

[2020-08-13 11:47] floryut commented on #6527
@jcaesar Indeed, not sure why this wasn't added in all play.. do you want me to submit one or are you ready to face the contributing guidelines ? 😃

[2020-08-13 11:53] npajkovsky commented on #5432
Hello, drop my maintenance from network_plugin/cilium.

[2020-08-13 12:24] floryut commented on #6509
I've submit a PR to resolve this

[2020-08-13 12:51] jcaesar commented on #6527
Well, they ask to add tests. But I don't see any tests for setting proxies, so if you want me to add one, I'm out of my depth.
If the patch attached to the issue is enough, I'll go ahead.

[2020-08-13 13:07] floryut commented on #6527
It is enough, especially as this one was added to multiple play and is pretty much only missing for this one 👍
You could add #5896 as reference

[2020-08-13 18:55] dlouks commented on #4573
/reopen

[2020-08-13 18:58] dlouks commented on #4573
Can this issue be repoened or should a new one be created? I ran into this same problem and it looks to be an easy fix which I can get a PR to resolve.

One solution would be to update this patterns value https://github.com/kubernetes-sigs/kubespray/blob/4c1e0b188de11161c694746eb9e6e1a10d33252e/roles/etcd/tasks/check_certs.yml#L5 to
`patterns: "ca.pem,node*.pem,member*.pem,admin*.pem"`

[2020-08-14 06:26] hafe commented on #6528
You mean support to reconfigure and existing control plane?

[2020-08-14 06:36] hafe commented on #6400
Reducing scope and configurability of Kubespray would be nice.
List of features that could be removed:
* canal
* ???

[2020-08-14 06:40] axelgobletbdr commented on #6528
Yes. I am regularly getting into situations where I want to add some extra security related configuration to the control plane. I have to do this partially manually now. Other components of the cluster can be reconfigured at a later stage, e.g. the kubernetes version and the number of nodes. It bothers me that it is not possible for the control plane.

[2020-08-14 06:43] hafe commented on #6528
When you do the change manually using the kubeadm command, does it work? Is it supported by kubeadm?

[2020-08-14 06:48] axelgobletbdr commented on #6528
I have done it many times and never come across any problems with it. in the [kubeadm docs](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/) I cannot find anything explicit whether reconfiguration is or isn't supported. I would find it strange that once I have setup a k8 cluster, I am never allowed to adapt the control plane. Especially for things like pl

[2020-08-14 06:51] hafe commented on #6528
Since is a new feature would you mind updating the title to something like what I wrote in my first comment?

[2020-08-14 06:52] axelgobletbdr commented on #6528
done!

[2020-08-14 06:54] axelgobletbdr commented on #6528
A first solution that would work for my use cases is running `sudo kubeadm init --config /etc/kubernetes/kubeadm-config.yaml phase control-plane all` on the masters as task in `cluster.yaml`. This adapts the pod manifests for the control plane resources. Maybe there are other components that should be reconfigurable, but maybe that's for another story.

[2020-08-14 07:02] axelgobletbdr commented on #6528
In the current codebase kubeadm can run only once, which prevents these reconfigurations: https://github.com/kubernetes-sigs/kubespray/blob/master/roles/kubernetes/master/tasks/kubeadm-setup.yml#L145

It probably makes sense to not rerun some parts of kubeadm, but for the control plane phase it should not be an issue

[2020-08-14 08:22] BharathB23 commented on #6509
That was fast @floryut, thanks very much 👍

[2020-08-14 10:53] piequi opened #6533 "Support for OpenStack application credentials"
**What would you like to be added**:
Application credentials allow applications to authenticate to keystone API.
External cloud provider for openstack supports the usage of application credentials by setting `application-credential-id`, `application-credential-name` and `application-credential-secret` parameters in the provided `cloud.conf` file.
Currently, kubespray configuration templates do not

[2020-08-14 11:26] manzsolutions-lpreis commented on #5726
Unfortunately still an issue.
/remove-lifecycle rotten

[2020-08-14 11:39] floryut commented on #6533
@piequi Feel free to submit a PR, that would be very welcome 😄

[2020-08-14 12:43] floryut opened #6535 "WIP - Release Proposal v2.14"
Below is a proposal for release notes:

# Announcements
We are looking for maintainers, reach out in #5432.

# Deprecation / Removal
* Removed support for Fedora 29 and 30 (EOL)
* Remove support for CoreOS Container Linux (EOL)

# Major changes:
* Add Oracle Linux 8 support and fixes (#6198)
* Add Ubuntu 20.04 support (#6157)
* Add support for Fedora 32 (#6426)
* Add support for Kata Containers (#

[2020-08-14 12:45] floryut commented on #6535
@Miouge1 Let's save you some time when you got back ;)

[2020-08-14 12:45] floryut commented on #6535
Pending future PR merged @ 14/08/2020 / https://github.com/kubernetes-sigs/kubespray/commit/ef3e98807ebd38471c91ff5734d4523230f81047

[2020-08-14 13:22] lukasz-bielinski commented on #6535
@floryut  what is planned release date?

[2020-08-14 13:29] floryut commented on #6535
We haven't really discuss that yet (@EppO @LuckySB ), but should be in the coming weeks.

[2020-08-14 15:05] hafe commented on #6535
I do not know if this is worth a note:
* cgroup manager by default set to 'systemd'

Kind of backwards incompatible

[2020-08-14 15:06] carlonoelle commented on #4397
/remove-lifecycle rotten still an open issue, why do we have downtime when scaling up? this is very frustrating

[2020-08-14 15:07] carlonoelle commented on #4397
/remove-lifecycle rotten

[2020-08-14 15:07] carlonoelle commented on #4397
/remove-lifecycle stale

[2020-08-14 15:08] floryut commented on #6535
Agreed could be added to network notes

[2020-08-14 16:38] bl0m1 commented on #6535
I'm currently working on a PR that will fix snapshots for the Cinder CSI. There is some issue restoring a snapshot to volume when running the old v1alpha1 API. I hope to have the PR up in a few hours. If any other CSI drivers want the same fix I have in mind that everything need to be 100% reusable.

I hope I'm not to late and that we can have this feature added to the v2.14 release

[2020-08-14 20:27] floryut commented on #6535
Of course man, only wip release note, 2.14 is not till a few weeks :smiley:

[2020-08-14 21:46] #5786 closed

[2020-08-15 02:51] #5176 closed

[2020-08-15 09:58] #5788 closed

[2020-08-15 15:09] ThisIsQasim commented on #5645
/remove-lifecycle stale

[2020-08-15 17:05] #5681 closed

[2020-08-16 15:20] elgamal2020 opened #6540 "kubespray offline-environment"
in  kubespray/docs/offline-environment.md

I would like to ask you to indicate for each for the following why it is required and also how it can be implemented ?

- a HTTP reverse proxy/cache/mirror to serve some static files (zips and binaries)
- an internal Yum/Deb repository for OS packages
- an internal container image registry that need to be populated with all container images used by Kubesp

[2020-08-17 03:39] #5516 closed

[2020-08-17 05:40] hezise commented on #6150
I had issue with my configuration so it set the cluster to be with 0 nodes once I fixed that it worked fine

[2020-08-17 05:40] #6150 closed

[2020-08-17 06:30] floryut commented on #6540
@EppO could you provide some insights ?

[2020-08-17 06:35] snowmansora opened #6542 "Add/Replace master node failed when using kubeadm_control_plane"
**Environment**:
- **Cloud provider or hardware configuration:** AWS EC2 instances

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** CentOS 7.8

- **Version of Ansible** (`ansible --version`): 2.9.11

- **Version of Python** (`python --version`): 2.7.5

**Kubespray version (commit) (`git rev-parse --short HEAD`):** 2.13.3

**Network plugin used**: Flannel

I found 3 issues while tryi

[2020-08-17 08:13] Svendegroote91 opened #6543 "Extra hands-on documentation for 'setting up your first cluster'"
First of all, thanks for this awesome project!

**What would you like to be added**:
I would like the enrich the documentation for getting started with Kubespray.

**Why is this needed**:
By giving hands-on set-up example people will get familiar with how Kubespray works and can then easier go through more advanced documentation.

Currently I created an extensive [example](https://github.com/Svend

[2020-08-17 10:04] floryut commented on #6543
Thank you @Svendegroote91 I guess you could always add a new md in `docs`, it could always be useful so I don't see any reason why not to add this to kubespray codebase

[2020-08-17 10:17] Svendegroote91 commented on #6543
Ok perfect, any preference on the name of the file? Although the VMs are on Google Cloud, it's actually not about the Google Cloud specifics so naming it something like gcp.md could be misleading. Maybe setting-up-your-first-cluster.md? I could reference that file in the current getting-started.md as a pointer for a concrete walk through for setting up a first cluster?

[2020-08-17 10:22] floryut commented on #6543
`setting-up-your-first-cluster.md` look sfine to me, and yes with a reference from getting-started.md or in the readme (as it's done for offline-environment.md for exemple)

We'll see what other reviewers/approvers think once the PR is created anyway :)

[2020-08-17 11:02] Svendegroote91 commented on #6543
Ok cool, I'll create the PR :-)

[2020-08-17 12:24] thegreenbear opened #6545 "Uncordon nodes that failed draining during update"
**What would you like to be added**:
When running the upgrade-cluster.yml playbook, I would like nodes that were cordoned but failed to be drained to be uncordoned.

**Why is this needed**:
During the upgrade of the cluster, Kubespray cordons and then drain nodes before actually updating them.
However, if a node fails to be drained (for example because of no poddisruption budget), Kubespray will l

[2020-08-17 17:08] bmelbourne opened #6548 "Ansible-Lint E305 error in ingress_controller/cert_manager/tasks/main.yml"
When executing the **ansible-lint** utility against the `master` branch of the Kubespray codebase, the output reports the following error...

[code]

[2020-08-18 07:39] #6348 closed

[2020-08-18 07:49] #6523 closed

[2020-08-18 07:53] #6509 closed

[2020-08-18 08:11] floryut commented on #6525
Merged
/close

[2020-08-18 08:12] #6525 closed

[2020-08-18 08:31] floryut commented on #6486
@AbirHamzi Honnestly, not tested at all and not supported at all.
But that could be nice to see why it doesn't work as it's only a git checkout

[2020-08-18 12:18] dnl-wlf opened #6551 "Specify / configure version of openstack-cloud-controller-manager"
Is there a way to specify the version of the openstack-cloud-controller-manager component? It currently looks like this in the daemonset:
[code]
The latest version of the image led us to an very strange loadbalancer error where the same node ports for http and https where used. This basically "disable" https traffic.
I edited the ds and "pinned" version 1.18.1 and the SyncLoadBalancerFailed error

[2020-08-18 13:05] floryut commented on #6551
You can specify the version using `external_openstack_cloud_controller_image_tag` and it is indeed set to [1.18.1 in default](https://github.com/kubernetes-sigs/kubespray/blob/10a17cfe546de43e164a437a6591c107833b0ecf/roles/kubernetes-apps/external_cloud_controller/openstack/defaults/main.yml#L15)

And as far as I can see it should be `--cloud-provider=openstack` as we have `--cloud-provider=vspher

[2020-08-18 21:20] f35f0ef9d0e827dae86552d3899f78fc opened #6552 "extras_rh_repo_base_url Outdated"
I believe this URL structure computes the **$releasever** as, for example, 7.7 instead of the now required "7". When kubespray configures this extras repo, yum breaks because the URL does not point to a proper repo. kubespray only configures this extras repo when the _container-selinux_ package is not found, so the condition is probably uncommon. Nonetheless, it can cause an avoidable playbook fai

[2020-08-19 00:12] xiaolul commented on #6254
Thanks @vmwiz , I got an error for downloading the artifacts on my machine (OS: Ubuntu 18.04) with the following error message
[code]
With the script you provided, the problem disappear. Thanks!

[2020-08-19 06:53] floryut commented on #6552
Something like `extras_rh_repo_base_url: "http://mirror.centos.org/centos/{{ ansible_distribution_major_version }}/extras/$basearch/"`

[2020-08-19 08:03] majorinche opened #6553 "promethues monitor nodes failed"
version: kubespray-2.13.3

after install prometheus, it failed to detect metrics for node:10250/metrics, and report error
"server returned http status 400 bad request"

i try search inventory/mycluster/group_vars/k8s-cluster/addons.yml, and put metrics_server_enabled to true
seems not work

i try manual check by: curl -k https://10.30.0.127:10250/metrics, but report "Unauthorized"

anything that i

[2020-08-19 09:35] abyth opened #6554 "Python provisioning for coreos and flatcar fails due to PyPy being moved to a different hoster"
Within the bootstrap-os role a bootstrap script is used to provision a pypy python interpreter for container os and flatcar linux. This script is failing because the repository is not available anymore. The project has moved its repository from bitbucket to heptapod:
https://morepypy.blogspot.com/2020/02/pypy-and-cffi-have-moved-to-heptapod.html

Unfortunately the pypy documentation on https://www

[2020-08-19 10:13] floryut commented on #6554
Indeed now hosted at https://downloads.python.org/pypy/pypy3.6-v7.3.1-linux64.tar.bz2
Care to make a PR or do you want me to submit one ?

[2020-08-19 11:52] abyth commented on #6554
Will gladly do so

[2020-08-19 12:45] #5789 closed

[2020-08-19 17:16] phpHavok commented on #6533
I vote for this feature as well; I really need it for a project I'm working on. I can pull from @piequi directly for now, but any chance of merging this soon to upstream?

[2020-08-20 06:33] floryut commented on #6533
Soon yes, how soon ? hard to tell, lots of people on holiday :(

[2020-08-20 07:47] hillbun opened #6560 "Can not connect k8s cluster from out side"
I copy /root/.kube/config from master node to another machine out side k8s cluster

and change
server: https://192.168.0.148:6443
to public IP
server: https://139.9.x.x:6443

when run kubectl  get node, I get error
Unable to connect to the server: x509: certificate is valid for 10.233.0.1, 192.168.0.148, 192.168.0.148, 10.233.0.1, 127.0.0.1, 192.168.0.148, 192.168.0.212, not 139.9.x.x

How to fix

[2020-08-20 09:59] tangyibo commented on #6456
Me too:
[code]

[2020-08-20 11:25] #6548 closed

[2020-08-20 11:33] #5226 closed

[2020-08-20 12:28] piequi opened #6561 "Bump Openstack cloud controller image to 1.18.2"
**What would you like to be added**:
Update Openstack cloud controller image version from 1.18.1 to 1.18.2.

**Why is this needed**:
A cluster deployed with external cloud provider for Openstack v1.18.1, configured to use Neutron-LBaaS may fail with GO runtime panic when creating a new load-balancer service if `amphora` service provider isn't available. The `openstack-cloud-controller-manager` pod

[2020-08-20 12:29] piequi commented on #6561
PR to come.

[2020-08-20 13:53] floryut commented on #6456
Try to access it manually (with curl on the server) and if you can't curl it manually it means you have some kind of network issue (firewall, proxy ?).

[2020-08-20 14:33] bmelbourne opened #6564 "bitbucket.org URL to download Python PyPy package is no longer valid (403 Forbidden)"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

All CoreOS and Flatcar Virtualbox base images.

e.g.

[code]

- **Version of Ansible** (`ansible --version`):

[code]
- **Version of Python** (`python --version`):

`Python 3.6.9`

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

`master` branch

**Command used to invoke ansible**:

`vagrant up`

**Outp

[2020-08-20 14:35] piequi opened #6565 "Add lb-provider setting to Openstack external cloud controller config"
**What would you like to be added**:
Openstack external cloud controller configuration in`openstack.yml` should contain a setting like `external_openstack_lbaas_provider` to provide a way to configure a specific a LoadbalancerV2 service provider.

**Why is this needed**:
Currently, setting `external_openstack_lbaas_use_octavia=false` allow one to switch to Neutron-LBaaS, which makes `lb-provider`

[2020-08-20 14:51] floryut commented on #6564
Duplicate of #6554

/close

[2020-08-20 14:51] #6564 closed

[2020-08-21 04:18] snowmansora opened #6569 "kubernetes-apps (e.g. DNS) is upgraded/ran twice in upgrade-cluster.yml"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** CentOS 7.8

- **Version of Ansible** (`ansible --version`): 2.7.5

- **Version of Python** (`python --version`): 2.9.11

**Kubespray version (commit) (`git rev-parse --short HEAD`):** 2.13.3

**Command used to invoke ansible**: ansible-playbook upgrade-cluster.yml

**Anything else do we need to know**:
Currently, in up

[2020-08-21 06:35] unai-ttxu commented on #6504
Hi!

Could you review this issue please?

This issue causes some installations to fail when defining `calico-rr` group and force us to retry the installation.

Thanks.

[2020-08-21 07:05] #6543 closed

[2020-08-21 07:09] #6554 closed

[2020-08-21 07:09] #6552 closed

[2020-08-21 07:10] #6561 closed

[2020-08-21 07:13] #6441 closed

[2020-08-21 07:13] #6055 closed

[2020-08-21 07:30] liupeng0518 commented on #6456
@tangyibo
You should modify to an address that can be accessed in China:
[code]

[2020-08-23 21:36] bl0m1 commented on #6560
You need to set the ansible variable "supplementary_addresses_in_ssl_keys" to indicate the IP adress you want to use.
Example:
`supplementary_addresses_in_ssl_keys: [ "139.9.x.x" ]`

In case you want to point a domain towards the IP adress you need to add the domain as well.
Example:
`supplementary_addresses_in_ssl_keys: [  "139.9.x.x", cluster.example.com ]`

[2020-08-24 02:07] hillbun commented on #6560
how to fix this issue after cluster installation?

[2020-08-24 06:50] floryut commented on #4831
Nice of you to have debug and found that @bmelbourne
/close

[2020-08-24 06:50] #4831 closed

[2020-08-24 07:27] coffreo-ci opened #6578 "wait for kube-scheduler : Request failed: <urlopen error [Errno 111] Connection refused> on single node"
I have an issue with kubespray cluster.yml playbook.

**Environment**
- Debian 9 single node
- Version of Ansible : 2.9.6
- Version of Python : 2.7.13
- Kubespray version (commit) : 91ae87fa

**Inventory**
[code]

**Specific**
kube_network_plugin: calico
kube_proxy_mode: iptables

**Command used to invoke ansible**
`$ ansible-playbook -i inventory/coffreo/inventory.ini --become --become-user=root

[2020-08-24 13:15] floryut commented on #6535
Let's wait for it to be finish (ie: not in WIP status)

[2020-08-24 14:40] pedrohmuniz commented on #6506
Hi, i´m having the same issue in the master, this worked for me
sed -i '/- --port=0/d' /etc/kubernetes/manifests/kube-controller-manager.yaml
sed -i '/- --port=0/d' /etc/kubernetes/manifests/kube-scheduler.yaml

But when running again cluster.yml this confs are not persisted

[2020-08-24 22:09] linkvt commented on #6506
Seems to be fixed in Kubernetes 1.16.14: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#changelog-since-v11613

[2020-08-25 03:26] EppO commented on #6540
Kubespray installs kubeadm/kubelet/kubectl from binaries and CNI plugins, etcd, calico, crictl... from tgz files. So you need to point kubespray to an internal webserver that hosts these files. You can use Apache, nginx, ... any webservers of your choice.
An alternative is to use a reverse proxy in a DMZ that has Internet access, configuration is trickier but you don't have to store the files in t

[2020-08-25 08:58] MatthiasLohr opened #6582 "Cilium: custom options support"
The options (available within kubespray) for customizing cilium network plugin are rather limited, although cilium has a lot of things that can (and sometimes need to be) configured. With a custom option support, it would be possible to directly pass configuration to cilium without having to support each individual setting in kubespray.

Example: Currently, I want to set the cilium option `blackli

[2020-08-25 14:43] floryut commented on #6582
Could always be useful, all in for that if you want to submit a PR :+1:

[2020-08-25 14:44] pierreozoux commented on #5432
At the end, I'm sorry, but I'll not use kubespray.

I'd love to use it, but I'd prefer refactor everything :) nothing against what you did, but it currently is really complicated.

All I really need is to install containerd, kubelet and kubeadm, currently kubespray has too much technical debt, imho.

If you are into a big refactor as well, let's setup a call and discuss about it, if not, I'll do m

[2020-08-25 14:52] floryut commented on #5432
Ouch a bit harsh but constructive criticism is always welcome 👍
Maybe when Kubespray 3.0 will be in the pipe, the things you highlight could what kubespray will move towards, we'll see 😄

[2020-08-25 15:13] ghardin100 opened #6585 "upgrade-cluster.yml fails to cordon/drain nodes in aws when kube_override_hostname is set"
**Environment**:
- **Cloud provider or hardware configuration:**
AWS

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.3.0-1032-aws x86_64
NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchp

[2020-08-25 15:30] floryut commented on #6585
@ghardin100 Not sure I understand which task is failing but doesn't [this PR](https://github.com/kubernetes-sigs/kubespray/pull/6347/files) address some of your issues ?

[2020-08-25 15:48] ghardin100 commented on #6585
Hi, yes, that's exactly the issue, sorry, I didn't see that PR when I searched.

[2020-08-25 15:48] #6585 closed

[2020-08-25 15:50] floryut commented on #6585
No problem, always a good thing if everything work for you 😄

[2020-08-25 22:30] rptaylor commented on #6535
I'm afraid I've run into an issue with https://github.com/kubernetes-sigs/kubespray/pull/6524 on some clouds, it may be that the Openstack documentation is inaccurate in terms of the microversion requirement, or some other issue related to the use of the Openstack API, looking into it.

[2020-08-26 01:39] tangyibo commented on #6456
@floryut @liupeng0518 Thank you very much! I will try for another url address!

[2020-08-26 02:02] elgamal2020 commented on #6213
Any news ?

[2020-08-26 04:34] alexcpn commented on #1930
Happens on centos 7.6;  okay on centOS 7.7 - Lesson - use an updated OS when installing kubernetes

[2020-08-26 09:21] lacebal opened #6588 "etcd remove-node failing and ignoring the errors"
**Environment**:
- **Cloud provider or hardware configuration:**
AWS EC2 instances

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 3.10.0-1062.12.1.el7.x86_64 x86_64
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
B

[2020-08-26 11:38] ahmadalli opened #6589 "remove-node.yml fails because of proxy_env"
it's the same as #6527 for `remove-node.yml` play

[2020-08-26 12:42] lacebal commented on #6588
Addind ip=<internal etcd node IP> to inventory file fixed the problem but the points stated are still valid as they task makes no sense and failing to remove the node from the cluster should be an stopping one

[2020-08-26 12:54] ahmadalli commented on #6589
the fix has already been merged

[2020-08-26 12:54] #6589 closed

[2020-08-26 13:03] floryut commented on #6588
Agree with you, a failing task could be added.
Do you want to submit a PR or should we ?

[2020-08-26 14:26] lacebal commented on #6588
Thanks for reporting back to me. If you don't mind I would prefer that you provide the PR as I'm not confident enough with Ansible nor Kubespray yet. If not possible I can provide it myself .

I solved locally the failing point removing the last condition (etcd_member_id.stdout | length > 0) of the when clause of "Remove etcd member from cluster" task. I also tried to fail on the previous task "Lo

[2020-08-27 06:55] LeoWenxiang commented on #6560
you can change /etc/kubernetes/kubeadm-config.yaml , add the 139.9.x.x , like this
[code]
then:
(1)  backup the /etc/kubernetes/pki/apiserver.crt and apiserver.key , such as mv   /etc/kubernetes/pki/apiserver.* ../
(2) kubeadm init phase certs apiserver --config={{ kube_config_dir }}/kubeadm-config.yaml

[2020-08-27 09:07] #6481 closed

[2020-08-27 09:30] Miouge1 commented on #6535
Thank you so much for this @floryut !

[2020-08-27 09:33] floryut commented on #6372
Btw if anybody drop in this issues, this is now fix with kubernetes/kubernetes#92035 push to 1.19, cherry pick to 1.18(.5) with kubernetes/kubernetes#92256

As written on the kubernetes changelog:
[code]

[2020-08-27 10:02] iahmad-khan opened #6595 "Kube-Bench Tests are Failing"
Running Kube bench (https://github.com/aquasecurity/kube-bench) on a test install of kube spray has the following failures:

[code]

Is there any configuration options to get them fixed , or those are expected to be failed by kubespray install of kubernetes.

[2020-08-27 10:10] floryut commented on #6595
Not really intended I'd say.
If you are up to submit PR for that, that might be good.

I'll also take a look when I can 😃

[2020-08-27 10:29] thegreenbear opened #6596 "CoreDNS pods left in crashloopbackoff state after running upgrade"
**Environment**:
- **Cloud provider or hardware configuration: bare-metal**
- **OS: Fedora CoreOS v31.20200517.3.0**
- **Version of Ansible**: 2.9.6
- **Version of Python**: 3.7.7

**Kubespray version (commit): 39fa9503d93115ead8c9369dcaf45c839f44cc8b**

**Network plugin used**: calico and flannel

**Full inventory with variables:**
Relevant bits from k8s-cluster.ym group vars:
kube_version: v1.16

[2020-08-27 10:37] floryut commented on #6596
Yes we got a lot of issue with that, that's why we are not checking and ensuring that CoreDNS version is supported by Corefile-migration bundled with Kubeadm

[2020-08-27 11:39] floryut commented on #6596
Also the bug with configmap being left erroneous was also fixed on kubernetes end https://github.com/kubernetes/kubernetes/pull/88811

I suggest to close this issue as it should not happen with recent version of either spray or kubernetes

[2020-08-27 12:08] floryut commented on #6545
/close

(merged)

[2020-08-27 12:08] #6545 closed

[2020-08-27 12:17] floryut commented on #6551
Moving to close, if you have any other issue/questions, please reopen
/close

[2020-08-27 12:17] #6551 closed

[2020-08-27 17:44] rptaylor commented on #6535
I'm pretty sure https://github.com/kubernetes-sigs/kubespray/pull/6524  will be okay for 2.14.
The issue I ran into is described here: https://github.com/terraform-providers/terraform-provider-openstack/issues/1047
I think it is an Openstack deployment problem; if the cloud is only partially upgraded to >= Stein, the Terraform microversion check detects that the Openstack nova API can support the

[2020-08-28 01:39] hillbun commented on #6560
@bl0m1

How to

[2020-08-28 07:08] floryut commented on #6535
Ok good to know :)

[2020-08-28 08:53] thegreenbear commented on #6596
Sounds good.
I am happy to see there is a fix to the root cause.

Do you know in which Kubernetes version this is fixed?

Should I still bother creating a PR with my proposed work around with a
TODO to remove it once older versions are not supported or you think it's
not worth it?
I'm just wondering if we're the only ones bothered by the issue or not :-)

Cheers,

On Thu, Aug 27, 2020, 13:39 Flori

[2020-08-28 09:02] floryut commented on #6596
Looks like the fix in Kubernetes landed in 1.19, so pretty recent.

That's nice of you to have a patch and might be useful for some people (if they land on this issue while searching) so you may paste it here.
But I don't think we would merge it in master as it will be deprecated really soon (and we pin coreDNS version since 2.13 to be sure not to have this error) 😄

[2020-08-28 17:09] #5854 closed

[2020-08-29 07:22] #5687 closed

[2020-08-29 12:45] nuved commented on #2339
Is there any document that how can we change the type of ec2 without losing cluster?

[2020-08-29 13:26] bl0m1 commented on #6560
When running the playbook the config will be written but you manually need to run kubeadm on all masters after ansible has completed. the command can be seen in Leos comment above ^^ (step 2)

[2020-08-29 17:59] includerandom commented on #5997
Have the same issue

[2020-08-30 03:12] robarros opened #6602 "error deploy ubunutu 18.04"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 4.15.0-112-generic x86_64
NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchp

[2020-08-30 03:30] #6602 closed

[2020-08-30 03:30] robarros commented on #6602
fix

[2020-08-30 18:12] djkormo commented on #6215
It is still not corrected.

[2020-08-30 18:57] #5884 closed

[2020-08-31 07:05] floryut commented on #6596
/close
@thegreenbear feel free to post your patch here, if anyone happens to need it.
otherwise tldr: CoreDNS version should be supported by corefile-migration lib bundled with kubernetes (since k8s 1.15) otherwise you will end up with weird thing during upgrade/deploy

[2020-08-31 07:05] #6596 closed

[2020-08-31 07:13] thegreenbear commented on #6596
For those interested in a patch, the following works for me: [0001-Edited-kubeadm-upgrade-to-fix-CoreDNS-deployment-whe.txt](https://github.com/kubernetes-sigs/kubespray/files/5148846/0001-Edited-kubeadm-upgrade-to-fix-CoreDNS-deployment-whe.txt)

[2020-08-31 10:30] #6533 closed

[2020-08-31 11:56] #5134 closed

[2020-08-31 11:56] floryut commented on #6535
And done ;)

[2020-08-31 13:34] grig-tar opened #6604 "CoreDNS: custom config support"
**What would you like to be added**:
I would like to have a possibility of adding custom section to `CoreDNS` config.

**Why is this needed**:
We have an additional DNS zone provided by external server. I want to add it to `CoreDNS` config.

[2020-08-31 13:51] floryut commented on #6604
Isn't `coredns_external_zones` the thing you are looking for ?

[2020-08-31 14:39] ardylin commented on #5927
I have some problem when scale worker node

Output:
fatal: [master-2 -> 10.100.101.102]: FAILED! => {"changed": false, "msg": "AnsibleUndefinedVariable: 'None' has no attribute 'get'"}

[2020-08-31 17:08] grig-tar commented on #6604
It is, but not in my code - using v2.12
Thank you

/close

[2020-08-31 17:08] #6604 closed

[2020-08-31 21:03] iaas365-dev commented on #5144
Hello, I had this issue with kubespray v2.13.0 on CentOS Linux 7.7.1908
For avoiding unnecessary costs on august two nodes were removed from the cluster and shutdown, four week later I powered them on and tried to reinsert into the cluster unsuccessfully with scale.yml
I had to create new VM as a workaround, unable to reuse previous ones.

[2020-09-01 01:45] tonym97 opened #6606 "Add support for Kubernetes 1.19"
**What would you like to be added**:

Support for 1.19 Kubernetes which was release end of August

**Why is this needed**:

1.19 fixes several bugs with in Kubernetes including issues with HugePages etc

[2020-09-01 06:56] AndrewSav commented on #6606
Currently getting this when trying with 1.19:

[code]

[2020-09-01 07:40] floryut commented on #6606
Well if you checkout master, I've added [hashes for 1.19.0](https://github.com/kubernetes-sigs/kubespray/blob/master/roles/download/defaults/main.yml#L123) byut didn't really try it with spray for now.

Once 2.14 is released we'll start working on 2.15 with 1.19.x support :)

[2020-09-01 08:05] #6588 closed

[2020-09-01 11:44] tmongkolsmai commented on #6606
@AndrewSav you might have missed updating this dict reference:

kube_major_version: "{{ kube_version | regex_replace('^v([0-9])+\\.([0-9]+)\\.[0-9]+', 'v\\1.\\2') }}"
crictl_supported_versions:
  ### v1.19: "v1.19.0"
  v1.18: "v1.18.0"
  v1.17: "v1.17.0"
  v1.16: "v1.16.1"
  v1.15: "v1.15.0"
crictl_version: "{{ crictl_supported_versions[kube_major_version] }}"

[2020-09-01 14:16] jperville opened #6608 "Explicitly declare ingress-nginx-controller port 10254 (used by metrics)"
**What would you like to be added**:

The ingress-nginx-controller daemonset should explicitly list port 10254 in its pod template.

What we have today:

[code]

What I would like to see:

[code]

**Why is this needed**:

Today, the ingress-nginx ingress-nginx-controller daemonset already has the `prometheus.io/scrape=true` and `prometheus.io/port=10254` annotations in its `spec.template.metadata.

[2020-09-01 18:16] floryut commented on #6606
Yes that was a second [PR](https://github.com/kubernetes-sigs/kubespray/pull/6598?notification_referrer_id=MDE4Ok5vdGlmaWNhdGlvblRocmVhZDExMDMwMzM2OTc6MTYzMTMxNjU%3D#issuecomment-684531254) but it was approved later on

[2020-09-01 21:14] erulabs opened #6612 "Possibly skip calico interfaces in fact gathering ansible_all_ipv4_addresses"
Using calico on machines with a huge number of network interfaces results in a _very_ slow ansible. It seems a _huge_ amount of time is spend on ansible_all_ipv4_addresses.

I don't believe there is really any situation where the kubespray playbook needs to know any of the Calico internet interface addresses...

I notice in https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/fac

[2020-09-01 21:24] AndrewSav commented on #6606
That seems to have worked

[2020-09-01 22:13] Vedrillan opened #6613 "Use arch specific tag for flannel image"
**Environment**:
- On premise with Raspberry Pi 4

- Ubuntu Server 20.04

- Ansible 2.9.12

- Python 3.8.5

- Kubespray 9849dba5d3618601d4e85b157184d105307790c4 (v2.1.0-4053-g9849dba5)

**Network plugin used**: Canal

The cluster playbook is running fine, though once the cluster is spinning up pods, the flannel container of the `canal-node` pods will not start correctly. The pods were configured t

[2020-09-02 07:15] floryut commented on #6606
/close

[2020-09-02 07:15] #6606 closed

[2020-09-02 07:16] floryut commented on #6613
@Vedrillan Thank you for reporting this and regarding the PR, please do :+1:

[2020-09-02 08:38] hillbun commented on #6560
@bl0m1

But how to setup 139.9.x.x  before before running playbook?

[2020-09-02 16:10] EmAlexander commented on #5835
What did you change to use the new docker packages?

[2020-09-02 16:17] divramod opened #6615 "adding etcd nodes and rerunning cluster.yaml results ins error"
This error maybe correlates to https://github.com/kubernetes-sigs/kubespray/issues/6616 where i cant add master nodes. I tested it with nodes from the kube-node group and everything is running fine there.

Can anyone give me a hint where to search for the error?

**Environment**:
- on prem

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --

[2020-09-02 16:52] divramod opened #6616 "adding master nodes and rerunning cluster.yaml results in error"
This error maybe correlates to https://github.com/kubernetes-sigs/kubespray/issues/6615 where i cant add etcd nodes. I tested it with node from the kube-node group and everything is running fine there.

Can anyone give me a hint where to search for the error?

**Environment**:
- on prem

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --ver

[2020-09-02 19:21] EppO commented on #6233
/remove-lifecycle stale

[2020-09-02 19:51] EppO commented on #5726
it's still an issue on the DNS node cache side, otherwise k8s 1.17+ supports NFT. but be careful not a lot of network plugins support that mode

[2020-09-02 20:19] EppO commented on #5713
/remove-lifecycle stale

#6151 is trying to address the issue

[2020-09-03 01:24] hillbun opened #6617 "One pod of coredns is not ready when install as single node"
I install single node with kubespray

[code]

but one pod of coredns is not ready

[code]

[code]

How to solve it?

[2020-09-03 06:58] floryut commented on #6617
@hillbun Looks like you only have one node (worker/master) so drop the replica count of coredns to 1 instead of 2.
That's pretty normal to have this coredns not running and even if you don't change anything there isn't anything wrong or erroneous with that don't worry.

[2020-09-03 08:09] arno-snop opened #6618 "etcd data directory permissions failure (kube-bench / CIS Kubernetes Benchmark)"
After running [kube-bench](https://github.com/aquasecurity/kube-bench) on a cluster built with kubespray 2.13 we find an error on the following tests (master target):

- \[FAIL\] 1.1.11 Ensure that the etcd data directory permissions are set to 700 or more restrictive (Scored)
- \[FAIL\] 1.1.12 Ensure that the etcd data directory ownership is set to etcd:etcd (Scored)

It seems that etcd data dir

[2020-09-03 08:29] floryut commented on #6618
A kube-bench PR was opened a few days ago (#6595) with some issues, let's add them to the list :weary:
But it is indeed something that could (even should) be worked on.

[2020-09-03 09:57] majorinche opened #6619 "Setting volume ownership in dns-autoscaler"
1, check the /var/log/messages, find this:
Sep  3 17:49:51 d0404 kubelet: W0903 17:49:51.152288    2903 volume_linux.go:45] Setting volume ownership for /var/lib/kubelet/pods/91f7edbf-5fc3-4830-a2b0-fd72717cd37f/volumes/kubernetes.io~secret/dns-autoscaler-token-7pqsf and fsGroup set. If the volume has a lot of files then setting volume ownership could be slow, see https://github.com/kubernetes/kub

[2020-09-03 10:07] floryut commented on #6619
This was set based on the template given by [kubernetes](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml#L81)

[2020-09-03 12:05] akshaysharama opened #6621 "etcd backup directory is consuming 50% of rootfs disk space."
Hi,

In kubespray ansible scripts there is a etcd role where kubespray is taking backup of etcd data to /var/backups directory, which is in-turn consuming rootfs disk space because of this pods are going into evicted state.

Is there any use of /var/backups directory anywhere? if yes please guide me to the code or scripts where we are using backup directory.

**Environment**:
- **Cloud provider or

[2020-09-03 14:00] EppO commented on #6618
About etcd, I check all my clusters (centos 7) it gets created using 700, not 755 (still belongs to root), that's odd. I use kubeadm to deploy etcd so maybe kubeadm changes it back to 700 during the bootstrap.
When running in a container, etcd runs as root so I guess it won't hurt to change the ownership of the etcd data dir.

[2020-09-03 14:25] #6449 closed

[2020-09-04 07:28] ledroide commented on #5997
@arcenik and @includerandom : I have the same issue some time, and solved it in the past. This time, my solution does not work anymore.

You can :
* check DNS resolution and all name servers mentioned in resolv.conf
* delete /var/lib/kubelet/cpu_manager_state and restart kubelet
* run again the cluster.yml (or upgrade-cluster.yml) playbook

I have used Ansible to do run commands on all hosts :
[co

[2020-09-04 09:55] ledroide commented on #4606
@mr-yaky :

May you please detail operations you had run when solving this issue ?

[2020-09-04 09:56] ledroide commented on #5216
@mattlevan , @Areslight , did you solve this issue ?
We are some people facing the same problem. See #5997 ,  #5227 and #4606 among others

[2020-09-04 10:29] dazza76 opened #6628 "heketi"
Issue Deploying heket. with podsecuritypolicy_enabled: true
Output after running: ansible-playbook -i inventory/cluster/hosts.yml  contrib/network-storage/heketi/heketi.yml

apiVersion: v1
count: 17
eventTime: null
firstTimestamp: "2020-09-04T09:18:16Z"
involvedObject:
  apiVersion: apps/v1
  kind: DaemonSet
  name: glusterfs
  namespace: default
  resourceVersion: "554564"
  uid: 24606793-a5f1-45

[2020-09-04 11:54] #6608 closed

[2020-09-05 21:31] error10 commented on #5649
Kubernetes is dual stack now; kubespray should also support IPv6-only or dual stack deployments. I'll be trying to work on this a bit as we can't go into production without dual stack support.

[2020-09-05 21:43] mujibishola commented on #5550
Doesn't feel right to stop the firewall but after stopping the firewall everything works ok.

Add a new task to the config file kubespray/roles/etcd/tasks/configure.yml

- name: Configure | Stop firewalld
  service: name=firewalld state=stopped

[2020-09-06 15:03] rishabh625 opened #6631 "Unable to reach core dns servers"
HI,
Facing below issue,

Unable to reach dns servers , but works when well when dns pod IP is given

[code]

But works when coredns IP is given
[code]
Core Dns is running
[code]
Service Cidr and Pods Cidr are not overlapping

**Environment**:
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                8
On-line CPU(s) list:   0-7

[2020-09-07 02:28] hillbun opened #6632 "can not access dashboard when install from branch release-2.13"
I install from branch release-2.13, but when access dashboard UI, I get error:

"services \"https:kubernetes-dashboard:\" is forbidden: User \"system:anonymous\" cannot get resource \"services/proxy\" in API group \"\" in the namespace \"kube-system\""

how to fix?

[2020-09-07 07:46] floryut commented on #6632
@hillbun did you check this https://github.com/kubernetes/dashboard/issues/2660 ?

[2020-09-07 22:28] elgamal2020 opened #6638 "Enviroment with proxy"
Hello,

I am installing K8s using Kubespray to an enviroment relying on http and https proxy

both works fine

I can issue succesfully wget to doanload files to target nodes

While in Kubespray the download always failed

TASK [download : download_file | Download item] **********************************************************************************************************************************

[2020-09-08 08:18] #3961 closed

[2020-09-08 14:24] #5879 closed

[2020-09-08 15:40] w33dw0r7d opened #6640 "kubelet_flexvolumes_plugins_dir undefined in v2.14.0"
**Environment**:
- **Cloud provider or hardware configuration:**
openstack

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`):
[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
[code]

tag v2.14.0

**Network plugin used**:

calico

**Command used to invoke

[2020-09-08 20:00] Miouge1 commented on #6535
Thank you so much @floryut ! [v2.14.0](https://github.com/kubernetes-sigs/kubespray/releases/tag/v2.14.0) is out!

[2020-09-08 20:00] #6535 closed

[2020-09-09 06:00] hillbun commented on #6632
@floryut

But I still do not know how to fix it.
any advice?

[2020-09-09 06:51] neuliuyin opened #6642 "Task 'Disable swap' fails when there is no swap configured on a node"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
  Linux 3.10.0-1127.el7.x86_64 x86_64
  NAME="CentOS Linux"
  VERSION="7 (Core)"
- **Version of Ansible** (`ansible --version`):
  ansible 2.9.6
- **Version of Python** (`python --version`):
  python version = 3.7.3 (default, Aug  4 2020, 19:30:55) [Clang 11.0.3 (clang-1103.0.32.62)]
- **Kubespray version (commit) (`gi

[2020-09-09 07:40] floryut commented on #6632
I'm not a dashboard user but the doc on their repo is talking about [access control](https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/README.md), maybe check that first

[2020-09-09 07:42] floryut commented on #6640
Looks fine by me, if you could submit a PR that'd very welcome @w33dw0r7d

[2020-09-09 08:19] floryut commented on #6642
@neuliuyin could you put the entire log ? and if possible add (between line 15 and 16)
[code]

[2020-09-09 08:23] w33dw0r7d commented on #6640
@floryut done

[2020-09-09 14:17] hpschry opened #6647 "vsphere out of tree provider setup with kubespray fails to allocate tag based storage"
When using the in-tree cloud storage provider with vsphere 6.7u3 and a tag based storage policy this works flawlessly. When setting up a cluster with kubespray and using the external cloud provider this fails with " failed to provision volume with StorageClass "vsphere-csi": rpc error: code = Internal desc = Failed to create volume. Error: CnsFault error: No compatible datastore found for storageP

[2020-09-09 14:18] holmesb opened #6648 "Allow resource management for metrics-server container"
Not sure if this is a bug report or enhancement request.  Our kubespray-deployed metrics-server is being CPU-throttled because its limit is too low.  I'm not sure how the limits are set, because they [aren't](https://github.com/helm/charts/blob/fb18b68bc8d1b57b55dcc907fb5859d457710c44/stable/metrics-server/templates/metrics-server-deployment.yaml#L49) by Kubespray.  Adding resources {} to this dep

[2020-09-09 15:33] OlivierMary commented on #6246
Hi there,

Same for us more than 3h (still scale atm...) for 18 nodes.... , more than 1h30 just for download all images.... (all checks take times, not really download time)

We see `download_run_once` now, will check that next time...

+ Scale restart all daemon docker if no_proxy is computed and change.... so scale cause a big restart of all cluster just to add one node...

[2020-09-09 16:00] janssk1 opened #6653 "Kubespray 2.12.9 uses an unstable 1.16 version"
Version 1.16.12 has an ugly regression issue, fixed in 1.16.13: https://github.com/kubernetes/kubernetes/pull/93208

From 1.16.13 release notes:
"Fixed a regression in kubeadm manifests for kube-scheduler and kube-controller-manager which caused continuous restarts because of failing health checks (#93208, @SataQiu) [SIG Cluster Lifecycle]"

[2020-09-09 17:08] OlivierMary commented on #6246
It's finish,

[code]

So more than 4:30h to add 2 worker nodes on a 16 nodes cluster=> 18 nodes

With one restart cause no_proxy change cause one more node in no_proxy.

@floryut didn't test with #5955 for my part, will update if I see big change.

Any collateral damage to use `--limit` on playbook ? Maybe with new nodes + masters[0] ?

[2020-09-09 17:18] OlivierMary commented on #6246
If I'm not wrong total in seconds = 2303sec, so ~38mins of effective durations, why 4h more ?

Need to have a 1 cpu / node in cluster for the ansible runner ? For information I run it from a server cause on my pc I thinks that take duration x4 or more and impossible to work in parallel..... And on server UC at 100%, for all the duration of playbook.

Ansible limitation maybe?

[2020-09-09 19:11] floryut commented on #6653
Thanks, we plan to release a minor 2.12.x with the latest and final 1.16.x version

[2020-09-09 20:25] felipecrs commented on #5835
[The documentation](https://kubernetes.io/docs/setup/production-environment/tools/kubespray/) still says that it does not support 20.04.

[2020-09-10 00:08] elgamal2020 commented on #6578
Same problem

[2020-09-10 06:48] neuliuyin commented on #6642
@floryut here is debug output:

[code]

[2020-09-10 06:52] floryut commented on #6642
Wahou... That's what I got..I really don't understand how the ansible task report the `swapon` as missing an `stdout` parameter as you clearly got one.

[2020-09-10 07:02] neuliuyin commented on #6642
when swapon.stdout is null, maybe it means a false.

[2020-09-10 07:44] Miouge1 commented on #5835
@felipecrs that page is not updated as quickly as the README.md of Kubespray repo.

[2020-09-10 07:54] floryut commented on #6653
This will be resolved by #6583

[2020-09-10 08:36] samdulam opened #6659 "Failed to remove etcd node - 'fallback_ips' is undefined in TASK [remove-node/remove-etcd-node : Lookup etcd member id]"
**Environment**:
- **Cloud provider or hardware configuration:**
vSphere
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 3.10.0-1127.8.2.el7.x86_64 x86_64                                                                              │
NAME="CentOS Linux"                                                                                                  │
VERSION="7 (Core)"

[2020-09-10 08:51] floryut commented on #6659
@samdulam Which spray version are you using ?

[2020-09-10 09:15] samdulam commented on #6659
Its the version tagged v2.13.3
Thanks

[2020-09-10 11:16] #6648 closed

[2020-09-10 20:16] dlouks opened #6662 "CSIDriver doesn't exist in storage.k8s.io/v1"
When trying to use the vsphere CSI Driver on Kubernetes 1.16 I hit the following error

`no matches for kind "CSIDriver" in version "storage.k8s.io/v1"`

According to https://kubernetes-csi.github.io/docs/csi-driver-object.html CSIDriver went GA in 1.18, prior to that apiVersion v1beta1 is required.

I confirmed this works as expected when using apiVersion torage.k8s.io/v1beta1

[2020-09-10 20:55] dlouks commented on #6662
/assign

[2020-09-11 02:21] samdulam commented on #6659
It seems to be happening as gathering fallback_ip's task is being skipped (boostrap-os is in the list of roles condition) for remove-node. Adding the below in remove-etcd-node/tasks/main.yml fixes this for me.

- include_role:
    name: kubespray-defaults
    tasks_from: fallback_ips

[2020-09-11 07:34] #6640 closed

[2020-09-11 19:35] dlouks opened #6671 "Metallb - Support other image repo locations"
**What would you like to be added**: The ability to specify a different image repo url for metallb controller and speaker.

**Why is this needed**: Currently metallb's image tag does not allow one to specify a different repo url

[2020-09-11 19:35] dlouks commented on #6671
/assign

[2020-09-11 19:51] EppO commented on #6642
shouldn't need it, the code is quite simple:
[code]
this takes the output of `/sbin/swapon -s` into the variable `swapon` in the object you pasted with the debug msg task. And it always runs (no `when:` attribute), hence it should get populated no matter what, with the stdout attribute.

[code]
It's using the `swapon` object and extracts the stdout attribute from it. It works with your msg debug t

[2020-09-11 20:24] dlouks commented on #4573
/reopen

[2020-09-11 20:27] EppO commented on #6578
what kube_version are you using? any version newer than 1.17.9 or 1.18.6 should default to secure ports

[2020-09-11 20:32] dlouks opened #6673 "etcd nodes' certificates are always created (even if they already exist)"
This is a copy of https://github.com/kubernetes-sigs/kubespray/issues/4573

[2020-09-11 20:32] dlouks commented on #6673
/assign

[2020-09-11 20:32] EppO commented on #6631
what's your kube-dns service IP? You shouldn't rely on the pod IP for the DNS resolution.
[code]
Are you using DNS local node cache?

[2020-09-11 20:44] EppO commented on #6400
The more I think about it, the more I think kubespray should only provision kubernetes clusters on top of kubeadm, so we should only support the following 2 use cases on the etcd front:

- BYO etcd (either by using etcdadm or other means, out of scope of kubespray)
- etcd managed by kubeadm

That means removing the `etcd_deployment_type` mode kubespray supports today. We would still test the BYO e

[2020-09-11 20:48] hafe commented on #6400
The same we could formulate in some kind of design statement how Kubespray embrace, use and extend kubeadm. Not workaround it

[2020-09-11 20:51] elgamal2020 commented on #6578
This problem because the proxy variables hasn't been added to the kubespray , once added I don't have it anymore

[2020-09-11 21:46] EppO commented on #6578
ok then, feel free to close the issue if you figured it out

[2020-09-11 22:14] EppO commented on #6222
control plane nodes are actually tainted (by kubeadm, not kubespray):
[code]

[2020-09-12 07:01] hafe commented on #6247
/close

[2020-09-12 07:01] #6247 closed

[2020-09-12 08:08] liupeng0518 commented on #5432
I propose myself on bootstrap-os.

[2020-09-12 08:52] #2767 closed

[2020-09-12 09:06] rishabh625 commented on #6631
I am not using nodelocaldns

I have resetted cluster for now
here is coredns svc ip

[root@node2 router]# kubectl get svc --namespace=kube-system
NAME                        TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)                  AGE
coredns                     ClusterIP   10.233.0.3      <none>        53/UDP,53/TCP,9153/TCP   5d2h

Below is resolve.conf inside pods

7f57996d88-m6lzn:/a

[2020-09-12 20:25] radut commented on #4315
/remove-lifecycle stale

[2020-09-13 18:26] linkvt commented on #6653
/assign

[2020-09-13 21:44] laimison opened #6675 "Calico reports "reset by peer" connections for some servers and "bird: BGP: Unexpected connect from unknown address" in calico-node logs"
I have three locations in the setup. I've tried to built a cluster using Kubspray. Based on output it went well.

The issue that `calicoctl` reports not `Established` status, `StatefulSet` members cannot communicate between each other and majority of `Ingress` requests take around 10 seconds to open Nginx page.

Any suggestions what to check next would be appreciated as I'm out of ideas. You guys

[2020-09-14 00:07] laimison commented on #6675
I have found issue correlation with missing routes.

Below is output for 192.168.250.112. So it can't reach node and master in 192.168.240.x because there are no routes:

[code]

Below is output for 192.168.240.112. So it can't reach nodes and masters in 192.168.250.x and 192.168.230.x because there are no routes:

[code]

Below is output for 192.168.230.112. So it can't reach node and master in 1

[2020-09-14 08:46] kimormiston commented on #5303
Hey there,

I am having a similar issue with etcd check on my deployment.  Using Ubuntu 18.04 and deploying Kubernetes 1.17.3.

TASK [etcd : Configure | Ensure etcd is running] ********************************************************************************************************************************************************************************************
changed: [node1]
changed: [node2]

[2020-09-14 08:50] kimormiston commented on #5303
After using the reset.yml I have tried again to no avail and still get this error.  I have applied most if not all of the recommended fixes out side of hashing out the etcd check as I don't want to have errors down the line.

From the troubleshooting I have done I have two thoughts around this issue
1. Potentially a user security issue
2. Certificates issue created by Kubespray in the process that

[2020-09-14 08:51] itsecforu commented on #5886
@mhabicht  did u solve it?

[2020-09-14 08:51] irizzant commented on #6222
On a fresh install done on master, nodes are not tainted at all for me.

[2020-09-14 10:21] hafe commented on #6271
/close

[2020-09-14 10:21] #6271 closed

[2020-09-14 10:52] mhabicht commented on #5886
No, the only way I found to resolve the issue was unconfigure my 14.3 cluster and reconfigure fresh as 15.3

[2020-09-14 10:52] #5886 closed

[2020-09-14 12:21] floryut commented on #6326
Merged.
/close

[2020-09-14 12:22] #6326 closed

[2020-09-14 12:27] floryut commented on #6461
@melissajenner22 Sorry about the day, but without any description, we can hardly do anything
Moving to close, if you have more information to share please do and reopen.

/close

[2020-09-14 12:27] #6461 closed

[2020-09-14 12:34] floryut commented on #6222
Are you sure ? this is strange, I've checked 5 CI jobs from today and for all taints are here.
[code]

[2020-09-14 12:46] redtex opened #6676 "Nodelocaldns fails with enabled dns_etchosts"
**Kubespray version (commit) 2.14.0 (`6cd3370`):**

When I run ansible-playbook with cluster.yml all goes as expected - CoreDNS and Nodelocaldns configs and deployments generated correctly, but nodelocaldns fails to start, with following message in logs:
`no action found for directive 'hosts' with server type 'dns' (missing a plugin?)`
[Sources](https://github.com/kubernetes/dns/blob/master/cmd/no

[2020-09-14 12:47] floryut commented on #6676
@redtex Could you please add information about your setup ? (at least OS/version)

[2020-09-14 12:54] redtex commented on #6676
Sure
My setup based on on-premise VMs,
CentOS Linux release 7.6.1810 (Core) 3.10.0-957.el7.x86_64

If there are some additional details, that I can provide - please,ask.

[2020-09-14 21:22] dlouks opened #6677 "Calico - Make VXLAN VNI and Port Configurable"
**What would you like to be added**: It would be useful if the Calico VXLAN VNI and Port were configurable

**Why is this needed**: In order to run Calico with VXLAN enabled and on non default ports and unique VNI

[2020-09-14 21:22] dlouks commented on #6677
/assign

[2020-09-15 03:09] xinjiahui opened #6680 "kubespray-2.14.0 kubectl get cs scheduler and controller-manager Unhealthy"
CentOS Linux release 7.7.1908
kubespray-2.14.0
docker:19.03.12
kubernetes version：v1.18.8
ansible version: 2.9.6

kubectl get cs scheduler and controller-manager  health check port is inconsistent with the actual start port
![image](https://user-images.githubusercontent.com/24448383/93160689-71108900-f743-11ea-8cac-add645ca603a.png)

![image](https://user-images.githubusercontent.com/24448383/9316

[2020-09-15 07:22] Viperoo opened #6681 "Missing permissions for cilium-operator ClusterRole on cilium 1.8.3"
**Environment**:
- **Cloud provider or hardware configuration:** VMs

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** 5.4.0-45-generic/Ubuntu 20.04

- **Version of Ansible** (`ansible --version`): ansible 2.9.13

- **Version of Python** (`python --version`): Python 3.8.5

**Kubespray version (commit) (`git rev-parse --short HEAD`):** a1f04e9

**Network plugin used**: Cilium

Hi, I'v

[2020-09-15 07:38] floryut commented on #6681
@Viperoo Thank you, care to make a PR or do you want me to make one ?

[2020-09-15 08:58] floryut commented on #6680
@xinjiahui This is strange.. health check for scheduler and controller-manager are managed by kubeadm (as they are deployed by kubeadm).
Indeed endpoint are now registered to 10257/10259 (As we had to [change our ansible check](https://github.com/kubernetes-sigs/kubespray/pull/6446/files)).

Could you check and report your nodes version (`get no -o wide`) ? and check/report your kube-scheduler/con

[2020-09-15 09:01] floryut commented on #6612
@erulabs Sorry about the delay.. but I'm not sure we can do anything without an Ansible option/change.

[2020-09-15 09:15] floryut commented on #6675
@laimison I would indeed suggest to open an issue on Calico ends or even Kubernetes sig-network.
Not that I don't want to help you but I don't think I can find anything you already think of or tested 🤔

[2020-09-15 13:06] supabibz opened #6684 "Offline installation, "kube_image_repo" is not indicated as a var that needs to be modfied and cannot be overriden in inventory"
**Environment**:
- **Cloud provider or hardware configuration: VMWare, private Iaas

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`): Centos 7.8

- **Version of Ansible** (`ansible --version`): ansible 2.9.6

- **Version of Python** (`python --version`):  3.6.8

**Kubespray version (commit) (`git rev-parse --short HEAD`): 2.13.3

**Network plugin used**: Flannel

**Full inventory with

[2020-09-15 13:35] floryut commented on #6684
This is strange, overriding it should work as it does for other repo.
@EppO is this something you encounter ?

[2020-09-15 13:52] koksario commented on #5303
👍

[2020-09-15 13:57] laimison commented on #6675
Thanks @floryut that's valuable. I'll update on how it went. Currently, I should use Docker Compose for a project which can't wait and later on will jump back to these failed VMs as the plan is Kubernetes.

[2020-09-15 16:09] #5976 closed

[2020-09-15 17:49] mnaser opened #6686 "Multiple k8s.gcr.io/pause images pulled"
It seems like we are pulling two pause images during deployment, this is the output during a new deployment:

[code]

I can't seem to find where the 3.2 is being pulled to be honest... this using `containerd`.

**Environment**:
- **Cloud provider or hardware configuration:**
Baremetal

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --versi

[2020-09-15 20:02] hafe opened #6687 "Use recommended calico datastore kdd as default"
**What would you like to be added**:

Use by default kdd as calico datastore at initial cluster deployment.
At upgrade, current datastore must be respected.

**Why is this needed**:

Simplified deployment, no need for an external etcd.

kdd is recommended by upstream (calico) for on prem installations. etcd security is improved since the only client is k8s. It is also the default in kops. This is

[2020-09-16 08:55] floryut commented on #6686
@mnaser Thank you, nice one to notice :)
I've created a PR to address that

[2020-09-16 09:41] lhw opened #6690 "remove-node playbook will always fail for non-etcd nodes"
**Environment**:
- **Cloud provider or hardware configuration:**
/
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
CI Container: Debian GNU/Linux bullseye/sid
- **Version of Ansible** (`ansible --version`):
2.9.6
- **Version of Python** (`python --version`):
3.8.2

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
2.14.0

**Network plugin used**:
Calico CNI

**Full inve

[2020-09-16 11:28] #5988 closed

[2020-09-16 11:30] mpepping commented on #5519
/remove-lifecycle stale

[2020-09-16 13:08] mnaser commented on #6686
Thank you!   I tried to find it by getting for 3.2 but no success :)

[2020-09-16 17:15] Zeka13 commented on #1044
why it is closed ?

[2020-09-16 18:18] radut commented on #5231
/remove-lifecycle stale

[2020-09-16 18:37] dlouks opened #6695 "Helm v2 - Allow defining tiller replicas and service account name"
**What would you like to be added**: I would like to be able to configure the tiller service account name as well as run tiller with more than a single replica

**Why is this needed**: Running multiple tiller replicas is desirable for improved ha. Setting the service account allows for users to keep a consistent naming convention for service accounts.

[2020-09-16 18:37] dlouks commented on #6695
/assign

[2020-09-16 19:20] hafe opened #6697 "Add a new minimal inventory in yaml format"
**What would you like to be added**:

Add a new minimal sample inventory in yaml format. Remove all redundant variables and keep important ones to highlight choices in a single, small yaml file.

**Why is this needed**:

Because the current sample inventory is confusing, hard to overlook and requires quite a lot of maintenance. A sample inventory should be minimal and understandable. Let the docs

[2020-09-16 22:28] erulabs commented on #6676
I have the same issue - and agreed - looks like no hosts plugin is available at https://github.com/kubernetes/dns/blob/master/cmd/node-cache/main.go and therefore this isn't expected to work as-is (re: hosts in nodelocaldns)

[2020-09-17 01:40] neuliuyin-new commented on #6642
@EppO I'm sure `-b` was there when the issue happened.

I checked again and found that the issue is caused by the `--check` flag.
When running in this mode, task `check swap` is somehow skipped and causes the exception in task `Disable swap`.

![image](https://user-images.githubusercontent.com/70884618/93409616-d4c4be80-f8c9-11ea-8448-6fadc11c6f64.png)

[2020-09-17 06:41] floryut commented on #6642
Interesting, will check that and maybe put a `check_mode: no` on the `check swap` as it's only a task for getting some value, it won't do any harm.

[2020-09-17 08:11] loekalive opened #6702 "Wait for etcd cluster to be healthy fails with SIGPIPE"
**Environment**:
- **Cloud provider or hardware configuration:**
on prem
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 4.19.107-flatcar x86_64
- **Version of Ansible** (`ansible --version`):
ansible 2.9.6
- **Version of Python** (`python --version`):
Python 3.8.5

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
a1f04e98

**Network plugin used**:
calico

**Full

[2020-09-17 08:27] floryut commented on #6702
@loekalive Let's try with the redirect to /dev/null; and please do for the PR that'd very welcome

[2020-09-17 09:00] floryut commented on #6642
I've submit a PR, WDYT ?

[2020-09-17 09:44] #5231 closed

[2020-09-17 09:45] #6671 closed

[2020-09-17 10:26] yaroze opened #6706 "Network slowness on Debian"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Debian nodes:
Linux 4.19.0-8-amd64 x86_64
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT

[2020-09-17 11:54] floryut commented on #6706
@yaroze Not that I don't want to help you, but same as other issues, this look more a Kubernetes networking question or flannel question.
Could you please try to open issue on their end also ? (maybe someone here can answer but someone there could definitely help you)

[2020-09-17 12:00] yaroze commented on #6706
Hi @floryut , thanks for the quick reply.
I'll open this on the k8s project as well.
Please let me know if anything rings you a bell, meanwhile.

[2020-09-17 14:50] bnied commented on #6454
Seconding this question; it worked fine for us with v2.11.x, but now when we're trying to use v2.14, we get errors trying to go through the bastion.

[2020-09-17 15:55] #5966 closed

[2020-09-17 15:55] #5975 closed

[2020-09-17 15:55] #5990 closed

[2020-09-17 15:56] #5949 closed

[2020-09-17 15:56] #5951 closed

[2020-09-17 16:56] #5945 closed

[2020-09-17 17:05] bnied commented on #6454
So, for me, at least, the issue was due to Ansible 2.8 removing the `sudo_flags` configuration option. My solution was to add the following to `ansible.cfg`:

[code]

[2020-09-17 17:26] holmesb commented on #6294
/remove lifecycle stale

[2020-09-17 22:22] elgamal2020 opened #6710 "cinder-csi-snapshot-class.yml.j2 wrong API version"
Small bug in cinder-csi-snapshot-class.yml.j2

[code]
[code]
WA modifying API version to  v1beta1

[2020-09-18 04:07] #5944 closed

[2020-09-18 06:47] floryut commented on #6710
@elgamal2020 Thank you, this was updated alongside `storage.k8s.io/v1beta1` by mistake
I've open up a PR to fix that.

[2020-09-18 09:12] #6681 closed

[2020-09-18 09:12] #6613 closed

[2020-09-18 09:15] floryut commented on #6653
Merged
/close

[2020-09-18 09:15] #6653 closed

[2020-09-18 10:13] #5794 closed

[2020-09-18 10:13] #5968 closed

[2020-09-18 10:13] #5996 closed

[2020-09-18 10:16] JosephKang opened #6716 "Host in NotReady status"
**Environment**:
- **Cloud provider or hardware configuration:**
OpenStack VMs
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Ubuntu 16.04
- **Version of Ansible** (`ansible --version`):
2.7.12
- **Version of Python** (`python --version`):
2.7.12

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
67167bd

**Network plugin used**:
calico

**Error situation**
[code]
[cod

[2020-09-18 10:27] floryut commented on #6716
@JosephKang Could you please check kubelet logs on the node ?

[2020-09-18 10:47] JosephKang commented on #6716
@floryut ,

The log is posted below. How to check why the 6443 connection failure?

journalctl -u kubelet
[code]

[2020-09-18 10:52] floryut commented on #6716
Ok this means that your api is not up, can you check apiserver container on this node ?

[2020-09-18 14:26] #6642 closed

[2020-09-18 14:32] #6686 closed

[2020-09-19 00:14] #6690 closed

[2020-09-19 05:46] adalfa opened #6722 "failed to download kube-proxy"
It seems like in an upgrade scenario from 1.18.6 to any other release the script fails to download the kube-proxy container, while works fine until version 1.18.6

**Environment**:
- **Cloud provider or hardware configuration:**
Vmware

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 3.10.0-957.5.1.el7.x86_64 x86_64
NAME="CentOS Linux"
VERSION="7 (Core)"

- **Version of Ansibl

[2020-09-20 13:21] Zeka13 commented on #2916
@mabushey what was the solution ?

[2020-09-20 13:30] floryut commented on #6722
`kube_image_repo` should no longer be `gcr.io/google-containers` but updated to `k8s.gcr.io`
Kubernetes images are no longer uploaded on the old one (gcr.io/google-containers)
Moving to close, please reopen if you have any other inputs

/close

[2020-09-20 13:30] #6722 closed

[2020-09-20 18:26] dprabhua commented on #6540
\ assign

[2020-09-20 18:27] dprabhua commented on #6540
\assign

[2020-09-20 22:12] #5958 closed

[2020-09-20 22:21] robarros opened #6723 "SubjectAltName"
Hello
add an item to add more SubjectAltName as needed
thank you

[2020-09-20 23:46] JosephKang commented on #6716
The kube api server is actually running on master, testmaster-1111978-iaas, instead of running on the NotReady worker, testgpu1-1112050-iaas
[code]
The kubelet log on the NotReady worker shown that it try to connnect the local api-server. May I know how to check the connection setting on the node? (Maybe the path location inside the container testgpu1-1112050-iaas ?)

[2020-09-21 06:41] floryut commented on #6716
Yes but you should have an apiserver on the node notReady, you need to check the logs of the container directly on the node (`docker ps -a | grep apiserver` or ctr/crictl depending on your runtime).
The kubelet is not ready because it indeed try to reach the local apiserver container, this container should be in error or have erroneous logs

[2020-09-21 06:46] floryut commented on #6716
Oh wait, I misunderstood your problem.. the notReady nodes is not a master node ?
Can you check the kubeconfig file on the node ? (especially the `server` part)

[2020-09-21 09:13] Colstuwjx commented on #5576
@gokcesurenkok I've been met this issue again, although as @LuckySB said it's enabled by default, and my k8s cluster version is v1.15.3. Could you share more information about this issue? How to fix it?

[2020-09-21 09:20] lazybetrayer commented on #6680
`ComponentStatus` is deprecated https://github.com/kubernetes/enhancements/issues/553

[2020-09-21 09:28] floryut commented on #6680
Oh indeed thanks @lazybetrayer

Since it's deprecated the output is unreliable and bug/issues were opened on k8s end https://github.com/kubernetes/kubernetes/issues/93342

Closing this, ouput of CS are only a display issue.

[2020-09-21 09:28] floryut commented on #6680
/close

[2020-09-21 09:28] #6680 closed

[2020-09-21 13:11] Zeka13 opened #6727 "bastion setup with azure won't works"
**Environment**:
- **Cloud provider or hardware configuration:**
Azure

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Ubuntu 20.04.1 LTS (Focal Fossa)

- **Version of Ansible** (`ansible --version`):
ansible 2.9.6

- **Version of Python** (`python --version`):
Python 3.8.2

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
kubespray-2.14.0 release

azure-cli 2.11.1

I

[2020-09-21 13:37] EppO commented on #6716
You're right, it's a connectivity issue with the control plane node because the nginx used for the "localhost loadbalancing" feature is crashing on that node, hence no connectivity with the API server.
Can you check the nginx logs on that node? maybe it'll give in a hint why it crashes

[2020-09-21 13:49] EppO commented on #6684
No because in my inventory, I have this:
[code]
But I forgot it was not the default value. So the way to do it today is indeed to override `kube_image_repo` in `k8s-cluster.yaml`.
Not ideal, as it's already in `roles/download/defaults/main.yml`, we shouldn't have it uncommented in the inventory.
I'll open a PR to have all the required settings for offline installation in the inventory, commented o

[2020-09-21 13:54] EppO commented on #5882
/reopen

[2020-09-21 14:04] #6565 closed

[2020-09-21 15:45] EppO commented on #6723
What do you mean? the SANs of the kuberenetes API server? That's how they are built today:

[code]

if there is something missing, feel free to open a PR.

[2020-09-21 18:32] #6014 closed

[2020-09-21 23:40] JosephKang commented on #6716
@floryut

Yes, the NotReady node is one of the worker among 4
[code]
[code]
I changed the server setting from localhost to master ip and then restart kubelet. However,  the NotReady situation is the same. Moreover, the other Ready node has the same localohst server setting so I am a little confusion about the setting... May I know more suggestion?

[2020-09-21 23:41] JosephKang commented on #6716
@EppO ,

Please refer to the following k8s_nginx-proxy log and let me know your comment.
[code]

[2020-09-22 00:05] bshephar opened #6730 "Add Flannel support for multi-arch deployments"
**What would you like to be added**:
Add support for a arm64 daemonset so that Flannel works on Raspberry Pis (Or other ARM64 devices) in multi-arch environments

**Why is this needed**:
If you're running some nodes on x86_64, and then add some ARM nodes, there is no daemonset created for Flannel to use the arm64 image. This means the new nodes are left in NotReady state until the daemonset is cre

[2020-09-22 02:36] dprabhua commented on #6540
/assign @dprabhua

[2020-09-22 06:24] JosephKang commented on #6716
Check nginx-proxy log on both NotReady node and Ready Node and it seems some Authorization error.

May I know how to Re-Auth the node?

** nginx-proxy-testgpu1-1112050-iaas **
[code]

** nginx-proxy-testgpu0-1111945-iaas **
[code]

[2020-09-22 07:38] floryut commented on #6730
@bshephar Is this what you are looking for https://github.com/kubernetes-sigs/kubespray/pull/6166 ?

[2020-09-22 07:59] lazybetrayer opened #6731 "server field in kube-proxy kubeconfig is wrong after running upgrade-cluster when loadbalancer_apiserver_localhost is enabled"
Setup a cluster with `loadbalancer_apiserver_localhost: true`, the server field in kube-proxy configmap is set to `https://127.0.0.1:6443`.

But after running upgrade-cluster, the server field is changed to one of the master node.

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

5bd937ec

**Command used to invoke ansible**:

[code]
**Output of ansible run**:
[code]

**Anything else

[2020-09-22 08:04] #6677 closed

[2020-09-22 08:19] Quanalogy commented on #6602
This issue still persists when using fedora32

[code]

Kubespray version (commit) (git rev-parse --short HEAD):
`8908a70c`

[code]

everything default from the installation guide in readme.

[2020-09-22 08:45] gokcesurenkok commented on #5576
hey @Colstuwjx , it is said it is enabled by default , but it does not seem to be working. kubeadm regenerate the certificates when do upgrading , so i started to upgrade my clusters regularly

[2020-09-22 09:59] r3d3mpt10n commented on #6730
Hey, yeah. That's what I was looking for. Not sure why I missed that one.

Cheers, lets go ahead and close this one off then. That one seems to cover all of it.

[2020-09-22 10:47] #5217 closed

[2020-09-22 11:59] Zeka13 commented on #6631
same

[2020-09-22 12:10] floryut commented on #6730
Neat, happy that it fit your needs :)

/close

[2020-09-22 12:10] #6730 closed

[2020-09-22 13:27] EppO commented on #6631
Does it work now? config looks ok

[2020-09-22 14:14] #6540 closed

[2020-09-22 14:14] #6684 closed

[2020-09-22 14:16] floryut commented on #6540
@dprabhua Reopen this one if you are ready to add something to contrib regarding offline setup

[2020-09-22 18:14] #6702 closed

[2020-09-23 15:32] #6710 closed

[2020-09-23 15:38] #6687 closed

[2020-09-24 09:33] jaurestchoffo commented on #5550
same problem with CentOS7 but for my part I have the impression that it is due to the fact that it does not use the correct ip for the verification of the cluster
Can someone help me by telling me how to specify the right network interface? it uses ETH0 instead of ETH1

[2020-09-24 10:24] #6504 closed

[2020-09-24 11:38] #6386 closed

[2020-09-24 12:56] axelgobletbdr opened #6740 "Allow disabling reverse DNS lookups in coredns"
**What would you like to be added**:

I would like to have the ability to disable reverse DNS lookups in the coredns config.

**Why is this needed**:

Reverse dns lookups are not necessary for most workloads. Having it enabled can give a malicious user inside the cluster information that they do not need to have, and can use to do harm. A user can for example use this to find out what namespaces a

[2020-09-24 15:33] Orabig commented on #5144
Yeah, same issue when trying to add a server (debian buster) that was previously removed (kubespray 2.14) . It seems that removing then adding a node is an easy way to reproduce the issue.

[2020-09-24 15:36] electrocucaracha opened #6742 "Ansible 2.9.6 is failing"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of Ansible** (`ansible --version`):
[code]
- **Version of Python** (`python --version`):
`Python 3.5.2`

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
`a1f04e9`

**Network plugin used**:
Flannel

**Full inventory with variables (`ansib

[2020-09-24 16:11] electrocucaracha commented on #6742
Apparently ansible was previously installed on the distro that I'm using. These are the instructions that I used to ensure it's not present.

[code]

[2020-09-24 16:11] #6742 closed

[2020-09-25 01:18] AngelOnFira commented on #1615
I'm not sure if this was fixed in the commit above, but I had to still run @jvleminc's fix for kubectl to work on Ubuntu. I'd be interested in making the fix myself, but I won't have time for the next few weeks or so.

[2020-09-25 08:38] hafe opened #6746 "cgroup driver not detected properly for crio"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all -m d

[2020-09-25 09:33] #6740 closed

[2020-09-25 10:32] karlism opened #6748 "Network policies are not working when combined with namespaceSelector or podSelector"
**Environment**:
- **Cloud provider or hardware configuration:**
ESXi VMs

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`):
`Python 3.7.9`

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
`b39a196c`

**Network plugin used**:
Calico with iptables mode

**Full in

[2020-09-25 10:58] #6011 closed

[2020-09-25 11:33] mykidong opened #6750 "Pods running on the same node can't access to each other through service."
Hi,

I have installed a kubernetes cluster on `Azure` with kubespray `2.13.2`.
But after I have installed some pods of my data platform components,
I have found that the pods running on the same node cannot access to each other through service.

For example, my presto coordinator has to access hive metastore.
Let's see the services in my namespace:
[code]

Hive Metastore service is called `metasto

[2020-09-25 12:51] floryut commented on #6748
I would check a custom label instead of `name` not sure it does not mix things up under the hood.
Anyway it's may be a Kubernetes issue or a Calico issue, but it sure is not a Kubespray issue :)

[2020-09-25 13:15] gutek9 opened #6751 "Tagging resources dynamically created by Kubernetes"
**What would you like to be added**:

Support for dynamic tags in AWS and Azure. #6752

**Why is this needed**:

When creating environment for e.g. using Terraform + Kubespray, all resources created by Terraform are properly tagged, but dynamic services or volumes etc. created by Kubernetes are missing this custom tags.

[2020-09-25 13:30] karlism commented on #6748
@floryut, thanks, I've also tried `podSelector` with `app` label and that was not working as well. Was hoping if someone with similar or different network plugins using kubespray could try to reproduce this issue.

[2020-09-25 14:22] karlism commented on #6748
Here's simple copy-paste steps to reproduce this issue:
[code]

[2020-09-25 15:21] #6420 closed

[2020-09-25 20:53] ChoppinBlockParty commented on #4529
@fhemberger did you find any solution?

[2020-09-26 01:34] rptaylor opened #6754 "master floating IPs can not be specified using k8s_master_fips"
Way back in https://github.com/kubernetes-sigs/kubespray/pull/1837 the problem was originally stated: TF always dynamically creates floating IPs for k8s_master nodes, getting random new ones from the allocated pool each time. When a cluster is destroyed and rebuilt, it is very inconvenient and disruptive to have it deployed with completely different floating IPs on the masters.

Indeed the current

[2020-09-26 03:35] fhemberger commented on #4529
@ChoppinBlockParty Kind of. We stopped using kubespray for our setup. 🤷

[2020-09-26 06:35] rasberrypie opened #6756 "Cluster goes down when a master node is down"
This is my inventory file.
all:
  hosts:
    node1:
      ansible_host: 10.5.94.44
      ip: 10.5.94.44
      access_ip: 10.5.94.44
    node2:
      ansible_host: 10.5.94.43
      ip: 10.5.94.43
      access_ip: 10.5.94.43
    node3:
      ansible_host: 10.5.94.254
      ip: 10.5.94.254
      access_ip: 10.5.94.254
    node4:
      ansible_host: 10.5.95.23
      ip: 10.5.95.23
      access_ip: 10.

[2020-09-26 17:50] #6751 closed

[2020-09-27 13:47] #6022 closed

[2020-09-27 17:02] hafe opened #6757 "crio upgrade does not work"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all -m d

[2020-09-28 07:43] floryut commented on #6756
@wakeupcolumn Did you setup some kind of LB for your nodes ? Otherwise they should indeed all point to the first (or last indeed) master.

[2020-09-28 08:34] mikabytes commented on #6021
I also see this issue.

[2020-09-28 14:29] wakeupcolumn commented on #6756
The default settings should ideally create nginx lb inside workers right?
The only entry i added was to fill in the inventory file. no other changes

[2020-09-28 14:29] irizzant commented on #6222
I've just performed an upgrade-cluster playbook, before my taints were there and after the masters upgrade masters do not have the taints anymore

[2020-09-28 14:38] floryut commented on #6756
Do you have `loadbalancer_apiserver_localhost` set to true ? and `loadbalancer_apiserver_type` with either nginx or haproxy ?

[2020-09-28 15:14] wakeupcolumn commented on #6756
Yes. when i stop one master, these are the events i see
Events:
  Type    Reason                   Age                  From        Message
  ----    ------                   ----                 ----        -------
  Normal  Starting                 5m4s                 kubelet     Starting kubelet.
  Normal  NodeHasSufficientMemory  5m3s (x2 over 5m3s)  kubelet     Node node3 status is now: Node

[2020-09-28 15:23] floryut commented on #6756
It would be nice to have the config file from your node (checking that they don't point to the last master but to the local lb) and logs from your lb container (either nginx or haproxy)

[2020-09-28 15:35] wakeupcolumn commented on #6756
8291e125075a        k8s.gcr.io/pause:3.2           "/pause"                 23 minutes ago      Up 23 minutes                           k8s_POD_kube-proxy-hkbrl_kube-system_c6b29cb2-259f-4194-835b-714e149cc146_0
c38a1c4912f1        7e4d58f0e5f3                   "/docker-entrypoint.…"   24 minutes ago      Up 24 minutes                           k8s_nginx-proxy_nginx-proxy-node3_kube-system_2f1402

[2020-09-28 15:39] floryut commented on #6756
Something like `kubelet.conf` in your config folder (`/etc/kubernetes` by default)

[2020-09-28 15:42] wakeupcolumn commented on #6756
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN5RENDQWJDZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFWTVJNd0VRWURWUVFERXdwcmRXSmwKY201bGRHVnpNQjRYRFRJd01Ea3lPREUxTURZeE5Gb1hEVE13TURreU5qRTFNRFl4TkZvd0ZURVRNQkVHQTFVRQpBeE1LYTNWaVpYSnVaWFJsY3pDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBRENDQVFvQ2dnRUJBTkpQClJIcEFNM0xScnZvTVhRODFEK1RKZ1lRQ1Rx

[2020-09-28 15:44] floryut commented on #6756
Not sure what the IP is, but this looks like the issue, if you set the local HA it should be pointing to your local LB (local nginx) and not a remote URL (That looks like an API server, probably the 3rd master)

[2020-09-28 15:52] wakeupcolumn commented on #6756
That is what is getting assigned when i use the internal LB. It gets pointed to LB if we only use external LB right?
When it says High availability , its applicable only for setup with external LB ?

[2020-09-28 20:15] papiveron opened #6760 "Kubernetes kubelet-certificate-authority on premise with kubespray causes certificate validation error for master node"
I'm setting up a k8s cluster on premise using kubespray.

I'm trying to harden the kubernetes cluster using CIS Benchmark documentation.

For the `--kubelet-certificate-authority` argument I set up the TLS connection between the apiserver and kubelets. Then, I edited the API server pod specification file `/etc/kubernetes/manifests/kube-apiserver.yaml` on the master node and set the `--kubelet-cert

[2020-09-29 05:56] cchongXD opened #6762 "ERROR! 'dict object' has no attribute 'pkg_mgr'"
I tried to run ansible-playbook -b -i inventory/mycluster/inventory.ini cluster.yml and faced this error:

ERROR! 'dict object' has no attribute 'pkg_mgr'

[2020-09-29 06:47] floryut commented on #6762
Can you please provide a bit more context ?

[2020-09-29 09:12] p37ruh4 opened #6763 "Cluster upgrade fails to find crictl binary"
**Environment**:
- **Cloud provider or hardware configuration:**
ESXi VMs

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`):
Python 3.7.9

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
`aba63f0f`

**Network plugin used**:
calico

**Full inventory with variable

[2020-09-29 12:01] levin-kelevra commented on #6762
when I deploy a new cluster I see the same error.
Target OS: Ubuntu 19.10 x64
Ansible OS: Ubuntu 20.04 x64
KubeSpray: commit aba63f0

[code]

[2020-09-29 13:34] floryut commented on #6762
Can you run your ansible log with a bit more verbosity ? hard to tell which play/task failed :)

[2020-09-29 13:35] #6763 closed

[2020-09-29 13:57] levin-kelevra commented on #6762
sure
[ansible.log](https://github.com/kubernetes-sigs/kubespray/files/5299493/ansible.log)

[2020-09-29 14:35] mykidong commented on #6750
After I have changed kube proxy mode `ipvs` to `iptables`, it works fine!

[2020-09-29 14:35] #6750 closed

[2020-09-29 18:01] tumbl3w33d commented on #6762
Happens to me at this task:
[code]
running with
[code]

[2020-09-29 20:14] djkormo commented on #6215
It is still not corrected.

[2020-09-30 00:50] GSalah commented on #5303
I am having a same issue with etcd check on my deployment.
![git](https://user-images.githubusercontent.com/36056845/94631008-366c2c00-02bf-11eb-91c7-2cf9a526454c.png)
Any help

[2020-09-30 01:42] jaurestchoffo commented on #6762
Meme Erreur avec CentOS7 et Ansible 2.10.1

[2020-09-30 05:33] levin-kelevra commented on #6762
The problem is Ansible 2.10.1
After downgrade to 2.9.13 all works fine.
When will support Ansible 2.10?

[2020-09-30 06:07] hafe opened #6767 "Verify synchronized time before install/upgrade"
**What would you like to be added**:

* Kubespray should stop any further actions for a node if it does not have synchronized time. Proceeding most likely creates strange errors with certificates that are not yet valid or similar.

* Document this requirement

**Why is this needed**:
Harden the deployment and avoid strange errors

[2020-09-30 09:16] floryut commented on #6762
Wasn't aware of that.
@cchongXD could you change the issue title with something including the Ansible 2.10 issue?

[2020-09-30 12:29] rafal-jan opened #6770 "AWS EBS CSI Driver not working after installing with kubespray 2.14.0+"
**Environment**:
- **Cloud provider or hardware configuration:** AWS

**Kubespray version:** 2.14.1

**Anything else do we need to know**:
The `cluster.yml` playbook executed successfully, but pods from `ebs-csi-controller` deployment were in `CrashLoopBackOff` status. The problem is with `csi-snapshotter` container:

[code]
After some investigation I have found out that the `--connection-timeout`

[2020-09-30 12:38] floryut commented on #6770
@rafal-jan thank you for the issue, care to make a PR ? :)

[2020-09-30 13:30] rafal-jan commented on #6770
@floryut sure, but right now I am experiencing issues related to upgrade of `csi-attacher` (similar to <https://github.com/kubernetes-sigs/kubespray/pull/6358#issuecomment-652448971>). I will create a PR once the CSI driver is fully working.

[2020-10-01 05:35] hafe opened #6771 "Verify supported upgrade path for kubernetes"
**What would you like to be added**:

In the upgrade scenario, verify that the deployed version of kubernetes is supported by the used version of kubespray.
For example before upgrade of 2.14 to 2.15 you have to upgrade to latest 2.14

**Why is this needed**:

To ensure the promised "production grade" characteristic of kubespray. In CI tests are performed from the previous branch to latest master

[2020-10-01 14:31] jperville commented on #6250
/remove-lifecycle stale

[2020-10-01 14:34] 5-sigma opened #6777 "CoreDNS version mismatch for kubespray 2.14.1 and Kubernetes v1.19.2"
Kubespray v2.14.1 has version 1.6.7 baked into it's role defaults for CoreDNS
This will cause any upgrades from v1.18x to v.19.x to fail and result in crashloopbackoff for coredns pods.

[code]
Kubeadm v1.19.2 requires CoreDNS 1.7.0 to function due to it introducing the `max_concurrent` configflag into the coredns configmap.

Kubeadm will deploy the following configmap for CoreDNS when using the `

[2020-10-01 16:22] sufuf3 commented on #6767
I would like to take this.

[2020-10-01 22:42] GSalah commented on #5227
use `swapoff -a` command on each nodes

[2020-10-02 02:36] yuyuvn opened #6779 "bastion setting is broken in Ansible 2.9.11"
**Environment**:
- **Cloud provider or hardware configuration:**
on-premise

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
CentOS7

- **Version of Ansible** (`ansible --version`):
2.9.11

- **Version of Python** (`python --version`):
2.7.16

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
a3743015

**hosts.yml:**
[code]

**Command used to invoke ansible**:
[code]

*

[2020-10-02 07:13] floryut commented on #6777
@5-sigma I don't really get it.
2.14.1 is not fit for 1.19.x, the target kubernetes version is 1.18.x and the default is 1.18.9.

If you really want to check a codebase with 1.19, for now you should check master (and coreDNS is indeed updated to 1.7.0 because of the issue you mentioned)

[2020-10-02 08:34] JorenZ opened #6780 "Add optional arguments for external cloud controller manager DaemonSet"
**What would you like to be added**:
The option to add arguments to the external cloud controller manager DaemonSet.

**Why is this needed**:
In our case, we wanted to harden our TLS setup so we wanted to add `--tls-min-version=VersionTLS13`.

At any rate, the cloud controller manager has [many more command line options](https://kubernetes.io/docs/reference/command-line-tools-reference/cloud-contr

[2020-10-02 10:14] 5-sigma commented on #6777
@floryut thank you for taking the time to respond.

I might have been wrong with my assumption that included component hashes within a release of kubespray would also be supported.

I think this assumption would have been true up until kubespray release 2.12 where I can start finding component versions higher than what is mentioned as supported inside the README.md.

If included component hashes s

[2020-10-02 10:29] floryut commented on #6777
That is indeed a bit misleading, the hashes might be supported or not, but they are indeed untested at all.
eg: Only after tagging 2.14.x we set the Kubernetes version in master to 1.19.x and started to fix issues with 1.19.

If there isn't anything in the doc about this you are right, we should add something somewhere 👍

[2020-10-02 11:14] 5-sigma commented on #6777
I will have a more thorough look through the docs and double check. At least I didn't see anything in the obvious places.

If I don't find anything related I'll add a PR to propose a change to the docs.

[2020-10-02 11:25] floryut commented on #6777
That'd very welcome indeed

[2020-10-02 14:25] BabisK commented on #5649
I have also started working on that; adding support for IPv6 only and dual stack. Do you want to coordinate efforts?

[2020-10-02 15:30] starcraft66 commented on #5649
I am currently running single-stack IPv6 kubernetes with kubeadm and would be interested in working on this with you so that I can deploy with kubespray instead.

[2020-10-02 17:14] #6780 closed

[2020-10-02 19:59] diogomurta commented on #6506
Thanks!
Workaround works for me.

[2020-10-03 04:00] elgamal2020 opened #6788 "external_openstack_network_public_networks:"
For external openstack cloud provider

What is the setting of external_openstack_network_public_networks: ?

The floating ip Network ?

[2020-10-03 04:16] elgamal2020 opened #6789 "Openstack Load Balancer Octavia"
**Environment**:
- **Openstack

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

Linux 5.4.0-42-generic x86_64
NAME="Ubuntu"
VERSION="20.04.1 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.1 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="h

[2020-10-03 06:31] justinshinmaplarge opened #6790 "Specifying $network-plugin in config.rb has no effect"
**Environment**:
- **Cloud provider or hardware configuration:** Bare metal Linux server, 48 CPU, 1024 GB RAM, big disk

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

Linux 4.15.0-117-generic x86_64
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https:

[2020-10-03 09:56] miff2000 opened #6791 "Add support for dual-stack (IPv4 and IPv6) networking"
**What would you like to be added**:
I'd like to add support for deploying dual-stack (combined IPv4 and IPv6) clusters. What's the best way of me finding the right people to kick off a discussion on the best approach? There's a lot to consider!

I'd like to come up with an agreed plan right at the start to cut down on refactoring, etc. at a later date.

I'm on the Kuberentes slack in the `#kubesp

[2020-10-04 08:26] #5997 closed

[2020-10-05 01:36] yuyuvn commented on #6779
Resolved on ansible 2.10

[2020-10-05 01:36] #6779 closed

[2020-10-05 08:04] #6416 closed

[2020-10-05 08:09] floryut commented on #6788
[code]
Public network name. (https://github.com/kubernetes-sigs/kubespray/pull/6085)

[2020-10-05 08:17] floryut commented on #6790
Well Vagrantfile is pretty simple: `"kube_network_plugin": $network_plugin,`
And it works fine with CI (Vagrant weave and vagrant flannel are correctly created using weave and flannel).
Also the default network plugin is `flannel` (`$network_plugin ||= "flannel"`)

[2020-10-05 09:30] Sryther opened #6794 "Can't add a node to cluster using scale.yml"
I'm facing an issue when trying to add a node to the cluster.

I'm using the `scale.yml` playbook, with `--limit` on the node I want to add to the cluster.
As asked in the [documentation](https://kubespray.io/#/docs/nodes?id=addingreplacing-a-worker-node), I ran also the `facts.yml` playbook.

All the nodes described in the inventories are working except mutu-db-m-1 and mutu-m-1. These are not mas

[2020-10-05 13:06] jklare commented on #6021
same here, this currently only works with ips and breaks with hostnames or fqdns

[2020-10-05 13:07] jklare commented on #6021
/remove-lifecycle stale

[2020-10-05 15:06] rafal-jan opened #6795 "Azure Disk CSI driver installation fails with kubespray 2.14.1 and k8s 1.18.8"
**Environment**:
- **Cloud provider or hardware configuration:** Azure

**Kubespray version:** 2.14.1
**Kubernetes version:** 1.18.8

**Anything else do we need to know**:
The execution of `cluster.yml` playbook failed during installation of Azure Disk CSI driver on applying `https://github.com/kubernetes-sigs/kubespray/blob/v2.14.1/roles/kubernetes-apps/csi_driver/azuredisk/templates/azure-csi-no

[2020-10-06 07:48] floryut commented on #6795
@rafal-jan There is indeed some work to do on this.
If you want to try and submit a PR that'd very welcome, otherwise I can try and take a look when I got time

[2020-10-06 12:30] #6777 closed

[2020-10-06 12:34] #5978 closed

[2020-10-06 13:19] elgamal2020 commented on #6788
Thanks @floryut  , I would like to have an explanation

[2020-10-06 13:26] floryut commented on #6788
If you need more explanation about `public-network-name`, I would check the [cloud-provider-openstack configuration doc](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-openstack-cloud-controller-manager.md#networking)

[2020-10-06 13:28] holmesb commented on #6400
Helm 3.x was released since Kubespray 2.x.  It no longer requires a tiller pod and is integrated into k8s rbac.  I think it would be better for Kubespray to refocus on its core competency: deploying production Kubernetes.  Can include the most widely used plugins (CNI\CSI) in this.  But apps that have a decent helm chart should now be deployed using that.  Helm vs Ansible for deploying apps to Kub

[2020-10-06 13:30] sandinak opened #6799 "add kubespray-role: bastion"
**What would you like to be added**:  Add a bastion role to kubespray-aws-inventory.py so that all of the inventory can be dynamic.  So specifically for hosts in the 'bastion' group:
- add them to the group
- set ansible_ssh_host = instance.public_ip.address

**Why is this needed**: This will make integration alot easier as we won't need written inventory .. but can be pulled directly from AWS inv

[2020-10-06 13:44] #6770 closed

[2020-10-06 20:08] piotrkochan commented on #6762
@cchongXD @levin-kelevra I have same situation, it looks like pip installs good version from requirements (2.9) but mine (and yours) environment still uses global-installed ansible so just be sure to use correct one

[2020-10-07 07:10] #6746 closed

[2020-10-07 21:49] #6072 closed

[2020-10-07 21:49] #6059 closed

[2020-10-08 00:40] donkeyx opened #6805 "quickstart Install fails: docker service failed to start"
**Environment**:
- **Cloud provider or hardware configuration:**
Local vms (proxmox)

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
19c000c1

**Network plugin used**:
default

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all

[2020-10-08 06:48] floryut commented on #6805
Did you check the issue in systemctl status/journactl ?

[2020-10-08 11:20] 6aKa opened #6806 "Add metallb_nodeselector and metallb_tolerations"
Add metallb_nodeselector and metallb_tolerations

[2020-10-08 12:37] mischenkovn commented on #6762
Same behavior.
It works with ansible 2.9.14, and not ansible 2.10.2.

[2020-10-08 19:52] msunilkumar opened #6807 "i hit the same error today"
i hit the same error today

ERROR! 'delegate_to' is not a valid attribute for a TaskInclude

The error appears to be in '/root/kubespray/roles/network_plugin/calico/tasks/main.yml': line 6, column 3, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

- include_tasks: upgrade.yml

--------

BR,
Rushi.

_Originally posted by @rushins in https:

[2020-10-08 19:53] msunilkumar commented on #6807
could you please help

[2020-10-09 07:00] rafal-jan commented on #6795
@floryut I will try to find some time in the next few days.

[2020-10-09 08:00] floryut commented on #6807
@msunilkumar Which version of kubespray are you using ?
I think you don't have the latest commit as you are probably still on https://github.com/kubernetes-sigs/kubespray/commit/fd9bbcb157b5ac036c4e67360ce0d0bc611f84b6#diff-82f871bc3a76a9c97421ef3c71f6eea4

[2020-10-09 08:15] #6294 closed

[2020-10-09 09:32] giafar commented on #3849
Hi all,
it it possibile to upgrade from a tag to a release and then upgrare just release ?
I mean:
tag v2.10.4 --> release 2.11 --> release 2.12 --> release 2.13 --> release 2.14 --> tag v2.14.1

[2020-10-09 13:54] michalskalski opened #6808 "With explicit definition of localhost in ansible inventory the facts delegation may not work"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 4.18.0-193.19.1.el8_2.x86_64 x86_64
NAME="Red Hat Enterprise Linux"
VERSION="8.2 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.2"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linux 8.2 (Ootpa)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:8.2:GA"
HOME_URL="https://www.redhat.com/"

[2020-10-09 19:06] hadrien-toma commented on #6390
/remove-lifecycle stale

[2020-10-10 01:55] michalskalski commented on #6808
I prepared simple playbook for easier problem reproduce:
[code]

so with my inventory which contains:
[code]
facts delegation does not work:
[code]
but if I change jumphost inventory definition to:
[code]
then delegation works:
[code]
for initial definition of jumphost, the playbook had to use `127.0.0.1` instead of `localhost`:
[code]
the implicit localhost https://docs.ansible.com/ansible/latest

[2020-10-11 05:07] #6113 closed

[2020-10-12 06:54] #6754 closed

[2020-10-12 07:04] JosephKang commented on #6716
It seems some inter Pod interference.

I did some test
1. Found one pod A listening on port 8080.
2. Move pod A to another worker.
3. The new worker enters NotReady STATUS
4. The old worker enters Ready STATUS

I still don't know the exact root cause for the issue and I just move the pod A to the master to workaround the strange situation.

[2020-10-12 08:58] Xyders opened #6818 "Cluster is successfully deployed but no etcd pods."
**Environment**:
- **Cloud provider or hardware configuration:**
OpenStack version13
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
CentOS 7.6
Linux bastion 3.10.0-957.12.2.el7.x86_64 #1 SMP Tue May 14 21:24:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Version of Ansible** (`ansible --version`):
ansible 2.9.6
- **Version of Python** (`python --version`):
Python 2.7.5

**Kubespray

[2020-10-12 10:08] spyridonas opened #6819 "Fedora CoreOS fails to be initialized"
**Environment**:
- **MVPS, a small provider**

- **OS: Fedora CoreOS 32.20200923.3.0**

- **Version of Ansible:  2.9.6**

- **Version of Python** (`python --version`): 3.6.9 as python3/2.7.17 as python (host pc/ubuntu 18.04)

**Kubespray version (commit) (`git rev-parse --short HEAD`): version 2.14.1**

**Network plugin used**: flannel

The error is the following

`Problem: cannot install both lib

[2020-10-12 10:13] floryut commented on #6819
@bozzo @spaced any idea / input ?

[2020-10-12 10:30] floryut commented on #6818
Etcd isn't installed as kubernetes pods but externally either as a service or as docker container, you have to check on the specified host (under etcd in your inventory)

[2020-10-12 10:38] hafe opened #6820 "scaling workers in kubeadm etcd mode does not work"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

calico with etcd datastore

**Full inventory with variables (`ansible -i inventory/s

[2020-10-12 10:41] hafe commented on #6820
I have done the troubleshooting and have a pr soon

[2020-10-12 11:18] spyridonas commented on #6819
After a bit of research, the package `python3-libselinux` is available as v3.0.5 on the `Fedora - Updates`repo ( https://pkgs.org/search/?q=python3-libselinux ) which gets disable by the script ( https://github.com/kubernetes-sigs/kubespray/blob/master/roles/bootstrap-os/tasks/bootstrap-fedora-coreos.yml#L27 ).

Please keep in mind , at least in my installation, the Fedora-Updates repo is already

[2020-10-12 11:46] spyridonas commented on #6819
After removing the following lines https://github.com/kubernetes-sigs/kubespray/blob/master/roles/bootstrap-os/tasks/bootstrap-fedora-coreos.yml#L26-29 and https://github.com/kubernetes-sigs/kubespray/blob/master/roles/bootstrap-os/tasks/bootstrap-fedora-coreos.yml#L31-34 the installation completes.

[2020-10-12 12:01] floryut commented on #6819
You don't have to remove the lines and could only change `fedora_coreos_packages` variable to remove unwanted packages.

But that's pretty strange as `python3-libselinux` was added in #6577 by @spaced a few weeks ago.
Would love to have some inputs from him.

[2020-10-12 12:08] spyridonas commented on #6819
I don't know if python3-libselinux is unwanted, that's why i didn't remove the package.
From my understanding libselinux-3.0-5 is required, but that package is only available in the Fedora-Updates repo, which gets disabled by the above mentioned lines.

[2020-10-12 12:13] floryut commented on #6819
Ok got it, so you already have `libselinux-3.0-5` installed because of Fedora Update repo.
And, in your case, if you disable Fedora Update repo then only `python3-libselinux-3.0-3` instead of `python3-libselinux-3.0-5` which prompted the error.

Not sure if the codebase needs to have some kind of check whatsoever 🤔

[2020-10-12 12:29] spyridonas commented on #6819
The iso i used on my servers is  Fedora-coreos-32.20200907.3.0-live.X86_64.Iso.
If you go here https://getfedora.org/en/coreos?stream=stable and expand the 365 packages (expand) section you will see libselinux-3.0-5.fc32.x86_64 on my specific iso.

Version 3.0-3 was on iso 32.20200726.3.1 and it was upgraded on 32.20200809.3.0

I think that's the check ansible should perform before disabling the F

[2020-10-12 12:37] papiveron opened #6821 "Manage kubelet configuration through kubespray ansible playbooks?"
Hi guys,

Please I'm using Kubespray to deploy a k8s cluster.

I'm looking for a way to modify the `kubelet` configuration file in `/var/lib/kubelet/config.yaml`. But I'm not able to locate from this file is dumped.

I can just see in ansible outputs  this kind of message from the master role

But when digging in the whole  ansible playbooks I don't see anywhere this file is specified.  I've notic

[2020-10-12 12:38] #6142 closed

[2020-10-12 17:56] spyridonas commented on #6819
Just to sum up if someone wants to revisit with a future or since im not a ansible expert.

Basically, ansible needs to do the following check

`if current installed libselinux version != python3-libselinux
version then use the Fedora Update repos, else disable them`

[2020-10-12 17:56] #6819 closed

[2020-10-12 18:48] itsecforu commented on #5303
have same issuee. resolved by set timezone

[2020-10-13 02:02] JosephKang commented on #6401
/close

[2020-10-13 02:03] #6401 closed

[2020-10-13 09:17] Xyders commented on #6818
@floryut Thank you for your reply, I always thought it should be pod. I found them deployed using docker as follow.
$ sudo docker ps | grep etcd
cf159c4235f6        quay.io/coreos/etcd:v3.4.3     "/usr/local/bin/etcd"    30 hours ago        Up 30 hours                             etcd3

It's probably not a bug query, but could you help me with how to make etcdctl command go right?
$ etcdctl endpoi

[2020-10-13 13:02] #5553 closed

[2020-10-13 14:03] #6145 closed

[2020-10-13 14:50] ledroide commented on #6762
Same error with Ansible 2.10.1
After downgrading to Ansible 2.9.14, the problem is solved.
Note : I had to uninstall ansible and ansible-base, and reinstall ansible, because of python errors.
[code]

[2020-10-13 15:25] EppO commented on #6716
what's the pod A? you shouldn't have a pod A listening to the host port 8080, as it's used by nginx for the localhost load balancing feature. Modify pod A specs to use any other host port and it should work

[2020-10-13 23:50] michalskalski opened #6824 "Unexpected templating type error when dns_mode set to 'none'"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 4.18.0-193.19.1.el8_2.x86_64 x86_64
NAME="Red Hat Enterprise Linux"
VERSION="8.2 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.2"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linux 8.2 (Ootpa)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:8.2:GA"
HOME_URL="https://www.redhat.com/"

[2020-10-14 06:19] #6144 closed

[2020-10-14 07:05] floryut commented on #6818
I'm not really using etcd as docker container, but did you try https://etcd.io/docs/v2/docker_guide/ ?

[2020-10-14 10:06] papiveron commented on #6821
I followed this [doc](https://github.com/kubernetes-sigs/kubespray/blob/master/docs/vars.md), trying to achieve what I want to, but still cannot.

I set `kubelet extra args` this way :
[code]
in all of te following kubespray ansible playbooks :

But It didn't apply to the default kubelet configuation file (`/var/lib/kubelet/config.yaml`). While

Please where to put the above variable definition in

[2020-10-14 10:21] Xyders commented on #6818
@floryut I did stupid command. When I use "docker exec cf159c4235f6 xxx" everything seems working fine now (cf159c4235f6 is the etcd container name). Thank you for your advice. I will continue with Calico configuration.
I think this thread could be closed. But I'm still wondering why etcd containers are not in pods but in docker. Is my configuration not the best practice or there are some reasons.

[2020-10-14 11:43] floryut commented on #6818
@Xyders As said before, Kubespray don't install etcd as pods, only as service or docker container.
I won't go as far as saying this is a best practices but to ensure more resiliency and security a lot of user and adpoter (including our codebase) are deploying etcd externally.

Of course you could always inhibit kubespray etcd deployment and rely only on pods that you are managing yourself.

[2020-10-14 12:00] floryut commented on #6818
Moving to close anyway, feel free to add more comments/questions if needed.
/close

[2020-10-14 12:00] #6818 closed

[2020-10-15 13:25] a0s commented on #6779
`ansible 2.9.13` we have now only with `brew install ansible` on mac, its working

[2020-10-15 14:55] jnamdar commented on #6388
I applied the fix mentioned as I encountered the same errors (volume provision failure and the stack in vsphere-csi-node).

The error stack in vsphere-csi-node disappeared, however the provision failure is still here, and now I have no idea where to look (all my pods are in the running state and have no error stacks when I use `describe`)

[2020-10-15 17:12] wand3r3r opened #6827 "When user specifies an http_proxy the proxy is always applied to /etc/yum.conf"
I need a way to disable setting the proxy in yum.conf for systems that have an already proxied yum repository and/or wish to manage their own yum configuration settings.

**Environment**:
- **Cloud provider or hardware configuration:**
N/A

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
N/A

- **Version of Ansible** (`ansible --version`):
Ansible 2.9

- **Version of Python** (`pyth

[2020-10-15 20:08] GSalah commented on #5227
Don't run the ansible-playbook from a master node use another separate VM to manipulate your cluster

[2020-10-15 21:09] dlouks commented on #6387
/remove-lifecycle stale

I haven't had a chance to look more into this, but I'd like to understand why we are removing and readding dns and whether there is a check we can perform to determine if it's necessary.

[2020-10-15 21:10] dlouks commented on #6695
/reopen

I found an issue where the variable tiller_service_account wasn't used when creating the Service Account and Role binding. Getting PR in for that now.

[2020-10-15 23:58] gpoothia opened #6831 "Kubespray K8s upgrade does not follow steps outlined in kubeadm upgrade official docs"
Bug filed based on code read:
Kubespray diverges from kubeadm K8s upgrade documentation in multiple important ways.
Here is the official doc for say 1.15 -> 1.16
https://v1-16.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/
It has roughly 4 steps:
1.Upgrade first master control plane components (except kubelet)
2.Upgrade all other masters control plane components (except

[2020-10-16 02:50] yelhouti commented on #4600
I think the clean way to o around this is to reset kubeadm so that it reinstalls kube-proxy.
ssh into your server and run: `kubeadm reset` as root.
This is better than reset the whole cluster and loosing all your data pods...

[2020-10-16 14:18] alireza-esmaeeli commented on #3576
Hi, I have the same problem when I install k8s cluster with kubespray. Now, what do you mean by "specifying the external IP address of one of the nodes"? where did you specify that? In your kubespray configuration?

[2020-10-16 18:55] MnifR commented on #5464
Thanks @bartjkdp for your approach, but i want to know how to deal with worker node for renewing certificate?

[2020-10-17 03:57] Linutux commented on #6791
Thanks for starting this discussion. I think support for IPv6 is very important in 2020.

[2020-10-17 07:01] bartjkdp commented on #5464
@MnifR worker nodes should [automatically rotate certificates](https://kubernetes.io/docs/tasks/tls/certificate-rotation/#before-you-begin) when the `--rotate-certificates` flag is used on the kubelet process.

[2020-10-17 09:31] #5401 closed

[2020-10-17 09:50] MnifR commented on #5464
@bartjkdp i have rebooted the worker nodes but without success they are still NotReady when i ssh them there is no kubelet container up i am using kubespray 2.11

[2020-10-17 09:57] Linutux commented on #5513
/reopen

[2020-10-17 10:25] Linutux opened #6833 "access_ip is not removed from hosts file in Terraform.py, although use_access_ip=0 is set"
I have set use_access_ip=0 in cluster.tfvars but access_ip is part of the output when I run terraform.py --list. For some reason https://github.com/kubernetes-sigs/kubespray/blob/058438a25d086ffb4594c7212f0d053a2cba19ee/contrib/terraform/terraform.py#L355 doesn't seem to get in use.

[2020-10-17 14:36] spaced commented on #6819
sorry, a bit late on this party (we rolled out kubernetes with fcos to production this week, yeaaa)
yes, its a mess with fcos and python, see
https://github.com/coreos/fedora-coreos-tracker/issues/578
and
https://github.com/coreos/fedora-coreos-tracker/issues/592
so the latest stable may act differently again
so the 'hack' was to disable the update repo while we try to install `python`.
things com

[2020-10-17 15:14] spyridonas commented on #6819
The issue from side at least was that the compatible version of python3-libselinux was on the update repos.
Disabling them causing my issue.
Indeed the latest stable (any iso after 32.20200809.3.0) has the same issue as me.

[2020-10-17 18:16] bmelbourne commented on #6794
@Sryther
I've created a new kubespray `v2.14.1` (b39a196) cluster of 1x `k8s-1` master and 2x `k8s-2/3` workers, and then added another `k8s-4` worker successfully using `scale.yml`.

[code]

[code]

[code]

[2020-10-17 18:31] bartjkdp commented on #5464
@MnifR I would try to manually generate a new token on the master with:

```kubeadm token create --print-join-command```

And then re-join the worker node.

See https://github.com/kubernetes/kubeadm/issues/809 for the details.

[2020-10-17 18:32] bmelbourne commented on #6790
@justinshinmaplarge
Your bash script is not working as you'd expect.

The `vagrant up` command is creating a new Vagrantfile and then the kubespray cluster is using the default network plugin defined in the sample inventory which you've copied to `inventory/my_lab`.

**inventory\sample\group_vars\k8s-cluster\k8s-cluster.yml**
[code]

Suggest you copy the sample `Vagrantfile` in the kubespray root

[2020-10-17 18:39] miff2000 commented on #6791
I've got a working setup using Calico which I'm not far off being about to submit a PR for. I just hope it's not in vain, as even on the Slack `#kubespray-dev` channel I got no response.

What I did see though is on the `#k8s-dual-stack` channel is there's a lot more activity from Kubernetes devs, so maybe there are changes coming and the Kubespray guys are holding off for them to land 🤷‍♂️

[2020-10-17 19:22] rsleem commented on #5550
I am facing the same issue, provided my error below.
I am thinking It may be related to tasks not installing etcd on all three nodes as configured in inventroy/mycluster/hosts.yml
In summary how could node1 etcd reach node2 etcd when etcd has been only installed on node1
Looking through Ansible logs and checking `systemctl status etcd` on node2, and node3, it became clear that etcd was only instal

[2020-10-17 23:47] spyridonas commented on #6819
It appears core is team has solved the issue
https://github.com/coreos/fedora-coreos-config/pull/673
It should reach stable in 4 weeks

[2020-10-19 04:22] donkeyx commented on #6805
I have created a new server and wiped docker/iptables.. seems to be working now.

[2020-10-19 04:22] #6805 closed

[2020-10-19 05:07] donkeyx opened #6834 "dns issues with new cluster"
**Environment**:
- **Cloud provider or hardware configuration:**
bare metal install
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
`Linux 4.19.0-11-amd64 x86_64
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_

[2020-10-19 07:17] papiveron commented on #6760
Implementing the above  procedure through ansible solved my issue  :

- Use` /etc/kubernetes/ssl/ca.crt` to sign new certificate for kubelet with valid IP SANs.
- Set `--kubelet-certificate-authority=/etc/kubernetes/ssl/ca.crt` (valid CA).
- In `/var/lib/kubelet/config.yaml` (kubelet config file) set tlsCertFile and tlsPrivateKeyFile to point to newly created kubelet crt and key files.

[2020-10-19 07:17] #6760 closed

[2020-10-19 07:21] papiveron commented on #6821
Finally, I used an `ansible` task to load and override the `kubelet ` configuration file. It worked

[2020-10-19 07:21] #6821 closed

[2020-10-19 08:27] WangMinjie114 opened #6835 "Use IPVS as Internal loadbalancers for apiserver configuration item"
**What would you like to be added**:

When using haproxy or nginx as an apiserver proxy, if the pod of the node is restarted due to insufficient resources, etc., the forward from kubelet or kube-proxy will not work at that moment. Can this effect be fixed by using IPVS?

[2020-10-19 10:04] #6695 closed

[2020-10-19 14:29] Sryther commented on #6794
Hello, thanks for you answer :)

I just updated my repo to the v2.14.1 and it still do the same error (with nodes mutu-m-1 and mutu-db-m-1). I used the same parameters for the ansible-playbook command.

It searches to include ETCD tasks:

[code]

and then:

[code]

The previous task is played only for one of the two nodes.

Is this related to the fact I'm using a yaml inventory and somehow ansible

[2020-10-20 02:35] #6184 closed

[2020-10-20 02:39] pretendhigh opened #6838 "Can not edit pod kube-apiserver-node1 to enable Service Account Token Volume"
**Environment**:
- **Cloud provider or hardware configuration:**
esxi vm

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
centos7.6

- **Version of Ansible** (`ansible --version`):
ansible 2.9.6

- **Version of Python** (`python --version`):
2.7.5

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
2.14.1

**Network plugin used**:
calico

** my problem **

I have just de

[2020-10-20 03:32] pretendhigh commented on #6838
I think I have found the right way to edit the kube-apiserver-node1 pod. I forgot to edit the mount and volume in the pod before.
It went well when I edit

[code]

vim  kube-apiserver.yaml, add the following config lines.
[code]
Then apply the yaml file.
[code]
There will be a crashloopbackoff kube-apiserver pod. Just delete it.
[code]
I did this on the node2 and node3 too. After all this have dow

[2020-10-20 03:34] #6838 closed

[2020-10-20 05:15] vbottu opened #6839 "Internal Loadbalancers were not removed when set to false"
I am running kubespray version 2.11.1 on bare metal, Intially the cluster was setup to use internal nginx proxy as loadbalancer,Now I have setup a external haproxy and configured that like below in group_vars/all/all.yaml

[code]
And in groups_vars/k8s-cluster/k8s-cluster.yml
`supplementary_addresses_in_ssl_keys: [*.*.*.*, api.k8s.example.com]`
I ran cluster.yml aftermaking those changes, it ran s

[2020-10-20 11:51] gitnote-images opened #6840 "may be elsewhere in the file depending on the exact syntax problem"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
NAME="Feren OS"
VERSION="2020.07"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Feren OS"
VERSION_ID="18.04"
HOME_URL="https://ferenos.weebly.com/"
SUPPORT_URL="https://ferenos.weebly.com/feren-os-on-social-media.html"
BUG_REPORT_URL="https://github.com/feren-OS/Bug-Reporting-Ce

[2020-10-20 13:11] floryut commented on #6840
Please use the syntax check on a playbook not on a task
/close

[2020-10-20 13:52] floryut commented on #6839
The fact that nginx pods aren't removed is pretty much expected, Kubespray don't cleanup this as it wasn't really a use case.
However the admin.conf should indeed use your lb.

[2020-10-20 14:11] MerveeYilmaz opened #6843 "After deploy k8s with kubespray some containers not created"
Hi all,

I deployed single node cluster with kubespray using ansible. But after deployment some containers are not ready.

[code]
Here some errors with pods:
[code]

[code]

Although 2 hours passed after deploying the cluster, containers could not be created

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 4.19.0-12-amd64 x86_64
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME=

[2020-10-20 14:15] floryut commented on #6843
Could you provide some more information ?
Which containers/pods ?
Could you give us the ansible output ?

[2020-10-20 14:20] MerveeYilmaz commented on #6843
sorry, i updated

[2020-10-20 14:37] MerveeYilmaz commented on #6843
I reviewed the ansible output and only saw an error:

[code]

[2020-10-20 14:46] MerveeYilmaz commented on #6843
I also tried deploying nginx but it didn't work. Here are the events related to the pod
`(combined from similar events): Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "1573ca6b57f25f050740198887def3c7fd84ec086248211f7199d911464803aa" network for pod "myapp-ng2-56c86bf99-zwrtn": networkPlugin cni failed to set up pod "myapp-ng2-56c86bf99-zwrtn_def

[2020-10-20 15:19] vbottu commented on #6839
It is not, it still uses the ip of the master nodes not the external VIP. Can we clean up the nginx proxy pods manually? For a fresh install the admin.conf uses the external LB as expected but for clusters where internal LB is selected initially and later switching to external LB the admin.conf is not getting updated to use the external VIP

[2020-10-20 16:54] 6aKa opened #6844 "Add metallb peers password"
Add metallb peers password

[2020-10-20 18:32] bmelbourne commented on #6794
@Sryther
It's possible, my kubespray `hosts.ini` inventory looks like this...

[code]

[2020-10-20 21:38] marlow-h opened #6845 "BGP with peering fails because service IPs are not peered with router."
**Environment**:
- **Cloud provider or hardware configuration:**
On-prem, with a switch with 2 VRFs configured.

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
b39a196c

**Network plugin used**:
Calico

If you go look here:
https://www.projectcalico.org/advertising-kubernetes-service-ips-with-calico-and-bgp/

or here:
https://docs.projectcalico.org/networking/advertise-service-ips

[2020-10-21 02:30] vbottu commented on #6839
The certs are not getting updated with the addresses specified with supplementary_addresses_in_ssl_keys. IS there any workaround for it like deleting the certs on masters and re running the playbook?

[2020-10-21 02:56] JosephKang commented on #6716
@EppO
Sorry to give incorrect information.

Pod A is a customized service use 8080 as container port and 8081 as host port.
I checked the nginx-proxy setting in kubespray and the loadbalancer_apiserver_healthcheck_port  is set to 8081
- https://github.com/kubernetes-sigs/kubespray/blob/master/roles/kubernetes/node/templates/manifests/nginx-proxy.manifest.j2
- https://github.com/kubernetes-sigs/kub

[2020-10-21 05:23] mirwan commented on #6845
@marlow-h Considering the note in https://docs.projectcalico.org/networking/advertise-service-ips#advertise-service-cluster-ip-addresses, using the CALICO_ADVERTISE_CLUSTER_IPS environment variable still makes clusterIP be announced (even if is not recommended). This can be done by setting `calico_advertise_cluster_ips` to true as mentioned in docs/calico.md.
If you're experiencing peering problem

[2020-10-21 05:34] leemingeer commented on #5144
same question
 git rev-parse --short HEAD
eddafe5f

[2020-10-21 06:22] #6827 closed

[2020-10-21 06:22] zrks opened #6847 "gcr.io/google-containers/kube-apiserver:v1.18.9 not found"
Hi,

hopefully I can get some support here - currently trying to deploy k8s cluster via kubespray v2.14.1.
Seems that latest k8s images are not available:
└─ $ docker image pull gcr.io/google-containers/kube-apiserver:v1.18.9 Error response from daemon: manifest for gcr.io/google-containers/kube-apiserver:v1.18.9 not found: manifest unknown: Failed to fetch "v1.18.9" from request "/v2/google-conta

[2020-10-21 06:24] donkeyx commented on #6834
I have tried switching to the flannel cni but still have the same issue. I have the logs from the nodelocal and coredns <<

coredns
* not showing any requests

istiod - seems to be just repeating this message.
[code]
nodelocal
[code]

[2020-10-21 06:31] floryut commented on #6847
@zrks `kube_image_repo` was updated to `k8s.gcr.io` as kubernetes images are no longer uploaded to `gcr.io/google-containers`
https://github.com/bitnami/kube-prod-runtime/issues/740

You need to update your inventory as we did ours https://github.com/kubernetes-sigs/kubespray/pull/5764

[2020-10-21 06:32] zrks commented on #6847
Good day @floryut - thanks for pointing this one out - will do :+1:

[2020-10-21 06:32] #6847 closed

[2020-10-21 09:56] Sryther commented on #6794
My inventory looks like this: [inventory.yaml](https://gist.github.com/Sryther/422422e3c671f91f2e5ecee975e71e1f).
I'm not far from yours.

I'm not trying to add a new `etcd` node at all. Just workers.

I tried again with other parameters but still the same issue. I don't know why it's looking for etcd tasks.

[2020-10-21 13:11] elgamal2020 opened #6849 "external cloud provider openstack"
Hello,

I have installed Kubespray to use external cloud provider openstack

while I navigate to the pod create I dont find "    - --cloud-provider=external                                                                                                                                                                         " in kube-controller-manager-

 kubectl -n kube-system describe pod kube-co

[2020-10-21 14:31] EppO commented on #6716
glad you figured it out, I guess we can close the issue.
/close

[2020-10-21 14:31] #6716 closed

[2020-10-21 14:32] #6820 closed

[2020-10-21 14:32] EppO commented on #5882
/remove-lifecycle rotten

[2020-10-21 15:09] marlow-h commented on #6845
@mirwan  That was already set.  I suspect your tests do not use an actual switch, so are not truly peering.  You can see in your BGP configuration that you are not passing in the kube_service_addresses into the bgpconfiguration in the roles/network_plugin/calico/tasts/install.yml file.  You need this line:

"serviceClusterIPs": [{"cidr": {{ kube_service_addresses }} }] }}

I have added and tested

[2020-10-21 16:02] maciejaszek opened #6850 "Feature gates not set for kube-proxy"
**Environment**:
- **Cloud provider or hardware configuration:**
[code]

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
`ansible 2.9.14`

- **Version of Python** (`python --version`):
`Python 3.8.6`

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
f2ef781e

**Network plugin used**:
`flannel`

**Full inventory wi

[2020-10-22 08:28] Learloj commented on #6762
I also ran into this issue. The downgrade indeed worked. I could also work around it by updating kubespray/roles/container-engine/containerd/defaults/main.yml adding 'pkg_mgr' to 'containerd_package_info':
[code]
However, the playbook then breaks at a later stage as well.

That said, the requirements.txt clearly state it needs ansible version 2.7.16.

[2020-10-22 10:39] #6850 closed

[2020-10-22 11:14] irizzant commented on #6595
Following up to this, it would be great if the most of kube-bench tests could be passed.

I think a good way to proceed could be integrating in the playbooks the following:
https://medined.github.io/kubernetes/kubebench/ansible/kubebench-remediations

[2020-10-22 12:45] piotrkochan commented on #6762
run `ansible --version` and verify you're using this version

[2020-10-22 17:18] Boca13 commented on #6750
I've run into the same prolem with my cluster (v1.17.9). Switching to iptables is probably a good workaround, but I'd still like to fix it to work with IPVS.

Investigating, I've found that when the client tries to open a connection with a service served by a pod on the same node, the reply comes from the server IP. This is happening in 5/7 of my current workers.

![Bad connection](https://user-im

[2020-10-22 22:03] dhruvit01 commented on #4787
Has this been resolved? I want to deploy cluster with existing hostnames which does not seem to be coming along. The hostnames are assigned upfront for a reason.

[2020-10-23 14:09] #6621 closed

[2020-10-24 12:18] #5941 closed

[2020-10-25 07:37] #6199 closed

[2020-10-25 22:27] Boca13 commented on #6750
In case someone runs into similar issues... Updating from Kubespray 2.13 to 2.14 solved my problem. Some new nodes had been created with Ubuntu 20, unsuported by Kubespray 2.13.

[2020-10-26 07:30] servo1x opened #6858 "Revisiting windows support"
**What would you like to be added**:

With Calico for windows now [open sourced](https://www.tigera.io/blog/tigera-announces-open-source-calico-for-windows-and-collaboration-with-microsoft/), it sounds worthwhile to add support for Windows or provide a separate playbook that can be used to join windows nodes to the cluster.

**Why is this needed**:

Organizations with mixed workloads, on-prem, tha

[2020-10-26 10:25] BabisK commented on #6791
Hey, thanks for the effort, that's something that definitely interest me. I'm willing to help with testing/fixes/commits. I contacted you on slack.

[2020-10-26 14:46] ebdxflr commented on #6241
i'm having the same issue with a cluster on CentOS 7.8 and calico CNI and docker. Additionally, after reboot, the K8s pods are not starting up

[2020-10-26 15:35] #6757 closed

[2020-10-27 07:07] ebdxflr opened #6863 "Pods do not reach each other when on different nodes and after reboot, system pods are not starting up"
**Environment**:
- **Cloud provider or hardware configuration:** Azure but on 2 VMs (simulating a bare-metal setup)
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** CentOS 7.8
- **Version of Ansible** (`ansible --version`): 2.9.6
- **Version of Python** (`python --version`): 3.6.8
- **Kubespray version (commit) (`git rev-parse --short HEAD`):** 4b858b6
- **Network plugin used**: cali

[2020-10-27 07:14] faisal-basha commented on #6578
I have this same issue I added my other nodes ip addressess to the no_proxy variable found in the group_vars/all.yml file. But the issue still Persists.

[2020-10-27 18:49] miff2000 commented on #6791
I've created the PR linked above and I'm waiting for a review from somebody.

@BabisK has kindly picked up some further enhancements to (hopefully) get Kubernetes components listening on IPv6 addresses alongside the IPv4 addresses, as my PR currently only addresses getting Pods and Services to have dual-stack networking.

[2020-10-28 12:10] lazybetrayer commented on #5810
/remove-lifecycle stale

[2020-10-28 20:39] mikejoh opened #6866 "Mismatch between Kubespray and the upstream Calico CRDs"
**Environment**:
- **Cloud provider or hardware configuration:** VMs on OpenStack
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** Ubuntu 20.04.1
- **Version of Ansible** (`ansible --version`):
- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):** From tag v2.14.0
**Network plugin used**: Calico 3.16.0

**Anything else do we nee

[2020-10-29 05:25] vgaurihar opened #6869 "coredns issue while setting up multimaster k8s cluster with kubespray"
kubespray - latest (master) branch
kubernetes - v1.19.3
coredns image - coredns/coredns:1.7.0
Infra: Azure vms / Ubuntu 20.04 LTS / kernel - 5.4.0-1023-azure
coredns pods logs  -

[code]
also below  logs -
[code]

As there is no right DNS server in place for pods further configuration of other components are failing. Like Mayastor EBS giving following errors in moac pods  -```

[2020-10-27T10:05:3

[2020-10-29 05:47] vgaurihar commented on #6869
tried k8s setup by explicitly disabling the `enable_nodelocaldns` still coredns pods showing errors

[2020-10-29 06:22] hafe commented on #6866
The split of upstream calico manifests into several manifest files in kubespray is a mistake. There is no way you can diff upstream with what is in kubespray, you just discover errors very late like you did

[2020-10-29 06:25] hafe opened #6870 "ansible check mode does not work"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all -m d

[2020-10-29 06:25] hafe commented on #6870
I am working on a pr

[2020-10-29 07:07] dagorka commented on #3471
Hi,
I am interested in to replace the first master (and the others)  in kubernetes cluster using kubespray scripts. Is it possible?

**Story:**
I have build k8s cluster using kubespray scripts on Openstack with an old centos7 image. Next I want to upgrade OS, eg. from 7.7 to 7.8. I have newer OS image on Openstack prepared. I am able to deploy new masters and new workers with newer OS image. But t

[2020-10-29 08:04] #6824 closed

[2020-10-29 08:13] mikejoh commented on #6866
@hafe I guess i could diff them by just splitting up the `kdd-crds.yml.j2` file by hand, not automating anything just cropping out the actual manifest and do that for each one of them. That's the naive and quick way i can think of, long term it maybe would make sense to (one of the two):

1. Follow upstream and have seperate manifest files for each CRD in a e.g. subdir to `files/` within the Calic

[2020-10-29 08:40] irizzant commented on #6222
I think I found the issue with the upgrade. The master nodes in my inventory file were put in the [kube-node] section and the playbook upgrade-cluster removes those taints.

I put the master nodes in the [kube-master] section and the problem was fixed.

[2020-10-29 08:49] floryut commented on #6222
Ok sorry we didn't help you much but happy you found the issue 👍

[2020-10-29 12:12] vgaurihar commented on #6869
# Debugging DNS issue
    - Created sample dnsutils pod
        # kubectl apply -f https://k8s.io/examples/admin/dns/dnsutils.yaml
        # kubectl get pods dnsutils
[code]
            ;; connection timed out; no servers could be reached
                command terminated with exit code 1

[code]
            nameserver 10.233.0.3
            search default.svc.cluster.local svc.cluster.local clus

[2020-10-29 14:56] dagorka commented on #6542
Hi,
Thanks for share your code. I am curently started to fight with same task - replace first master.
I have implemented your code, but I get below error during "Joining control plane node to the cluster".

[code]
```https://6.0.1.178:2379``` is the old first master endpoint which is deleted.

Did you have similar problem?

BTW. We use calico instead of flannel.

Thanks!

[2020-10-29 16:34] hpschry commented on #6647
Re-setup the cluster with kubespray 2.13.3 and now tag based storage allocation is working for me, it might have been a configuration error.

[2020-10-29 16:34] #6647 closed

[2020-10-29 20:23] #6215 closed

[2020-10-29 20:44] wshelley opened #6872 "Metrics Server behind corporate http proxy (FailedDiscoveryCheck)"
The apiserver is unable to access the metrics server as it connects directly to the pod ip address, which is not listed in the NO_PROXY and no_proxy environment variables.

[code]

[code]

This is mentioned in the following issue:
https://github.com/kubernetes-sigs/metrics-server/issues/45#issuecomment-382010320

This can be fixed by adding the kubespray variable```kube_pods_subnet``` value to the

[2020-10-29 20:48] wshelley commented on #6872
This is also likely to affect other API Services and Webhooks, Admissions Controllers etc. As I think I saw the same behviour on the nginx ingress: https://kubernetes.github.io/ingress-nginx/deploy/

[2020-10-29 20:57] wshelley commented on #6872
It looks like I use the `additional_no_proxy` kubespray ansible variable to workaround this issue for now.

[2020-10-30 00:47] karasjoh000 opened #6873 "local volume provisioner does not work after reset installation"
**Environment**:
Centos 8

I have mounted disks on machines to a dir and specified that to kubespray. After installation, listing the volumes shows that all of them are present. However, once I reset the installation and reinstalled kubespray, they no longer get listed. Not sure how to get them back on.

[2020-10-30 07:32] lijingchun0 opened #6874 "stuck at TASK [etcd : Install etcd launch script]"
**Environment**:
- **Cloud provider or hardware configuration:**
kvm virtual machine
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of Ansible** (`ansible --version`):
ansible 2.9.6
- **Version of Python** (`python --version`):
3.8.6

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
d8258d2 branch(master)

**Network plugin used**:
calico

**Full inv

[2020-10-30 08:54] lijingchun0 opened #6875 "TASK [etcd : Configure | Wait for etcd cluster to be healthy] fail"
**Environment**:
- **Cloud provider or hardware configuration:**
kvm virtual machine
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of Ansible** (`ansible --version`):
ansible 2.9.6
- **Version of Python** (`python --version`):
3.8.6

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
b8cd17b   branch(release-2.14)

**Network plugin used**:
calico

**

[2020-10-30 09:28] JosephKang opened #6876 "Relocate worker nginx.conf file"
When using kubespray to install kubernetecs, the /etc/nginx/nginx.conf, [nginx.conf.txt](https://github.com/kubernetes-sigs/kubespray/files/5464118/nginx.conf.txt) is found to deployed on k8s worker, and the /etc/nginx/ seems to be used as docker volume for certain docker container
[code]

Currently I need to install personal nginx on k8s worker and the action to start nginx will resulted in the f

[2020-10-30 09:58] floryut commented on #6876
You can tweak `nginx_config_dir` to change that path.

[2020-10-30 11:44] JosephKang commented on #6876
Thanks @floryut

I change the setting in https://github.com/kubernetes-sigs/kubespray/blob/master/roles/kubespray-defaults/defaults/main.yaml#L59  and it workds!

[2020-10-30 11:44] #6876 closed

[2020-10-30 15:10] Lamercho opened #6877 "Docker Hub Rate Limits"
**What would you like to be added**:
### Support for docker login on nodes before pull from docker hub.
**Why is this needed**:
Docker Hub started to limit heavily unauthorized pulls. This is a big pain when kubespray enough machines to hit that limit. Please add support for docker login auth on nodes before docker pull. Also creds can be imported in cluster after install ends for future pull use.

[2020-10-30 15:33] floryut commented on #6877
Agreed that this could be added, but for large scale deployment please see https://github.com/kubernetes-sigs/kubespray/blob/master/docs/large-deployments.md (focus on `download_run_once` and `download_localhost`)

[2020-10-31 07:12] hafe commented on #6866
For this issue I think you should do the smallest possible change. Addressing the bigger problem needs to be done in some other context. Calico has a lot of interesting new features like wireguard and eBPF mode that kubespray will miss out on if we don't do something.

(with upstream I meant the officially documented manifests such as: https://docs.projectcalico.org/archive/v3.16/manifests/calico.

[2020-10-31 16:12] arianvp opened #6879 "Offline install doesn't work because docker repo key id is hardcoded"
**What would you like to be added**:

Add an `docker_ubuntu_repo_repokey` option

Currently, the offline documentation doesn't work as documented here:
https://kubespray.io/#/docs/offline-environment

There is no way to provide a `docker_ubuntu_repo_repokey` ; and instead
the docker role hardcodes this value: https://github.com/kubernetes-sigs/kubespray/blob/master/roles/container-engine/docker/va

[2020-10-31 19:51] bmelbourne commented on #6794
@Sryther
I've created a Kubespray k8s cluster using a simple yaml formatted inventory, and I was able to add a worker node `node3` to an existing cluster with no issues.

**inventory/dev/hosts.yml**
[code]

**roles/kubespray/scale.yml**
[code]

I'd suggest removing the initial indent in your inventory and remove the hosts from the `calico-rr`, and if this doesn't work, try creating a basic k8s clu

[2020-10-31 20:38] arianvp commented on #6875
Just ran into the same issue;

I fixed it by removing `set -o pipefail`  from that command.

https://stackoverflow.com/questions/19120263/why-exit-code-141-with-grep-q

[2020-10-31 20:41] arianvp commented on #6875
This broke in https://github.com/kubernetes-sigs/kubespray/commit/648fcf3a2e3221048e0a84d914d288a3884abcfa

[2020-10-31 20:49] arianvp commented on #6875
Seems to be fixed by https://github.com/kubernetes-sigs/kubespray/pull/6817/files

[2020-10-31 23:03] karasjoh000 commented on #6869
What CNI are you using?

[2020-10-31 23:06] karasjoh000 commented on #6875
Make sure your nodes are synchronized with a chronyd server

[2020-11-01 06:35] servo1x commented on #6676
Also seeing this issue.

[2020-11-01 06:37] servo1x commented on #6869
Any fix for this @vgaurihar? Also running into. this issue.

[2020-11-01 09:19] hafe commented on #6843
Check your inventory, is the host member of both kube-master and kube-node?
https://kubespray.io/#/docs/ansible

[2020-11-01 09:21] arianvp commented on #6875
@lijingchun0 could you try the latest release (from yesterday) and see if this fixes it for you? It did for me

[2020-11-01 19:16] hakoerber commented on #6762
Hey, I have the same problem and might be able to provide a bit more context / debugging:

For me, it happens in the `containerd` role (`roles/container-engine/containerd`). The following tasks seems to be the root of the problem: [Link](https://github.com/kubernetes-sigs/kubespray/blob/7a1f033c1df7aba386c9710b3bd9c59347efacdf/roles/container-engine/containerd/tasks/main.yml#L18)

It uses a common

[2020-11-01 20:12] piotrkochan commented on #6762
@hakoerber just read what I've posted above, maybe it will fix your problem

[2020-11-02 03:30] lijingchun0 commented on #6875
I use ntp to sync

[code]

[2020-11-02 03:40] lijingchun0 commented on #6875
It looks up to date

![image](https://user-images.githubusercontent.com/26979634/97827761-28fff280-1d00-11eb-9683-7aa52aa2b224.png)

[2020-11-02 14:23] vgaurihar commented on #6869
I tried with **calico** and **canal** plugin and no success. But when I tried with weave-net CNI plugin it is working (mainly dns issue got resolved). Don't know this is CNI issue / Platform issue / Kubespray issue.

[2020-11-02 17:14] hma23 commented on #6762
same error on ansible 2.10.2 version
TASK [kubernetes/preinstall : Check if we are running inside a Azure VM] ********************************************************************************************************************
ok: [node1]
ok: [node2]
ok: [node3]
ok: [node4]
ok: [node5]
ok: [node6]
Monday 02 November 2020  17:05:01 +0000 (0:00:00.454)       0:02:31.751 *******
Monday 02 November 20

[2020-11-02 17:57] #6877 closed

[2020-11-02 20:13] jferr opened #6883 "Dockerhub creds for image pulls"
In light of the recent dockerhub pull limits https://www.docker.com/increase-rate-limits?utm_source=docker&utm_medium=web%20referral&utm_campaign=pull%20limits%20home%20page&utm_budget= how would I pass dockerhub creds to kubespray for it to use when pulling images to our nodes when creating a cluster?

[2020-11-03 11:59] zrks commented on #5645
Can't you use this - https://github.com/kubernetes-sigs/kubespray/blob/master/docs/vars.md#custom-flags-for-kube-components ?

[2020-11-03 14:11] jseguillon commented on #6883
I think best way would be to add some custom playbook to render a `/root/.docker/config.json`, before running cluster.yaml,  with something like this :

[code]

Since containers are download via plain docker pull command lines via user root, this should work.

[2020-11-03 16:50] karasjoh000 commented on #6869
@vgaurihar can you keep me posted if you find any resolution to what was the problem on the other CNI's, I am running into the same issue.

[2020-11-03 20:54] hafe commented on #6400
I think we are very close to be able to use kubeadm managed etcd as the default.
What do you think about that?

[2020-11-04 00:02] JosephKang opened #6884 "Run cert generation script: No /usr/local/bin/etcd-scripts/make-ssl-etcd.sh"
**Environment**:
- **Cloud provider or hardware configuration:**
Remote OpenStack VMs

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
VERSION="16.04.6 LTS (Xenial Xerus)"

- **Version of Ansible** (`ansible --version`):
ansible 2.7.12

- **Version of Python** (`python --version`):
Python 2.7.12

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
67167bd

**Network plugi

[2020-11-04 07:00] hakoerber commented on #6762
Hey @piotrkochan,

I forgot to mention that using ansible <2.10 fixes the problem for me. My comment was rather meant as a more technical analysis of the problem and to get a solution.

[2020-11-04 08:37] vgaurihar commented on #6869
weave CNI works for me (with localdns explicitly disabled while running kubespray)

[2020-11-04 09:02] kivoli commented on #5726
@karasjoh000
I think the reason you may not get any responses is because everyone is at a loss how to point out the obvious:

You write yourself that others document it should work with `calico_iptables_backend: "NFT"` and `enable_nodelocaldns: false` yet you did *not* set them this way and now wonder why something is not working.

Anyway, I can tell you that I have a fully working cluster running

[2020-11-04 10:35] misi opened #6885 "CALICO_ADVERTISE_CLUSTER_IPS is depracted replace it with bgpconfiguration #600"
CALICO_ADVERTISE_CLUSTER_IPS is deprecated use instead of it BGPConfiguration option.
It conflicts and prevented calico advertise BGPConfiguration work properly.

See: https://docs.projectcalico.org/networking/advertise-service-ips
`
Note: In earlier versions of Calico, and for IPv4 only, service cluster IP advertisement was configured via the environment variable CALICO_ADVERTISE_CLUSTER_IPS. Tha

[2020-11-04 15:54] champtar commented on #5726
"Auto" will count the number of iptables-leagcy-save & iptables-nft-save lines, so you need to start from a clean state
it should work as this is what kubeproxy uses

[2020-11-04 18:34] mirwan commented on #6885
Duplicate of #6845.
Should be fixed by #6861.
Closing

[2020-11-04 18:34] #6885 closed

[2020-11-04 23:44] karasjoh000 commented on #5726
@kivoli Do you have the inventory file you used for that setup? For some reason when I run `calico_iptables_backend: "NFT"` with `enable_nodelocaldns: false` it installs successfully but calico nodes remain in the not ready state. Also local pv fails. Running `Auto` has calico nodes in ready states and local pv working. Sorry I should have said that at start.

[2020-11-04 23:53] champtar commented on #5726
@karasjoh000 maybe you have firewalld enabled ?

[2020-11-04 23:53] champtar commented on #5726
if you `reset.yml` also reboot

[2020-11-04 23:54] karasjoh000 commented on #6873
This was from the wrong c

[2020-11-04 23:56] karasjoh000 commented on #5726
@champtar I disabled firewalld, although I have not rebooted after `reset.yml`. I will try that. Thank you

[2020-11-05 06:53] #6240 closed

[2020-11-05 08:09] hafe commented on #6866
Another alternative though a bit controversial/complex would be to use the helm client plus the original helm templates in the calico repo. Helm is much better to render templates then ansible/jinja

[2020-11-05 16:35] antonakv commented on #3891
Looks like ACTION=scale was used instead of ACTION=cluster

[2020-11-05 16:36] antonakv commented on #5216
@ledroide Looks like ACTION=scale was used instead of ACTION=cluster

[2020-11-05 17:27] ledroide commented on #5216
@antonakv : Sorry, I don't understand what your solution is about.  :-/
The only action taken was to run the playbook cluster.yml, as usual.

[2020-11-05 19:14] #6866 closed

[2020-11-06 13:39] xiaohuanxj commented on #4335
i alse happen,how do you solution

[2020-11-06 16:06] Sryther commented on #6794
I achieved to add the two new workers by removing the `--limit` option. It's not really the best way because I kinda lost my cluster for a while. So I simply ran scale.yml on every node of my cluster because it seems it needs to have an ETCD node in the inventory to achieve the failing tasks.
I would not like to do this in a production environment, how could I achieve this?

[2020-11-06 16:54] dansou901 commented on #5432
I can see that you haven't converted to the new collection structure yet. Would this also be something for 3.0?

[2020-11-06 21:47] hakoerber opened #6891 "Permissions of /etc/ssl/etcd/ssl changed on every run"
**Environment**:

- **Version of Ansible** (`ansible --version`): 2.9.14
- **Version of Python** (`python --version`): 3.6.9
- **Kubespray version (commit) (`git rev-parse --short HEAD`):** `75d648cae53eb6b83acb9b75b868ea29eec480d3` / `tags/v2.14.2`

---

When applying the `cluster.yml` playbook I noticed that the permissions of `/etc/ssl/etcd/ssl` are changed on every run. One tasks sets them to

[2020-11-06 22:32] #5971 closed

[2020-11-07 01:26] hakoerber commented on #6673
Hey,

I have the same issue and found the cause + a possible fix.

The cert logic (in `roles/etcd/tasks/check_certs.yml`) works like this:

1. Let a list of all certs currently present
2. Check the list against a list of required/expected certificates
3. On mismatch, regenerate

The first step uses an ansible `find` command with the following pattern: `"ca.pem,node*.pem"`. The list of required/exp

[2020-11-07 08:42] #6205 closed

[2020-11-07 11:27] AlexKomrakov commented on #6673
Seems like it's need to be done!

[2020-11-07 11:46] hakoerber commented on #6673
Ok, the I'll create a pull request.

[2020-11-07 12:18] hakoerber commented on #6673
I opened https://github.com/kubernetes-sigs/kubespray/pull/6892 but am still fighting with formatting, CI & CLA :sweat_smile:

[2020-11-07 15:42] hakoerber commented on #6673
Also pinging @luisyonaldo to take a look if this. They might have a different setup, would be interesting if the fix also covers that.

[2020-11-07 17:51] #6255 closed

[2020-11-08 19:50] mouzfun commented on #6398
Not sure if it's useful to keep this open, since it has been mentioned in the above linked discussion.
So if not - let me know and i will stop removing stale labels

/remove-lifecycle stale

[2020-11-09 07:35] floryut commented on #5432
Definitely. The only issue would be to find some time to work on it 👍

[2020-11-09 07:37] JosephKang opened #6895 "calico/node is not ready aftre k8s deployment"
**Environment**:
- **Cloud provider or hardware configuration:**
Baremetal machine
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
ubuntu16.04.6 LTS
- **Version of Ansible** (`ansible --version`):
ansible 2.7.12

- **Version of Python** (`python --version`):
Python 2.7.12

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
67167bd

**Network plugin used**:
calico

**Full

[2020-11-09 07:54] floryut commented on #6891
@hakoerber Great thank you, go ahead for the PR, that'd very welcome.

Regarding the questions, `0700`  seems indeed more logical than `0640` for a dir.. the variable is a bit overkill but could be good to have indeed

[2020-11-09 10:38] pestebogdan commented on #6375
Addressed in this MR : https://github.com/kubernetes-sigs/kubespray/pull/6403

[2020-11-09 10:38] #6375 closed

[2020-11-09 11:03] JosephKang commented on #6895
https://docs.projectcalico.org/getting-started/kubernetes/requirements
Port 179 is filtered by firewall at worker side.

[2020-11-09 11:03] #6895 closed

[2020-11-09 11:18] jseguillon commented on #6400
Maybe we could deal with Helm apps in a separate github project ?

This project would only focus on :
 - sticking apps version to some kubernetes if needed
 - structure some playbooks and roles to easily deploy with kubepsray structured inventory (ie run helm on masters)
 - maybe deploy helm ?

Some attached CI would not require kubsepray deployment : only inventory plus any kubernetes should be e

[2020-11-09 15:33] s3lph opened #6896 "Wrong Hash for PyPy3.6-7.3.2"
**Environment**:

- **Version of Ansible** (`ansible --version`):

[code]

- **Version of Python** (`python --version`):

[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):** `1b0326f7`

## Issue

PR #6801 updated PyPy3.6 from 7.3.1 to 7.3.2, but did not change the expected SHA256 hash of the downloaded archive.

## Expected behavior

The `bootstrap-os` role completes without err

[2020-11-09 15:34] dansou901 commented on #5432
I'll be updating my own roles and projects to collections at work soon, when I'm done with that and having gathered some experience with kubespray, I could send you a pull request

[2020-11-09 15:39] dansou901 commented on #5432
That, however, will take some time

[2020-11-09 16:32] drewbitt commented on #5768
/reopen

[2020-11-09 16:33] drewbitt commented on #5602
/remove-lifecycle stale

[2020-11-10 07:28] moss2k13 opened #6899 "Cert-manager webhook certs don't honor custom cert-manager namespace"
Environment:

[code]

Command used to invoke ansible:
`ansible-playbook -i inventory/mossapio/hosts -u centos -b -v cluster.yml --flush-cache`

Output of ansible run:
[code]
Anything else do we need to know:

[code]

[2020-11-10 08:05] moss2k13 commented on #6899
If you can point me to the code where/how you generate certs, I think I will be able to fix it straight away.

[2020-11-10 20:20] EppO commented on #5882
/reopen

[2020-11-10 20:33] bmelbourne commented on #6899
@moss2k13
You can update the Cert Manager `ClusterIssuer` Root CA certificate and key by following the steps outlined here...
https://github.com/kubernetes-sigs/kubespray/blob/master/roles/kubernetes-apps/ingress_controller/cert_manager/README.md

[2020-11-10 20:39] gabrielbatir opened #6900 "crio and kubelet mismatch of cgroup manager at kubeadm cluster initialization"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 4.18.0-193.28.1.el8_2.x86_64 x86_64
NAME="CentOS Linux"
VERSION="8 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="8"
PLATFORM_ID="platform:el8"
PRETTY_NAME="CentOS Linux 8 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:8"
HOME_URL="https://www.cent

[2020-11-11 08:37] #6521 closed

[2020-11-11 08:47] JosephKang commented on #6884
It might resulted from some disconnecting situation since master and worker cannot be connected.

[2020-11-11 08:47] #6884 closed

[2020-11-11 17:20] #6896 closed

[2020-11-11 17:30] pavdmyt commented on #4606
Had similar issue running `ansible-playbook` with `-u myuser --become`. The problem is that `kubeadm` wants `--kubeconfig` specified explicitly. So, I've modified `roles/kubernetes/kubeadm/tasks/main.yml` like this:

[code]

and re-run `ansible-playbook`. It solved my issue.

[2020-11-12 12:43] #5306 closed

[2020-11-12 14:13] vielmetti opened #6901 "Rename "Packet" to "Equinix Metal" thorughout"
**What would you like to be added**:

Packet has been acquired by Equinix, and the new brand is Equinix Metal. Identify references to the company in the docs and code and readmes, to update to new branding.

**Why is this needed**:

* March 2020 [acquisition of Packet](https://www.equinix.com/newsroom/press-releases/pr/123893/Equinix-Completes-Acquisition-of-Bare-Metal-Leader-Packet/)
* October 20

[2020-11-12 14:14] vielmetti commented on #6901
relevant search results at https://github.com/kubernetes-sigs/kubespray/search?q=packet.com

[2020-11-12 16:01] floryut commented on #6900
@gabrielbatir Indeed, care to make a PR so reviewer might take a look ?

[2020-11-12 16:03] floryut commented on #6901
@vielmetti Thank you for highlighting that, care to make a PR ? Otherwise we'll take care of it.

[2020-11-12 17:33] vielmetti commented on #6901
@floryut - there appear to be really two separate things here -

- documentation and text in READMEs
- the actual Terraform and Ansible command docs in docs/packet.md

I have a WIP which I hope starts things, but to be honest if you want to take care of things, I'm happy to step back.

[2020-11-13 14:54] supabibz opened #6904 "Change default ingress-nginx config and replace the default "SSLv2" protocol"
**What would you like to be added**:  In file "[inventory/sample/group_vars/k8s-cluster/addons.yml](https://github.com/kubernetes-sigs/kubespray/blob/master/inventory/sample/group_vars/k8s-cluster/addons.yml)", l102 (in the quick start, you use this file to deploy an ingress controller), the SSL protocol is SSLv2. This protocol is so old that with an client using openssl 1.0.1 version you can't ev

[2020-11-13 15:06] floryut commented on #6904
@supabibz Indeed, thanks for pointing it out, default value are `TLSv1.2 TLSv1.3` (from [nginx doc](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#ssl-protocols)) so maybe this would be enough.
Would you care to open a PR ?

[2020-11-14 07:13] hafe opened #6906 "kubespray does not work with password authentication"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all -m d

[2020-11-14 22:02] ilya-korotya opened #6909 "Kubespray don't up kube-apis in 8080 port"
After running ` vagrant up` I get three nodes in Virtual Box.
I connected to a master node via:
[code]
And use `sudo lsof -i -P -n | grep LISTEN` to check open ports. I get:
[code]
I don't have any `kube-apis` on 8080 port for connecting kubectl.

**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of A

[2020-11-14 22:12] #6909 closed

[2020-11-15 20:09] bmelbourne commented on #6616
@divramod
I'm not able to reproduce the issue using Kubespray `v2.14.2`

[code]

[code]

[code]

[code]

[code]

[2020-11-15 21:54] bmelbourne commented on #6874
@lijingchun0
I'm not able to reproduce the issue using Kubespray `v2.14.2`

**inventory/dev/hosts.yml**
[code]

[code]

[code]

Suggest you check the health of the etcd cluster and the network connectivity between the nodes via the etcd port `2379`.

e.g.
[code]

If `etcd` is not even starting on any of the nodes then check the CentOS system logs to find out if any of the K8s services are generati

[2020-11-16 02:07] liupeng0518 opened #6911 "etcd gen_certs_script.yml issue"
https://github.com/kubernetes-sigs/kubespray/blob/0f7341bdde2c64c2261ae5384ce699c3aca49a79/roles/etcd/tasks/gen_certs_script.yml#L97

When I deploy 500 nodes, this step may take more than 10 hours.
Thank you all.

[2020-11-16 02:09] liupeng0518 commented on #6911
The more nodes, the longer this step will take.

[2020-11-16 12:39] supabibz commented on #6904
@floryut PR #6912 submitted.

[2020-11-16 15:53] anthr76 opened #6914 "Cri-o is unable to pull Arm64 Calico node:v3.16.4 image."
**Environment**:
- **Cloud provider or hardware configuration:** Arm64 Raspberry Pis Bare Metal/Mixed Architecture

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** 20.04.1 LTS (Focal Fossa) 5.4.0-1015-raspi aarch64

- **Version of Ansible** (`ansible --version`): 2.9.15

- **Version of Python** (`python --version`): 3.9.0

**Kubespray version (commit) (`git rev-parse --short HEAD`):

[2020-11-16 16:07] anthr76 commented on #6914
FWIW:

It looks like pulling the manifest for quay is successful.

[code]

[2020-11-16 16:42] anthr76 commented on #6914
var `calico_node_image_repo: "{{  quay_image_repo  }}/calico/node"` Resolves this issue then fails on `docker.io/calico/cni` nevertheless this seems like a cri-o or dockerhub issue.

[2020-11-16 16:47] anthr76 commented on #6914
Nevertheless would it be desirable to swap the calico images to quay instead of dockerhub considering the newly imposed rate limits by dockerhub?

[2020-11-16 19:35] anthr76 commented on #6914
I resolved this for taking the later and running off the master branch instead of a versioned tag. My original environment on was on https://github.com/kubernetes-sigs/kubespray/commit/75d648cae53eb6b83acb9b75b868ea29eec480d3 manually setting K8s version 1.19.3 on this version cri-o version was defaulted to 1.17 causing me to run into this bug https://github.com/cri-o/cri-o/issues/3233

[2020-11-16 19:35] #6914 closed

[2020-11-16 22:48] oomichi commented on #6904
Thanks for writing the detail here.
This is really helpful to review the PR.

[2020-11-17 02:34] lijingchun0 commented on #6874
Does it have anything to do with using a proxy

[2020-11-17 08:29] zrks opened #6917 "Is it possible to install k8s components separately?"
Hi - is it possible to use kubespray to install components, e.g. - dashboard, separately?
For example - to reset state of dashboard configurations.

[2020-11-17 09:45] wayne-o opened #6918 "Can't add masters to cluster"
Adding masters to my cluster fails with

`No such file or directory: b'/usr/local/bin/kubeadm`

This is on the `Upload control plane certificates` step

[2020-11-17 13:28] floryut commented on #6917
Yes it is : https://github.com/kubernetes-sigs/kubespray/blob/master/docs/ansible.md

Some are missing though, the Kubernetes Dashboard might be install with the tag dashboard (https://github.com/kubernetes-sigs/kubespray/blob/0f7341bdde2c64c2261ae5384ce699c3aca49a79/roles/kubernetes-apps/ansible/tasks/main.yml#L74)

[2020-11-17 17:13] OwenTuz opened #6920 "Cannot start containerd on Centos 8 due to missing libseccomp"
**Environment**:
- **Cloud provider or hardware configuration:** Vagrant (virtualbox)
- **OS :** [Centos 8](https://app.vagrantup.com/centos/boxes/8)
- **Kubespray version (commit) (`git rev-parse --short HEAD`):** 0f7341bd (current master)

**Command used to invoke ansible**:

Standard Vagrant commands as documented in the README, with `$os` set to run on CentOS 8:
[code]

**Output of ansible run

[2020-11-17 17:54] anthr76 opened #6921 "Arm64/Unsupported Architectures on etcd will fail when etcd_kubeadm_enabled is true"
**Environment**:
- **Cloud provider or hardware configuration:** Bare Metal/Mixed Architecture

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** 20.04.1 LTS (Focal Fossa) 5.4.0-1015-raspi aarch64 & amd64

- **Version of Ansible** (`ansible --version`): 2.9.15

- **Version of Python** (`python --version`): 3.9.0

**Kubespray version (commit) (`git rev-parse --short HEAD`):**  0f7341bd

[2020-11-17 19:34] anthr76 commented on #6921
It looks like etcd and kube-apiserver are failing

[2020-11-18 09:15] snowmansora opened #6924 "kube-proxy kubeconfig apiserver is wrong when using kubespray 2.14"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):
2.9.15

- **Version of Python** (`python --version`):
2.7.17

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
2.14.2

**Network plugin used**:
Flannel

**Full inventory with variables (`ansible -i inventory/

[2020-11-18 09:58] floryut commented on #6924
The `kube_proxy_remove` was indeed remove with https://github.com/kubernetes-sigs/kubespray/pull/6512

[2020-11-18 13:06] OwenTuz opened #6925 "PEP8-related test failures in inventory-builder CI"
**Which jobs are failing**: tox-inventory-builder

**Which test(s) are failing**:
flake8: `ERROR: InvocationError for command /bin/bash -c 'find /builds/kargo-ci/kubernetes-sigs-kubespray/contrib/inventory_builder/* -type f -name '"'"'*.py'"'"' -print0 | xargs -0 flake8' (exited with code 123)`

**Since when has it been failing**: Not sure, at least 24 hours

**Testgrid link**: https://gitlab.com/

[2020-11-18 13:23] hafe commented on #6925
this is already work in progress

[2020-11-18 13:28] OwenTuz commented on #6925
@hafe ah, sorry if I missed an issue. We can close/ignore the PR above if it's being addressed elsewhere.

[2020-11-18 13:43] hafe commented on #6925
No worries, it wasn't just this problem but more...

[2020-11-18 14:35] basvandenbrink commented on #6233
We also faced this issue. I am working on a pull request to fix this.

[2020-11-18 15:28] OwenTuz commented on #6925
Closing based on the above - thanks for fixing :)

[2020-11-18 15:28] #6925 closed

[2020-11-19 11:09] tongpu commented on #6858
One of my colleagues (@eyenx) has successfully joined Windows nodes to an existing kubespray cluster and we have a customer that might be wiling to invest in the work required to bring Windows node support to kubespray, because it would make maintaining their cluster easier in the future.
I'm not sure how much work would be required to seamlessly integrate it with the bootstrap and upgrade tasks.

[2020-11-19 11:12] tongpu commented on #5432
I could support regarding Debian and Ubuntu, because that's the main OSes that we're currently deploying kubespray onto.

[2020-11-19 13:48] basvandenbrink opened #6929 "Multus causes CRI-O to restart"
Currently, Multus is configured to restart CRI-O when Multus is started. According to the Multus docs, this is non-default behaviour and is rarely necessary. Furthermore, restarting CRI-O during the start of CRI-O causes errors on our side.

**Error**:
[code]
**Quote from the docs**:

https://intel.github.io/multus-cni/doc/how-to-use.html

The caused that configures Multus to restart CRI-O is here

[2020-11-19 15:28] gutek9 commented on #1301
According to latest changes in DockerHub (https://www.docker.com/blog/scaling-docker-to-serve-millions-more-developers-network-egress/), maybe it's worth considering to add such feature? For example, when I provision a lot of environments using Kubespray, I am reaching regularly anonymous limit of pulls.

Maybe some way of providing templated config.json? Or providing credentials with group_vars (

[2020-11-19 19:26] msteenhu commented on #5713
With current master I had to change this to get kubespray containerd past this error.
[code]

[2020-11-19 21:34] anthr76 commented on #6921
This issue lied with `etcd_kubeadm_enabled` being true. Like kubespray does with the host managed etcd, if you're on arm platform you will need to set the environment variable `ETCD_UNSUPPORTED_ARCH=arm64`. It looks like to have etcd managed by kubeadm we would have to make a modification to the static Pod manifest for local etcd. I'm not entirely sure if there's a pretty way on doing that https:/

[2020-11-20 00:39] #5922 closed

[2020-11-20 08:06] techcloudim commented on #3985
This is expected behaviour in Ansible 2.8.  https://github.com/ansible/ansible/issues/56072

you need to follow below syntax
[code]

[2020-11-20 13:58] basvandenbrink opened #6932 "Allow configuring container log limits for kubelet"
**What would you like to be added**:
I would like to be able to set the following configuration variables for kubelet:
- **containerLogMaxFiles**: Maximum number of container log files that can be present for a container.
- **containerLogMaxSize**: A quantity defines the maximum size of the container log file before it is rotated.

**Why is this needed**:
So I can finetune the rotation behaviour o

[2020-11-20 15:41] hadib opened #6934 "modprobe nf_conntrack_ipv4 fails on 4.18.0-240.1.1.el8_3.x86_64 x86_64 (RHEL 8.3)"
kubespary tag: v2.14.2

#sudo modprobe nf_conntrack_ipv4
modprobe: FATAL: Module nf_conntrack_ipv4 not found in directory /lib/modules/4.18.0-240.1.1.el8_3.x86_64

#uname -srm
Linux 4.18.0-240.1.1.el8_3.x86_64 x86_64

#cat /etc/os-release
NAME="Red Hat Enterprise Linux"
VERSION="8.3 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.3"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linu

[2020-11-20 18:00] bmelbourne commented on #6616
@divramod
any further thoughts on this issue, or can we close?

[2020-11-20 18:04] bmelbourne commented on #6874
@lijingchun0
Can you add some context to the question "Does it have anything to do with using a proxy"?

Your etcd cluster nodes should all be hosted on the same subnet, and hence network connectivity should be direct via port `2379` with no need for proxies.

[2020-11-20 18:06] bmelbourne commented on #6899
@moss2k13
Any further thoughts regarding my previous comment, or can we close?

[2020-11-20 19:25] moss2k13 commented on #6899
After the weekend I'll test one change in
https://github.com/kubernetes-sigs/kubespray/blob/0f7341bdde2c64c2261ae5384ce699c3aca49a79/roles/kubernetes-apps/ingress_controller/cert_manager/templates/deploy-cert-manager.yml.j2#L153
I'm curious whether I can provide $(POD_NAMESPACE) there to make it work as expected.

[2020-11-20 21:18] bmelbourne commented on #6899
@moss2k13
I haven't considered that the default cert-manager namespace would form part of the dynamic dns names.
Good spot!

[2020-11-20 22:46] emersonford opened #6935 "`etcd_peer_addresses` doesn't use `etcd_access_address`"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`): `Python 3.6.8`

**Kubespray version (commit) (`git rev-parse --short HEAD`):** Present on both `v2.14.2` and `0f7341b`

**Network plugin used**:  Calico

**Full

[2020-11-21 14:57] elgamal2020 opened #6938 "Kubectl config configurations"
to be optional

mkdir -p $HOME/.kube

sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config

sudo chown $(id -u):$(id -g) $HOME/.kube/config

**Why is this needed**:
to have kubectl configured on the node so no extra steps will be required in case of Kubespray managed from the nodes.

[2020-11-21 15:17] #6004 closed

[2020-11-21 19:46] danilo404 opened #6939 "Docker systemd service file should not be created for Fedora CoreOS"
**Environment**:
- **Cloud provider or hardware configuration:**
Baremetal
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.8.17-200.fc32.x86_64 x86_64
NAME=Fedora
VERSION="32.20201104.3.0 (CoreOS)"
ID=fedora
VERSION_ID=32
VERSION_CODENAME=""
PLATFORM_ID="platform:f32"
PRETTY_NAME="Fedora CoreOS 32.20201104.3.0"
ANSI_COLOR="0;34"
LOGO=fedora-logo-icon
CPE_NAME="cpe:/o:fedorap

[2020-11-23 04:59] lijingchun0 commented on #6874
![image](https://user-images.githubusercontent.com/26979634/99930310-8f21e780-2d8b-11eb-9294-7295f0f55d22.png)
in inventory/sample/group_vars/all/all.yml