[2021-08-19 08:18] al8ba commented on #7886
@rosskusler Agreed - this *is* a port number issue: Since the metrics-server as currently configured uses port 443 it needs *NET_BIND_SERVICE* to have a hope of starting.

[2021-08-19 16:41] CodingSpiderFox commented on #7317
/remove-lifecycle stale

[2021-08-19 22:37] #7882 closed

[2021-08-19 23:18] oomichi commented on #7882
@rtsp Thanks for your work :-)

[2021-08-20 07:12] #7395 closed

[2021-08-20 16:23] oomichi opened #7893 "packet_centos8-calico is failing"
**Which jobs are failing**:

packet_centos8-calico

**Which test(s) are failing**:

`TASK [kubernetes-apps/metrics_server : Metrics Server | Apply manifests] *******`

- https://gitlab.com/kargo-ci/kubernetes-sigs-kubespray/-/jobs/1511276903
- https://gitlab.com/kargo-ci/kubernetes-sigs-kubespray/-/jobs/1519343292

[code]

**Since when has it been failing**:

**Testgrid link**:

**Reason for failu

[2021-08-20 16:29] oomichi commented on #7893
[code]

[2021-08-20 16:29] oomichi commented on #7893
[code]

[2021-08-20 22:06] oomichi commented on #7893
another issue on the same job.
[code]
metrics-server is not ready.

[2021-08-21 03:46] champtar commented on #7604
/remove-lifecycle stale

[2021-08-21 20:08] scila1996 opened #7896 "Support to write custom playbook for before/after deploy"
Hi kubespray team !

I have an idea. Before run `ansible-playbook` cluster.yaml/upgrade.yaml or reset.yaml, we can write several tasks for prerequisite or preparing or task for finish deploy, example.

* Prerequisite
  * Timezone Setup
  * User add, create for System Administrator
  * Server hardening
  * Proxy Setup

* Finish task
  * Install Kubernetes App with helm or yaml deployment from Ansib

[2021-08-22 18:43] CodingSpiderFox commented on #7234
/remove-lifecycle stale

[2021-08-22 21:09] cristicalin commented on #7893
This is related to https://github.com/kubernetes-sigs/kubespray/issues/7874

[2021-08-23 13:47] faust64 commented on #7835
Insecure registries already can be configured from the `containerd_config` variable, using something like this:

[code]

As for authentication, the following was just merged: kubernetes-sigs/kubespray#7868

[2021-08-23 13:49] floryut commented on #7835
Closing then ? (thanks @faust64)

[2021-08-23 14:21] mac-chaffee opened #7900 "'Check RHEL subscription-manager status' hangs due to missing proxy config"
When running `cluster.yml` on a RHEL8 machine that has to use a proxy to connect to Red Hat Satellite, the play will hang on the step `Check RHEL subscription-manager status`.

I think the reason is that `subscription-manager` doesn't seem to pull proxy configuration from either environment variables or dnf.conf. Looks like you have to pass `--proxy` to the command itself: https://linux.die.net/ma

[2021-08-23 14:48] irizzant commented on #6595
/remove-lifecycle stale

[2021-08-24 17:35] scila1996 opened #7909 "Deploy kubespray without CNI"
Hi all

I want to deploy my cluster without CNI or any pod add-on installed on. I was set

[code]

But I was failed to assert `roles/kubernetes/preinstall/tasks/0020-verify-settings.yml`. Please add support or how can I deploy without CNI installed. Thank !

[2021-08-24 18:41] #7909 closed

[2021-08-25 08:57] LuckySB commented on #7886
@rosskusler and @al8ba absolutely right

PR created

[2021-08-26 19:36] brunocascio opened #7913 "New release?"
Hi guys,

Do you plan to make a new release soon?

v2.16.0 does not work properly for me but master code works like a charm!

Thanks

[2021-08-27 10:05] ThomasLohmann opened #7914 "Kubernetes v1.22 support?"
Hi everyone,

when will Kubernetes v1.22 be supported by Kubespray? Any release plan available?

Regards,
Thomas

[2021-08-27 11:41] #7914 closed, assigned to nobody

[2021-08-27 12:15] Tasmana-banana opened #7915 "FAILED! kubernetes/client : Write admin kubeconfig on ansible host"
[code]

What wrong?

[2021-08-27 23:15] senorsmile commented on #7884
+1

In order to meet the 2.11.0 spec, you must

[code]

[2021-08-28 15:44] #5550 closed

[2021-08-29 00:17] brunocascio commented on #7913
Thank you so much

[2021-08-29 15:52] #7424 closed

[2021-08-29 17:52] #7428 closed

[2021-08-31 05:53] lhzw commented on #7031
LET'S JUST MODIFY THE variables in roles/!!
It does not work when we add key 'kube_apiserver_node_port_range' to inventory/:
roles/kubernetes/control-plane/defaults/main/main.yml:kube_apiserver_node_port_range: "30000-32767"
roles/kubernetes/node/defaults/main.yml:kube_apiserver_node_port_range: "30000-32767"
inventory/mycluster/group_vars/k8s_cluster/k8s-cluster.yml:kube_apiserver_node_port_range

[2021-08-31 06:24] lhzw commented on #7031
It does not work, kubeadm-config and apiserver still use 30000-32767:

root@ceph1:20210831 14:04:20:kubernetes# grep -R 2000 *
calico-node.yml:              value: "2000:32767"
kubeadm-config.yaml:    service-node-port-range: 2000-32767
root@ceph1:20210831 14:08:31:kubernetes#

roles/kubernetes/control-plane/defaults/main/main.yml:kube_apiserver_node_port_range: "30000-32767"
roles/kubernetes/node

[2021-08-31 06:55] lhzw commented on #7031
This works for me:
inventory/mycluster/group_vars/k8s_cluster/k8s-cluster.yml:kube_apiserver_node_port_range: "2000-32767"

Need to reset if a cluster is ready, I didn't try the upgrading yet.

[2021-09-01 07:59] riupie opened #7929 "How to pass kube-api-server parameter on kubespray?"
Is there any variable I can use to pass below parameter on kube-api-server? I found this doc https://github.com/kubernetes-sigs/kubespray/blob/master/docs/kubernetes-reliability.md but it is not mentioned how to configure that before deploy cluster.
[code]

[2021-09-01 10:20] shiqinfeng1 opened #7930 "Fail to run cephFS!"
**Kubespray version  ： release-2.16

run kubespray in docker with release-2.16,  enable cephFS, and could not create PVC

Error log is:

kubectl logs pod cephfs-provisioner-67cf868ffc-xzs7q -n cephfs-provisioner

[code]

[2021-09-01 17:21] #7836 closed

[2021-09-02 09:16] lhw opened #7932 "Failure to add new nodes to existing cluster"
**Environment**:
- **Cloud provider or hardware configuration:**
VMWare VM Control-Plane and Bare-metal Worker

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.4.0-81-generic x86_64
NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"

- **Version of Ansible** (`ansible --version`):
2.9.20

- **Version of Python** (`python --version`):
3.9.2

**Kubespray version (commit) (`git

[2021-09-02 13:36] jurgeng-ot commented on #7857
This is working for us:
[code]

[2021-09-02 14:51] floryut commented on #7857
Hum good to know but strange enough, all my install (and CI) are running with `kube-cert` fine 🤷

[2021-09-02 19:57] AddoSolutions commented on #7198
For those that found this like I did, you appear to need at least 3 (or perhaps just now two) etcd nodes, I assume to prevent splitbrain?

[2021-09-03 09:58] #7363 closed

[2021-09-03 13:20] es1o opened #7934 "kubespray doesn't support two architectures in one cluster"
**Environment**:
- Virutal Machines in Oracle Cloud

- node1,2:
[code]

- node3,4:
[code]

- **Version of Ansible** : ansible 2.10.11

- **Version of Python** : python version = 3.8.10 (default, Jun  2 2021, 10:49:15) [GCC 9.4.0]

**Kubespray version (commit) :** 425b6741

**Network plugin used**: calico

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all -m debug -a "

[2021-09-03 16:38] lhw commented on #7932
It might have something to do with the issue mentioned in the kubeadm troubleshooting guide:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#not-possible-to-join-a-v1-18-node-to-a-v1-17-cluster-due-to-missing-rbac

It somewhat looks like the issue from the guide but the role and rolebinding do exist and other clusters using the same versions exist as

[2021-09-04 08:47] es1o commented on #7934
I realized that calico ships multiarch images: https://hub.docker.com/r/calico/pod2daemon-flexvol/tags?page=1&ordering=last_updated that can be used in DaemonSet.

[2021-09-04 16:44] cristicalin opened #7937 "etcd upgrade failure from kubernetes 1.21.4 -> 1.22.1"
During an upgrade from kubernetes 1.21.4 (with containerd and calico) to kubernetes 1.22.1, the etcd upgrade failed and the upgrade was rolled back.

**Environment**:
- **Cloud provider or hardware configuration:** baremetal single node

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.11.0-27-generic x86_64
NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=

[2021-09-04 17:17] cristicalin commented on #7937
Turns our my issue was related to `dynamic_kubelet_configuration=True` in my inventory. Kubernetes 1.22.1 requires a feature gate enabled for dynamic configuration according to the logs:

[code]

We should ensure this is properly disabled when `kube_version` >= 1.22.0 to avoid upgrade issues.

[2021-09-04 22:22] cristicalin opened #7941 "Download containerd from github instead of relying on docker builds"
**What would you like to be added**:
Replace the containerd deployment logic with one unified between different distros that fetched the containerd binaries from the github containerd organization instead of relying on out of date builds from docker and distro specific repositories.

**Why is this needed**:
Currently contained support is conditioned on `containerd.io` package availability from doc

[2021-09-05 03:46] vibecoder commented on #5347
Sadly the issue still exist. Just faced the same issue today and this is the first result that comes when you google the error.

[2021-09-05 05:19] #7460 closed

[2021-09-05 09:19] #7430 closed

[2021-09-05 23:21] #7473 closed

[2021-09-06 11:06] lhw commented on #7932
Running the "ungraceful" update via `cluster.yml` over all nodes in the cluster allowed us to add new nodes to the cluster. So I am guessing the `scale.yml` playbook and the `--limit`ed `cluster.yml` playbook are missing some crucial steps in some corner cases.

[2021-09-07 07:42] Mikhail2048 commented on #7870
Any updates?

[2021-09-07 08:17] floryut commented on #7870
You need to provide the variable you changed or something.
Calico version is default to `calico_version: "v3.19.2"` (or something depending on your spray version)
And calico node image tag is defaulting to
`calico_node_image_tag: "{{ calico_version }}{%- if image_arch != 'amd64' -%}-{{ image_arch }}{%- endif -%}"`

[2021-09-07 17:09] cloud-66 commented on #7941
newer version of containerd is not widely used, because it doesn't exist in docker repo. Despite this, i think , it is good idea to have one unified distr of containerd between different distros. It simplifies offline installation, because using binaries is not necessary to create private dep\yum repository with only one containerd package

[2021-09-07 17:47] #7937 closed

[2021-09-07 18:26] CodingSpiderFox commented on #7362
/remove-lifecycle rotten

[2021-09-07 19:58] rptaylor commented on #7019
/remove-lifecycle stale

[2021-09-08 07:37] #7889 closed

[2021-09-08 09:32] MartLTB opened #7945 "external_cloud_provider openstack can't work with username and password"
I'm trying to deploy the external_cloud_provider for openstack via the external_cloud_controller/openstack role and noticed that this won't work when using auth via simple username and password from a sourced Openstack RC file instead of application credentials. The openstack-cloud-controller-manager pod(s) always failed to come up with the message

`1 controllermanager.go:124] Cloud provider coul

[2021-09-08 13:44] SamirNabadov commented on #5303
The time between nodes must be the same. After matching the times of the nodes, the problem was solved.

[2021-09-08 15:39] jhchong92 opened #7946 "Jinjja template error when running task: CSI CRD | Generate Manifests"
**Environment**:
- **Cloud provider or hardware configuration:**
OpenStack
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
cat: /etc/os-release: No such file or directory
Darwin 20.6.0 x86_64
- **Version of Ansible** (`ansible --version`):
ansible 2.10.11
- **Version of Python** (`python --version`):
Python 2.7.16

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
69b67

[2021-09-08 15:51] floryut commented on #7946
@jhchong92 wow nice I guess you're right
@cristicalin

[2021-09-08 16:50] jhchong92 opened #7948 "Invalid Deployment resource definition in snapshot-controller.yml.j2"
**Environment**:
- **Cloud provider or hardware configuration:**
OpenStack
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
cat: /etc/os-release: No such file or directory
Darwin 20.6.0 x86_64
- **Version of Ansible** (`ansible --version`):
ansible 2.10.11
- **Version of Python** (`python --version`):
Python 2.7.16

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
0b20c

[2021-09-08 19:55] floryut opened #7951 "Release Proposal v2.17"
Below is a proposal for release notes:

# Announcements
We are looking for maintainers, reach out in #5432.

# Deprecation / Removal
* Drop support for Fedora 32 (#7657)

# Major changes
* Add support for Fedora 34 (#7657)
* Add Debian 11 (bullseye) support (#7853)
* Enable Graceful Node Shutdown for Kubernetes >= 1.21.0 (#7746)
* Move to Ansible 3.x by default (#7672) **_(see Notes 1)_**
* Set se

[2021-09-08 19:59] #7946 closed

[2021-09-08 20:05] #7948 closed

[2021-09-08 20:37] rtsp commented on #5432
I think I could help with Debian if it's still need.

[2021-09-08 20:42] floryut commented on #5432
Always, thank you

[2021-09-09 03:56] jhchong92 opened #7954 "cinder-csi-cloud-config template error"
**Environment**:
- **Cloud provider or hardware configuration:**
OpenStack
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
cat: /etc/os-release: No such file or directory
Darwin 20.6.0 x86_64
- **Version of Ansible** (`ansible --version`):
ansible 2.10.11
- **Version of Python** (`python --version`):
Python 2.7.16

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
a7b56

[2021-09-09 05:12] jhchong92 opened #7956 "snapshot-controller invalid image repository"
**Environment**:
- **Cloud provider or hardware configuration:**
OpenStack
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
cat: /etc/os-release: No such file or directory
Darwin 20.6.0 x86_64
- **Version of Ansible** (`ansible --version`):
ansible 2.10.11
- **Version of Python** (`python --version`):
Python 2.7.16

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
a7b56

[2021-09-09 08:47] #7487 closed

[2021-09-09 12:13] crinjes commented on #7786
I've noticed the same using the v2.16.0 docker image. Kubeadm config is generated, but whatever makes kubeadm generate the updated kube-apiserver manifest is not run when using `cluster.yml`.

Two options that work:
- run `upgrade-cluster.yml`
- run `cluster.yml` with `-e upgrade_cluster_setup=true` (See [Upgrades/Unsafe upgrade example](https://kubespray.io/#/docs/upgrades?id=unsafe-upgrade-examp

[2021-09-09 15:10] #7956 closed

[2021-09-09 17:04] #7954 closed

[2021-09-09 19:10] mlorenzo-stratio opened #7958 "Azure deployment may fail if VMs have additional disks attached"
**Description**:
Azure deployment may fail if VMs have additional disks attached. Kubespray assumes root filesystem device will always be `/dev/sda1`: https://github.com/kubernetes-sigs/kubespray/blob/bcf695913f5332c0acf08b206cc055c9482664d9/roles/kubernetes/preinstall/tasks/0120-growpart-azure-centos-7.yml#L11

**Environment**:
- **Cloud provider or hardware configuration:** `Azure`

- **OS (`pri

[2021-09-10 06:47] dr-duke opened #7960 "manual_dns_server variable is interpreted as a string and a comma-separated string"
Kubespray version (commit): *83f64a7f*

The templates use the manual_dns_server variable interpreted as a string and a comma-separated string at the same time.
It seems correct to use a list for the manual_dns_server variable.

`kubespray/roles/kubernetes/control-plane/templates/kubeadm-config.v1beta2.yaml.j2` - string
`kubespray/roles/kubernetes/node/templates/kubelet-config.v1beta1.yaml.j2` - st

[2021-09-10 10:11] #7696 closed

[2021-09-10 15:03] #7496 closed

[2021-09-10 15:18] D3DeFi opened #7962 "Adding more control nodes fails when kube_apiserver_bind_address is set"
Hi,
**Environment**:
- bare-metal

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`):
Python 3.9.5

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
bcf69591 (2.16.0 release)

**Network plugin used**:
Calico

**Anything else do we need to know**:
Hitting a situatio

[2021-09-10 19:21] #7577 closed

[2021-09-10 19:39] rtsp opened #7963 "iptables not installed on Debian 11 if apt configured with Install-Recommends=0"
**Environment**:

- **OS:** Debian 11 (bullseye)
- **Hardware configuration:** QEMU-KVM installed with `netinst` media (without `iptables` preinstalled)
- **Kubespray version (commit):** 60853fa682816daf581597c4334ee7d8964293c2

Previously on Debian 10 and earlier, `ipset` [**"required"**](https://packages.debian.org/buster/ipset) `iptables` so it's automatically install after running this task.

[2021-09-10 21:24] rtsp opened #7965 "containerd failed to start if apparmor is not installed (Debian 11)"
**Environment**:

- **OS:** Debian 11 (bullseye)
- **Hardware configuration:** QEMU-KVM image which `apparmor` removed
- **Kubespray version (commit):** 60853fa682816daf581597c4334ee7d8964293c2
- **container_manager**: `containerd`

Kubespray deployment failed when deploy with `containerd` backend on target which `apparmor` was previously removed

[code]

After investigation in `/var/log/syslog` I

[2021-09-11 18:33] olevitt commented on #7574
Here is a "fix" we came up with.
Basically it updates `containerd` and `runc` and then reboots.
Not sure how dirty this is and if I understood everything correctly, use at your own risk !
From what I understood, this fix is only needed if you stay on kubespray v2.16 (as later versions will bundle a more recent `containerd` / `runc`) and obviously if you are using docker as engine.
Feel free to com

[2021-09-11 22:13] #7252 closed

[2021-09-12 09:18] #7471 closed

[2021-09-12 10:19] #7509 closed

[2021-09-12 21:32] senorsmile commented on #7317
Here's a sample repo I've just created for my own experimentation: https://github.com/senorsmile/kubespray_example.

I believe there are issues with Metallb, but everything else seems to be working for me (atm).

The latest version as of this writing is: https://github.com/senorsmile/kubespray_example/tree/0013b724fb5d7d7abb198a516809f6bf61da71cf.

[2021-09-13 11:03] haminhcong commented on #7810
I have same issue with @mhabicht in CentOS 7

[2021-09-13 11:08] champtar commented on #7810
@haminhcong are you by any chance using an old CentOS 7 version ?

[2021-09-13 11:14] champtar commented on #7810
@mhabicht Ubuntu 16.04 is just too old and the version of systemd there doesn't support the 'timespec' we use.

[2021-09-13 11:31] mhabicht commented on #7810
@champtar Understood. What is the minimum Ubuntu version, I did not see that listed in the requirements for 15.1? If it is 18, let me ask if 20 is supported yet?

[2021-09-13 11:40] champtar commented on #7810
Kubespray CI has both 18.04 and 20.04 if I remember correctly, so yes 20.04 is supported

[2021-09-13 11:41] mhabicht commented on #7810
@champtar Does this setting affect the self cert renewal at 365 days?

[2021-09-13 11:52] champtar commented on #7810
Not sure to understand your question

[2021-09-13 11:56] haminhcong commented on #7810
@champtar No, i don't think my OS is too old. It is 2020 update version
[code]

[2021-09-13 12:00] mhabicht commented on #7810
@champtar The core certs expire after 365 days. Originally it was thought that 1 Kube 15.3 had the fix to renew these certs, but there was a bug. This bug was fixed in 19.9.
Is the k8s-certs-renew.timer required for the certs to auto redeploy prior to 365 days? or at day 366 will I get the cert exp error when I run kubectl get pods?

[2021-09-13 12:19] champtar commented on #7810
The timer just runs the script to do the cert renew, you can run the script manually

[2021-09-13 12:24] champtar commented on #7810
Both: maybe you don't have https://github.com/kubernetes-sigs/kubespray/pull/7472 in the version you are using

[2021-09-13 12:35] nleconte-csgroup commented on #7945
Same here.

**Pyton :**
Python 3.8.10

**OS :**
Linux 5.4.0-84-generic x86_64
NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.3 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/p

[2021-09-13 18:17] rayterrill opened #7967 "Delete node playbook fails to delete node when cloud_provider is aws"
This line results in an error message which is ignored during the playbook run:

https://github.com/kubernetes-sigs/kubespray/blob/aa00c1d91ac9f4b6053b10aacd3fd1a6b7f50381/roles/remove-node/post-remove/tasks/main.yml#L3

Error:
[code]

This appears to be happening because of this config in roles/kubernetes/kubeadm/defaults/main.yml:
[code]

[2021-09-13 22:31] dlouks commented on #7711
/remove-lifecycle stale

[2021-09-13 23:04] oomichi commented on #7951
Thanks for this work @floryut !

[2021-09-13 23:38] oomichi commented on #7962
@D3DeFi Thank you for your report.
Did you use cluster.yml or scale.yml when facing this issue to add a master node?

[2021-09-14 04:26] D3DeFi commented on #7962
cluster.yml, my nodes are untainted masters with etcd.

[2021-09-14 07:10] vishumindtree opened #7968 "How to override installation of a software package."
How can we override  software installation version via  extravars to avoid below software version conflicts :-

"msg": "'/usr/bin/apt-get -y -o \"Dpkg::Options::=--force-confdef\" -o \"Dpkg::Options::=--force-confold\"      install 'containerd.io=1.4.4-1' 'docker-ce-cli=5:19.03.15~3-0~ubuntu-bionic' 'docker-ce=5:19.03.15~3-0~ubuntu-bionic'' failed: E: Packages were downgraded and -y was used witho

[2021-09-14 15:19] #7963 closed

[2021-09-14 19:37] tongpu commented on #7574
We just upgraded to containerd v1.4.9 on Ubuntu by adding the required key to `containerd_versioned_pkg` in [roles/container-engine/containerd-common/vars/ubuntu.yml](https://github.com/kubernetes-sigs/kubespray/blob/713abf29ca56555802fe4dfc3312a6ad11ca01ed/roles/container-engine/containerd-common/vars/ubuntu.yml). Could this be a change that would warrant the release of v2.16.1?

[2021-09-14 23:45] #7406 closed

[2021-09-15 07:58] floryut commented on #7951
Thanks to you too for your continued work 🙇
I'll try to release tonight, otherwise tomorrow.

[2021-09-15 18:35] CodingSpiderFox commented on #7378
/remove-lifecycle stale

[2021-09-15 23:49] oomichi commented on #7884
The corresponding pull request is https://github.com/kubernetes-sigs/kubespray/pull/7887

[2021-09-16 08:40] D3DeFi commented on #7962
This is not the nicest solution, but after doing manual `kubeadm reset` on nodes that got incorrectly provisioned, with the following patches, I was able to add nodes to the cluster without problem:

[code]

[2021-09-16 11:11] #7365 closed

[2021-09-16 22:29] RaulButuc commented on #7951
Thank you very much for your work!

Regarding the recent vulnerability announced here: https://groups.google.com/g/kubernetes-announce/c/-e9OlTcED5E can we expect K8s v1.21.5 to be released with Kubespray tag v2.17.1?

[2021-09-17 06:34] floryut commented on #7951
yup the PR is ready, I'm waiting for a lgtm to release this version 👍

[2021-09-17 12:08] floryut commented on #7951
🎉

[2021-09-17 12:08] #7951 closed

[2021-09-17 12:28] floryut commented on #7951
And crap.. Found an issue with default k8s version, will retag/rerelease in a few hours 😫

[2021-09-17 12:34] RaulButuc commented on #7951
No worries, and thank you very much once again! 😄

[2021-09-17 14:24] ledroide opened #7979 "daemonset/calico-node probes settings : timeoutSeconds is not set and makes calico crashing"
This issue is directly related to [issue #4911](https://github.com/projectcalico/calico/issues/4911) in project [calico](https://github.com/projectcalico/calico/), that makes calico-node loop-crashing.
It can be solved by setting timeout values for probes in the daemonset/calico-node template - which is not settable today.

## Symptoms

Typically, when installing or upgrading with the _cluster.yml

[2021-09-17 18:18] oomichi opened #7982 "Failed to deploy on Azure RHEL8 vm"
**Environment**:
- **Cloud provider or hardware configuration:**

MS Azure
Standard D8s v3 (8 vcpus, 32 GiB memory)

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

[code]

- **Version of Ansible** (`ansible --version`):

v2.9.20

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

v2.16.0

**Network plugin used**:

Calico

**Command used to invoke ansible**:

[code]

*

[2021-09-17 18:19] oomichi commented on #7982
/retitle Failed to deploy on Azure RHEL8 vm

[2021-09-17 18:32] champtar commented on #7982
Do they have RHEL 8.4 ?

[2021-09-17 18:34] oomichi commented on #7982
Yes, they have. The recommendation seems RHEL8.2.
I did on both and faced the same issue.

[2021-09-17 18:41] oomichi commented on #7982
The failed task is https://github.com/kubernetes-sigs/kubespray/blob/b83e8b020a0da6befa852139fde01774f5d56a6b/roles/bootstrap-os/tasks/bootstrap-redhat.yml#L77-L78
The appstream repo is required on the task for container-selinux, but that is on different repo on the Azure vm:
[code]

[2021-09-17 18:42] oomichi commented on #7982
ah, I just need to set rhel_enable_repos false for this case.

[2021-09-17 18:46] champtar commented on #7982
WTF, Azure is recommending out of date software ?

[2021-09-17 18:46] oomichi commented on #7982
Setting `rhel_enable_repos: false` on inventory works for me.

/close

[2021-09-17 18:46] #7982 closed

[2021-09-17 18:47] oomichi commented on #7982
Yeah, I had the same question about that.

[2021-09-17 19:19] jeremy-chua commented on #6875
I'm facing the same issue. Anyone willing to share a solution? I'm using WSL Ubuntu 20.04

➜  kubespray git:(master) ansible --version
ansible 2.10.11
  config file = /home/jeremy/kubespray/ansible.cfg
  configured module search path = ['/home/jeremy/kubespray/library']
  ansible python module location = /home/jeremy/.local/lib/python3.8/site-packages/ansible
  executable location = /home/jeremy/.

[2021-09-17 23:08] #7979 closed

[2021-09-18 05:56] lhzw opened #7983 "No installation of kubeadm when skipping tag download and container-engine"
**Environment**:
- **Cloud provider or hardware configuration:**
My own ubuntu 20.04.

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.4.0-42-generic x86_64
NAME="Ubuntu"
VERSION="20.04.1 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.1 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="htt

[2021-09-18 12:58] cristicalin opened #7985 "Petition to change the default container_manager to containerd"
**What would you like to be added**:
Change the default container_manager to containerd.

**Why is this needed**:
With containerd being the only option that allows selecting runtimes like runc, kata-containers and gvisor and with upstream Kubernetes deprecating the docker-shim I think it is time to consider changing our own default to containerd and document how deployers that still require docker

[2021-09-18 13:02] cristicalin opened #7986 "Add support for kube-vip"
**What would you like to be added**:
Add `kube-vip` (https://kube-vip.io) as a control plane loadbalancer for the kubernetes API and as a service loadbalancer.

**Why is this needed**:
`kube-vip` is a modern loadbalancer designed specifically for kubernetes, similar to metallb to a degree which can be deployed a both a control plane LB to allow access to the Kubernetes API (an alternative to our n

[2021-09-18 13:10] cristicalin commented on #7878
@tigerpeng2001  your commands above effectively weaken the CIS hardening.

Note that kubespray does not test against CIS hardened configurations nor does the code check for non-standard setups like SELinux enabled on Debian / Ubuntu. There may be some non-trivial issues with this kind of configurations, if you require SELinux support for your environment you would be better served by a CentOS or R

[2021-09-18 14:09] champtar commented on #7985
Change default to containerd this release, remove docker next release (so much legacy code to nuke I'm excited :) )

[2021-09-18 20:43] scila1996 opened #7987 "Docker is installed on the etcd nodes. even though I set etcd_deployment_type: host"
Hi kubespray team

I was deployed my Kubernetes cluster with three etcd node seperate to store key-value database for kubernetes, it's only used for etcd cluster and not using same for kubernetes workload. Everything is ok, but in etcd.yaml, I was set config of `etcd_deployment_type` to `host`. But my server still install docker ? It's not necessary and Docker installed with default subnet is 172.

[2021-09-19 06:20] cristicalin commented on #7985
We should try to get upstream containerd to address https://github.com/containerd/containerd/issues/5524 before pursuing this change.

My own take is that we should deprecate the docker engine in next release but keep it around until 2.19 or 2.20 when we move beyond a kubernetes version that still supports the shim. I'm exited about the code cleanup as well but we don't quite have feature parity y

[2021-09-19 08:07] liupeng0518 commented on #7987
That's a real problem.

[2021-09-19 14:00] cristicalin commented on #7983
The `when` condition limits the action to kube control plane nodes: https://github.com/kubernetes-sigs/kubespray/blob/97d95775a5a6c8ad14f9046923049573305407ff/roles/kubernetes/node/tasks/install.yml#L10-L11

Can you share your inventory file and the output of `ansible -i <your_invetory_here> all -m debug -a "var=hostvars[inventory_hostname]"` ?

[2021-09-20 05:48] lhzw commented on #7983
[code]

[2021-09-20 06:27] lhzw commented on #7983
<details>
<summary>Click to expand</summary><p>

[code]
</p>
</details>

[2021-09-20 08:26] olevitt opened #7988 "Metrics-server : bind: permission denied"
Hi !

We just upgraded to Kubespray `v2.17.0` and since then, metrics-server fails to start with the following error :
[code]

I saw that there were some issues, PR and discussions linked to this matter recently on Kubespray (see https://github.com/kubernetes-sigs/kubespray/issues/7886 and related) but apparently this issue is not solved even though the pod has the correct capability to bind to th

[2021-09-20 10:30] olevitt commented on #7988
Update : I tried installing a brand new kubespray with the same configuration (but on VM instead of baremetal and debian 11 instead of centOS 7 for controlplanes) and everything works fine on it.
Could it be related to the OS / kernel version ?  I will make more tests to confirm / not confirm this.
Fails on :
[code]

Works on :
[code]

[2021-09-20 11:00] D3DeFi commented on #7843
Fixed in #7943

[2021-09-20 11:00] #7843 closed

[2021-09-20 11:57] olevitt commented on #7988
Update : I tested running `metrics-server` on a worker node (which are running debian 10 / kernel 3) instead of a controlplane to see if it managed to bind and yes. So I guess this may indicate that the issue is linked to centOS 7 / kernel 3.

[2021-09-20 12:58] #7542 closed

[2021-09-20 16:03] lazybetrayer opened #7990 "/usr/local/bin/k8s-certs-renew.sh: line 13: /usr/bin/cp: No such file or directory"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.4.0-84-generic x86_64
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubunt

[2021-09-20 16:20] lazybetrayer opened #7991 "playbook fails when ShutdownGracePeriod and ShutdownGracePeriodCriticalPods are set"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

Linux 3.10.0-514.26.2.el7.x86_64 x86_64
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https:

[2021-09-20 16:26] lazybetrayer commented on #7990
I think we can use `/bin/cp` according to https://refspecs.linuxfoundation.org/FHS_3.0/fhs-3.0.html#binEssentialUserCommandBinaries

[2021-09-20 16:37] champtar commented on #7991
Set kubelet_shutdown_grace_period_critical_pods to 180s

[2021-09-20 16:49] lazybetrayer commented on #7991
Still fails with `ShutdownGracePeriod (150s) needs to be greater than ShutdownGracePeriodCriticalPods (180s)`

[2021-09-20 16:55] champtar commented on #7991
Was on my phone, this is kubespray assertion failing, would need to convert the duration to something we can compare, so I think we should just remove this assertion

[2021-09-20 17:07] cristicalin commented on #7991
The defaults are:

[code]

So it is kind of strange why the issue does not show up for the defaults. If indeed ansible does string comparison then that would explain it and we need to fix it.

A simple check would seem to confirm this:

[code]

I'll push a patch tomorrow as it's a bit late in the evening for me right now.

[2021-09-20 17:15] cristicalin commented on #7991
Turns out the fix is rather simple...

[2021-09-20 18:59] djkormo opened #7994 "CVE-2021-33503 detected in kubespray 2.17.0 release"
I was trying to build kubespray image with version 2.17.0

Here is my github actions output

https://github.com/djkormo/kubespray/actions/runs/1254740897

home/containeruser/.local/lib/python3.6/site-packages/ansible_collections/netbox/netbox/poetry.lock (poetry)
============================================================================================================
Total: 2 (HIGH: 2, CRITICAL

[2021-09-20 20:02] CodingSpiderFox commented on #7230
/remove-lifecycle stale

[2021-09-21 01:32] kailunshi commented on #7988
same issue here, change allowPrivilegeEscalation: false => true fixes it.

But why did we change the port to 443 from 8443 in the first place? @L3o-pold could you please shed some light as you made this change along with the metric-server upgrade in https://github.com/kubernetes-sigs/kubespray/pull/7864?

Thank you!

[2021-09-21 07:36] #7990 closed

[2021-09-21 10:22] ralbon commented on #7988
Hi,

Same issue here, changing port 443 -> 4443 fixes also (CentOS 7)

I think using port 443 seems to be the target. If you check metric-server port has changed between [release-0.5](https://github.com/kubernetes-sigs/metrics-server/blob/release-0.5/manifests/base/deployment.yaml) and [release-0.4](https://github.com/kubernetes-sigs/metrics-server/blob/release-0.4/manifests/base/deployment.yaml).

[2021-09-21 13:12] dr-duke opened #7997 "coredns as secondary dns, when using nodelocaldns mode"
**What would you like to be added**:
When using the dns_mode nodelocaldns mode with the deployed coredns need to add coredns ipaddress as secondary dns.
**Why is this needed**:
Now nodelocaldns is single point of failure. Failed update or another issue with nodelocaldns causes inaccessibility dns on node.

[2021-09-21 13:36] AravindanSridhar commented on #6727
Facing the same issue..similar setup in azure too!

[2021-09-21 15:29] kailunshi commented on #7988
@ralbon thank you for the context. Maybe that's why @L3o-pold made the port change, though I disagree with a secondary service taking the 443 port from the host.

Anyways, due to this issue we have to stay with the previous kubespray version. Hope this gets sorted out in the next release.

[2021-09-21 18:42] djkormo commented on #7994
The tittle changed.

[2021-09-22 01:34] #7991 closed

[2021-09-22 05:58] lhzw opened #7999 "'image_info_command' is undefined, when running tag download"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
quay.io/kubespray/kubespray:v2.17.0
root@a8ef9b6c228c:/kubespray# cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://

[2021-09-22 07:18] floryut commented on #7999
Which container manager are you using ? could you post the full logs ?

[2021-09-22 08:35] lhzw commented on #7999
The default docker, here is the [log](https://gist.github.com/lhzw/ef6c345f40d11c26b4f7a36e44c14d7b).

[2021-09-22 09:01] floryut commented on #7999
Didn't check your command, my bad, you are only running `download` tag but you need `preinstall` tag to populate `image_info_command` var

[2021-09-22 09:13] floryut commented on #7999
You are ignoring `upload` tag which is skipping this tasks https://github.com/kubernetes-sigs/kubespray/blob/a517a8db0123e7465c2d0a8528b572be5ee48b1b/roles/download/tasks/main.yml#L2-L8

And that's the task which populate `image_info_command`

[2021-09-22 10:13] lhzw commented on #7999
Oh, thank you very much.

[2021-09-22 11:45] #7999 closed

[2021-09-22 15:20] sathieu opened #8002 "Allow monitoring of etcd when etcd_deployment_type=host"
**What would you like to be added**:

Currently, monitoring etcd is very hard for the following reasons:

- etcd is listening on https with client cert verification
- the keys are rotated
- etcd endpoints are not known inside the cluster

**Why is this needed**:

A production cluster needs etcd to be properly monitored.

See also https://gitlab.com/kubitus-project/kubitus-installer/-/issues/13.

*

[2021-09-22 20:04] miff2000 commented on #7113
I've run into these issues myself when performing upgrades @floryut. Shall I put in a PR to switch to `force: false` as you've suggested?

Any ideas why it was forced in the first place?

[2021-09-22 22:15] frankfil opened #8003 "Weave 2.8.1 fails to start due to missing volume mount"
**Environment**:
- **Cloud provider or hardware configuration:**
Bare metal (VMs)

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 3.10.0-1160.42.2.el7.x86_64 x86_64
NAME="CentOS Linux"
VERSION="7 (Core)"

- **Version of Ansible** (`ansible --version`):
ansible 2.10.11

- **Version of Python** (`python --version`):
Python 3.6.8

**Kubespray version (commit) (`git rev-parse --s

[2021-09-22 22:42] ericlake opened #8004 "typha prometheus settings cause a failing deploy"
**Environment**:
- Equinix

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`):
[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
2.17.0
[code]

**Network plugin used**:
calico

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all

[2021-09-22 23:05] ericlake commented on #8004
PR with my proposed changes https://github.com/kubernetes-sigs/kubespray/pull/8005

[2021-09-23 07:24] floryut commented on #7113
No clue why it was done like that in the first place 🤷

[2021-09-23 07:25] floryut commented on #8003
I'll try to take a look, that might be on me; maybe open up a PR if there is something missing

[2021-09-23 13:51] fferraro87 commented on #4501
hi i've same problem when start Gather ansible_default_ipv4 task from master

[2021-09-23 15:44] ericlake commented on #8004
The PR was approved and merged so this issue should be safe to close at this time.

[2021-09-23 15:46] #8004 closed

[2021-09-23 15:54] VannTen opened #8009 "kubespray-defaults is broken when gather_facts=no"
**Kubespray version (commit) (`git rev-parse --short HEAD`):**
master

**Command used to invoke ansible**:
ansible-playbook --flush-cache bug-no-proxy.yml

bug-no-proxy.yml
[code]
 ____________________

**Output of ansible run**:
[code]

**Anything else do we need to know**:

This happens when the role kubespray-defaults is used without the corrects facts
having been collected, which is the case i

[2021-09-23 16:02] ledroide opened #8010 "metrics-server gets OOMKilled - low memory limit"
metrics-server gets OOMKilled.
Reason is in running deployment/metrics-server
[code]

However, in roles/kubernetes-apps/metrics_server/defaults/main.yml it's set to 200 Mi :
[code]

Also tried setting different values in the inventory

Then we run cluster.yml :

[code]

The deployment/metrics-server gets only 35 Mi memory limit as before (and so the pod is)
And the metrics-server gets OOMKilled.

[2021-09-23 21:28] oomichi commented on #8010
Those default values are updated since https://github.com/kubernetes-sigs/kubespray/pull/7864

To compare the above pull request, I tried to see https://github.com/kubernetes-sigs/kubespray/commit/0552847386340697ed105a0a9a701bc342a697b2 but NotFound.
Could you specify a valid commit id of Kubespray?

[2021-09-23 21:52] oomichi commented on #7913
v2.17.0 has been released as https://github.com/kubernetes-sigs/kubespray/releases/tag/v2.17.0
I think we can close this issue.

/close

[2021-09-23 21:52] #7913 closed

[2021-09-24 00:48] oomichi commented on #7988
Thanks for this issue report.
conformed this issue happens on CentOS7 with the latest commit(https://github.com/kubernetes-sigs/kubespray/commit/22017b7ff0a3bbfb87bf193e91c34c8194842ef7) on my local machine also.
Let's find a solution for fixing this issue.

[2021-09-24 01:50] oomichi commented on #7929
Hi @riupie

For example, we can specify `--default-not-ready-toleration-seconds` and `--default-unreachable-toleration-seconds` options of kube-apiserver with Kubespray's `kube_apiserver_pod_eviction_not_ready_timeout_seconds` and `kube_apiserver_pod_eviction_unreachable_timeout_seconds` options.
It is just necessary to write those options on your inventory.

Reference: https://github.com/kubernet

[2021-09-24 03:16] ledroide commented on #8010
@rguichard : maybe a mistake on my side.
Commit-id is ae44aff3306704010116333b2f91591c8e3e453e (Sat Sep 18 02:08:07 2021 +0300)

[2021-09-24 09:05] ledroide commented on #8010
This is very weird : it looks like requests and limits for this deployment/metrics-server is hard-coded somewhere. We can reproduce the same weird behavior over 4 different k8s clusters.

Using `kubectl edit deployment/metrics-server` :
* we change resources.limits.cpu=200m and resources.limits.memory=200Mi -> after validating, the original values are set back to 30m and 35Mi, nothing changes actu

[2021-09-24 09:51] lhzw commented on #4787
I don't like it modify my hostname, either.

[2021-09-24 10:01] lhzw commented on #4787
It works now:
Setting override_system_hostname: false resolved the issue

[2021-09-24 13:09] #7631 closed

[2021-09-24 13:10] franitel commented on #7631
I closed this issue because already was resolved in other issue.
https://github.com/kubernetes-sigs/kubespray/pull/7613
BR,
Francisco Rodriguez

[2021-09-24 14:55] #7965 closed

[2021-09-24 16:34] oomichi commented on #7988
I created a pull request(https://github.com/kubernetes-sigs/kubespray/pull/8014) to fix this issue.
I confirmed that works on CentOS7.

[2021-09-24 16:58] oomichi commented on #8010
@ledroide Thanks for your detail information.
I also can reproduce this issue on my side today with the latest commit:
[code]
I will take a look at this issue more deeply.

[2021-09-24 18:28] oomichi commented on #8010
@ledroide Please take a look at https://github.com/kubernetes-sigs/kubespray/pull/8018
That can solve this issue.

[2021-09-24 18:31] oomichi commented on #7915
@Tasmana-banana
As the error message, you need to install libselinux-python/libselinux-python3 package on the machine you run Kubespray.

[2021-09-24 22:16] unai-ttxu commented on #7569
/remove-lifecycle rotten

[2021-09-25 01:44] #7025 closed

[2021-09-25 09:50] #7559 closed

[2021-09-26 12:18] panpan0000 opened #8022 "Replace calico from yaml to tigera operator"
**What would you like to be added**:
so far, calico is deployed by raw yaml, now 1900+ lines of kubespray code are there to support it.
Official calico communicate recommends `tigera-operator` to replace the traditional yaml way.
https://docs.projectcalico.org/getting-started/kubernetes/quickstart
What we need to do is to render a short best-practice customer-resource.yaml .
Maybe I missed somethi

[2021-09-26 12:22] panpan0000 opened #8023 "Use ingress-nginx helm release instead of raw yaml"
**What would you like to be added**:

So far, no component is provisioned by helm in kubespray project.
It's more easy to `helm install` than applying a lot of yaml  maintained by ourselves.
ingress-nginx will be a good starting point.
If you guru agree upon that,  I would like to help to contribute this.

**Why is this needed**:
It will be more easier to make any upgrade and align with ingress co

[2021-09-27 07:30] ledroide commented on #8010
@oomichi : #8018 solves the issue for me. Thank you very much.

However, I don't understand why the "metrics-server-nanny" _sidecar_ container had been added to the daemonSet. Usually, there is a reason to add more workload.
Also, I don't understand why "metrics-server-nanny" modifies it's own limits and the metrics-server's limits.

Maybe "metrics-server-nanny" comes from a deprecated workaround,

[2021-09-27 08:14] #7945 closed

[2021-09-27 09:06] bl0m1 commented on #8022
I try to avoid helm, I would really prefer to still have static manifests to make sure you get the same result every time and doesn't need another binary to manage cluster resources.

[2021-09-27 15:43] #7988 closed

[2021-09-27 15:47] #7900 closed

[2021-09-27 15:58] riupie commented on #7929
I try to use the variable you mentioned and define the value to `30s`, but somehow every time I create new cluster it always fail when initialize first master. I don't know why

[2021-09-27 16:36] oomichi commented on #7929
Could you provide actual error message when failing to create a new cluster?

[2021-09-27 18:51] oomichi commented on #7968
You can specify versions of containerd and docker-ce with `containerd_version` and `docker_version` on your inventory like
[code]
by adding the above lines into inventory/<my_cluster>/group_vars/k8s_cluster/k8s-cluster.yml for example.

[2021-09-28 06:58] #7958 closed

[2021-09-28 07:02] #8010 closed

[2021-09-28 07:44] panpan0000 commented on #8022
@bl0m1 , Thanks for replying.

I agree to keep the result consistent.
But `helm` also provides strict version control, helm chart version can be specified to ensure the result consistency.

example for calico :
[code]

Using `helm` will bring a lot of benefit:
1. We kubespray community will have to keep an eye on the calico community very closely, and cherry-pick any significant change from calico

[2021-09-28 08:04] isantospardo opened #8026 "Fix ansible raw state for bootstrap-{coreos,flatcar}.yml"
**Environment**:

- **Version of Ansible** (`ansible --version`):
v2.10.11
- **Version of Python** (`python --version`):
v3.9.7
**Kubespray version (commit) (`git rev-parse --short HEAD`):**
v2.17.0

**Command used to invoke ansible**:
ansible-playbook -i hosts.ini /src/kubespray/cluster.yml
**Output of ansible run**:
[code]

**Anything else do we need to know**:
Changing https://github.com/kubern

[2021-09-28 08:05] isantospardo commented on #8026
/assign @isantospardo

[2021-09-28 09:05] wirwolf opened #8027 "inject new node in exist cluster error"
I try to add a new worker into existing cluster and I see an error in progress. Maybe the app does not check if `ethtool` is installed before using
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`):
[code]

**Kube

[2021-09-28 12:47] isantospardo opened #8028 "Fix kubespray flatcar ansible_os_family and ansible_distribution"
**Environment**:

- **Version of Ansible** (`ansible --version`):
v2.10.11
- **Version of Python** (`python --version`):
v3.9.7
- **Kubespray version (commit) (`git rev-parse --short HEAD`):**
v2.17.0
- **flatcar version**
v2605.12.0

**Command used to invoke ansible**:
ansible-playbook -i hosts.ini /src/kubespray/cluster.yml
**Output of ansible run**:
[code]

**Anything else do we need to know**:

[2021-09-28 16:16] #8003 closed

[2021-09-28 21:13] ArrowRaider commented on #5112
Some website says to set dns_min_replicas in hosts, but this does not work for me.  It has no effect.

[2021-09-28 23:49] oomichi commented on #1301
Yeah, Kubespray already contains options to specify private repos instead of public ones.
I guess we can close this issue, or is there any item we need to implement?

Ref: https://github.com/kubernetes-sigs/kubespray/blob/master/docs/offline-environment.md#configure-inventory

[2021-09-29 10:08] #7759 closed

[2021-09-29 14:29] fungusakafungus commented on #7965
same thing happens on ubuntu with containerd and no apparmor package

[2021-09-30 01:04] yuha0 commented on #7934
I think the problem is that calico only ships multiarch images to docker hub, not quay.io: https://github.com/projectcalico/calico/issues/4227

And kubespray only downloads images from quay.io, not docker hub: https://github.com/kubernetes-sigs/kubespray/blob/c7e17688b96f4cb6268b41e4c6a22ebf52e22dec/roles/download/defaults/main.yml#L466

I might be able to just hardcode `docker.io` in `calico_<com

[2021-09-30 13:11] seruff84 commented on #7872
Hi! Same problem.

[2021-09-30 14:46] hiveliberty commented on #7896
I think that kubespray shouldn't cover this tasks.

You can write your own tasks and integrate kubespray into your repo.
https://github.com/kubernetes-sigs/kubespray/blob/master/docs/integration.md

[2021-10-01 05:19] hadrien-toma commented on #6390
/remove-lifecycle stale

[2021-10-01 06:50] floryut commented on #7896
Kind of agree, this kind of things might be include as contribs script to help other setup more easily but that's way beyond the scope of kubespray I'd say

[2021-10-01 16:11] #8028 closed

[2021-10-01 18:43] oomichi commented on #8022
I can see the merit of using helm charts.
Actually I am using many helm charts after deploying Kubernetes cluster with Kubespray.

One concern we replace current YAML manifests with helm charts is for offline deployment.
I don't think we will maintain those helm charts in Kubespray, I guess we will just use helm charts by downloading the charts during Kubespray deployment.
Today by maintaining YAM

[2021-10-02 17:56] maxpain commented on #8002
The same problem. I switched `container_manager` from `docker` to `containerd` and can't monitor the etcd anymore.

[2021-10-03 09:18] sathieu commented on #8002
@maxpain How was monitoring working with `container_manager=docker`?

[2021-10-03 10:09] maxpain commented on #8002
@sathieu Everything was working fine. etcd in docker can be found by Prometheus via service discovery, but it is impossible with etcd, running as a host process (not in a container).

[2021-10-04 07:59] sathieu commented on #8002
@maxpain Reading the code, I couldn't find how this was working.

With `etcd_deployment_type=docker`, a raw container [is created](https://github.com/kubernetes-sigs/kubespray/blob/c5c10067ed75519b868911e412162546ce0289df/roles/etcd/templates/etcd.j2), and not a static Pod. A static pod is only created when `etcd_kubeadm_enabled=true`. A raw container is not seen in the API.

`etcd_kubeadm_enabled

[2021-10-04 12:54] Calvinaud opened #8045 "Support Vsphere CSI 2.3.0"
**What would you like to be added**:

Support for vSphere 2.3.0:
vSphere released a new version with some change in the deployment: <https://vsphere-csi-driver.sigs.k8s.io/releases/v2.3.0.html>

The new manifest is at: <https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/release-2.3/manifests/>
Some of the change include:
- Some image have changed container registry
- Some new variables
- S

[2021-10-04 14:00] manzsolutions-lpreis commented on #7988
@oomichi Could this issue be re-opened, please?

I think that there are actually two overlapping issues: Port 443 being bound already and PSPs prohibiting the use of privileged ports. We use PSPs and this will not suffice.

There actually is an issue open upstream, too: https://github.com/kubernetes-sigs/metrics-server/issues/782

[2021-10-05 13:05] vishumindtree commented on #7968
I will check & let you know , if it works

[2021-10-06 05:28] supawatnick opened #8051 "FAILED! => {"msg": "Timeout (12s) waiting for privilege escalation prompt: "}"
I'm triying to deploy kube via kubespray but i return the

 FAILED! => {"msg": "Timeout (12s) waiting for privilege escalation prompt: "}

My ansible host can ssh to all target nodes without  password.

i'm using Ubuntu 18.04, in the past I can deploy with no any issues but not this time.

Any suggestions please?

[2021-10-06 06:58] tkzkno opened #8052 "ensure docker packages are installed"
I tried to deploy k8s via kubespray. But this error happens

`fatal: [t8s-node1]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: {'pkgs': ['{{ containerd_versioned_pkg[containerd_version | string] }}', '{{ docker_cli_versioned_pkg[docker_cli_version | string] }}', '{{ docker_versioned_pkg[docker_version | string] }}']}: 'dict object' has no attribute '1.

[2021-10-06 08:45] ahmadalli commented on #7987
is this `kind/feature` or a bug?

[2021-10-06 23:33] oomichi commented on #8052
Thank you for reporting this issue.
Could you provide more information about this issue like
- What Kubespray version (e.g. v2.17.0)
- What operating system (e.g. CentOS8, Ubuntu18.04, etc.)

The error message `{{ docker_versioned_pkg[docker_version | string] }}']}: 'dict object' has no attribute '1.4.9'` means the dict `docker_versioned_pkg` doesn't contain attributes which is corresponding to `1

[2021-10-06 23:39] oomichi commented on #8051
@supawatnick Thanks for reporting this issue.

Do you confirm the ssh user have the root privilege without inputting password?

In addition, could you provide more information about this issue?
- Error messages around the above `FAILED! => {"msg": "Timeout (12s) waiting for privilege escalation prompt: "}`. At least, it is necessary to know which task was failed.
- Kubespray version (e.g. 2.17.0 e

[2021-10-07 01:29] scila1996 commented on #7987
I don't know, but I think this issue is both !

[2021-10-07 06:07] tkzkno commented on #8052
This problem occurs due to OS version .

After upgrading os version ( from ubuntu 16.04 to 20.04), I can deploy k8s successfully via kubespray .

Thank you  @oomichi  !!

[2021-10-07 11:14] irizzant opened #8056 "calico-kube-controllers CPU throttling"
After upgrading to the last version of Kubespray 2.17.0 I noticed a series of alerts started being raised from AlertManager showing high CPU throttling for Calico, see below:
![screenshot-grafana k8s savinodelbene com-2021 10 07-12_06_35](https://user-images.githubusercontent.com/15982257/136373317-0a6dc550-fe70-46f5-8cd8-b1abd1f28cf1.png)

Even if the CPU quota of the limit is low, the Pod is bei

[2021-10-07 17:19] cristicalin opened #8059 "cert-manager jobs are failing with unknown root CA error"
**Environment**:
- **Cloud provider or hardware configuration:** kubespray CI

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** CentOS7 and Ubuntu18 HA jobs with addons enabled

- **Version of Ansible** (`ansible --version`): 3.4.0

- **Version of Python** (`python --version`): whatever

**Kubespray version (commit) (`git rev-parse --short HEAD`):** current master branch

**Network p

[2021-10-08 09:04] gzdreamfly opened #8063 "calicoInit:ImageInspectError"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all -m d

[2021-10-08 16:16] #7423 closed

[2021-10-09 19:05] necatican opened #8066 "Add kubeadm_join_phases_skip to skip phases when joining the cluster"
**What would you like to be added**:
I would like to be able to skip some phases in the join_phase just like how I can skip init phases using `kubeadm_init_phases_skip`.

**Why is this needed**:
We are creating a pre-packed image to create Kubernetes clusters in an offline environment without proxies. Without this feature, we can not skip the preflight phase, and `kubeadm` tries to update the imag

[2021-10-11 10:10] oreillymj opened #8070 "Kube-bench security warnings on controller deployed with kubespray 2.1.6+"
**Environment**:
On-prem

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
n.a - Ubuntu or CentOS

- **Version of Ansible** (`ansible --version`):
2.9.20
- **Version of Python** (`python --version`):
3.x

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
2.16.0

**Network plugin used**:
Calico

Recent changes to https://github.com/kubernetes-sigs/kubespray/blob/master/ro

[2021-10-11 16:40] #8059 closed, assigned to nobody

[2021-10-11 16:43] oomichi commented on #7915
@Tasmana-banana Please re-open this issue if you still face the same issue.

/close

[2021-10-11 16:43] #7915 closed

[2021-10-11 20:30] micron1390 opened #8073 "The task "aggregate all SANs" is failed due to templating type error"
Hello,
I can not install the containerd in kubespray

Parameters:
##docker for docker, crio for cri-o and containerd for containerd.
container_manager: containerd
etcd_deployment_type: host

When installing :
TASK [kubernetes/control-plane : kubeadm | aggregate all SANs] *********************************************************************************************************************** fatal: [

[2021-10-12 12:06] iul1an opened #8075 "upgrade netchecker"
Hi,
Can you please upgrade netchecker to the latest version (v1.2.2)?
The one that comes with kubespray is very old.

[2021-10-12 12:53] manzsolutions-lpreis commented on #7988
@oomichi I have to admit that while preparing the new issue I was unable to recreate this specific error we were seeing during the initial upgrade and the pod is apparently running with the proper PSP attached via a group for the kube-system namespace.
After encountering the issue last week we scaled the metrics-server deployment to zero and focused on other troubles like switching from Docker to

[2021-10-12 15:15] micron1390 commented on #8073
Changed the same error on docker

##docker for docker, crio for cri-o and containerd for containerd.
container_manager: docker

Config:

`- name: kubeadm | aggregate all SANs
  set_fact:
    apiserver_sans: "{{ (sans_base + groups['kube_control_plane'] + sans_lb + sans_lb_ip + sans_supp + sans_access_ip + sans_ip + sans_address + sans_override + sans_hostname + sans_fqdn) | unique }}"
  vars:

[2021-10-12 16:15] oomichi commented on #8073
/retitle The task "aggregate all SANs" is failed due to templating type error

[2021-10-13 11:08] Azhdar1990 opened #8077 "Kubernetes via VPN"
Hello I’ve bare metal nodes that see each other via VPN network.
Please tell me.
Can i deploy kubernetes via vpn network?
Is it good practise or bad and i must use physical network.
Thanks

[2021-10-13 12:06] floryut commented on #8073
Well yeah this task is ignoring errors because it's not an issue at all

[2021-10-13 12:22] oreillymj opened #8078 "Multus container registry should now point to Github"
**What would you like to be added**:
Multus version 3.8+ containers should be pulled from https://github.com/k8snetworkplumbingwg/multus-cni/pkgs/container/multus-cni

**Why is this needed**:
I don't believe that the DockerHub registry is going to be supported going fwd.

FYI'ing Multus maintainer @dougbtv

[2021-10-13 12:34] efrikin opened #8079 "Add molecule tests for roles"
**What would you like to be added**:
I want add molecule tests for two roles:

* `adduser`
* `bastion-ssh-config`

**Why is this needed**:

The improves test coverage for project

[2021-10-13 12:38] #8078 closed, assigned to nobody

[2021-10-13 18:19] hjanuschka opened #8082 "unable to upgrade due to 1.20.0 not >= 1.22.2 🕳️"
**Environment**:
onprem - debian

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

[code]

- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`):
[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

**Command used to invoke ansible**:

`ansible-playbook -i inventory/XX/hosts.yml upgrade-clust

[2021-10-13 18:24] #8082 closed, assigned to nobody

[2021-10-14 06:40] floryut commented on #8082
Mistakes happens, no problem man and thanks

[2021-10-14 16:43] #8073 closed

[2021-10-15 01:46] #8079 closed

[2021-10-15 10:56] irizzant opened #8087 "Metrics server deployment not updated"
After upgrading to the last Kubespray v 2.17.0 I noticed the metrics-server deployment does not have the right resources limits set.

My `main.yml`:
[code]

The deployment shows instead:
[code]

Trying to update the addons with:
[code]
Actually shows the Metrics Server tasks as shown below, but the Deployment still has the old values:
[code]
**Environment**:
- **Cloud provider or hardware configur

[2021-10-16 10:36] #7625 closed

[2021-10-17 19:38] Nello-Angelo opened #8089 "/var/run/netns"
Hello, sometimes when i delete pods or daemonset or statefullset, i have this massage in events of pod - error determining status: rpc error: code = Unknown desc = failed to get sandbox ip: check network namespace closed: remove netns: unlinkat /var/run/netns/cni-b95837c6-ae48-a889-7760-84b91b7af749: device or resource busy
And pods lives in status "terminating" untill you don`t reboot all nodes,

[2021-10-18 12:33] slamdev opened #8090 "ansible_os_family is undefined"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
[code]
- **Version of Python** (`python --version`):
[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):** `b83e8b0` (tag 2.17.0)

**Command used to invoke ansible**:
[code]

**Output of ansible run**:
[code]

**Anything else do we need to know**:

[2021-10-18 15:55] Kaylleur opened #8092 "Trying to download gcr.io/google-containers/pause:3.3 which does not exist"
Hi,

I have a kubernetes cluster on 3 servers that are in version 1.18.0. I'm trying to upgrade to 1.19.7 them with kubespray in version 2.17.0.
I already upgraded from 1.15.11 to 1.16, 1.16 to 1.17 and 1.17 to 1.18 and it works perfectly.

When I upgrade  them it try to download : gcr.io/google-containers/pause:3.3
This tag of this container doesn't exist in [repo](https://console.cloud.google.co

[2021-10-18 16:09] utkuozdemir opened #8093 "Add a fallback method to node drain using `--disable-eviction` to ignore PodDisruptionBudgets"
**What would you like to be added**:

Adding a fallback option to the node drain process so that when a node drain fails and the fallback logic is enabled, drain will be retried with the `--disable-eviction` flag and separate values for the grace period and timeout for the drain operation.

Furthermore, when the drain operation fails on any of the nodes, we think that it makes sense to use the fal

[2021-10-19 05:35] vishumindtree commented on #7968
After I made above changes , I am getting below errors :-

FAILED! => {
11:02:43      "msg": "The conditional check 'docker_package_info.pkgs|length > 0' failed. The error was: error while evaluating conditional (docker_package_info.pkgs|length > 0): {'pkgs': ['{{ containerd_versioned_pkg[containerd_version | string] }}', '{{ docker_cli_versioned_pkg[docker_cli_version | string] }}', '{{ docker_ve

[2021-10-19 16:08] kaul-abhi opened #8096 "Hello Team, we used kubespray 2.14.0 running on our production servers, we applied v2.16.0 but only certs expiration extended by 1 year but cluster didnt update."
i have v2.14.0 kubespray running on prod with kubernetes v1.19.7. I downloaded kubespray v2.16.0 to upgrade cluster to v1.20.7 but i saw that cluster didnt upgrade to v1.20.7 but certs are extended for 1 year. Could you please check what caused the issue.

PFB the change in config file i did:

wget https://github.com/kubernetes-sigs/kubespray/archive/refs/tags/v2.16.0.tar.gz

tar -xvzf v2.16.0.tar

[2021-10-19 17:17] #8075 closed

[2021-10-20 00:35] #8070 closed, assigned to nobody

[2021-10-20 07:51] #8093 closed

[2021-10-20 17:06] VannTen commented on #7987
This is adressed in #7532

[2021-10-21 04:12] Kaylleur commented on #8092
I pulled manualy `k8s.gcr.io/pause:3.3` but still block on the old name of the image. So i tagged it into `gcr.io/google-containers/pause:3.3`. It works for this image but now it attempt to download `gcr.io/google-containers/coredns/coredns:v1.8.0`...
The image is available on `k8s.gcr.io/coredns/coredns:v1.8.0`... Looking for this [issue](https://github.com/kubernetes/kubernetes/issues/63057) is

[2021-10-21 06:42] floryut commented on #8092
Looks like your `kube_image_repo` is set with the wrong path; if all images are pulled from gcr.io instead of k8s.gcr.io

[2021-10-21 08:03] Kaylleur commented on #8092
My cluster was in version v1.15.11 before I started to upgrade, my version was too old ?
Do you know where I can fix this path ?

[2021-10-21 08:09] Kaylleur commented on #8092
Here is my yaml :
[code]

I do not modify the yaml of kubespray...

[2021-10-21 12:24] onock opened #8104 "Missing RBAC rules for ClusterRole cert-manager-cainjector"
**Environment**:
- **Cloud provider or hardware configuration:**
3 KVM-VMs for k8s-leader
2 KVM-VMs for k8s-worker
no cloud provider

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.11.0-38-generic x86_64
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_UR

[2021-10-21 12:43] onock opened #8105 "Missing verbs in RBAC rule for ClusterRole calico-kube-controllers"
**Environment**:
- **Cloud provider or hardware configuration:**
3 KVM-VMs for k8s-leader
2 KVM-VMs for k8s-worker
no cloud provider

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.11.0-38-generic x86_64
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_UR

[2021-10-21 17:31] mafn opened #8106 "containerd download broken with Fedora CoreOS"
**Environment**:
- **Cloud provider or hardware configuration:**
VM
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
 Fedora CoreOS 34
- **Version of Ansible** (`ansible --version`):
2.10.11
- **Version of Python** (`python --version`):
3.9.0

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
master at ea8e2fc6

**Network plugin used**:
calico

**Command used to invoke a

[2021-10-21 19:01] micron1390 opened #8108 "Contour ingress controller deployment"
Hello,

Is it possible to install contour as ingress controller in kubespray as nginx?
https://projectcontour.io/getting-started/
Thank you in advance!

[2021-10-22 00:07] calvinpark commented on #7821
/remove-lifecycle stale

[2021-10-22 03:26] neil-re commented on #5303
I still have this issue using Centos 7, even after installing Chrony

[2021-10-22 09:40] edib opened #8110 "I have added 2 new worker nodes into the cluster with scale.yml, the node roles are <none>. I have to set it manually."
**Environment**:
- **Cloud provider or hardware configuration:**
vagrant libvirt
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
generic/ubuntu 20.04
- **Version of Ansible** (`ansible --version`):
ansible 2.10.11
- **Version of Python** (`python --version`):
Python 3.8.10
**Kubespray version (commit) (`git rev-parse --short HEAD`):**
b83e8b02 / v.2.17.0
**Network plugin used**:
cal

[2021-10-22 15:29] qw3r3wq opened #8115 "while installing tools using pip3 on fedora 34 missing wheel"
Hi all.

OS: Fedora 34

Was trying to install pip requirements using slightly modified command: ``pip3 install --user -r requirements.txt`` and noticed, it had a tiny warning saying I am missing ``wheel`` package.

Without it my deployment ``ansible-playbook -i inventory/mycluster/hosts.yaml  --become cluster.yml`` was failing due to too high ansible version which was (2.11.6).

After I have insta

[2021-10-22 17:20] khatrig opened #8116 "Reduce node removal time on large cluster by parallelizing calico IP route removal"
**What would you like to be added**:
Reduce node removal time on large Kubernetes cluster(running 3000+ pods) by parallelizing calico IP route removal

**Why is this needed**:
Currently, calico network reset is run as part of https://github.com/kubernetes-sigs/kubespray/blob/master/roles/network_plugin/calico/tasks/reset.yml
The time required to remove a node depends on the number of IPs allocated

[2021-10-23 14:58] juliohm1978 opened #8119 "Your inventory doesn't match the current cluster configuration - Calico checks against inventory does not always work as expected"
- **Version of Ansible** (`ansible --version`): Tested with 2.9.18 and 2.10.12

[code]

[code]

- **Version of Python** (`python --version`): 3.9.7

**Kubespray version (commit) (`git rev-parse --short HEAD`):** b83e8b02

Tested with v1.15.x and v1.17.x

**Network plugin used**: Calico

**Command used to invoke ansible**:

ansible-playbook --become -i myinventory/inventory.ini -Kk cluster.yml -e k

[2021-10-23 18:43] manpreet-agoro opened #8121 "addon resizer version"
**Environment**:
- **Cloud provider or hardware configuration:**
arm64 nodes and controller (odroid n2)
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.10.0-8-arm64 aarch64
PRETTY_NAME="Debian GNU/Linux bookworm/sid"
NAME="Debian GNU/Linux"
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"
- **

[2021-10-24 12:21] pasqualet opened #8122 "Containerd fails to create containers when containerd_use_systemd_cgroup=false"
Containerd fails to create containers when cgroupfs is used instead of systemd.

**Kubespray version (commit) (`git rev-parse --short HEAD`):** 4db057e9c

**Variables:**
[code]

**Output of ansible run**:

[code]

**Anything else do we need to know**:

System logs:
[code]

[2021-10-24 18:42] #8119 closed, assigned to nobody

[2021-10-25 12:15] fungusakafungus opened #8125 "Draining during upgrades is not in parallel with mitogen"
[Draining nodes](https://github.com/kubernetes-sigs/kubespray/blob/10c30ea5b1e1c08c7715aa00c0e2bbecba05a14d/roles/upgrade/pre-upgrade/tasks/main.yml#L73) is delegated to [`groups['kube_control_plane'][0]`](https://github.com/kubernetes-sigs/kubespray/blob/10c30ea5b1e1c08c7715aa00c0e2bbecba05a14d/roles/upgrade/pre-upgrade/tasks/main.yml#L126) so even with the default `serial: 20%` it is subject to

[2021-10-25 14:46] hiveliberty opened #8127 "сontainerd does not want update to the 1.4.11 version"
By default kubespray install containerd version 1.4.9. I want upgrade it to the 1.4.11 version (for security fixes for example)
I tried set containerd_version to 1.4.11 in my inventory and run cluster_upgrade.yml, but ansible stops with error (example bottom).
Also I tried `-e containerd_version=1.4.11`

**Environment**:
- **Cloud provider or hardware configuration:**
KVM (2 cores, 8gb RAM) (envir

[2021-10-26 12:49] Ajarmar opened #8132 "release-2.17 branch has wrong default Kubernetes version"
Hello, I wanted to use the `release-2.17` branch to get a new fix that was added there after the 2.17.0 release, but I noticed that the branch is lacking [this commit](https://github.com/kubernetes-sigs/kubespray/commit/b83e8b020a0da6befa852139fde01774f5d56a6b) that changes the default Kubernetes version from 1.21.3 -> 1.21.5 (even though said commit is part of the 2.17.0 release).

Just wanted to

[2021-10-27 22:15] #8087 closed, assigned to nobody

[2021-10-28 09:01] elgamal2020 opened #8138 "AWS cloud provider enhance tag adding value / setting hostname"
**What would you like to be added**:

in

https://github.com/kubernetes-sigs/kubespray/blob/master/docs/aws.md

add values for TAGS

Key : kubernetes.io/cluster/$cluster_name

Value: owned or shared

then

Need to add setting properly hostnames to the FQDN
- export hostname_aws=$(curl http://169.254.169.254/latest/meta-data/local-hostname )
 - sudo hostnamectl set-hostname $hostname_aws

**Why is

[2021-10-28 10:56] duyongtju opened #8139 "when run kubespray in docker, kubespray will restart docker, and the container kubespray running exit too and kubespray will stop. how to solve this question."
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all -m d

[2021-10-28 15:26] mstefany opened #8141 "sonobuoy Conformance tests fail on DNS"
**Environment**:
- **Cloud provider or hardware configuration:**
QEMU/Libvirt VMs provisioned by Terraform
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
And
`Fedora CoreOS 34.20211004.3.1 `
- **Version of Ansible** (`ansible --version`):
[code]
Installed from requirements.txt
- **Version of Python** (`python --version`):
`Python 3.9.7`

**Kubespray version (commit) (`git re

[2021-10-28 18:11] #8105 closed, assigned to nobody

[2021-10-29 16:17] mvilche opened #8146 "Fedora Coreos does not use the docker opts parameters defined in the playbook"
**Environment**:
- **Cloud provider or hardware configuration:**
QEMU/Libvirt Vms provider by Proxmox

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
cat /etc/os-release
NAME=Fedora
VERSION="34.20211004.3.1 (CoreOS)"
ID=fedora
VERSION_ID=34
VERSION_CODENAME=""
PLATFORM_ID="platform:f34"
PRETTY_NAME="Fedora CoreOS 34.20211004.3.1"
ANSI_COLOR="0;38;2;60;110;180"
LOGO=fedora-logo-icon

[2021-10-29 19:22] rptaylor commented on #7574
Yes, 2.16.0 should not be used in production with this issue.

[2021-10-29 20:45] #7574 closed

[2021-10-31 06:05] #6390 closed

[2021-11-01 06:36] cristicalin commented on #8139
The use of docker is to facilitate remote deployment, it is not intended to deploy a kubernetes cluster on the same machine as the ansible controller, you can deploy using the regular method by using a python virtual env and cloning the kubespray repository and doing `pip install -U .` in the project root.

[2021-11-01 08:17] zhengtianbao commented on #8146
I think systemd config files under location `/etc/systemd/system/docker.service.d` already effect docker service.

What's your output of cmd:
[code]

[2021-11-01 15:21] #8121 closed

[2021-11-02 07:28] linuxesabz opened #8149 "install kubernetes cluster with calico ebpf"
i want install kubernetes with calico ebpf
but i dont underestand how to do this
Please help me, thank you

[2021-11-02 08:17] floryut commented on #8149
Maybe this could help you https://github.com/kubernetes-sigs/kubespray/blob/master/docs/calico.md#ebpf-support

[2021-11-02 08:26] linuxesabz commented on #8149
In which file should I put the following settings?

`calico_bpf_enabled:` true

`kube_proxy_remove:` true

[2021-11-02 08:30] floryut commented on #8149
Please check the documentation, it was written exactly to help users and avoid spreading information in issues
https://github.com/kubernetes-sigs/kubespray/blob/master/docs/setting-up-your-first-cluster.md#set-up-kubespray

[2021-11-02 11:54] k-m-y commented on #7885
Yep had the same issue.
Go to `roles/kubernetes-apps/csi_driver/vsphere/templates/vsphere-csi-controller-deployment.yml.j2` line 56 and switch `gcr_image_repo` with `quay_image_repo` If it works for you too this is probably worth a PR

[2021-11-02 14:51] Tristan971 commented on #7420
/remove-lifecycle stale

[2021-11-02 14:51] Tristan971 commented on #7420
Probably need to make this into a documentation page 🤔

[2021-11-02 14:54] floryut commented on #7420
If you are up to it, that would be lovely

[2021-11-02 14:55] Tristan971 commented on #7420
Yep, I'll try and get that done... Just need to not make sure I don't forget for weeks on end 😅

[2021-11-02 15:48] oomichi commented on #8132
I think https://github.com/kubernetes-sigs/kubespray/pull/8142 fixes this issue.

/close

[2021-11-02 15:49] #8132 closed

[2021-11-02 16:06] oomichi commented on #8089
@Nello-Angelo Are you using Kubespray to deploy Kubernetes 1.21.4?
I cannot find any information about Kubespray (which Kubespray version, CNI, etc.) from the issue message.

[2021-11-02 16:06] wheatevo commented on #7739
@D3DeFi

I'm unsure if you're still hitting this, but the problem is that kube-scheduler will ignore your settings if `--kubeconfig` is specified. You will need to either remove the `--kubeconfig` flag from the manifest or edit `/etc/kubernetes/kubescheduler-config.yaml` to contain your desired configuration (see https://kubernetes.io/docs/reference/config-api/kube-scheduler-config.v1beta1/)

[2021-11-02 19:55] Nello-Angelo commented on #8089
yes, i use kubespray, and i use a version 1.21.4 but i also created a ticket on github of containerd, probably, the problem because of bugs in containerd. But check it in kubernetes (kubespray)

[2021-11-03 03:35] rrimc69 opened #8151 "Documenation starts with an assumed silent pre-condition"
Document installation of kubespray source before commencing 'quickstart'

Documenation starts with an assumed  silent pre-condition that you've installed git on the ansible node and pulled the kubespray git repo master contents.

**Why is this needed**:
Documenation starts with a silent pre-condition (or ill placed reference, or missing link, maybe?) that you've installed git on the ansible node a

[2021-11-03 06:41] D3DeFi commented on #7739
@wheatevo that would make sense, but at least in cmd line reference it doesn't seem to be mentioned for `--bind-address`, but only for `--address` (https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/):

[code]

So I can understand why this would be confusing for the implementation. Anyway, I am just specifying `kube_scheduler_bind_address` in my inventory variables, t

[2021-11-03 12:48] netanelsi opened #8155 "Calico adaptations for Kubernetes > 1.20"
By installing new Kubespray for Kubernetes 1.21,
Calico continue restarting
As far as I understand, The root cause is pretty simple.
Calico, for old Kubernetes versions, missing explicit definition for liveness & readiness timeouts (timeoutSeconds).
The assumption was, that default value for timeout is infinite.
in Kubernetes 1.20, the default value changed to 1s..
please see here (in the Note): h

[2021-11-03 14:11] husseinmkwizu commented on #2623
For me it turns out, an underscore(_) on cluster name caused the issue.
I had configured `inventory/mycluster/group_vars/k8s_cluster/k8s-cluster.yml` as below

`cluster_name: somename_cluster.local`

after running this command
`journalctl -xefu docker.service`

I got this error

`node1 dockerd[1845]: Status: invalid argument "default.svc.somename_cluster.local" for "--dns-search" flag: default.svc

[2021-11-03 15:22] ajdecon opened #8156 "Kubernetes upgrade with `upgrade-cluster.yml` fails with an error in `prep_kubeadm_images.yml`"
**Summary**:

Kubernetes v1.19.9 cluster deployed using Kubespray v2.15.1, then we attempt to upgrade the cluster using a later version of Kubespray.

In all tests so far, this process fails in task `[download : prep_kubeadm_images | Check kubeadm version matches kubernetes version]` of `prep_kubeadm_images.yml`.

It's entirely possible I'm just doing something *wrong* here, but our usage of the u

[2021-11-04 00:29] juliohm1978 commented on #7083
The issue persists, even on Kubespray 2.17.x. For anyone bumping into this, recreating the `kube-dns` Service works.

If you hit @dlouks's problem, where `coredns` ended up with a ClusterIP other than X.X.X.10, the workaround is a little more contrived, but still possible. A follow up error might look like this:

[code]

In this case, the expected IP would be `172.25.230.10`. Replace that with you

[2021-11-04 02:15] #8139 closed

[2021-11-04 02:16] duyongtju commented on #8139
I see，thank you！

[2021-11-04 12:43] krystianmlynek commented on #8155
I think it was fixed with this PR(v2.17.1 release): https://github.com/kubernetes-sigs/kubespray/pull/7981

[2021-11-04 14:43] netanelsi commented on #8155
Yes you right, thanks

[2021-11-04 14:43] #8155 closed

[2021-11-04 17:37] cristicalin commented on #8151
@rrimc69 we do welcome contributions, especially on improving the docs so a PR is welcomed to clarify this aspect.

[2021-11-05 08:21] serhiinikitenko opened #8159 "remove-node.yml playbook fails when running on ansible Ansible v2.9.x"
**Environment**:
- **Cloud provider or hardware configuration:**
on premise

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
CentOS Linux 8, Linux 3.10.0-1160.42.2.el7.x86_64 x86_64

- **Version of Ansible** (`ansible --version`):
ansible 2.9.12

- **Version of Python** (`python --version`):
python version = 3.6.8

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
v2.17

[2021-11-05 09:02] zhengtianbao commented on #8159
Yeah, `path_join` only support ansible 2.10+, how about replace it to `community.general.path_join` which is a re-implement  filter for Ansible 2.9.

/assign

[2021-11-05 14:14] eminaktas opened #8161 "Crun v1.3 support"
What would you like to be added:
I would like to add support of the new crun version

Why is this needed:
A new version of crun has been released. Available versions should get an update.

cc: @necatican @yasintahaerol

[2021-11-05 14:53] #8106 closed

[2021-11-05 14:59] #8122 closed

[2021-11-05 15:31] serhiinikitenko commented on #8159
@zhengtianbao thanks for your help
As I understand correctly, I need to install community.general collection manually for ansible 2.9x and 2.10x otherwise it will not work.
CMD: ansible-galaxy collection install community.general

[2021-11-05 18:22] AntonioAlfrz commented on #8092
Isn't there an incosistency with coredns too? From version 1.8.0, the repository is _REGISTRY/coredns/coredns:TAG_; [here](https://github.com/kubernetes-sigs/kubespray/blob/master/roles/download/defaults/main.yml#L582-L586) is handled properly, however, in this [template](https://github.com/kubernetes-sigs/kubespray/blob/master/roles/kubernetes/control-plane/templates/kubeadm-config.v1beta2.yaml.j

[2021-11-06 06:11] scila1996 opened #8165 "Set proxy for only containerd or container-engine"
Please do not close this issue. Many people in my team run kubespray and not know to set proxy for only containerd engine. You can set http_proxy and https_proxy, no_proxy variable in kubespray config, but they will apply proxy to all host. But I want to set proxy to containerd to speed up pull image from docker hub or ECR. And this is my way to do that ?

1. First, deploy and run playbook as a no

[2021-11-06 09:26] #8161 closed

[2021-11-06 23:30] zhengtianbao commented on #8165
I'll try to take this. /assign

[2021-11-07 10:31] cristicalin opened #8166 "Exercise multiple ansible versions in CI"
**What would you like to be added**:
CI jobs for supported ansible versions.

**Why is this needed**:
We claim that we support ansible 2.9 and 2.10 (actually 3.x) and we also have requests to support ansible 2.11 (actually 4.x). We would need to cover these different versions in CI to be able to reliably know we did not inadvertently break a version we don't exercise in CI (like https://github.com

[2021-11-07 13:22] #7693 closed

[2021-11-07 15:19] Kaylleur commented on #8092
The problem was about my group-vars was set with the 1.15.11 version and not set in 1.19. I changed in `group_vars/k8s-cluster/k8s-cluster.yml` line 235 `kube_image_repo: "gcr.io/google-container"` to `kube_image_repo: "k8s.gcr.io"`.
Thanks to @Sryther who help me, and to all.

[2021-11-07 15:19] #8092 closed

[2021-11-08 07:47] floryut commented on #8166
Not a bad idea at all, and indeed not that much of work

[2021-11-08 12:10] titansmc commented on #7420
After migrating to `containerd`, I have tried to update some other feature in the cluster but I get this error, it is odd, since everything is already running without docker:

[code]

[2021-11-08 12:34] lmercl opened #8169 "Complete GCE integration"
Hello,
looks like kubespray doesn't have finished integration to GCE.

Basically there is needed 2 things:

1. creating PVs - already done by csi-gce-pd-controller,
2. creating LB resources - not finished - not working with current kubespray code

**Creating LB resources**
My deployed stack has set **cloud_provider: gce**, and it works for PVs (with good config), but LBs are not working. Basically

[2021-11-08 13:20] floryut commented on #8169
Thanks for the issue, maybe open up a PR with that ?
I guess you have to change at least all checks in kubeadm-config.v1beta2.yaml (L200/217?/219/293/310/317)

And maybe https://github.com/kubernetes-sigs/kubespray/blob/65540c5771be701fda8e90a7369acbfd939c9f49/roles/kubernetes/node/templates/kubelet.env.v1beta1.j2#L46

[2021-11-08 13:34] lmercl commented on #8169
@floryut Yeah, I can open up a PR with that. I'm woking on it right now.
Thanks for hints.

[2021-11-08 23:40] #7371 closed

[2021-11-09 11:18] innofocus commented on #8104
worked for me with both changes, being able to test installation from https://cert-manager.io/docs/installation/verify/

Kubespray version (commit) git rev-parse --short github/HEAD
2ed211ba

[2021-11-09 13:57] czqrny opened #8173 "Cluster playbook fails on gathering etcd certs from first node"
**Environment**:
- **Cloud provider or hardware configuration:**
OpenStack VMs provisioned by Terraform

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
  * **Localhost:**
[code]
  * **Remote hosts:**
[code]
- **Version of Ansible** (`ansible --version`):
[code]
- **Version of Python** (`python --version`):
  `Python 3.9.7`

**Kubespray version (commit) (`git rev-parse --short HEAD`

[2021-11-09 14:59] #8127 closed

[2021-11-09 18:00] germetist opened #8174 "Failed task Krew | Get krew completion"
**Environment**:
- **Cloud provider or hardware configuration:**
Bare metall

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.10.0-0.bpo.3-cloud-amd64 x86_64
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"

[2021-11-09 22:50] olivierlemasle commented on #6451
/remove-lifecycle stale

[2021-11-10 07:27] llarsson opened #8176 "Fix various problems with hardcoded values in the vSphere Terraform code"
**What would you like to be added**: the vSphere Terraform code has various issues, like hardcoded values, which makes it difficult to use for deployment.

**Why is this needed**: any vSphere deployment will need to actually take the variables into account, not rely on hardcoded values.

[2021-11-10 07:28] llarsson commented on #8176
I volunteer as tribute. :smile:

No, but seriously, I will make a pull request with the needed changes.

[2021-11-10 07:59] czqrny commented on #8173
Little update

In mentioned by me issue from Ansible repository I read that this only happens when `ansible_host` variable is not defined directly in inventory file. That was my mistake, because your example/sample inventory has `ansible_host` variable defined. After I added it to my inventory it started to work.

I do not know if this can it still be treated as bug, so feel free to close it if ye

[2021-11-10 15:43] lmercl commented on #8169
Hello @floryut,
PR is created. Please let me know when something will be needed to add or changed.

[2021-11-10 16:55] sebfere commented on #8028
Hi @isantospardo, is it possible to back-port the fix on the 2.17 release branch ?

[2021-11-10 17:17] isantospardo opened #8180 "(Cherrypick) - Fix kubespray flatcar ansible_os_family and ansible_distribution"
**Environment**:

- **Version of Ansible** (`ansible --version`):
v2.10.11
- **Version of Python** (`python --version`):
v3.9.7
- **Kubespray version (commit) (`git rev-parse --short HEAD`):**
v2.17.0
- **flatcar version**
v2605.12.0

**Command used to invoke ansible**:
ansible-playbook -i hosts.ini /src/kubespray/cluster.yml
**Output of ansible run**:
[code]

**Anything else do we need to know**:

[2021-11-10 17:24] sebfere opened #8182 "Fix imageRepository path for CoreDNS v1.8.0"
**Environment**:
- **Cloud provider or hardware configuration:**
AWS

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Flatcar Container Linux by Kinvolk 2905.2.5 (Oklo)

- **Version of Ansible** (`ansible --version`):
2.10.11

- **Version of Python** (`python --version`):
3.9.5

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
v2.17.1

**Command used to invoke ansible*

[2021-11-10 17:26] sebfere commented on #8028
Thanks a lot @isantospardo !

[2021-11-11 00:11] #8166 closed

[2021-11-11 00:43] servo1x commented on #7985
@cristicalin is there anything special that needs to be done for existing deployments using docker and want to migrate to containerd?

[2021-11-11 01:07] zhengtianbao commented on #8174
/assign

[2021-11-11 03:09] RuliXu commented on #7915
I'm facing the same issue as @Tasmana-banana, as I use CentOS 8.2 and python 3.6.4, python3-libselinux-2.9-5.el8.x86_64 is installed while "unable to find a match for libselinux-python". And when you do `yum install libselinux-python3`, you got python3-libselinux actually.

Is there a solution?

[2021-11-11 08:00] cristicalin commented on #7985
@servo1x we will need to document the implications for pre-existing deployments but the gist of it is that there is no in-place upgrade when changing the container manager since containerd without docker and with docker behave differently and store their confirmations and images differently.

In order to keep pre-existing docker based deployments as-is, a deployer would need to revert to the old d

[2021-11-11 08:07] zhengtianbao commented on #8174
The old version of krew should be replaced (at extract_file.yml) when upgrade-cluster,  could you please paste the output of your ansible-playbook like below?

<details>
<summary>krew tasks output:</summary>

[code]
</details>

The information of old krew binaries is also helpful:

[code]

thanks.

[2021-11-11 08:07] germetist opened #8186 "Calico-node crashed on Debian 11"
**Environment**:
- **Cloud provider or hardware configuration:**
VM  based on box generic/debian11

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.10.0-9-amd64 x86_64
PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"
NAME="Debian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debi

[2021-11-11 08:29] cristicalin opened #8187 "Address docker hub throttling"
**Which jobs are failing**:
molecule_tests

**Which test(s) are failing**:
molecule_tests

**Since when has it been failing**:
Periodically

**Testgrid link**:
N/A

**Reason for failure**:
Docker hub throttling or DNS resolution is causing errors in molecule_tests which could be avoided by moving to quay.io equivalents for test images (example: https://quay.io/repository/aptible/hello-world?tab=ta

[2021-11-11 11:54] germetist commented on #8174
[code]

[code]

[2021-11-11 12:15] RuliXu commented on #7915
It only happens if you set inventory/mycluster/group_vars/k8s_cluster/k8s-cluster.yml  as below：
[code]

[2021-11-11 12:17] RuliXu commented on #7915
/reopen

[2021-11-11 12:22] RuliXu opened #8188 "FAILED! kubernetes/client : Write admin kubeconfig on ansible host"
I got `"msg": "Aborting, target uses selinux but python bindings (libselinux-python) aren't installed!"` at stage `TASK [kubernetes/client : Write admin kubeconfig on ansible host]` during installing k8s on CentOS 8.2 which has python 3.6.4 on it, therefore has `python3-libselinux 2.9.5` installed instead of `libselinux-python`. I tried to change all the `libselinux-python` into `python3-libselinu

[2021-11-11 12:24] RuliXu commented on #8188
/kind bug

[2021-11-11 20:12] oomichi commented on #8188
I install libselinux-python3 on CentOS8 machine before running Kubespray usually with
[code]
The installed package is python3-libselinux-2.9-5.el8.x86_64, that seems the same as yours.
But Kubespray works fine on my machine.

One question:
- Are you running Kubespray on the same machine where Kubernetes should be installed on?
- Is python3-libselinux installed on the machine Kubespray operated?

[2021-11-11 20:24] oomichi commented on #8056
Hi @irizzant
I think we can close this issue with the merged https://github.com/kubernetes-sigs/kubespray/pull/8076
Is it correct?

[2021-11-11 20:24] oomichi commented on #8056
/cc @oomichi

[2021-11-12 02:11] zhengtianbao commented on #8174
Thanks for your replay @germetist
It seems like the task of [kubernetes-apps/krew : extract_file | Unpacking archive] not executed at node1, I've tried the same env as yours, but my playbook works fine.

Here is my output :

[code]

notice the steps `TASK [kubernetes-apps/krew : download_file | Download item]` `TASK [kubernetes-apps/krew : extract_file | Unpacking archive]` shows **changed**.

cou

[2021-11-12 02:39] RuliXu commented on #8188
Yes I'm running Kubespray on the same machine where Kubernetes should be installed on, and python3-libselinux is installed same version as yours. When you say Kubespray works fine on your machine, could you please check your `inventory/mycluster/group_vars/k8s_cluster/k8s-cluster.yml` if there is `kubeconfig_localhost: true`? Because when I set it as `# kubeconfig_localhost: false`, Kubespray work

[2021-11-12 08:45] irizzant commented on #8056
Yes @oomichi I'm closing it

[2021-11-12 08:45] #8056 closed

[2021-11-12 11:57] KrisMacBP opened #8189 "NetworkPluginNotReady - Weave - Kubespray K8s v1.21.6"
**Environment**:
- **Cloud provider or hardware configuration:**
Hardware bare metal deployment:

[code]

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

[code]

- **Version of Ansible** (`ansible --version`):

[code]

- **Version of Python** (`python --version`):

[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

[code]

**Network plugin used**:

[code]

**Fu

[2021-11-12 13:50] floryut commented on #8182
This is already implemented : https://github.com/kubernetes-sigs/kubespray/commit/3fe6dbb65c87043d883e4edbfc7a489a8d1ee1d7

[2021-11-12 14:23] nikitka commented on #8002
@sathieu You can define `etcd_metrics_port` and scrape metrics from this port without TLS.

[2021-11-12 14:39] sathieu commented on #8002
@nikitka Thanks :pray:! Now I only need a way to create endpoints or endpointslices!

Ref: implemented in #6092

[2021-11-12 19:40] #8176 closed

[2021-11-12 19:54] oomichi commented on #8188
@RuliXu

Yes, I always set kubeconfig_localhost true on my CentOS8 machine, and it works fine.

humm, interesting.
As you point, it is curious why the option affects the issue of the task `Write admin kubeconfig on ansible host`.

If removing the line of `mode: 0600` does it work fine for your machine?
I have changed the mode since https://github.com/kubernetes-sigs/kubespray/pull/6800
I am lookin

[2021-11-13 01:04] #8174 closed

[2021-11-13 10:58] cristicalin opened #8191 "Bring back python2.7 support"
**What would you like to be added**:
With https://github.com/kubernetes-sigs/kubespray/pull/8172 merged we should try to fix ansible 2.9 to work with python 2.7 on Linux distributions that supply this combination like RHEL7 and derivatives. While full CI coverage for this is difficult to maintain in the long run we can use `requirements.txt` capabilities to differentiate requirements based on `pyt

[2021-11-13 13:31] #7716 closed

[2021-11-14 21:43] cristicalin opened #8194 "Bad use of role dependency for kubespreay-defaults"
**Environment**:
- **Cloud provider or hardware configuration:** any

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** any

- **Version of Ansible** (`ansible --version`): all supported versions

- **Version of Python** (`python --version`): 3.6+

**Kubespray version (commit) (`git rev-parse --short HEAD`):** master

**Network plugin used**: any

**Full inventory with variables (`ans

[2021-11-15 00:20] thomasdbaker opened #8195 "Cri-tools/crictl is not triggering, downloading and installing on nodes when containerD is selected as runtime_engine"
**Environment**:
- **Cloud provider or hardware configuration:**
- Vshere VMware

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.3 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PR

[2021-11-15 00:39] #7676 closed

[2021-11-15 02:04] zhengtianbao commented on #8195
crictl will be installed when container engine set as `containerd`:

https://github.com/kubernetes-sigs/kubespray/blob/027cbefb8753e28a046f24c85adbc0c7be793810/roles/download/defaults/main.yml#L792-L794

Please leave output of this command:
[code]
like below:

<details>
<summary>Details</summary>

[code]
</details>

[2021-11-15 02:40] #7719 closed

[2021-11-15 02:40] #7721 closed

[2021-11-15 03:34] RuliXu commented on #8188
@oomichi

I tried as your suggestion by removing the line of `mode: 0600`  but I got the same result `"msg": "Aborting, target uses selinux but python bindings (libselinux-python) aren't installed!"`. So oops, seems like a wrong guess from me.

So yes, it remains mysterious...

[2021-11-15 04:41] thomasdbaker commented on #8195
Ended up being user error.  Closing issue.

[2021-11-15 04:41] #8195 closed

[2021-11-15 07:41] floryut commented on #8002
Closing then, thanks @nikitka

[2021-11-15 08:02] #8149 closed

[2021-11-15 12:40] hardoverflow opened #8197 "Failed to install cri-o packages on Fedora CoreOS"
**Environment**:
- **Cloud provider or hardware configuration:**
[code]
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of Ansible** (`ansible --version`):
[code]
- **Version of Python** (`python --version`):
[code]
**Kubespray version (commit) (`git rev-parse --short HEAD`):**
[code]
**Network plugin used**:
[code]
**Full inventory with variables (`ansible -i inv

[2021-11-15 15:04] sathieu commented on #8002
@floryut Please reopen, only half of the answer is implemented. I'll write a PR for the second half (endpoints).

[2021-11-15 16:06] #8191 closed

[2021-11-15 16:50] oomichi commented on #8188
On my CentOS8 environment, python3 only is installed without python2.
[code]
And python3-libselinux is installed like
[code]
Could you check python3 is only installed and python3-libselinux is installed correctly with the above command?

[2021-11-16 02:23] RuliXu commented on #8188
@oomichi

Sure, please take a look as below

![image](https://user-images.githubusercontent.com/56576505/141884169-d86e3363-b426-42d4-abe0-6d38c4e4a975.png)

[2021-11-16 03:24] zhengtianbao commented on #8197
Could you manual execute this command:

[code]

here is my output:

[code]

It seems work fine when fedora-modular enabled.

[2021-11-16 06:46] hardoverflow commented on #8197
With terraform, i triggered a fresh deployment with the same result.
[code]

[2021-11-16 10:08] mytting opened #8199 "containerd： mirrors is deprecated, please use `config_path` instead"
**What would you like to be added**:
containerd msg “ mirrors is deprecated, please use `config_path` instead”

Is there any plan to migrate containerd's mirrors configuration to "config_path"
**Why is this needed**:
containerd msg “ mirrors is deprecated

[2021-11-16 11:12] hardoverflow commented on #8197
I have found some interesting links about modularity support in fcos rpm-ostree.

https://discussion.fedoraproject.org/t/cri-o-no-longer-available-through-rpm-ostree/33908/4
https://github.com/coreos/rpm-ostree/pull/3191/files
https://github.com/coreos/rpm-ostree/pull/2760

I have tested this with the following command.
[code]
After this cmd i can install the cri-o package.
[code]
I'll take a look

[2021-11-16 12:17] gruppferi opened #8200 "Upgrade from Kubespray 2.15.1 to 2.16.0 fails due to containerd version"
**Environment**:
- **Cloud provider or hardware configuration:** OnPrem

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**  Ubuntu 18.04

- **Version of Ansible** (`ansible --version`): 2.9.13

- **Version of Python** (`python --version`): Python3

**Kubespray version (commit) (`git rev-parse --short HEAD`):** 2.16.0

**Network plugin used**: Calico

**Command used to invoke ansible**

[2021-11-16 13:54] hardoverflow commented on #8197
I have edited the cri-o role with the following lines. Success!
[code]

[2021-11-16 14:53] dlouks commented on #7745
I think the workaround to this issue is in this PR https://github.com/kubernetes-sigs/kubespray/pull/6244

[2021-11-16 15:00] dlouks commented on #7083
@juliohm1978, I think the fix is in https://github.com/kubernetes-sigs/kubespray/pull/6244. Looks like it needs a little rework now that kubernetes/master role moved to control-plane.

[2021-11-16 16:58] #8169 closed

[2021-11-16 21:40] hroussez commented on #8156
@ajdecon I ran into the same issue. The error on my setup was that the value of `kube_version` in `inventory/mycluster/group_vars/k8s_cluster/k8s-cluster.yml` was not represented in the list of `kubeadm_checksums` in `roles/download/defaults`

Using a value from that list fixed it.

[2021-11-16 22:35] oomichi commented on #8188
Thanks for your confirmation, that seems almost the same as mine except python version.
Could you try specifying `-e ansible_python_interpreter=/usr/bin/python3` for running ansible-playbook command like
[code]
?

[2021-11-17 02:21] #7890 closed

[2021-11-17 03:00] RuliXu commented on #8188
@oomichi I tried as your suggestion running `ansible-playbook -i inventory/mycluster/hosts.yaml --become --become-user=root -e ansible_python_interpreter=/usr/bin/python3 cluster.yml --private-key=~/.ssh/id_rsa -vvvv` and this time I got a different output as below.
![image](https://user-images.githubusercontent.com/56576505/142122747-51eff598-26db-4e80-9393-a5ce47adff9d.png)

But if I run the com

[2021-11-17 03:28] zhengtianbao commented on #8197
got it, I'll try to fix this. /assign

[2021-11-17 03:41] snowball77 commented on #8045
Same is true for vSphere CSI 2.4.0. In addition, on vCenter 6.7u3 the configmap/internal-feature-states.csi.vsphere.vmware.com has to be edited and csi-auth-check needs to be configured to be false.

[2021-11-17 03:43] snowball77 commented on #8045
For 2.4.0 it would also be good to configure the CSI controller replica count to match the control plane nodes or a configurable maximum number of replicas.

[2021-11-17 10:06] sathieu commented on #8002
Thanks for reopening @floryut. PR proposed in #8203.

[2021-11-17 14:33] sebfere commented on #8182
Hi @floryut,
The problem doesn't come from the lines you've highlighted. Considering the version of CoreDNS, the image is set to `coredns` (< 1.8) or 'coredns/coredns' (>=1.8.0).

It comes from the 'regex_replace' in the 'kubeadm-images.yaml.j2' template, as '/coredns.*$' removes the two occurrences of 'coredns' in '/coredns/coredns':
https://github.com/kubernetes-sigs/kubespray/blob/8176e9155b17f

[2021-11-17 16:05] #7725 closed

[2021-11-17 18:31] ajdecon commented on #8156
@hroussez : Perfect! I suspected I was just doing something wrong. 😆 This resolves my issue.

[2021-11-17 18:31] #8156 closed

[2021-11-17 20:48] cristicalin commented on #8194
My bad, I misunderstood the scope of this dependency and figured out my own code was messing the dependency chain.

[2021-11-17 20:48] #8194 closed

[2021-11-17 20:50] cristicalin commented on #8186
I'm facing something similar in debugging https://github.com/kubernetes-sigs/kubespray/pull/8175

[2021-11-17 20:57] cristicalin commented on #8200
The containerd version expected by kubespray 2.16.0 is actually the one coming from the docker upstream repositories, not from the ubuntu repos (https://download.docker.com/linux/ubuntu/) and the package name is `containerd.io`, make sure you don't override the `containerd_package` ansible variable in your inventory.

[2021-11-17 21:01] cristicalin commented on #8199
`config_path` was added in 1.5 and we still support containerd 1.4 making the code a bit dirty to support both the old and the new style. Once we drop containerd 1.4.x support we should be able to move to the new style.

Also we are happy to get contributions on this.

[2021-11-17 21:07] cristicalin commented on #8189
From my own recent testing it seems that containerd and weave don't quite mix together. I did not manage to make this combination work and have found almost no documentation claiming that this is even supported on behalf of weave.

In kubespray CI we only test docker as `container_manager` with `kube_network_plugin: weave` and it works. If you insist on using weave you will have better luck with d

[2021-11-17 21:11] oomichi commented on #8188
quick question: Are you enabling SELinux on your machine? I am disabling it always on my machine.

[2021-11-17 21:14] cristicalin commented on #8186
This issue seems to be related to `container_manager: containerd` with `container_manager: docker` the deployment on Debian 11 works OK, I'm still trying to get to the bottom of this issue but I don't think it is related to calico-node itself, from my testing all pods get mangled up at some point.

Using either `etcd_deployment_type: host` or `etcd_kubeadm_enabled: true` yield the same results, th

[2021-11-17 22:06] cristicalin commented on #8186
After some tinkering it seems Debian 11 switch to cgroup v2 and containerd is not yet ready for this. As a result you need to revert to cgroup v1 by adding `systemd.unified_cgroup_hierarchy=0` to grub command line and rebooting the VMs.

We need to address this in CI, we already have similar mitigations for fedora31+ (roles/container-engine/containerd/tasks/main.yml), it is interesting how come do

[2021-11-17 22:19] cristicalin commented on #8186
I just concluded a test and it seems with using `kubelet_cgroup_driver=cgroupfs` on Debian 11 we get a working cluster, please try this in your own configuration.

[2021-11-18 00:16] champtar commented on #8186
On CentOS 8.5 I have containerd 1.5.7 / k8s 1.22.3 / cgroup_driver systemd / cgroupv2
This is without kubespray, kubespray doesn't configure containerd properly
You need something like
[code]

[2021-11-18 03:01] mytting commented on #8199
Yes, change this logic after you switch to version 1.5.
Let me see if I can contribute some code.

[2021-11-18 06:11] #7726 closed

[2021-11-18 06:57] RuliXu commented on #8188
@oomichi
Yes, I used the default setting in `roles/kubespray-defaults/defaults/main.yaml` line 7: `preinstall_selinux_state: permissive`, so I got
[code]

But after you mentioned it, I tried to `vi /etc/sysconfig/selinux` to `disabled` then `reboot` then set `roles/kubespray-defaults/defaults/main.yaml` line 7: `preinstall_selinux_state: disabled`.
![image](https://user-images.githubusercontent.co

[2021-11-18 07:11] cristicalin commented on #8186
This is how we configure containerd out of the box:

[code]

I'm guessing the `systemCgroup = true` vs `SystemdCgroup = true` is the main difference since the other keys are basically empty/defaults, I'm not 100% sure about the `NoNewKeyring = false` and `NoPivotRoot = false` keys.

[2021-11-18 07:25] cristicalin commented on #8186
Seems like we introduced a typo in https://github.com/kubernetes-sigs/kubespray/pull/8123 which broke containerd with systemd cgroups driver.

/cc @pasqualet

[2021-11-18 07:32] gruppferi commented on #8200
@cristicalin I doubled checked, nowhere I overwrite that value containerd_package, I have the docker ubuntu repo on my list, but still looks like it doesn't get hit when kubespray is running.

[2021-11-18 07:53] #8002 closed

[2021-11-18 09:18] pasqualet commented on #8186
You are right, #8123 introduced the typo but I'm not sure if it's the reason for this issue. Anyway I've created the #8206 to fix the typo.

I think we need better integration tests and #6400 seems could be the starting point to work on it.

[2021-11-18 09:30] buker opened #8207 "Oracle Linux 8 centos-extras issue"
**Environment**:
- **Cloud provider or hardware configuration: baremetal**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):
`
Linux 5.4.17-2136.300.7.el8uek.x86_64 x86_64
NAME="Oracle Linux Server"
VERSION="8.5"
ID="ol"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="8.5"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Oracle Linux Server 8.5"
ANSI_COLOR="0;31"
CPE_NAME="cpe

[2021-11-18 11:01] gruppferi commented on #8200
So Problem found, the issue is I migrated cluster from docker to containerd on 2.15.1 before that the kubespray running with docker has a task https://github.com/kubernetes-sigs/kubespray/blob/43958614e361f45cf35cbdb362751e14889730ba/roles/container-engine/docker/tasks/main.yml#L131-L140
that holds docker and containerd packages.
After Migration Containerd I saw the task that containerd lock the v

[2021-11-18 11:01] #8200 closed

[2021-11-18 12:54] cristicalin commented on #8187
A recent change of which I'm guilty of is the change of `netchecker` source images which used to come from quay.io and now come from docker hub. This increases our pull rate from the hub and the likelihood of getting rate limited.

Options:
1) mirror the mirantis netchecker images to our own namespace in quay.io and use those for CI jobs but leave the defaults to point to the official ones from do

[2021-11-18 12:58] cristicalin commented on #8089
`/var/run/netns` is a common place used to keep file references to existing network namespaces (see https://man7.org/linux/man-pages/man8/ip-netns.8.html for details on how it works).

What this means is that you may have workloads that are keeping the network namespace hanged by creating either other objects in the network namespace that the CNI cannot clean up in a pod teardown or that your CNI

[2021-11-18 13:06] floryut commented on #8187
Both netchecker image are now mirrored on quay/kubespray
- quay.io/kubespray/k8s-netchecker-server:v1.2.2
- quay.io/kubespray/k8s-netchecker-agent:v1.2.2

[2021-11-18 16:47] lzadjsf commented on #6659
Hello!

I meet the same issue at CentOS 7.
My solution - To install "iproute" package at each node.

[2021-11-18 18:50] oomichi commented on #8188
@RuliXu Thank you so much for your multiple tries.
Could you try it again without `-e ansible_python_interpreter=/usr/bin/python3` with disabling SELinux?
The condition could be almost the same as mine.

[2021-11-18 18:59] oomichi opened #8211 "Failed to run tf-elastx_cleanup test job"
**Which jobs are failing**:

tf-elastx_cleanup

**Which test(s) are failing**:

https://gitlab.com/kargo-ci/kubernetes-sigs-kubespray/-/jobs/1797724086
[code]

**Since when has it been failing**:

11/18/2021

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

[2021-11-18 19:05] oomichi commented on #8211
[code]
That seems necessary to remove a subnet from the router before deleting the port.

[2021-11-18 23:14] oomichi commented on #8211
https://github.com/kubernetes-sigs/kubespray/pull/8213 solves this issue.

[2021-11-19 07:44] #8207 closed

[2021-11-19 09:45] RuliXu commented on #8188
@oomichi Thank you for your patience, too. And this time I got no error by following your advice.
So the point is to disable SELinux and do not use `-e ansible_python_interpreter=/usr/bin/python3`?
I wonder why and if that's the case, should we mention it somewhere in the documentation?

BTW, I tried to use the pre-built docker image method mentioned in [README.md](https://github.com/kubernetes-si

[2021-11-19 12:01] red55 commented on #8104
Yep, can confirm after @onock patches errors are gone.
83e0b786d442d49a1801a4021273a67ffd2d021d

my k8s version ```v1.20.7```

[2021-11-19 12:38] Nello-Angelo commented on #8089
flannel

[2021-11-19 12:39] Nello-Angelo commented on #8089
thanks for your help

[2021-11-19 12:52] #8089 closed

[2021-11-19 15:31] #7730 closed

[2021-11-19 16:25] oomichi commented on #8188
@RuliXu Thank you for your report, I am glad to solve the issue on your side.

The following document recommends to disable SELinux for Red Hat-based distributions:
Please go to https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl and click `Red Hat-based distributions`.
You can see the following note:
[code]
Kubespray uses k

[2021-11-19 16:40] #8186 closed

[2021-11-20 18:36] #7733 closed

[2021-11-20 19:36] #7720 closed

[2021-11-20 22:57] CodingSpiderFox commented on #7234
/remove-lifecycle stale

[2021-11-21 08:46] #7738 closed

[2021-11-21 08:55] Payback159 opened #8218 "Enable cgroup settings on raspberry pi installation"
**What would you like to be added**:

To roll out Kubespray on a Raspberry PI, the values `cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory` must be set in /boot/firmware/cmdline.txt beforehand and the system must be rebooted.

I would prefer if this already happens in the course of the Kubespray rollout, otherwise the generation of the token with kubeadm fails.

**Why is this needed**:

[2021-11-21 08:58] Payback159 commented on #8218
Hi guys, I would like to implement this but have 2 questions about it.

1. do you see this as the responsibility of Kubespray?
2. can someone tell me where the step would fit best? Ideally it would happen before the first apt update. Whereas in my installation no apt update/upgrade was needed to enable the feature, unlike the linked bug. I would still have to clarify this.

[2021-11-21 19:09] cristicalin commented on #8218
Hi @Payback159 , we do tinker a bit with the kernel command line for Fedora distros to roll back to cgroups v1 which is something we really should drop as kube and most CRIs properly support cgroups v2.

With that said, I personally don't quite like the idea of Kubespray messing around with the OS kernel command line parameters since that usually requires a reboot and in this particular circumstan

[2021-11-21 20:15] irizzant commented on #6595
/remove-lifecycle stale

[2021-11-21 21:01] cristicalin opened #8220 "Proposal to restructure the CI matrix"
**What would you like to be added**:
I would like to re-split the CI pipeline like follows:

On-PR CI Jobs:
* unit-tests - leave these as they are
* stage 1 - molecule tests + different ansible versions (basically leave this as it is but make 2.9 an explicit choice, don't rely on defaults)
* stage 2 - aio tests for _all_ supported configurations with minimal adaptations where needed (like ubuntu k

[2021-11-22 01:38] zhengtianbao opened #8221 "proposal to remove docker-registry-proxy daemonset"
**Why is this needed**:

As the registry document said the benefits of proxy daemonset are:

1. SSL and authentication

but actually docker-registry can enable SSL or authentication by config: https://docs.docker.com/registry/deploying/#get-a-certificate

2. in cluster access

registry-proxy will create daemonset listen at `hostPort:{{ registry_port }}` which will redirect to the backend registry

[2021-11-22 06:27] RuliXu commented on #8188
@oomichi I see, thank you very much for your explanation and support.

[2021-11-22 06:27] #8188 closed

[2021-11-22 09:01] KrisMacBP commented on #8189
Ah i didnt even think of that being a problem! I have also raised this to weave support now so if anything comes of it, i shall get it posted. Many thanks for the reply, I think it might be time to switch to flannel or calico then :) Ill get it tested, cheers!

[2021-11-22 10:29] #8197 closed

[2021-11-22 10:34] floryut commented on #8220
We could indeed reshape the stages in order to make them more clear and more in part with our recent changes/goal.

But as far as I remember, conditional changes can't really be done as the CI is trigger through a mirroring and the push/branch is created and as it's the first one gitlab detect all files as changed every time (which is kind of an issue on gitlab end : https://gitlab.com/gitlab-org/

[2021-11-22 10:37] floryut commented on #8189
If you have any news /information on weave's end, we would love to hear them 🙇

[2021-11-23 05:41] cristicalin commented on #8221
Great analysis @zhengtianbao!

Since we have the hosted registry which you kindly augmented recently, why not just drop this registry proxy functionality ? From what I can tell (personally I was not even aware we had this) it is quite old and hackish.

I would go with your full plan to also drop the proxy.

Note that an ingress should be conditioned on the presence of an ingress controller which i

[2021-11-23 06:00] #7691 closed

[2021-11-23 07:19] Ishizuka427 opened #8223 "DeprecationWarning occurs when indentfirst=None is specified in coredns-config.yml.j2"
**Environment**:

- **Cloud provider or hardware configuration: on-prem**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`): centos 7**

- **Version of Ansible** (`ansible --version`): ansible 2.10.15

- **Version of Python** (`python --version`): Python 2.7.16

It's better to specify it with `first=False` for backward compatibility.
https://github.com/kubernetes-sigs/kubespray/blob/mas

[2021-11-23 08:46] cristicalin opened #8225 "Proposal to extend molecule coverage to roles that generate kubernetes manifests"
**What would you like to be added**:

I propose to add molecule unit tests to the roles that generate kubernetes manifests such as the ones in kubernetes-apps and CNIs. This can be done with a kind sidecar service to the molecule CI job (see example: https://github.com/kind-ci/examples/blob/master/.gitlab-ci.yml) and have `kubectl` run in `--dry-run=server` mode to ensure the kubernetes api actual

[2021-11-23 13:54] khatrig commented on #7580
/remove-lifecycle stale

[2021-11-23 14:05] #7707 closed

[2021-11-23 19:33] ekuiper-sbp opened #8228 "Issue with the creation of the calico.vxlan interface"
**Environment**:
- **Cloud provider or hardware configuration:**
On Prem - KVM

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 3.10.0-1160.45.1.el7.x86_64 x86_64
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_R

[2021-11-23 19:51] Payback159 commented on #8218
Hi @cristicalin @floryut ,

thanks for the explanation, I understand your point of view. Then I'll see that I write a small playbook for `contrib/` and call it from there.

[2021-11-23 20:05] #7747 closed

[2021-11-24 11:08] sickboy93 commented on #2164
Hello, I had a quite similar issue, that in general, pki certificates were note created. I had some configurations file of a previous cluster, removing all the "dirty" ones, I managed to create a new cluster (bare metal installation)

[2021-11-24 11:15] #6398 closed

[2021-11-24 16:56] #8223 closed

[2021-11-25 03:22] #8116 closed

[2021-11-25 14:01] khatrig opened #8230 "Define a separate etcd metrics URL when using separate etcd events cluster"
**Environment**:
- **Cloud provider or hardware configuration:**
On-prem baremtal host
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Ubuntu 18.04
- **Version of Ansible** (`ansible --version`):
Ansible 2.10
- **Version of Python** (`python --version`):
3.8

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
release-2.17

**Network plugin used**:
calico

**Full inventor

[2021-11-25 14:36] cristicalin commented on #8228
@ekuiper-sbp we set the Calico vxlanEnabled via `FelixConfiguration` here: https://github.com/kubernetes-sigs/kubespray/blob/master/roles/network_plugin/calico/tasks/install.yml#L163, this has been added post 2.17 release unfortunately.

You can cherry-pick the specific change from `master` branch (see https://github.com/kubernetes-sigs/kubespray/pull/8167).

/cc @devinjeon, since you made the ori

[2021-11-25 14:54] #7985 closed

[2021-11-25 17:22] #7755 closed

[2021-11-26 02:32] zhengtianbao commented on #8230
It's a confilct between etcd-event listen client port and etcd metrics port.
/assign

[2021-11-26 08:31] feber opened #8233 "Update Calico CRD Hash for v3.20.3"
Hi, I am facing issue similar with https://github.com/kubernetes-sigs/kubespray/issues/7389. And it looks like the `calico_crds_archive_checksums` need to be updated, as performed before on https://github.com/kubernetes-sigs/kubespray/pull/7386 and https://github.com/kubernetes-sigs/kubespray/pull/8157.

How could I generate the hash?

Thank you.

**What would you like to be added**:
Hash for v3.2

[2021-11-26 08:35] floryut commented on #8233
Hash are only sha256sum for files 👍

[2021-11-26 09:27] feber commented on #8233
Thanks for the lead!
For a practice, I have tried to cross check with version [v3.20.2](https://github.com/kubernetes-sigs/kubespray/blob/master/roles/download/defaults/main.yml#L393).

I downloaded [release-v3.20.2.tgz](https://github.com/projectcalico/calico/releases/download/v3.20.2/release-v3.20.2.tgz), then calculated the hash:
[code]

None of them matched with `b75b9965197073d2ae510275f61779

[2021-11-26 09:33] KrisMacBP commented on #8189
@floryut Will do, i havent had a response from anyone at all yet, but will fire here as soon as i do 😄

[2021-11-26 10:12] floryut commented on #8233
[code]
https://github.com/kubernetes-sigs/kubespray/blob/e78bda65fedf501a42a86f886fdb884a08e00733/roles/download/defaults/main.yml#L385

I won't do all files but looks fine to me 😄

[2021-11-26 11:40] feber commented on #8233
Oh so it is hash to the code archive, not distributable binaries :joy:
Thank you very much, will create the PR.

[2021-11-26 11:56] #8233 closed

[2021-11-26 16:23] Alvaro-Campesino opened #8235 "Remove from kubeadm-config configmap an etcd-node while removing it"
**What would you like to be added**:
When removing an etcd node, no referrence of it should remain in the k8s cluster, but it does in the configamp `kubeadm-config`
This is a way of resolving t[his k8s issue/feature request:  ](https://github.com/kubernetes/kubeadm/issues/1300

**Why is this needed**:
In order to be able to rejoin without issues the same node or another with the same ip address or

[2021-11-27 00:28] #7728 closed

[2021-11-27 12:58] melnik13 commented on #5687
Excuse me, I'd like to add a question.

What if my CA key is DES-encrypted and needs a passphrase? How to provide with the passphrase to kubespray?

[2021-11-27 12:58] melnik13 commented on #5687
/reopen
/remove-lifecycle rotten

[2021-11-27 21:47] #7768 closed

[2021-11-28 12:28] maxpain commented on #8009
Any updates?

[2021-11-28 12:28] maxpain commented on #8090
Any updates?

[2021-11-28 12:28] maxpain commented on #7798
Any updates?

[2021-11-28 15:46] devinjeon commented on #8228
Opened a new PR https://github.com/kubernetes-sigs/kubespray/pull/8240 to cherry-pick https://github.com/kubernetes-sigs/kubespray/pull/8167 for `release-2.17` branch.

[2021-11-28 18:43] melnik13 opened #8242 "failed to run Kubelet: unable to load bootstrap kubeconfig: stat /etc/kubernetes/bootstrap-kubelet.conf: no such file or directory"
I'm trying to deploy a K8S cluster with my own CA.

The environment consists of 9 virtual machines in my own virtualization cluster (`master1`, `master2`, `etcd1`, `etcd2`, `etcd3`, `worker1`, `worker2`, `worker3`, `worker4`).

This is not the first K8S cluster I deploy with Kubespray, but I never tried to use my own CA before. I'm following the hints that I found at #5687.

I've created the Root

[2021-11-29 06:47] #6858 closed

[2021-11-29 08:59] floryut commented on #8090
This will be close soon as the PR will be merge in a few minutes 👍

[2021-11-29 13:09] germetist opened #8249 "Calico-node crashed if calico v3.21.1"
**Environment**:
- **Cloud provider or hardware configuration:**
VM based on box generic/debian10

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 4.19.0-18-amd64 x86_64
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org

[2021-11-29 16:03] melnik13 commented on #8242
I've just created a fresh new environment and issues a single self-signed CA certificate (without dividing it to Root and Intermediate). I installed this certificate the same way and now I've got the following result of Kubespray:

[code]

So, something seems to be wrong with my Intermediate CA certificate, but what exactly it is?

[2021-11-29 16:05] melnik13 commented on #8242
Perhaps I was wrong when I had chosen the Bug label during the issue's submission, it might be my fault.

I'd be very grateful for any hints.

[2021-11-29 20:35] cristicalin commented on #8249
@germetist could you share the logs of the crashed pods? Given that we just added the hashes for 3.21.1 and the default version tested in CI is still 3.20.3 this looks like we need to adjust some of our manifests for the 3.21.x version.

[2021-11-30 03:24] liupeng0518 commented on #7642
/reopen

[2021-11-30 11:49] germetist commented on #8249
[code]

[2021-11-30 22:22] Alexr03 commented on #6875
@sachithmuhandiram I am getting the same issue as yourself, did you find a fix?

[2021-12-01 11:45] Bledai opened #8259 "Kube-proxy doesn't work on masters if bind-address is not set to 0.0.0.0"
**Environment**:
- **OS** : 20.04
- **Version of Ansible**: 2.9.20
- **Version of Python** :  3.8.10

**Kubespray version (commit):** : bcf69591

We would like to use: `kube_apiserver_bind_address`  is not 0.0.0.0 but in this case, kube-proxy cannot start on masters since
kube-proxy going to 127.0.0.1:
[code]
 BUT:
[code]
 It works on workers nodes since nginx-proxy is deployed here but for the ca

[2021-12-01 11:47] eakurdyukov commented on #8090
Got the same problem on Centos 8, I use also 2.17.0 kubespray

NAME="CentOS Linux"
VERSION="8"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="8"
PLATFORM_ID="platform:el8"
PRETTY_NAME="CentOS Linux 8"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:8"
HOME_URL="https://centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"
CENTOS_MANTISBT_PROJECT="CentOS-8"
CENTOS_MANTISBT_PROJECT_VERSION="8"

[2021-12-01 15:17] #8235 closed

[2021-12-01 21:42] oomichi commented on #8228
By the above effort, I think we have fixed this issue on both master and release-2.17 branch.
@ekuiper-sbp  Please close this issue if confirming the issue has been solved.

[2021-12-02 08:09] prudentcircle commented on #7934
Correct me if I am wrong,
But I do see multi-arch images on Quay.io for Calico CNI

<img width="951" alt="Screen Shot 2021-12-02 at 5 04 58 PM" src="https://user-images.githubusercontent.com/10138004/144382023-88f032d1-7674-4dca-b768-dddeab91c4bf.png">

I believe the problem lies in not having a multi-arch image but Kubespray deploying not so correct images to x86 nodes.

I am having the same prob

[2021-12-02 09:17] #8249 closed

[2021-12-02 10:00] ekuiper-sbp commented on #8228
Thanks for resolving and merging this into the 2.17

[2021-12-02 10:00] #8228 closed

[2021-12-02 14:32] qvicksilver commented on #7420
Building on what @Tristan971 wrote we've been using this playbook that seems to work well:

[code]

It's been fairly well tested on Ubuntu using Calico, from grepping around in the roles some network plugins may need more delicate care.

[2021-12-03 02:03] #7450 closed

[2021-12-03 07:03] #7739 closed

[2021-12-04 03:10] #7451 closed

[2021-12-04 04:33] oomichi commented on #6595
/lifecycle flozen

[2021-12-04 04:35] oomichi commented on #8063
There is not any update, please reopen if we have in the future.

/close

[2021-12-04 04:35] #8063 closed

[2021-12-04 04:38] oomichi commented on #7884
https://github.com/kubernetes-sigs/kubespray/pull/8172 has updated maximal_ansible_version to 2.12.0.
This issue can be closed because of the pull request.

/close

[2021-12-04 04:39] #7884 closed

[2021-12-04 04:48] oomichi commented on #7885
Yeah, that is a nice point.
gcr_image_repo is "gcr.io", and quay_image_repo is "quay.io".
[code]
So csi-resizer is replaced with quay_image_repo.

[2021-12-04 06:06] oomichi commented on #8090
https://github.com/kubernetes-sigs/kubespray/pull/8231 has fixed this issue according to the both error messages on this issue and the pull request.

/close

[2021-12-04 06:07] #8090 closed

[2021-12-04 06:08] oomichi commented on #8180
https://github.com/kubernetes-sigs/kubespray/pull/8181 has been merged into 2.17 branch.

/close

[2021-12-04 06:08] #8180 closed

[2021-12-05 16:23] #7666 closed

[2021-12-05 21:23] usrbinkat opened #8271 "Failed to install cri-o packages on Fedora 35"
**Environment**:
- **Cloud provider or hardware configuration:**
[code]

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of Ansible** (`ansible --version`):
[code]
- **Version of Python** (`python --version`):
[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
[code]

**Network plugin used**:
[code]

**Full inventory with variables (`ansible -i

[2021-12-05 22:31] usrbinkat commented on #8271
Discovered the hard way that my kubespray clone was out of date.

Issue is resolved.

[2021-12-05 22:31] #8271 closed

[2021-12-06 07:42] #7885 closed

[2021-12-06 08:15] #8259 closed

[2021-12-06 18:39] CodingSpiderFox commented on #7362
/remove-lifecycle stale

[2021-12-07 04:09] mypractice96 commented on #4693
Hi
I'm narendra
please if can you share commands.

[2021-12-07 06:16] liupeng0518 commented on #7642
/close #8253

[2021-12-07 06:17] #7642 closed

[2021-12-07 08:28] #8230 closed

[2021-12-07 14:43] Shabahang opened #8277 "ctr command does not use http_proxy settings"
**Environment**:
- **Cloud provider or hardware configuration:**
on-premis

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 3.10.0-1160.el7.x86_64 x86_64
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL

[2021-12-07 16:34] oomichi commented on #7798
This issue has been fixed with https://github.com/kubernetes-sigs/kubespray/pull/8231

/close

[2021-12-07 16:34] #7798 closed

[2021-12-07 16:35] oomichi commented on #7929
Please reopen this issue if having any updates.

/close

[2021-12-07 16:36] #7929 closed

[2021-12-07 16:37] cristicalin commented on #8277
This should be obsoleted since we moved to `nerdctl` instead of `ctr`.

Note that both `ctr` and `crictl` have an issue with pulling multi-arch images and this is the reason for which we moved to the new tool. Please test the latest master branch.

[2021-12-07 16:42] oomichi commented on #7968
@vishumindtree containerd v1.4.9 support has been added since https://github.com/kubernetes-sigs/kubespray/pull/7970 after you tried.
Please try the latest Kubespray if possible.

[2021-12-07 16:48] cristicalin commented on #8187
Another container that we seem to be pulling many times from docker hub is the nginx one, it might be worth mirroring this one as wel.

/cc @floryut

[2021-12-07 16:59] oomichi commented on #7896
Necessary tasks which are needed to be operated before/after Kubespray depend on each environment.
I feel it is good enough to operate necessary tasks before/after Kubespray ansible-playbook run on each own script.
Actually I am doing that on my own script.

I agree.
contribs/ is a good place to keep optional scripts/playbooks which are useful for some specific environments.
After getting much fee

[2021-12-07 17:07] oomichi commented on #7881
@lokeshwaran100 The commit you specified shows the pause image version is 3.3 as https://github.com/kubernetes-sigs/kubespray/blob/bcf695913f5332c0acf08b206cc055c9482664d9/roles/download/defaults/main.yml#L79
But the error message says the downloaded image was 3.2.
I guess you get the reason, but I am not sure it.
Could you explain it?

[2021-12-07 17:08] oomichi commented on #7881
/cc @oomichi
/remove-lifecycle stale

[2021-12-08 00:55] oomichi opened #8278 "yamllint shows errors locally"
**Environment**:
- **Version of yamllint** (`yamllint --version`):
[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

4ef2cf4c

**Command used to invoke yamllint**:

[code]

**Output of yamllint run**:

Kubespray CONTRIBUTING.md recommends to run yamllint locally before contributions, but the command shows a lot of errors.

[code]

[2021-12-08 00:58] oomichi commented on #8278
Sorry, this is my bad.

/close

[2021-12-08 00:59] #8278 closed

[2021-12-08 06:22] #7866 closed

[2021-12-08 09:20] Shabahang commented on #8277
Thanks!
Same for nerdctl. It fails and do not uses proxy setting.

[2021-12-08 09:54] ccaillet1974 commented on #8277
Hi all same here with following error sample with cilium image pulling
`fatal: [lyo0-k8s-testw03 -> 10.128.10.73]: FAILED! => {"attempts": 4, "changed": true, "cmd": ["/usr/local/bin/nerdctl", "-n", "k8s.io", "pull", "quay.io/cilium/cilium:v1.10.5"], "delta": "0:00:00.064796", "end": "2021-12-08 10:22:49.641460", "msg": "non-zero return code", "rc": 1, "start": "2021-12-08 10:22:49.576664", "stder

[2021-12-08 10:49] Shabahang opened #8280 "remove_node.yml does not work - No kubernetes.core.k8s module in Ansible 2.9"
**Environment**:
- **Cloud provider or hardware configuration:**
On-premise

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
ansible 2.9.16
ansible python module location = /usr/local/lib/python3.6/site-packages/ansible

- **Version of Python** (`python --version`):
python version = 3.6.8 (default, Nov 16 2020, 16:55:22) [GCC 4

[2021-12-08 13:09] Shabahang opened #8281 "remove-etcd-node broken"
**Environment**:
- **Cloud provider or hardware configuration:**
On-premise

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]

- **Version of Ansible** (`ansible --version`):
ansible 2.10.11
  config file = /root/kubernetes/kubespray_plusk/ansible.cfg
  python version = 3.6.8 (default, Nov 16 2020, 16:55:22) [GCC 4.8.5 20150623 (Red Hat 4.8.5-44)]

- **Version of Python** (`py

[2021-12-08 14:25] khatrig opened #8282 "kubectl API server authentication error when connecting through apiserver load balancer"
**Environment**:
- **Cloud provider or hardware configuration:** On-prem baremetal nodes

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** Ubuntu 20.04

- **Version of Ansible** (`ansible --version`): 2.10.11

- **Version of Python** (`python --version`): 3.8

**Kubespray version (commit) (`git rev-parse --short HEAD`):** release-2.17

**Network plugin used**: calico

**Full inventor

[2021-12-08 15:24] khatrig opened #8283 "A case for making etcd_kubeadm_enabled true by default"
**What would you like to be added**:
Make etcd_kubeadm_enabled true by default
**Why is this needed**:
kubeadm etcd support was added as an experimental feature as part of [PR](https://github.com/kubernetes-sigs/kubespray/pull/4818). For a while now, kubeadm etcd setup is the default way of setting up etcd in manual kubeadm cluster setup.
Want to see if it would make sense to make etcd kubeadm set

[2021-12-08 19:58] oujonny opened #8285 "Adding Istio, externalDNS & hetzner cloud manager as addons"
**Adding Istio, externalDNS & hetzner cloud manager as addons**:
- [https://github.com/istio/istio](https://github.com/istio/istio)
- [https://github.com/kubernetes-sigs/external-dns](https://github.com/kubernetes-sigs/external-dns)
- [https://github.com/hetznercloud/hcloud-cloud-controller-manager](https://github.com/hetznercloud/hcloud-cloud-controller-manager)

**Why is this needed**:
It would

[2021-12-08 22:28] dkulchinsky commented on #8182
Just hit the same issue, with Kubespray v2.17.1 upgrading to K8s 1.20.11

[code]

@floryut I agree with @sebfere, the replacement doen in https://github.com/kubernetes-sigs/kubespray/blob/8176e9155b17f6c3abcb9cf88dc160b179110a26/roles/download/templates/kubeadm-images.yaml.j2#L23-L25 removes both `coredns` instances

so if `coredns_image_repo` == `k8s.gcr.io/coredns/coredns`, the `regex_replace` t

[2021-12-09 12:29] cristicalin commented on #8281
Indeed, this looks to have been broken by https://github.com/kubernetes-sigs/kubespray/pull/8244 and not covered in CI.

/cc @Alvaro-Campesino

[2021-12-09 12:30] cristicalin commented on #8281
/retitle remove-etcd-node broken

[2021-12-09 12:31] cristicalin commented on #8280
Broken by https://github.com/kubernetes-sigs/kubespray/pull/8244

/cc @Alvaro-Campesino

[2021-12-09 12:34] cristicalin commented on #8282
/cc @champtar

I'm not sure what would be the proper fix here, on the one hand generating per node certificates makes it cleaner but it also causes issues when `kubeconfig` is storing the `certificate-authority-data`.

[2021-12-09 12:38] cristicalin commented on #8283
For now we have two ways of configuring the setup of etcd:
* `etcd_deployment_type` supports `docker` and `host` and allows setting up external etcd clusters which some may want for scalability purposes
* `etcd_kubeadm_enabled` allows you to deploy etcd on the `kube_control_plane` nodes but does not support external nodes afaik.

I made the proposal in a previous issues to converge these to `etcd_

[2021-12-09 12:41] cristicalin commented on #8285
Please see #6400 discussion on the scope of kubespray. We are accruing a lot of extra functionality but with not many maintainers stepping up to keep the code alive it becomes prone to code rot. You can always deploy additional tools on top of kubespray deployed kubernetes post deployment and on my part I would be more inclined to add a generic mechanism to register something like `additional_helm

[2021-12-09 12:45] floryut commented on #8281
Yup I guess we missed `keos_kubeconfig_path` .. anyway what was the supposed value ? `kube_kubeconfig_path` isn't a know var too 🤔

[2021-12-09 12:49] cristicalin commented on #8277
@ccaillet1974 the `nerdctl` implementation is still faced with the same lack of `proxy_env` setting. There is an open PR (https://github.com/kubernetes-sigs/kubespray/pull/8279) to address this but the submitter has not come back on our suggestions.

If the submitter does not come back in the next few days we'll have to close the PR and open a new one to address this issue.

/cc @shaohq

[2021-12-09 12:52] cristicalin commented on #8281
That contribution might be a split from some internal project the submitter was working on. We don't have any `*kubeconfig_path` variable in our code besides that. I kind of assumed the `ansible-lint` job would complain and catch these kinds of things.

Mea culpa for lgtm'ing this too soon.

[2021-12-09 12:56] floryut commented on #8281
Yup I even check the upstream fork of @Alvaro-Campesino which looks like the fork of his company, hoping to find any reference to `keos_*` or `kube_kubeconfig_path` but no luck.

Let's give him a few days to fix that, I'll open up a revert PR in the meantime.

[2021-12-09 14:13] Alvaro-Campesino commented on #8281
sorry, I will fix it up this weekend

El jue, 9 dic 2021 a las 13:56, Florian Ruynat ***@***.***>)
escribió:

--

| Álvaro Campesino Chacón

[image: Logo_signature2.png] <http://www.stratio.com/>

Vía de las dos Castillas, 33, Ática 4, 2ª Planta

28224 Pozuelo de Alarcón, Madrid, Spain

+34 918 286 473 | www.stratio.com

<https://twitter.com/stratiobd> <https://www.linkedin.com/company/stratiobd>

[2021-12-09 16:02] Alvaro-Campesino commented on #8280
Hi,

I am checking it, I am realizing I tested it with ansible 2.10 which has moved into the `kubernetes.core.k8s module`

I could manage it with a `command` instead of using the `k8s` module or the `kubernetes.core.k8s` module.

Not sure right now if `k8s` is there by default. I will check on it.

[2021-12-09 16:06] floryut commented on #8280
What about using the https://github.com/kubernetes-sigs/kubespray/blob/master/library/kube.py plugin ?

Like https://github.com/kubernetes-sigs/kubespray/blob/bdb923df4a42a422005006d1b55a84a00c83b965/roles/kubernetes-apps/metallb/tasks/main.yml#L44-L48

[2021-12-09 16:09] Alvaro-Campesino commented on #8280
Perfect, I will deliver a solution that provides the same results using
this plugin

El jue, 9 dic 2021 a las 17:06, Florian Ruynat ***@***.***>)
escribió:

--

| Álvaro Campesino Chacón

[image: Logo_signature2.png] <http://www.stratio.com/>

Vía de las dos Castillas, 33, Ática 4, 2ª Planta

28224 Pozuelo de Alarcón, Madrid, Spain

+34 918 286 473 | www.stratio.com

<https://twitter.com/stratiobd

[2021-12-09 16:24] #8280 closed

[2021-12-09 16:24] #8281 closed

[2021-12-09 16:26] Alvaro-Campesino commented on #8280
Well @floryut , I am checking  `kube` does not support configmaps or operations not meant for creating, replacing or deleting the supported resources. So it makes it difficult to make a lookup of a configmap in order to update it.

Meaning that the best approach without updating this plugin, which will lead to it doing same things done by `kubernetes.core.k8s` , is to use `command`. Not really hap

[2021-12-09 19:12] necatican commented on #8283
/cc @cristicalin

I would like to try implementing the support for using kubeadm on `etcd_deployment_type` if that's okay with you?
Do we need that feature? I might need some help with corner cases though. :)

[2021-12-10 05:30] cristicalin commented on #8283
@necatican we welcome all contributions and I'm happy to help review your code

[2021-12-10 06:41] singeleaf opened #8290 "External LB worker error"
## Kubespray version (commit) (git rev-parse --short HEAD):
v2.14.2

## Kubernetes version
v1.18.10

## Anything else do we need to know:
inventory/mycluster/group_vars/all/all.yml

[code]

## I got this error when Initialize first master:
<img width="1037" alt="屏幕快照 2021-12-10 下午4 18 43" src="https://user-images.githubusercontent.com/71816194/145541189-2dd2373e-e34d-438e-8a10-6e62122783fb.png">

[2021-12-10 10:49] sathieu commented on #8022
I don't see the tigera-operator using helm. It uses plain manifest:

[code]

Ref: https://projectcalico.docs.tigera.io/archive/v3.20/getting-started/kubernetes/quickstart

[2021-12-10 19:07] #8045 closed

[2021-12-11 23:05] andybrook commented on #7934
Have tested with 2.17 and can confirm that I still can't use quay with a 3 master setup (1st and 2nd masters are amd64 and the third is arm64) without the following 5 lines of config in place to resolve the issue.

calico_node_image_repo: "{{ docker_image_repo }}/calico/node" #arch problems
calico_cni_image_repo: "{{ docker_image_repo }}/calico/cni" #arch problems
calico_flexvol_image_repo: "{{ do

[2021-12-12 03:21] snowball77 commented on #8045
Thank you for the patch! I have not tested it so far, but by reviewing it manually it looks good. I will give it a try next time I bring a cluster up. However, you did not implement my comment https://github.com/kubernetes-sigs/kubespray/issues/8045#issuecomment-971146542

This leads to the problem, that people running vCenter 6.7 still do not get a working installation. I propose to use the exist

[2021-12-12 15:56] zxdvd opened #8300 "containerd: sample didn't follow the change of role"
#8123 replace containerd_runtimes with  containerd_runc_runtime and containerd_additional_runtimes
 but didn't update the sample.

**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-pars

[2021-12-12 17:05] necatican opened #8302 "Add `kubeadm` option to `etcd_deployment_type` to replace the `etcd_kubeadm_enabled ` variable"
**What would you like to be added**:
Got this idea from one of cristicalin's [posts ](https://github.com/kubernetes-sigs/kubespray/issues/8283#issuecomment-989814264).

**Why is this needed**:
`etcd_deployment_type` should cover all possible etcd deployment scenarios.

[2021-12-12 17:06] necatican commented on #8302
/assign

[2021-12-12 18:36] usrbinkat commented on #7934
Thank you @andybrook for the ansible variables for doing this

Looks like nodeselectors on the dns-autoscaler and metrics-server deployments will resolve remaining issues. I'll test this in the next week and report my own findings.

[2021-12-13 08:13] floryut commented on #8302
Nice of you to try and handle that 🙇

[2021-12-13 08:41] #7835 closed

[2021-12-13 10:25] Morion-Self opened #8303 "Feature to automatically add config to kubeconfig-file"
**What would you like to be added**:

If I understand it right, there are two ways to get kubeconfig to local machine:

1. Login to the cluster via ssh and download kubeconfig manually
1. Set the `kubeconfig_localhost` variable and get a copy of the config to your local machine.
(*If I made a mistake and there are other ways - please correct me*)

So I want to add the ability to automatically add

[2021-12-13 10:25] Jimmy-Newtron opened #8304 "Scale playbook fails"
I have a simple cluster with 1 master and 1 worker node

I want to add 1 new worker and I am following the procedure to scale the cluster.

I encounter the following error

[code]

I connected via SSH to the machine to perform the CURL command and validate the error:

[code]
What am I missing out of my verification?

I use the calico network plugin to manage the network security and I removed all

[2021-12-13 14:35] khatrig commented on #8282
Can we go back to the older way of creating apiserver crt/key on one control plane node and copying it on the rest of the nodes?

I'm using below as a workaround for now:

---
- name: Fetch API Server certs on ansible host
  fetch:
    src: /etc/kubernetes/ssl/{{ item }}
    dest: /tmp/apiserver/
    flat: yes
  loop:
    - apiserver.crt
    - apiserver.key
  when: inventory_hostname == groups['ku

[2021-12-13 14:42] khatrig commented on #8283
Thanks, @necatican, @cristicalin.  I'm closing this in lieu of https://github.com/kubernetes-sigs/kubespray/issues/8302. Looking forward to it.

[2021-12-13 14:42] #8283 closed

[2021-12-13 15:03] khatrig commented on #8304
This is being run from control plane node. indicating kube-apiserver was not reachable(probably not up) at the time.

Are you running this from control plane node? curl https://127.0.0.1:6443/healthz would only work from control plane node.

It's possible that kube-apiserver didn't come up till the time node-label role was tried.

Please check api server logs from around the same time.

[2021-12-13 22:42] #8300 closed

[2021-12-13 22:46] #8290 closed

[2021-12-14 05:43] cristicalin commented on #8187
This seems to be less of a problem now though I still see some throttling on the nginx image.

I'm going to close this for now since we managed to address the big offenders.

/close

[2021-12-14 05:43] #8187 closed

[2021-12-14 14:45] Jimmy-Newtron commented on #8304
Yes the playbook has run on every node of the cluster (and as well the control plane node)

the kube-apiserver was up and running

What I suppose is that there is a Firewall or a network rule dropping the packets (Calico setup)

[code]

[2021-12-15 12:35] zemkogabor opened #8307 "Heketi glusterfs daemonset readinessProbe initial delay seconds from variables"
**What would you like to be added**:

Heketi glusterfs daemonset readiness and liveness probe timeout and initial delay seconds from variable.

**Why is this needed**:

In glusterfs daemonset `readinessProbe` `initialDelaySeconds` value is `3` (kupespray commit: `aa9b8453`). This is not enought for Cluster of Vagrant VMs. Please modify to bigger value, or add ansible variable for customise.

_In h

[2021-12-15 13:07] #7807 closed

[2021-12-15 13:16] floryut commented on #8307
Do you feel like up for opening up a PR ?

[2021-12-15 14:12] lysyy opened #8308 "Wrong entry at /etc/systemd/resolved.conf"
kubespray2.17.1

/etc/systemd/resolved.conf with white spaces between digits, and nodelocaldns is not available

[Resolve]
DNS=1 6 9 . 2 5 4 . 2 5 . 1 0
FallbackDNS=
Domains=default.svc.cluster.local svc.cluster.local

and TASK [kubernetes/preinstall : Update package management cache (APT)] FAILED! => {"changed": false, "msg": "Failed to update apt cache: unknown reason"}

[2021-12-15 14:30] zemkogabor commented on #8307
PR created: https://github.com/kubernetes-sigs/kubespray/pull/8309

[2021-12-15 20:21] oomichi commented on #8308
On Kubespray 2.17.1, the resolved.conf is generated from https://github.com/kubernetes-sigs/kubespray/blob/6ff35d0c6772d4dcb5a83dbf597e03e54b7dfecc/roles/kubernetes/preinstall/templates/resolved.conf.j2

and the corresponding line of `DNS` is
[code]
And how to set coredns_server value depends on dns_mode.
What value is specified for dns_mode on your environment?
"coredns" is the default value BTW.

[2021-12-16 05:35] cristicalin commented on #8308
If `coredns_server` contains a single string entry (and it usually does) I see how this may generate the bug.

[2021-12-16 11:42] lysyy commented on #8308
dns_mode: coredns
inventory has 1 master and 1 worker.
resolvconf_mode: host_resolvconf

[2021-12-16 12:20] Jimmy-Newtron commented on #8304
I have not yet found a clear solution to this problem.

I had a successful play by adding to the CLI the `-e kube_apiserver_bind_address=x.x.x.x`

I have set the `kube_apiserver_bind_address` in the inventory vars for **all** nodes and I expected the vars priority to take my var value instead of the default kube_apiserver_bind_address=0.0.0.0

Need to clarify what is the vars priority but I got th

[2021-12-16 12:20] #8304 closed

[2021-12-16 15:24] muhlba91 commented on #7914
With 1.23 out already, are there plans on drafting a release containing 1.22?
I’d rather not have to use the master branch if a release for 1.22 is planned soon.

[2021-12-16 15:39] floryut commented on #7914
yup as always, as soon as the k8s n+1 release is out, we begin to think of release kubespray; but give us some time please 😛

[2021-12-17 03:44] tomsunyu opened #8313 "How to configure the container runtime as docker？"

[2021-12-17 08:26] #7813 closed

[2021-12-17 13:22] Bledai commented on #7962
Hi
We faced similar issue again - can't setup cluster when `kube_apiserver_bind_address != "0.0.0.0"` with more than one master:
I don't see these changes: Why was the issue close?
[code]

[2021-12-17 13:27] floryut commented on #7962
@Bledai it was automatically close by #7989 as @Alvaro-Campesino tag his PR as a fix for this issue

[2021-12-17 13:36] Bledai commented on #7962
@floryut so the problem still exists or maybe this is in the new one but the same root cause.
I'm testing with
[code]
 and current kubespray from master (aa9ad1ed6094cf952dfb8e3320a5c360d2da99b6)
 if it is helps I'll create PR

[2021-12-17 13:58] floryut commented on #7962
If you want to create a PR for a fix on an issue, that's always welcome and a pleasure.

Maybe loop in @Alvaro-Campesino

[2021-12-17 18:31] Bledai commented on #7962
@floryut @Alvaro-Campesino
added
[code]

I set `kube_apiserver_bind_address` in inventory 3 different ip
but as a result on `kube-apiserver.conf` on each master the `bind-adress` is `kube_apiserver_bind_address` from first master
advertise-address - different and ok for each master
Does any idea why?
What the difference between
`kube_apiserver_endpoint`
and
`kubeadm_discovery_address`?

[2021-12-18 00:01] oomichi commented on #8313
@tomsunyu Could you write more on the description?
I am not sure what kind of information is necessary from you.

The default value of container_manager is docker as https://github.com/kubernetes-sigs/kubespray/blob/6aafb9b2d42b12d4d8ffbe3b209da756d704fc21/roles/kubespray-defaults/defaults/main.yaml#L260
Doesn't it work for you?

[2021-12-18 00:15] oomichi commented on #8308
If dns_mode is coredns, coredns_server can be the list of IP address in general according to https://github.com/kubernetes-sigs/kubespray/blob/6ff35d0c6772d4dcb5a83dbf597e03e54b7dfecc/roles/kubernetes/preinstall/tasks/0040-set_facts.yml#L134-L136

Or on the environment, dns_early is true and go through https://github.com/kubernetes-sigs/kubespray/blob/6ff35d0c6772d4dcb5a83dbf597e03e54b7dfecc/roles

[2021-12-18 00:39] tomsunyu commented on #8313
Yes, I get it. Also, I have deployed the kubespray successfully. But I found some nginx-proxy static pods in a kubernetes cluster. I  don't know why to deploy the nginx static pods in the kube-system namespace. How to use it?

[code]

[2021-12-18 02:23] tomsunyu commented on #8313
I see. These nginx static pods are  used for load balancing of kube-apiserver. Thank you very much.

[2021-12-19 06:24] sysnasri opened #8316 "apiserver container does not start | [kubernetes/control-plane : Wait for k8s apiserver]"
**Environment**:
- **Cloud provider or hardware configuration:**
LXD vms top of MAAS
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
[code]
- **Version of Ansible** (`ansible --version`):
ansible 2.10.15
- **Version of Python** (`python --version`):
3.9.2

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
latest

**Network plugin used**:
calico

**Full inventory with va

[2021-12-19 09:51] #7770 closed

[2021-12-19 11:53] #7817 closed

[2021-12-20 01:20] yule-sun commented on #5757
The same issue~~~~~~

[2021-12-20 06:30] tomsunyu opened #8318 "Failed when installing version v1.21.8"
I failed to deploy kubernetes v1.21.8. The following are some parameters I set：

kube_version: v1.21.8

kube_network_plugin: flannel

container_manager: docker

The following is the error reported by ansible：

[code]

So can you help me solve this problem ?

[2021-12-20 07:10] tomsunyu commented on #8318
Now I faild to deploy kubernetes v1.20.14. Same errors as above.

[2021-12-20 08:23] cristicalin commented on #8318
Unfortunately we don't carry the checksums for those versions, you can find all the supported versions in https://github.com/kubernetes-sigs/kubespray/blob/master/roles/download/defaults/main.yml and we welcome contributions should you want to do the work to add those checksums.

[2021-12-20 08:33] #8277 closed

[2021-12-20 08:38] Alvaro-Campesino commented on #7962
Can you paste your inventory data?
`kube_apiserver_bind_address` must be an IP address, not an array containing three different ip addresses

[2021-12-20 09:51] tomsunyu commented on #8318
Thank you. I already update the local kubespray code,

[2021-12-20 10:01] #7819 closed

[2021-12-20 16:56] oomichi commented on #8313
@tomsunyu
Then we can close this issue, right?
Please open another issue if having different issue.

/close

[2021-12-20 16:56] #8313 closed

[2021-12-20 16:56] #8318 closed

[2021-12-20 20:17] djkormo commented on #7994
Not fixed so far .

[2021-12-20 20:31] cristicalin commented on #8316
It would be useful to share the full ansible log since the excerpt provided does not yield too much useful information to help you in troubleshooting this issue.

[2021-12-20 22:12] cristicalin opened #8324 "Pods restarting during initial deploy"
**Environment**:
- **Cloud provider or hardware configuration:** Kubespray CI

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):** Various

- **Version of Ansible** (`ansible --version`): 2.9, 2.10, 2.11

- **Version of Python** (`python --version`): CI version

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
Current HEAD

**Network plugin used**:
Calico and others

**Ful

[2021-12-20 22:21] cristicalin commented on #8324
I might have my answer for the restarts in https://github.com/kubernetes-sigs/kubespray/blob/master/roles/kubernetes/control-plane/tasks/kubeadm-fix-apiserver.yml#L14-L17 but still no explanation for the RBAC messages.

Also checking the RBAC part I see that `system:kube-scheduler` has the following permissions:

[code]

This is confusing as it seems the complaint is for a missing permission that

[2021-12-21 01:09] #7820 closed

[2021-12-21 06:14] #7822 closed

[2021-12-21 09:04] Bledai commented on #7962
@Alvaro-Campesino I know: `kube_apiserver_bind_address` the same as `ip`  in my inventory

[2021-12-21 09:52] floryut opened #8325 "Release Proposal v2.18"
Below is a proposal for release notes:

# Announcements
We are looking for maintainers, reach out in #5432.

## Deprecation / Removal

- [Ambassador] Remove code, ci and ansible tags as it's no longer maintained and not working anymore. ([#8086](https://github.com/kubernetes-sigs/kubespray/pull/8086), [@floryut](https://github.com/floryut))
- Drop support for Fedora 33 ([#8246](https://github.com/

[2021-12-21 09:55] floryut commented on #8325
@oomichi at last this time I used the release-note generator, that's why I micro manage each PR with label & notes 😆

[2021-12-21 14:02] patvdleer commented on #5550
I've ran into something very similar;

The healthcheck gives `Error while dialing dial tcp 192.168.112.6:2379: connect: connection refused`

I have;
[code]

on master `sudo docker logs etcd1`
[code]

running `contrib/terraform/openstack/hosts --list --pretty`
[code]

[2021-12-21 17:25] oomichi commented on #8325
@floryut Thank you so much for your work!
The above release-note is really nice for Kubespray users, I think the release seems ready :-)

[2021-12-22 08:29] #8221 closed

[2021-12-22 09:16] floryut commented on #8221
@zhengtianbao kudos for this, thank you

[2021-12-22 17:08] lysyy commented on #8308
upstream_dns_servers was not specified in my inventory. I can reset cluster, specify and test, do it?

[2021-12-22 17:45] oomichi commented on #7362
The above change which replaces python-apt with python3-apt has been already merged since the commit d0fb537448bc553337a7098d31233be77751ad8a
So I think we can close this issue.

@CodingSpiderFox Please close this issue if that is fine.

[2021-12-22 18:26] cristicalin commented on #8325
Thank you @floryut for putting this together!

[2021-12-22 18:40] CodingSpiderFox commented on #7362
Sorry I don't have time to check at the moment

[2021-12-22 19:17] cristicalin commented on #7986
/remove-lifecycle stale
/assign

[2021-12-23 08:32] #8307 closed

[2021-12-23 11:17] vishumindtree commented on #7968
@oomichi It seems as if containerd v1.4.9 is hardcoded.
Anyways , When we are already installing docker-ce , why do we need to install containerd separately.
containerd  gets installed as part of installation of docker-ce itself.

[2021-12-23 11:39] 1Const1 commented on #8325
this one can't be in release - https://github.com/kubernetes-sigs/kubespray/pull/8299

it's creates new bug not fixing anything

[2021-12-23 13:40] floryut commented on #8325
@1Const1 Well, you could 😄
If you don't want to, I'll open a revert PR in the afternoon

[2021-12-23 14:38] #7827 closed

[2021-12-23 16:56] VannTen opened #8332 "Put configuration variables from kubespray-defaults into a separate role"
**What would you like to be added**:

1. Split variables which are "static" (=not depending on facts) in
kubespray-defaults into their own role.
2. Maybe we should also rename `kubespray-defaults` to something else.

**Why is this needed**:

- Log readability: see #7222
- ability to use "configuration variables" separately. This avoids something
  like this(`remove-node.yml`):

[code]

  Here, if

[2021-12-23 18:35] VannTen commented on #8332
The most obvious way is to create a new role, put this 'static' variables here, and add it as a role dependency for kubespray-defautls, then we can change usage site progressively if needed

[2021-12-24 04:40] oscrx commented on #2981
This is still happening

[2021-12-24 05:48] zhengtianbao opened #8333 "Should it be copy flannel binary to host?"
**Why is this needed**:

I notice the `host-cni-bin` volume not used in roles/network_plugin/flannel/templates/cni-flannel.yml.j2

https://github.com/kubernetes-sigs/kubespray/blob/2b5c185826a854f624f4412c181a369da9301550/roles/network_plugin/flannel/templates/cni-flannel.yml.j2?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20

[2021-12-24 10:48] #7832 closed

[2021-12-24 14:35] mgiessing opened #8335 "CentOS8 Kubespray installation [ppc64le] cannot reach service via external IP"
I installed Kubernetes using mainly the default settings in Kubespray on 3 CentOS8 VMs:

[code]

But when I deploy a sample nginx container and expose it using NodePort it seems not to work properly.

`nginx.yaml`

[code]

`svc-nginx.yaml`:

[code]

Deploy everything:
[code]

Now I would expect to reach them via `curl -k http://129.40.94.137:31704` (or any of the other 2 VM IPs), but this does not

[2021-12-25 09:09] mircyb opened #8336 "nerdctl can't use insecure registry"
**Environment**:
- **Cloud provider or hardware configuration:*on baremetal*

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):*CentOS Linux release 7.8.2003*

- **Version of Ansible*ansible 2.10.15* (`ansible --version`):

- **Version of Python*Python 3.6.9* (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):*b49ae8c2*

**Network plugin used*flannel*:

*

[2021-12-25 16:26] mircyb commented on #8335
curl 10.233.32.31:8080 is working?

[2021-12-25 16:36] mgiessing commented on #8335
Nope - it is 'hanging':

[code]

Pinging the cluster ip works:

[code]

[2021-12-25 16:47] mircyb commented on #8335
check

# kubectl get ep

[2021-12-25 18:12] mgiessing commented on #8335
This also doesn't work:

[code]

Exec into the pod however works fine:

[code]

[2021-12-25 20:34] mircyb commented on #8335
i think this problem is cni problem

check if calico_iptables_backend to NFT is actually applied
[code]

and more something strange

svc ip(your case 10.233.32.31) as far as i know  doesn't reply to icmp

is there any real machine with 10.233.32.31 ?

also I would like to check this too
[code]

[2021-12-25 21:52] mgiessing commented on #8335
Yes, NFT seems to be applied:

[code]

There shouldn't be any real machine in the 10.x net -  only the 3 VMs in 129.x.x.x I mentioned in my first post. Here some further info:

[code]

[2021-12-25 23:01] mircyb commented on #8335
i made a mistake

I missed your arch

kubespray doesn't support ppc64le arch

https://github.com/kubernetes-sigs/kubespray/blob/master/docs/arch.md

you can manually install and use

[2021-12-25 23:29] mgiessing commented on #8335
Yes, that is the reason why I added all the relevant checksums for ppc64le and - at least from the first view - it seems to pull the calico node images & controllers (see the `kubectl get pods -A` in my first post). However I don't have any x86 server - can you see if I'm missing any calico images compared to a default install on x86?

After adding all relevant checksums to `roles/download/default

[2021-12-26 01:35] rverma-nsl commented on #8325
Is it possible to use helm template for cilium. It seems while installing cilium through kubespray the cilium configuration are different. Tried upgrading to 1.11 using both helm and cilium cli but couldn't find the exact config options which will work. Some config options seems deprecated, few renamed etc.

While installing with help, the burden of upgrades is with the original maintainer of the

[2021-12-26 08:22] RomanKisilenko opened #8341 "Calico fails to start on the node after node is replaced with the same name"
**Environment**:
- **Cloud provider or hardware configuration:**
Bare metal

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Ubuntu 20.04

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
v2.17.1

**Network plugin used**:
calico

**Steps to reproduce**:
1. Remove worker node via remove-node.yml
2. Add replaced worker node using the same name and execute scale.yml

**Ac

[2021-12-26 10:13] RomanKisilenko commented on #8341
The same issue happens if I re-add the node using a different name.

The error from calico pod looks like this:
[code]

[2021-12-27 12:05] sysnasri commented on #8316
@cristicalin  , here is a complete ansible log with 4x verbosity
https://gist.github.com/sysnasri/2e919332e3734555a63e5cfa826c5e2a

[2021-12-27 12:06] sysnasri commented on #8316
@cristicalin  I have to mention at first I run it through ubuntu focal and then change it to bionic , no deference.

[2021-12-27 12:22] sachithmuhandiram opened #8343 "Kubespray offline installation"
Recently We want to reset our K8 cluster and start as a new one.

We had tried all possible locations for a proper guide. But only one found was [this](https://github.com/kubernetes-sigs/kubespray/blob/master/docs/offline-environment.md)

As it suggested, we created docker-registry and placed required repos in a http-server. When we try to run `ansible-playbook` we get following error.

[code]

Ku

[2021-12-27 13:41] sysnasri commented on #4693
I don't have firewall, I have got this issue since a few days

[2021-12-27 13:53] kaul-abhi commented on #8096
Hello Team,
We have run upgrade.yml command. Post that kubectl, kubelet got upgraded but kubeadm still showing 1.19.2 and when i do kubectl get nodes then also 1.19.2. Please help.

[2021-12-28 06:32] sophalHong opened #8344 "[Terraform AWS] Create a Network Load Balancer for kube-apiserver domain"
**What would you like to be added**:
For Terraform AWS:
- Create a Network Load Balancer (NLB) for kube-apiserver
- apiserver_loadbalancer_domain_name should be created as Network Load Balancer

**Why is this needed**:
- currently it is created using ELB (Classic Load Balancer) which is previous generation of AWS EC2 Load Balancer
- AWS will be retiring the EC2-Classic network on August 15, 2022.

[2021-12-28 07:14] kien-truong commented on #8343
I don't see how the error message can be clearer.
Your error is not related to offline installation: you're specifying an unsupported `calico_version`.

[2021-12-28 07:29] sachithmuhandiram commented on #8343
This is the calico version we have locally. Any suggestions to fix this issue?

[2021-12-28 08:13] kien-truong commented on #8343
I don't think converting a non-kubespray cluster into a Kubespray cluster is supported.

But if you're installing a new cluster fresh, then the existing calico version is irrelevant. Just use the default `calico_version` from a Kubespray release, which is `3.19.2` for Kubespray `2.17.1`. Kubespray will install the new Calico as part of the installation process.

[2021-12-28 08:23] sachithmuhandiram commented on #8343
This cluster was installed using `kubespray`  (using online) and then reset.

Now want to reinitialize the cluster in offline mode.

[2021-12-28 08:53] VannTen commented on #8343
In that case presumably you don't have a cluster ? Can't you install the new cluster fresh ?

[2021-12-28 08:56] kien-truong commented on #8343
Calico version `v3.15.2` is the default version for Kubespray `2.14.x`, so I you want to keep using that version, just check out the corresponding git tag before running the playbook and you should be good to go.

Otherwise, follow the [upgrade guide](https://github.com/kubernetes-sigs/kubespray/blob/master/docs/upgrades.md) to upgrade your cluster to a newer version.

[2021-12-28 09:29] ccaillet1974 opened #8345 "Problem with external LB declaration for fresh install or upgrade"
Environment:

**Cloud provider or hardware configuration:on baremetal

**OS (printf "$(uname -srm)\n$(cat /etc/os-release)\n"): Debian GNU/Linux 11 (bullseye)

**Version of Ansible : ansible 2.10.11 (ansible --version):

**Version of Python : Python 3.9.2 (python --version):

**Kubespray version (commit) (git rev-parse --short HEAD): ed3932b7

** Container runtime : containerd v1.5.8

**Network pl

[2021-12-28 09:51] jonnys17 commented on #8285
Hi
Thanks fro you awnser. I will try to write a role to install additional charts. I might be based on argocd with templating of the Argocd-Application yaml and then you can spefice your application within the inventory (with url to chart etc.).

Only the hcloud cloud-manger I would like to contribute directly to the external_cloud_controller. Then the installtion of the it is better integrated wi

[2021-12-28 10:22] sachithmuhandiram commented on #8343
Need to install fresh cluster in offline mode, thats what we are trying.

[2021-12-28 10:27] sachithmuhandiram commented on #8343
This is not just for calico...
We need to install fresh Kubernetes cluster offline.

[2021-12-28 11:50] kaul-abhi opened #8346 "Encountered a bug while upgrading kubernetes cluster from v1.19.2 to v1.20.7. kubectl server got upgraded but kubernetes nodes were in same version"
**Environment**:
- **Cloud provider or hardware configuration:
On-Premise

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):
NAME="Red Hat Enterprise Linux Server"
VERSION="7.9 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.9"
PRETTY_NAME="Red Hat Enterprise Linux"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:7.9:GA:server"
HOME_URL=

[2021-12-28 15:56] ykfq commented on #4693
Same issue without firewalld or iptables enabled

[2021-12-28 17:46] sysnasri commented on #4693
I believe the new release has bug, I have tested on Ubuntu 20,18 Centos7,8 all of them have this issue.

In fact kubespray does not generate/copy certificates on the other master nodes, I am checking older kubespray version

[2021-12-29 03:28] kien-truong commented on #8343
The same principal apply to other components: always use the default version for each components in the Kubespray release, unless you are willing to troubleshoot any incompatibility yourself.  To get the component versions, read the release notes of the corresponding major Kubespray release. For example, for releases 2.17.x, you can get the components version here:

https://github.com/kubernetes-s

[2021-12-29 04:10] tomsunyu opened #8348 "How to upgrade kubernetes by different kubespray"
Hello:
     I previously installed the kubernetes v1.20.0 cluster with kubespreay v2.15.0-154-ge381ce5. Now I want to upgrade the kubernetes cluster to v1.21.0 with kubespreay v2.17.1. How to upgrade the cluster ?

[2021-12-29 04:48] sysnasri commented on #4693
I actually checkout to a different version of kubespray , v2.16 and it works

[2021-12-29 05:24] grajeshwaran opened #8349 "Node - NotReady status | kubelet service | Housingkeeping Interval"
Kubespary on baremetal - Version 1.21

Node - NotReady status

Logs :

kubenode1 kubelet[31930]: E1228 04:58:18.749083   31930 kubelet.go:1870] "Skipping pod synchronization" err="PLEG is not healthy: pleg was last seen active 8m2.059879965s ago; threshold i
kubenode1 kubelet[31930]: E1228 04:58:19.893332   31930 kubelet.go:1701] "Unable to attach or mount volumes for pod; skipping pod" err="unmou

[2021-12-29 08:18] eifelmicha opened #8350 "Use sysctl_file_path Variable for all Sysctl Tasks"
**What would you like to be added**:
- provide consistent sysctl configuration and use existing `sysctl_file_path` variable on Tasks which modify sysctl parameters

1.  https://github.com/kubernetes-sigs/kubespray/blob/ed3932b7d52f5de892a66010cb342c9c754e3655/roles/kubernetes/preinstall/tasks/0080-system-configurations.yml#L84
2. https://github.com/kubernetes-sigs/kubespray/blob/ed3932b7d52f5de892

[2021-12-29 13:29] ccaillet1974 commented on #8345
HI all,

It's me again and I fix my issue. Actually in file roles/kubernetes/preinstall/defaults/main.yml there is a test  at line 64 :
[code]

But in my usecase it doesn't work and the apiserver_loadbalancer_domain_name_host is affected on 127.0.0.1 instead of loadblancer_apiserver.address value despite the declaration on group_vars/all/all.yml

My ugly fix consists by defining the value apiserve

[2021-12-30 12:00] krishnakc1 commented on #4773
I am trying to install 1.14.10 and of course it is not in the list and it fails. Does this mean, I cannot install 1.14.10 kubernetes version with kubespray? Did anyone work around that problem?

[2021-12-30 20:17] alexadmin opened #8352 "kubernetes bare metal installation"
I have 10 phys. servers. I installed it with Kubespray. Before installation I passed through Kubernetes hard way.

Should I write my own ansible playbook or use ready to use Kubespray?

[2021-12-31 07:56] ccaillet1974 commented on #8352
HI,

You just need to define your inventory correctly as described in the README.md and after that follow the README.md for installing your new k8s cluster. I did this and it works perfectly but be attentive on the different file for defining the correct vars for yoir deployment specificity.

Regards

[2021-12-31 08:46] necatican opened #8353 "Bump Cilium to 1.11.0"
**What would you like to be added**:
I would like Kubespray to support the new Cilium version

**Why is this needed**:
A new version of Cilium has been released. Available versions should get an update.

[2021-12-31 08:46] necatican commented on #8353
/assign

[2021-12-31 08:54] necatican commented on #8353
/assign yasintahaerol
/assign eminaktas

[2021-12-31 08:55] eminaktas commented on #8353
/assign

[2021-12-31 08:55] yasintahaerol commented on #8353
/assign

[2021-12-31 08:59] necatican opened #8355 "Cilium: Add support for `identity-allocation-mode`"
**What would you like to be added**:
Cilium supports `crd` and `kvstore` options to choose how  identities are shared between Cilium nodes.
The current Kubespray installation only supports using etcd as kvstore.

Detailed information on the subject: https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-configmap.yaml#L91

**Why is this needed**:
Kubespray users sh

[2021-12-31 08:59] necatican commented on #8355
/assign

[2021-12-31 08:59] eminaktas commented on #8355
/assign

[2021-12-31 08:59] yasintahaerol commented on #8355
/assign

[2021-12-31 18:07] docent-net opened #8356 "cert-manager tolerations"
**What would you like to be added**:

Ability to specify tolerations for cert-manager -* deployments

**Why is this needed**:

I have 9 pods in cluster, 3 for control plane and 6 for workloads. I have created this whole cluster without any taints. Afterwards, I have tainted those 6 workers nodes.

Today, I had an outage of one worker node - some workloads were migrated to other nodes. cert-manager

[2022-01-01 00:02] kjellmoens opened #8357 "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute '2.2.3'"
**Environment**:
- **Cloud provider or hardware configuration:**
RockPro64 barebone
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.4.72-microsoft-standard-WSL2 x86_64
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPO

[2022-01-02 15:48] abdennour commented on #4917
Thanks @dwerder . You saved my day.
It might help people coming to https://github.com/bitnami/charts/issues/8516

[2022-01-02 22:00] deveshk0 commented on #8341
Adding this. - `calico_datastore: "etcd"` fixes the problem

[2022-01-03 07:52] floryut commented on #8325
Sorry Christmas was a bit crazy, I will try to wrap up everything

[2022-01-03 07:55] floryut commented on #8348
@tomsunyu please check https://github.com/kubernetes-sigs/kubespray/blob/master/docs/upgrades.md

[2022-01-03 07:55] #8348 closed

[2022-01-03 08:53] floryut commented on #8357
Which application/network plugin/other did you set to 2.2.3 ?

[2022-01-03 09:15] Queeq commented on #3678
Hi,
As of kubespray release 2.17, this problem is still valid for Ubuntu 20.04 with systemd-resolved disabled (however that may happen): `/run/systemd/resolve/resolv.conf` simply doesn't exist and hence kubelet is not able to use DNS.

`kube_resolv_conf` variable is pulled via `include_vars` so it has pretty high Ansible var selection priority and it's impossible to set it via group_vars. The only

[2022-01-03 10:45] floryut commented on #8325
@1Const1 done

[2022-01-03 10:54] floryut commented on #8349
https://github.com/kubernetes-sigs/kubespray/blob/master/docs/vars.md#custom-flags-for-kube-components
[code]

With that you can set ` --housekeeping-interval=30s` if you need to

[2022-01-03 10:54] #8349 closed

[2022-01-03 15:07] ralbon opened #8365 "Task "Search root filesystem device" needs fact"
**Description**:
This is related to [issue 7958](https://github.com/kubernetes-sigs/kubespray/issues/7958) and [PR 8024](https://github.com/kubernetes-sigs/kubespray/pull/8024)
Since it used `ansible_mounts` variable , it needs to gather fact first.

I suggest to add this code before task Search root filesystem device.
[code]

**Environment**:
- **Cloud provider or hardware configuration:** Azure

[2022-01-03 15:25] floryut commented on #8365
@ralbon Care to propose a PR ? Maybe this is worth creating before releasing 2.18

[2022-01-03 15:27] floryut commented on #8365
@oomichi @cristicalin WDYT ?

[2022-01-03 15:36] ralbon commented on #8365
@floryut Sure, I'm on it

[2022-01-03 21:57] linucksrox commented on #7738
/remove-lifecycle stale

[2022-01-04 07:50] eminaktas commented on #8355
Should we implement this feauture?

/cc @floryut

[2022-01-04 07:57] floryut commented on #8355
Well if someone is up for it, please do 👍

[2022-01-04 08:17] sathieu commented on #7781
/remove-lifecycle stale

[2022-01-04 09:52] sathieu commented on #8343
Please take a look at [Kubitus Installer](https://gitlab.com/kubitus-project/kubitus-installer) it installs a gitlab server and synchronize artifacts (images and binaries) using gitlabracadabra. If you only need kubespray, you can disable the other components (`argocd_enabled: false`, `istio_enabled: false`, ...)

[2022-01-04 14:48] #8365 closed

[2022-01-04 15:17] floryut commented on #8325
Here goes nothing

[2022-01-04 21:01] lhw commented on #7932
It's not something easily replicated with a production environment. So I will just close it

[2022-01-04 21:01] #7932 closed

[2022-01-05 08:36] #8353 closed

[2022-01-05 09:14] #8336 closed

[2022-01-05 14:38] sachithmuhandiram opened #8374 "Error: failed to fetch endpoints from etcd cluster member list: context deadline exceeded"
**Environment**:

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

Ubuntu 18.04.6 LTS

- **Version of Ansible** (`ansible --version`):
 - ansible 2.9.6

- **Version of Python** (`python --version`):
 - Python 2.7.17

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
#2ff7ab8d

**Network plugin used**:
Calico

**Full inventory with variables (`ansible -i inventory/sample

[2022-01-05 15:28] sathieu opened #8375 "containerd_registries is ignored by nerdctl"
**Environment**:
- **Cloud provider or hardware configuration:**

not relevant

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

[code]

- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Python** (`python --version`):
[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

92f25bf2 (v2.18.0)

**Network plugin used**:

calico

**Full inventory wit

[2022-01-05 15:33] sathieu commented on #8375
There is an enty [in the FAQ](https://github.com/containerd/nerdctl/blob/master/docs/faq.md#nerdctl-ignores-pluginsiocontainerdgrpcv1cri-config):

[2022-01-05 15:41] cristicalin commented on #8375
The reason I introduced nerdctl was to be able to account for multi-arch images which neither `ctr` nor `crictl` handle properly, now nerdctl is ignoring the cri interface (I did not spot this earlier). It seems we have to wait for one of the other projects to fix multi-arch support as using CRI is outside the scope of nerdctl.

It's not clear to me from the FAQ if a CRI like approach is doable wi

[2022-01-05 15:44] sathieu commented on #8375
I'm currently reading and testing this:

- https://github.com/containerd/containerd/blob/0def98e462706286e6eaeff4a90be22fda75e761/docs/hosts.md#cri
- https://github.com/containerd/containerd/blob/0def98e462706286e6eaeff4a90be22fda75e761/docs/hosts.md#setup-a-local-mirror-for-docker

Related to https://github.com/kubernetes-sigs/kubespray/issues/8199

[2022-01-05 15:49] cristicalin commented on #8375
Indeed, I forgot about that issue. The docs for it sound like it should apply to using `nerdctl` as well. Would be great if it did and I think we would need to backport the fix to 2.18 since this is a major regression.

[2022-01-05 15:49] cristicalin commented on #8375
/cc @floryut

[2022-01-05 15:59] sathieu commented on #8375
Unfortunately, this doesn't work:

[code]

[2022-01-05 16:14] sathieu commented on #8375
I've submited https://github.com/containerd/nerdctl/issues/668, asking an implementation on the nerdctl side.

In the meantime, 056a566 should probably be reverted or made configurable.

[2022-01-05 16:21] cristicalin commented on #8375
Reverting https://github.com/kubernetes-sigs/kubespray/commit/056a566cff9b5a1fc047b0ea78464fe21c167c09 would unfortunately break the CI due to some of the images we use being multi-arch.

The only way would be to revert back to containerd 1.4.x which does not exhibit the issue with multi-arch images.

[2022-01-05 16:25] cristicalin commented on #8375
You might try setting registry-mirrors in `~/.docker/config.json` as the nerdctl would seem to imply that this should work.

[2022-01-05 17:01] sathieu commented on #8375
@cristicalin I don't see any way to configure mirrors in config.json.

Which images are multi-arch?

It looks like `sudo crictl pull quay.io/calico/node:v3.20.3` works. Maybe use this instead? (it probably supports multi-arch images).

[2022-01-05 17:17] sathieu commented on #8375
I'm unable to reproduce the bug of https://gitlab.com/kargo-ci/kubernetes-sigs-kubespray/-/jobs/1826926575#L3500 (mentioned in https://github.com/kubernetes-sigs/kubespray/pull/8245):

[code]

[2022-01-05 17:21] calvinpark commented on #7122
/remove-lifecycle stale

[2022-01-05 17:25] sathieu commented on #8375
@cristicalin Please add ok-to-test to #8376 :pray: (this is just to test).

[2022-01-06 00:46] mgiessing commented on #8335
Everything works as expected - also with ppc64le arch - I had a special DNS setup which I needed to configure correctly.

[2022-01-06 00:46] #8335 closed

[2022-01-06 01:11] onap4105 opened #8378 "offline download files are unavailable"
**Environment**:
- **Cloud provider or hardware configuration:**

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

- **Version of Ansible** (`ansible --version`):

- **Version of Python** (`python --version`):

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

**Network plugin used**:

**Full inventory with variables (`ansible -i inventory/sample/inventory.ini all -m d

[2022-01-06 02:01] oomichi commented on #8378
confirmed this issue can be reproduced and https://github.com/kubernetes-sigs/kubespray/pull/8379 fixes it.

[2022-01-06 07:48] floryut commented on #8375
FYI ok-to-test doesn't really do anything beside a yaml prow test, all other test are trigger using a mirroring to gitlab-ci 😋

[2022-01-06 08:12] sathieu commented on #8375
Thanks @floryut. I've seen that most of the tests were run before the ok-to-test.

This CI setup is amazing. Is it documented somewhere (I need something similar for [kubitus-installer#51](https://gitlab.com/kubitus-project/kubitus-installer/-/issues/51))?

[2022-01-06 08:28] floryut commented on #8375
Yes, it is kind of documented here https://github.com/failfast-ci/failfast-api (the most verbose part being https://github.com/failfast-ci/failfast-api#architecture) 👍

[2022-01-06 08:58] sathieu commented on #8375
@floryut Didn't knew about failfast. This is a great tool!

Is there any docs about the runners setup? Is this on GCE?

[2022-01-06 10:56] floryut commented on #8375
No sure there is much doc, you may contact @ant31 using k8s slack maybe.
For us failfast worker are hosted on our k8s cluster.

[2022-01-06 11:35] rtsp opened #8381 "Dedicated etcd upgrade failed to upgrade from 2.17 (role: container-engine)"
**Environment**:
- **Cloud provider or hardware configuration:** QEMU KVM on Bare-metal Server
- **OS:** Debian 11 (bullseye)
- **Version of Ansible:** ansible [core 2.11.7]
- **Version of Python:** Python 3.9.2

---

**Kubespray version (commit):** 30d98828 (master) or 92f25bf2 (release-2.18)

**Network plugin used**: Flannel

**Full inventory with variables:** https://gist.github.com/rtsp/cf0230

[2022-01-06 14:24] Payback159 opened #8384 "No arm release for runc v1.0.3"
**Environment**:
- **Cloud provider or hardware configuration:**

raspberry pi 4

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

[code]

- **Version of Ansible** (`ansible --version`):

[code]

- **Version of Python** (`python --version`):

[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

`92f25bf2`

**Network plugin used**:

calico

**Full inventory with va

[2022-01-06 16:44] khatrig opened #8385 "Expose metrices for etcd events cluster"
**What would you like to be added**:
Support metrics for etcd events cluster

**Why is this needed**:
Currently, kubespray only supports creating events cluster but doesn't expose any matrices for it.

[2022-01-07 09:36] yuswitayudi commented on #3293
hello @nik786 , how do you solved this issue? Do you reinstall server or what?

[2022-01-07 12:41] sachithmuhandiram commented on #8374
This was a problem with earlier `etcd` installation.

To fix this issue, in all problematic etcd nodes.

[code]

Then try `ansible` playbook again.

[2022-01-07 12:41] #8374 closed

[2022-01-07 14:26] Payback159 commented on #8352
Hello @alexadmin,

I can highly recommend Kubespray for productive clusters. I was myself involved in a migration of 4 existing productive clusters to Kubespray based clusters. After all, if Kubespray can't/doesn't do something, there's nothing wrong with adding your own playbook.

But if you want to use Ansible to learn "Kubernetes the hard way"... I would almost lean towards writing own playbook

[2022-01-07 14:30] Payback159 commented on #8096
Hi @kaul-abhi,

As described here https://kubespray.io/#/docs/upgrades?id=multiple-upgrades, you should not skip tags. Since you wrote that you went from v2.14 to v2.16, maybe you should go to v2.15 first.

[2022-01-07 15:46] unai-ttxu opened #8387 "Intallation fails when waiting for k8s apiserver due to variable overlapping"
**Environment**:
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**

[code]

- **Version of Ansible** (`ansible --version`):

[code]

- **Version of Python** (`python --version`):

[code]

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

`92f25bf267ffd3393f6caffa588169d3a44a799c -> v2.18.0`

**Network plugin used**:

`calico`

**Command used to invoke ansible**:

`ansibl

[2022-01-07 19:35] #8352 closed

[2022-01-07 19:35] alexadmin commented on #8352
thanks

[2022-01-08 17:42] RomanKisilenko opened #8390 "Pods stuck in ContainerCreating state after upscaling on kubespray 2.17.1"
**Environment**:
- **Cloud provider or hardware configuration:**
baremetal

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Linux 5.4.0-88-generic x86_64
20.04.3 LTS (Focal Fossa)

- **Version of Ansible** (`ansible --version`):
ansible 2.9.26

- **Version of Python** (`python --version`):
python version = 3.9.7

**Kubespray version (commit) (`git rev-parse --short HEAD`):**
v2.17.1

[2022-01-08 18:14] RomanKisilenko commented on #8390
Upon investigation, calico-kube-controllers fails to start:
[code]

[2022-01-08 18:17] kjellmoens commented on #8384
Same problem, no arm release at https://github.com/opencontainers/runc/releases/tag/v1.0.3

[2022-01-08 19:34] eifelmicha commented on #8350
Shall i open a PR once i've implemented this or are there reasons why it is splitted like in the current situation?

[2022-01-08 20:18] RomanKisilenko commented on #8341
After trying the above advise I got the following issue: #8390 Entire cluster crashed afterwards and had to be reinstalled.

[2022-01-08 21:22] hakoerber opened #8392 "memorySwap: kubelet fails due to missing feature gate"
**Environment**:
- **Cloud provider or hardware configuration:** Hetzner VM

- **OS**: CentOS 7

- **Version of Ansible**: `ansible 2.9.14`

- **Version of Python**: `Python 3.8.10`

**Kubespray version**: `52266406`, latest `master` at time of opening this issue

**Network plugin used**: calico

---

I am using kubespray on a server with swap, so I have `kubelet_fail_swap_on` set to `false`. Sinc

[2022-01-08 21:25] RomanKisilenko opened #8393 "cert-manager fails to work correctly due to insufficient permissions on v2.18.0"
**Environment**:
**Kubespray version (commit) (`git rev-parse --short HEAD`):**
v2.18.0

**Solution**:
The error happens due to the following lines in cert-manager.yml.j2: `- --leader-election-namespace=kube-system`. It should be `- --leader-election-namespace={{ cert_manager_namespace }}` instead. Please somebody make a commit and make a maintenance release, since my commits are not accepted due

[2022-01-08 23:31] #7869 closed

[2022-01-09 01:27] RemiWoler commented on #8357
The application/plugin could be: `kata_containers_version: 2.2.3` (default)

Same tag (v2.18.0) gave the same error for me ('dict object' has no attribute '2.2.3') but on a totally different playbook. So, after seeing this issue, I grepped the codebase for '2.2.3' and found the only occurrence relating to the kata_containers_binary, which has a download dict in [roles/downloads/defaults/main.yml:5

[2022-01-09 03:48] ryota2425 commented on #8384
Is there any way to use it on arm64?

[2022-01-09 09:47] #8378 closed

[2022-01-09 13:32] #7844 closed

[2022-01-09 14:13] rforberger opened #8396 "Scale playbook cannot find /etc/kubernetes/admin.conf"
I want to extend my Kubernetes cluster by one node.

I run the scale.yaml Ansible playbook:

[code]

But I am getting the error message when uploading the control plane certificates happens:

[code]

Anyone has an idea what the problem could be?

Thanks in advance.

[2022-01-09 14:41] rtsp commented on #8393
There're discussions on this issue at jetstack/cert-manager too

- jetstack/cert-manager#4102
- jetstack/cert-manager#3717

[2022-01-09 16:32] #7865 closed

[2022-01-09 17:49] Payback159 commented on #8384
At least not a production-ready variant at the moment. I just got a running cluster up and running on my Pis a few minutes ago.

But for that I had to add the hash for runc v1.1.0-rc-1 and containerd-1.6.0-beta.5, because only from these releases an arm64 version is offered upstream.

What I didn't quite understand yet is that the installation under Kubespray v2.17 worked without problems but I co

[2022-01-09 18:32] #7797 closed

[2022-01-10 09:27] floryut commented on #8357
Ok indeed if you have that on kata-containers, this PR fixes your issue https://github.com/kubernetes-sigs/kubespray/pull/8383

[2022-01-10 09:27] #8357 closed

[2022-01-10 09:31] #8384 closed

[2022-01-10 09:35] #8381 closed

[2022-01-10 09:35] #8387 closed

[2022-01-10 10:21] kjellmoens commented on #8384
Hi,

I tested the #8391 fix but I still receive the same error. The error message, after disabling no_log: true is

[code]

[2022-01-10 10:59] Payback159 commented on #8384
Yes unfortunately the fix #8391  doesn't quite solve the original problem. As mentioned in the previous comment, I only got the cluster running after I entered runc v1.1.0-rc-1 in the hash values. After that the playbook fails because there is no containerd 1.5.8 for arm64 and so I added the hash for containerd-1.6.0-beta.5 locally.

After that the installation went without problems. Since both ar

[2022-01-10 11:12] champtar commented on #8384
@Payback159 we were using docker.com packages but they were slow to update and even skipping containerd version, so we switched to using release from containerd directly

[2022-01-10 11:17] Payback159 commented on #8384
Thanks @champtar  for the clarification. That is, as soon as runc v1.1.0 and containerd 1.6.0 were released, we could think about an arm64 installation. Presumably this will come with Kubespray v2.19 at the earliest or you use master. Am I right?

[2022-01-10 11:40] kjellmoens commented on #8384
Can you tell me where to add the values. I tried it too but keep on receiving
[code]

[2022-01-10 12:06] champtar commented on #8384
I don't use k8s with arm(64) but yes once containerd 1.6.0 is released I'm sure It'll land in kubespray pretty fast. If config doesn't change you can just add the hash/change the version in 2.18

[2022-01-10 12:14] kjellmoens commented on #8384
Hi, can you tell me which files needs to updated and with which values for containerd ? I got it working for runc but not for containerd

[2022-01-10 13:17] djkormo opened #8398 "Why cloud_provider: generic is missing ?"
**Environment**:
- **Baremetal**  using metallb and ingress nginx controller deployed after kubespray klaster installation.

**Kubespray version (commit) (v 2.18.0):**

**Network plugin used**: calico

INPUT

upgrade-cluster.yml -e kube_version=v1.20.11 -e upgrade_node_confirm=true -e upgrade_node_pause_seconds=60 -vvv

OUTPUT

TASK [kubernetes/preinstall : check cloud_provider value] ************

[2022-01-10 13:23] djkormo opened #8399 "Problem with nodeports during upgrade cluster"
**Environment**:
- **Cloud provider or hardware configuration:**

Baremetal
- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
Centos 8

**Kubespray version (commit) (v2.17.0 and v.2.18.0):**

**Network plugin used**: Calico

**On worker node node:**

cat /etc/sysctl.conf
[code]

**Command used to invoke ansible**:

upgrade-cluster.yml -e kube_version=v1.20.11 -e upgrade_node_confirm=t

[2022-01-10 13:43] floryut commented on #8398
Well, what are you trying to do with a "generic" cloud provider ?

As stated, cloud_provider could either be a public cloud (gce,aws,azure) or using openstack either in tree (https://github.com/kubernetes-sigs/kubespray/blob/master/docs/openstack.md#the-in-tree-cloud-provider) or out of tree cloud provider (https://github.com/kubernetes-sigs/kubespray/blob/master/docs/openstack.md#the-external-clo

[2022-01-10 14:30] djkormo commented on #8398
I was using so far **cloud_provider: generic**. I'm trying to upgrade cluster to the next  version.  I'm using metallb with nginx-ingress-controller but after installing cluster via kubespray.

[2022-01-10 14:49] rforberger commented on #8396
I solved it myself.

I copied the /etc/kubernetes/admin.conf and /etc/kubernetes/ssl/ca.* to the new node and now the scale playbook works. Maybe this is not the right way, but it worked...

[2022-01-10 14:49] #8396 closed

[2022-01-10 15:56] Payback159 commented on #8384
Hi @kjellmoens, at the moment I can't get to my ansible-roles but in the end it should be enough if you

just add here:
https://github.com/kubernetes-sigs/kubespray/blob/master/roles/download/defaults/main.yml#L393

[code]

in a new line, plus here
https://github.com/kubernetes-sigs/kubespray/blob/master/roles/download/defaults/main.yml#L467

a new line with:

[code]

After that you have to add so

[2022-01-10 16:13] kjellmoens commented on #8384
@Payback159 thank you ! It works

[2022-01-10 16:37] #7876 closed

[2022-01-10 17:18] oomichi opened #8400 "ansible-lint outputs errors if running locally"
- **Version of Ansible** (`ansible --version`):

ansible-lint 5.0.11 using ansible 2.10.15

- **Version of Python** (`python --version`):

3.6.9

**Kubespray version (commit) (`git rev-parse --short HEAD`):**

57a1d18db390f71e018425a3eb70d54c74d8ecd4

**Command used to invoke ansible**:
[code]

**Output of ansible-lint run**:
[code]

[2022-01-10 22:40] oomichi commented on #7765
/reopen

[2022-01-10 23:24] #7765 closed

[2022-01-11 03:03] tovin07 opened #8405 "Update installation doc with vagrant"
**What would you like to be added**:

Documentation for installing kubernetes cluster using kubespray with vagrant is outdated.

1. Example script to install should be updated

    `ln` and `export` section should be update to absolute path, not relative path

    Example:

[code]

2. kube-dashboard is not install by default

    Script to create clusteradmin rbac and get the login token should be

[2022-01-11 08:45] #8400 closed

[2022-01-11 13:19] #8405 closed

[2022-01-11 13:34] cristicalin commented on #8392
Note that this is an alpha feature and it may suffer changes.

You have an example of how to set it up in the CI job: https://github.com/kubernetes-sigs/kubespray/blob/master/tests/files/packet_fedora35-calico-swap-selinux.yml

As discussed in #8241 this will remain as experimental support until the feature graduates to beta and we know how it will look like in a stable implementation so it can be

[2022-01-11 14:23] wayfrro opened #8408 "Azure CSI disk provisioner fails with Kubernetes 1.22 / kubespray 2.18"
Azure CSI disk provisioner does not work on kubespray 2.18 with Azure. That may be due to [K8s 1.22 deprecations](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#storage-resources-v122), but I'm not sure.

[code]

**Environment**:
- Azure Virtual Machines
- **OS (Linux 5.11.0-1025-azure x86_64, NAME="Ubuntu", VERSION="20.04.3 LTS (Focal Fossa)", ID=ubuntu, ID_LIKE=debian, PRETTY_

[2022-01-11 14:37] hakoerber commented on #8392
Yes, this is the configuration that I'm currently using and that works for me. The issue is that I cannot opt out of this feature without setting `kubelet_fail_swap_on: False`, which means that I cannot use swap at all on the node. So there is now way to use swap but **not** use this alpha feature.

This can be acceptable, but I think it would be clearer to decouple this feature from the `kubelet_

[2022-01-11 14:40] cristicalin commented on #8392
Can you detail the use-case of allowing the node to have swap but not allowing the kubelet to track the usage?

Unless you request swap for your pods this feature should not have an impact.

[2022-01-11 17:14] #8356 closed

[2022-01-11 19:12] RomanKisilenko commented on #8393
I think error logs are not available anymore. I installed from v2.18.0 cluster from scratch and immediately hit this issue. It was something related to cert-manager user or service account does not have access to kube-system namespace afair.

[2022-01-12 07:58] MR-MonkeyRay opened #8413 "Apiserver will exit when upgrading from v2.17.0 to v2.18.0 in CentOS7"
**Environment**:
- **Cloud provider or hardware configuration:**
VMWare VMs X86_64

- **OS (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):**
CentOS Linux release 7.6.1810 (Core)

- **Version of Ansible** (`ansible --version`):
When installing v2.17.0:
ansible==3.4.0
ansible-base==2.10.11
When installing v2.18.0:
ansible==4.8.0
ansible-core==2.11.6

- **Version of Python** (`python --version`