[2015-10-04 19:56] Smana opened #1 "Calico and host reboot issue"
Upgrade to Kubernetes 1.1 with the latest version of Calico-docker.
https://github.com/projectcalico/calico-kubernetes/issues/92

[2015-10-04 19:57] Smana opened #2 "Get monitoring addon working"
Until now no graphs are displayed in the grafana dashboard. (404)

[2015-10-04 19:58] Smana opened #3 "Apiserver : Listen on https only"
Configure Calico to connect to the api on secure port.

[2015-10-10 23:45] ant31 opened #4 "HA deployement"
Kubenetes cluster's components should be deployed in HA mode when possible.

http://kubernetes.io/v1.0/docs/admin/high-availability.html

[2015-10-10 23:48] ant31 opened #5 "Multi-cluster"
Deploy multiple cluster in one ansible run.

http://kubernetes.io/v1.0/docs/admin/multi-cluster.html

[2015-10-31 11:53] ant31 opened #7 "Docker install fail on ubuntu"
The docker role fail on ubuntu, the role works only on debian

[2015-10-31 11:55] ant31 opened #8 "[docker | Configure calico/docker bridge] fail"
the task doesn't work if there is already a bridge with name for exemple 'lxcbr0'

[2015-10-31 12:14] ant31 opened #9 "using ansible_default_ipv4 cause issues"
In the file /etc/network-environment
The default ipv4 in took from the first interface only.  But it should be possible to set ip from differents interface
[code]

[2015-10-31 12:18] ant31 opened #10 "Kube-master insecure port as editable variable"

[2015-11-02 15:03] #10 closed

[2015-11-02 15:03] #9 closed

[2015-11-11 07:13] ant31 opened #12 "Master branch should follow current Kubernetes master"

[2015-11-11 09:03] Smana commented on #7
Could you please give more details on what is failing exactly ?

[2015-11-20 17:21] ant31 commented on #7
Solve in https://github.com/ansibl8s/setup-kubernetes/tree/kube_1.1.2

[2015-11-20 17:21] #7 closed

[2015-11-20 20:11] ant31 commented on #2
Fixed with new apps (heapster/grafana/kubedah)

[2015-11-20 20:11] #2 closed

[2015-11-20 20:11] ant31 commented on #1
Can you link to the actual opened issue on calico repo?

[2015-11-21 14:34] Smana opened #16 "Api service isn't started when deploying the first time."
For an unknown reason, the kube-api service is not started when deploying the first time.

[2015-11-21 14:39] Smana opened #17 "Fedora/CentOS support"

[2015-11-21 15:26] Smana opened #18 "Run flannel as pod"

[2015-11-21 15:29] Smana commented on #17
That would be a good idea to test on Cloud providers (EC2 & GCE)

[2015-11-21 15:57] Smana commented on #16
I just moved a task and it seems it did the trick  :)
I've run the playbook on 2 brand new clusters twice and everything worked as expected.

@ant31 could you please test the branch again ?

[2015-11-21 18:10] Smana opened #19 "Remove cbr0 tasks, not required anymore"
According to projectcalico devs, the cbr0 is not required anymore with the var ```CALICO_IPAM=true```.
To be tested.

[2015-11-21 18:21] ant31 commented on #19
Can we then keep docker daemon to use docker0 default bridge?

[2015-11-22 12:40] Smana commented on #19
Yes this is the idea.
I've did the test once and it worked for me. I've pushed the changes and i'll do another deployment tomorrow to validate it works as expected.

[2015-11-23 10:14] Smana commented on #19
Done and tested

[2015-11-23 10:14] #19 closed

[2015-11-23 10:14] Smana commented on #16
Solved

[2015-11-23 10:14] #16 closed

[2015-11-23 10:15] Smana commented on #8
Currently, no bridge is configured by the playbook. Use default docker0 bridge.

[2015-11-23 10:15] #8 closed

[2015-11-23 15:36] Smana opened #20 "AWS support"

[2015-12-13 18:24] Smana opened #23 "Configure firewalls"
Try to find a generic way (linux distribution) to configure iptables.

[2015-12-13 18:25] Smana opened #24 "Loadbalance kubelet, kube-proxy on a multi-master architecture"

[2015-12-13 18:29] Smana opened #25 "ha master: kubernetes service has only only one endpoint"
I just notice that the kubernetes service only have one endpoint in a multi master architecture.
[code]

[2015-12-15 16:25] Smana opened #26 "HA : Kube proxy and kubelet don't support multiple apiservers"
https://github.com/kubernetes/kubernetes/issues/18174

[2015-12-16 15:53] Smana opened #27 "Monitoring : error 500 failed to get stats from containers"
https://github.com/kubernetes/kubernetes/issues/18758

[2015-12-16 17:05] ant31 opened #28 "Configure firewall."
I see two options:
1. configure with ansible the firewall
2. Create a 'firewall' controller daemon that check services and ingress

[2015-12-17 08:03] Smana commented on #23
duplicate with #28

[2015-12-17 08:03] #23 closed

[2015-12-17 08:04] Smana commented on #4
High availability supported

[2015-12-17 08:04] #4 closed

[2015-12-17 08:07] Smana commented on #27
Ask for support on stackoverflow instead.
http://stackoverflow.com/questions/34329525/why-do-kubelet-failed-to-get-stats-from-docker-error-500

[2015-12-17 08:09] Smana commented on #26
Workarounded with an external loadbalancer.
Waiting for a new release of kubernetes which will support it.

[2015-12-17 19:32] ant31 opened #29 "Automated tests"
Playbook should have test

[2015-12-17 21:18] ant31 commented on #25
Can you ask on slack/SO

[2015-12-17 21:21] ant31 opened #30 "Binaries are in 744 instead of 755"

[2015-12-18 16:25] Smana commented on #1
The issue is fixed with the latest version of Calico

[2015-12-18 16:25] #1 closed

[2015-12-18 21:20] Smana commented on #3
The branch "https_only" should work.
To be tested.

[2015-12-18 21:21] Smana opened #31 "Configure etcd cluster with ssl"

[2015-12-19 08:16] Smana commented on #27
https://github.com/kubernetes/kubernetes/issues/18868

[2015-12-19 08:21] Smana commented on #5
The use case is rare enough to work on it.
If needed the idea is just to duplicate the cluster with the same configuration and deploy the same manifests on every sites.

[2015-12-19 08:21] #5 closed

[2015-12-19 09:02] Smana commented on #24
kubelet already has the ability to talk to multiple apiservers.
Another issue has been open for kube-proxy #26

[2015-12-19 09:02] #24 closed

[2015-12-19 09:04] Smana commented on #25
I'll do some tests. Actually we don't need to loadbalance, we just need the failover.
In case of failure ensure that there's at least one master to handle the requests.
The endpoint should be updated automatically, i'll check that asap.

[2015-12-19 13:01] ant31 commented on #25
Yes but why the service show only one endpoints instead of the N apimaster endpoints?

[2015-12-22 11:10] ant31 opened #33 "resolve all python dependencies"
fatal: [node1] => Failed to template {{ kube_service_addresses|ipaddr('net')|ipaddr(1)|ipaddr('address') }}: The ipaddr filter requires python-netaddr be installed on the ansible controller

[2015-12-23 23:07] #30 closed

[2015-12-23 23:08] #12 closed

[2015-12-23 23:24] ant31 opened #34 "Kubelet on masters?"
I propose to run kubelet on all nodes. It will allow to use pod manifests to bootstrap services like etcd.

[code]

[2015-12-24 07:38] Smana commented on #33
This dependency relates to the deployment machine.
For the others we'll try to solve them with pip (for a generic way to install python modules)

[2015-12-24 07:43] Smana commented on #34
That's a good idea.
Note :
The kubelet module will ask for the calico plugin on startup.
Even if we download the plugin before starting up the etcd instances i don't know if it will work without a Calico-node running.
I'll do some tests very soon.

[2015-12-25 11:46] ant31 opened #36 "Remove systemd depedencie"
Using systemd unit should be optionnal.

This include rework on following roles:
 - etcd
 - dnsmasq
 - calico-node
 - kubelet

[2015-12-25 11:49] ant31 commented on #34
Can you test the PR https://github.com/ansibl8s/setup-kubernetes/pull/35

it will install node first (start kubelet), then etcd as pod, then calico.

from my side it's work well, kubelet doesn't require calico to be up.

[2015-12-25 12:15] ant31 commented on #31
is this related to https://github.com/ansibl8s/setup-kubernetes/pull/32 ?

[2015-12-27 18:57] Smana commented on #34
I've just tested it and i'm facing 2 issues
* The systemd init for kubelet looks for the environment file "/etc/network-environment", which is not mandatory from my point of vue. It is used mainly for the network plugins.
* Actually the kubelet daemon looks for the calico plugin
[code]
Maybe the plugin was installed on your server from a previous run ?

We'll work to find a way to work around this

[2015-12-27 19:00] ant31 commented on #34
| Actually the kubelet daemon looks for the calico plugin

I'll try to install it before.

[2015-12-27 19:00] Smana commented on #31
No this is not directly related, i've enabled https for the apiserver. i'll try to rename the branch.
This issue (etcd and ssl) will be done on another branch.

[2015-12-27 19:06] Smana commented on #36
And what about kubelet ?

[2015-12-27 19:11] ant31 commented on #36
added

[2015-12-27 20:37] Smana commented on #36
* Calico:
This can be done easily. Calico-node is already ran as a docker container.
It just needs a binary _calicoctl_ which can be installed on any linux distribution.
We need to ensure that the container is started automatically after a node reboot.

* Dnsmasq:
We'll create a lightweight docker container based on alpine linux.

* Kubelet & Docker:
I don't think we can avoid a init system. Syste

[2015-12-27 20:57] ant31 commented on #36
dnsmasq -> I have a branch with dnsmasq inside a pod, I'll create a PR soon
calicoctl -> yes, and it should run inside a pod, it works but calicoctl doesn't because it has the container_name hardcoded.

Kubelet:
- initd: https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kubelet/initd

docker:
- It has systemd and init.d scripts

if you check to official 'Salt' deploy scrip

[2015-12-27 21:09] ant31 commented on #29
blocked by: https://github.com/ansibl8s/setup-kubernetes/issues/36

[2015-12-28 08:56] Smana commented on #36
After careful consideration and for the reason i mentionned above I think we should focus on systemd as the default init system and eventually add the option to use systemV.
The idea is to support the largest number of linux distributions.

[2015-12-28 10:25] ant31 commented on #36
yes, systëmd as default, initd as fallback.

[2015-12-28 10:42] Smana commented on #27
I've tried almost everything :
* I've checked system's locales
* Upgraded the kernel to 4.2
* Changed debian docker package to try ubuntu one

I'm currently building kubernetes from source. wait & see

[2015-12-29 13:22] Smana opened #39 "Create a role "common" (dependencies)"
Create a role "common" in charge of resolving any dependencies (python, package, binaries...).

[2015-12-29 20:42] ant31 commented on #3
https://github.com/ansibl8s/setup-kubernetes/pull/37

[2015-12-29 20:42] #3 closed

[2015-12-30 07:59] Smana commented on #26
Actually the kubelet proxy doesn't talk to multiple api's as it is mentionned in the issue https://github.com/kubernetes/kubernetes/issues/18174, it just takes the first one available.
I'll rename this issue because we still need ha for both components (kube-proxy and kubelet)

[2015-12-30 13:05] #34 closed

[2015-12-30 13:11] Smana commented on #36
Work in progress.
With #35 and #38 dnsmasq and etcd run as pods. thanks to @ant31

Todo:
* Role common for dependencies (python, download binaries ...)
* Docker installation for a large number of linux distribs
* Run flannel as pod

[2015-12-31 00:35] ant31 commented on #39
Should be clear and separated what is going to be installed to the 'ansible-deploy' machine and to all nodes.

[2016-01-04 16:49] ant31 commented on #39
https://github.com/ansibl8s/setup-kubernetes/pull/40

[2016-01-04 16:49] #39 closed

[2016-01-04 16:50] ant31 commented on #36
moved to https://github.com/ansibl8s/setup-kubernetes/issues/39

[2016-01-04 16:50] #36 closed

[2016-01-04 17:01] ant31 commented on #29
first build:

https://travis-ci.org/ansibl8s/setup-kubernetes/builds/100156256

[2016-01-05 10:29] Smana commented on #33
There is only one python dependency on the deployment machin (python-netaddr).

[2016-01-05 10:29] #33 closed

[2016-01-07 22:46] #29 closed

[2016-01-08 13:08] errordeveloper opened #46 "Add support for Weave Net"
I'm happy to help here, but I'm not very familiar with Ansible, so some guidance will be needed.

[2016-01-08 13:25] ant31 commented on #46
I'm not familiar with weave net, do you have some documentation/link ?
It's a network plugin?

[2016-01-08 14:40] Smana opened #47 "Notify apiserver and dnsmasq when a new node is added"

[2016-01-11 10:46] Smana opened #49 "Fedora support"

[2016-01-11 10:46] Smana opened #50 "CentOS support"

[2016-01-11 10:46] Smana opened #51 "GCE support"

[2016-01-11 10:46] Smana opened #52 "AWS support"

[2016-01-11 10:47] Smana commented on #52
Duplicate

[2016-01-11 10:47] #52 closed

[2016-01-11 10:47] Smana commented on #17
Duplicate with #49 #50

[2016-01-11 10:47] #17 closed

[2016-01-11 10:48] Smana commented on #49
Tested on Fedora23 with Flannel and Calico

[2016-01-11 10:48] #49 closed

[2016-01-11 10:57] Smana commented on #50
Works with flannel.
Trying to get calico working

[2016-01-12 08:46] Smana opened #53 "CoreOS support"

[2016-01-12 09:29] Smana opened #54 "Use of official ansible kubernetes module for apps"
https://github.com/ansible/ansible-modules-extras/pull/1229

[2016-01-12 09:32] ant31 opened #55 "Ansible 2.0 compat"
if possible to support both 1.9 / 2

[2016-01-12 10:52] ant31 opened #56 "Fail with sudoer user"
failed: [10.206.41.5 -> localhost] => {"cmd": "rsync --delay-updates -F --compress --times --rsh 'ssh  -S none -o StrictHostKeyChecking=no' --out-format='<<CHANGED>>%i %n%L' \"/tmp/releases/kubernetes/bin/kubelet\" \"priyaone@10.206.41.5:/usr/local/bin/kubelet\"", "failed": true, "rc": 23}
msg: rsync: mkstemp "/usr/local/bin/.kubelet.kPJDLA" failed: Permission denied (13)

[2016-01-12 15:06] ant31 commented on #55
Ansible 2.0.0 is released. And scripts fail

[2016-01-12 15:07] Smana commented on #46
Hi @errordeveloper , we would be glad to include weave. I'll try to get some time to work on it this week.
Please just guide me to a good doc with detailed installation steps.

[2016-01-12 15:32] errordeveloper commented on #46
@Smana great stuff! Installing Weave Net is pretty easy:

[code]

You then need to launch the router and proxy like this:

[code]

Please not that regular `weave launch` is insufficient, you do need to run it like shown above and passing the `--rewrite-inspect` flag is most critical for Kubernetes integration.

Once done, you will need to make sure that cluster IP range doesn't clash with Weave Ne

[2016-01-12 20:07] ant31 commented on #18
https://github.com/ansibl8s/setup-kubernetes/pull/48

[2016-01-12 21:42] ant31 opened #58 "Document ansible usage"
Some users use ansible for the first time, I think a quick note/doc-link about options and configuration would be good.

[2016-01-14 17:06] ant31 commented on #55
https://github.com/ansibl8s/setup-kubernetes/pull/57

[2016-01-14 17:07] #55 closed

[2016-01-15 09:47] Smana opened #59 "rkt support"

[2016-01-15 20:44] ant31 commented on #56
@Smana have you tried again this?

[2016-01-15 20:45] #18 closed

[2016-01-15 21:32] Smana commented on #46
@errordeveloper is there any systemd unit file / sysvinit script.
More generally are containers restarted properly with the network configuration in case of host reboot ?

[2016-01-15 21:35] ant31 commented on #59
Is calico / flannel ok with rkt?
If not, in the first step we can run maybe run both:  docker for non-kubernetes containers (if needed), and rkt for pods ?

[2016-01-15 21:52] Smana commented on #46
well i'll continue tomorrow, i've started the router in order to do some manual tests before writing the tasks.
The first thing i noticed is a conflict with the dns server binding tcp port needed by kubernetes.
Indeed in order to use kubernetes service names we need to setup a dns server (https://github.com/ansibl8s/k8s-kubedns).
[code]

We'll try to find a way to solve this issue. let me know if

[2016-01-15 22:13] Smana commented on #59
Flannel is coded by CoreOS so it runs well with flannel.
https://coreos.com/blog/cross-host-container-communication-with-rkt-and-flannel.html

ProjectCalico is working on a new network plugin interface.
https://github.com/projectcalico/calico-cni
According to calico devs "The CNI plugin is replacing the native k8s one"
I didn't tested yet but i'll try to soon :)

[2016-01-15 22:15] Smana commented on #56
Not yet, i'll try tomorrow

[2016-01-15 22:16] Smana commented on #58
I've added a link to the official documentation.
I don't think we should add more info about how to use Ansible.

[2016-01-15 22:36] #58 closed

[2016-01-15 22:55] ant31 opened #63 "Resources manifests/yaml backup"
Currently, the script sends all manifests to `master[0]` in `/etc/k8s/manifests`and then use kubectl to create the resources.
 I think we all agree that is better to use API so the question is what do we do about resource manifests?

1. Use API only, the manifests don;t need to be stored
2. Use API only and store manifests in the deploy machine
3. Use API only and store manifests in one of the mas

[2016-01-16 09:03] Smana commented on #63
Actually if there's no sensitive data (e.g. passwords, keys ...) in the manifests, the third choice is ok for me too.

[2016-01-16 10:03] Smana commented on #46
@errordeveloper  I've shut down dnsmasq which is in charge to forward requests to the kuberenetes dns server (skydns).
I've tested networking between pods and it is working fine :)
We just need to:
* find out how weave's dns server and dnsmasq can work together.
* Enable weave on host startup (systemd,sysvinit)

[2016-01-16 11:04] #63 closed

[2016-01-16 17:10] Smana commented on #46
@errordeveloper

Further info:
[code]

According to the documentation i should be able to ping the peers with their "weave domain names"
[code]
However i have to tell explicitly what dns server to use.
Indeed i noticed that weave's dns server is bound to the docker bridge ip
[code]
[code]
So the only way to resolve weave domain names is to use the following command
[code]

I'm a noob using weave s

[2016-01-16 17:13] Smana commented on #46
Regarding underlying technologies, that's fine with :
http://docs.weave.works/weave/latest_release/features.html

[2016-01-16 17:23] Smana commented on #46
@errordeveloper
Can weave replace the kubernetes dns server for service names resolution ?
I mean when a new service is created (from a kubernetes point of vue) a dns entry will be created too.
Please refer to https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns

[2016-01-16 17:27] Smana commented on #46
I just googled a bit a found the documentation about systemd :
https://github.com/weaveworks/weave/blob/master/site/systemd.md

Well we just need to find a solution for service names resolution.

[2016-01-16 21:01] Smana commented on #46
The systemd unit doesn't use the ```launch-proxy``` but a ```docker attach``` command.
I guess i'll have to change it ? right ?

[2016-01-16 21:10] Smana commented on #46
```expose``` isn't used too.

[2016-01-18 09:35] ant31 opened #65 "Don't run etcd as pod"
I had an issue on reboot with etcd as pod.

It looks like kubelet continue to try restarting same pods, and pods failed to start because etcd was not 'on'.

We should rollback and use an etcd not-managed by kubernetes.

[2016-01-18 09:48] Smana opened #66 "Automated tests : tasks sequence"
Below is a list of tasks in order to automate cluster deployment tests :
- [x] Test on the main linux distribs :
  - [x] Fedora
  - [x] Centos 7
  - [x] RedHat 7
  - [x] Ubuntu 1404
  - [x] Ubuntu 1510
  - [x] Debian 8
- [x] One test per network plugin
- [x] Idealy a cluster will be composed of
  - a master (master components only)
  - a master with node components (handles workloads)
  - a node

[2016-01-18 10:19] Smana commented on #59
@ant31 could you please list the limitations/bugs you noticed during your tests ?

[2016-01-18 11:43] errordeveloper commented on #46
If you can change the IP/port that `dnsmasq` is listening on, please do that. I believe you have it setup to listen on `0.0.0.0:53`, so if you can make it use `127.0.0.1:53` instead, things will work smoothly. Alternatively, you can do `weave launch-router --no-dns` and `weave launch-proxy --without-dns`.

Please find the systemd units [in the CoreOS integration](https://github.com/weaveworks/guid

[2016-01-18 11:54] errordeveloper commented on #46
No, it's using OVS/VXLAN.

The usage of VXLAN (through OVS) is quite different from how Docker Network and flannel use raw VXLAN. Also, Weave Net [doesn't depend on a K/V store of the state](http://www.weave.works/docker-networking-without-cluster-store-plugin/).

Please see our blog post with [performance we have measured in EC2](http://www.weave.works/weave-docker-networking-performance-fast-dat

[2016-01-18 11:57] errordeveloper commented on #46
I guess i'll have to change it ? right ?

That one is a general purpose one, please see the link to CoreOS integration that I've posted earlier.

[2016-01-18 11:58] errordeveloper commented on #46
@Smana great work! please feel free to ping me on Slack :)

[2016-01-18 12:51] Smana commented on #46
@errordeveloper , thanks for these information.
i think we can get rid of dnsmasq, i hope to finalize weave option this week.
I'll keep you updated.

[2016-01-19 14:25] Smana commented on #65
#72

[2016-01-19 14:30] Smana opened #73 "Use systemd as the unique init system"
I think it would be easier to manage only systemd init linux distribs.
All the main linux distribs have made that choice, even ubuntu is switching to it.

@ant31 : what is your opinion ? is it possible to use a systemd OS with travis ?

[2016-01-19 19:32] Smana commented on #73
as agreed during our last discussion with @ant31 , we're going to remove sysvinit support.

[2016-01-19 19:34] Smana commented on #47
As discussed with @ant31 we'll probably run core kubernetes components (e.g. apiserver) as a systemd service. It will be easier to operate (restart, reload ...).

[2016-01-19 19:45] galthaus commented on #73
Is it that problematic to support both for the two or three services that need init system support?

[2016-01-19 19:54] Smana commented on #65
Actually i don't think a docker container would add any advantage. The data is indeed a mounted volume and running it as a systemd service is easier to operate. There is only a binary to install (2 with etcdctl if needed).

[2016-01-19 20:00] Smana commented on #46
hello @errordeveloper , just to inform you that i'm working on weave support. actually i've fixed the dnsmasq issue as you suggested. it is now listenning on localhost.
My current issue is to figure out why weave (launcher, router) isn't restarted on docker restart.

[2016-01-19 20:06] ant31 commented on #73
I would prefer to support both.
 As most  os runs systemd we deproritize it (lack of time). If we receive contrib or find init.d scripts I  will add them for sure :)

[2016-01-19 20:32] ant31 commented on #65
I know there is a demand to do it all in containers. Even kubelet will be able to run inside container.
It simplified the roles when we switched to docker.

I dont know

[2016-01-19 20:58] Smana commented on #46
Hmm, i don't understand why my pod has an ip on docker bridge and one on weave network.
[code]
Well i'll figure it out tomorrow.

[2016-01-19 22:01] galthaus commented on #73
I will most likely need to support ubuntu14.04 for a while to come.  This will mean I need that support.

[2016-01-19 22:21] Smana commented on #73
@galthaus Ok we'll try to keep its support for the time being, we'll think about removing it in a few months

[2016-01-20 02:19] galthaus commented on #73
@Smana - In some regards, I'm more interested in you not deleting support.  I'll try and support as needed.  I just don't want it ripped out of the tree yet.

[2016-01-20 18:04] Smana commented on #73
Keeping support of sysvinit

[2016-01-20 18:04] #73 closed

[2016-01-21 12:42] #65 closed

[2016-01-21 12:48] Smana opened #80 "Don't run apiserver as pod"
We noticed that it was tricky to notify the apiserver about changes (e.g. add  when a new node is added #47 ).
We've decided that core kubernetes components like etcd or apiserver should be running as host services.

[2016-01-21 15:47] jcsirot commented on #56
Not sure it is the same issue but I have this error when trying to deploy on AWS
[code]

[2016-01-21 17:09] galthaus commented on #66
This is what I'm doing with Digital Rebar.  Or trying to get to run.  I'm mostly there.

[2016-01-21 17:27] galthaus opened #83 "init_system check fails if system has a failed service"
$(pgrep systemd > /dev/null && systemctl status > /dev/null);
has a return code of 3 when systemd is running but has a failed service.

[2016-01-21 17:30] galthaus commented on #83
Checking for the status of network would be good.

[2016-01-21 17:34] galthaus commented on #83
PR #84 can address this issue.

[2016-01-21 17:53] Smana commented on #83
thank you @galthaus, i'test&merge asap. :)

[2016-01-21 19:11] ant31 commented on #83
PR #84

[2016-01-21 19:11] #83 closed

[2016-01-21 19:38] ant31 commented on #66
@galthaus Can you describe a little what your trying to do ?

From our side we would like to check at least once per day all deploy options:

- 6/7 OS:  (Ubuntu 14.04|16.04), Centos 7, RH, Fedora 23, CoreOS, Debian Jessie
- 2 container engine: docker, rkt
- 3/4 overlay network:  flannel, calico, weave, opencontrail
- Ansible release: 2.x, 1.9.x

which give around 100 differents setup/jobs.

[2016-01-21 19:41] ant31 commented on #56
@jcsirot can you re-run with -vv options ?

[2016-01-21 20:01] ant31 opened #85 "Remove downloader host"
We faced issues with synchronize module and using 'copy' had too much constraint.

I propose that each nodes download their dependencies, it will then remove the need to copy/rsync binaries from node to node.

I'll probably work again on the 'downloader' host later as it can be usefull in somecase (later)

[2016-01-21 21:32] jcsirot commented on #56
It was already run with -vv. With -vvv

[code]

[2016-01-22 07:42] ant31 commented on #56
I think you get prompted passwd to enter and it failed.
Can you try the branch remove_downloader ?

[2016-01-22 17:51] ant31 commented on #85
merged.

[2016-01-22 17:51] #85 closed

[2016-01-23 16:59] #80 closed

[2016-01-23 18:56] galthaus commented on #66
Sorry - missed this.

We are looking to use DigitalRebar to drive kubernetes deployments across bare metal, cloud infrastructures and hosters.  (Kubernetes is one of many workloads to drive).

Much like you have listed, I have started importing this playbook into digital rebar.
We can spin up nodes in google, AWS, packet, and bare metal (we have our on provisioner components as part of digital reb

[2016-01-24 14:32] Smana commented on #47
The apiserver is now running as a service.
I don't think that notifying dnsmasq is necessary.

I'll try to add a node to an existing cluster to see how it's behaves

[2016-01-24 15:16] ant31 commented on #56
@Smana / @jcsirot is sudoer working now ?

[2016-01-24 17:06] Smana opened #94 "initial deployment fails with multiple masters"
Currently, the deployment fails at the first deployment.
The apiserver is restarted multiple times and when the handlers are played i have the following output for an unknown reason:
[code]
The logs don't help very much
[code]

I guess the error is caused by a missing controller-manager but i'm not sure

[2016-01-24 19:03] ant31 commented on #94
the logs are truncated can we have full lines ?

[2016-01-24 20:08] Smana commented on #94
[code]

[2016-01-24 20:21] ant31 commented on #94
Are you sure there is no other api-server running ? Looks like it failed the port is already allocated

[2016-01-24 21:31] Smana commented on #94
Hmm, the playbook just runs apiserver restarts.
I'll try to use controller-manager and scheduler as services to see if this can be the cause.
For the time being i worked on a workarount #95

[2016-01-24 22:18] galthaus opened #96 "apps seem to fail because of unicode in templates"
This is more for questions to @ant31 and @Smana.

I'm trying to use the apps (kube-dns, and others).  I'm getting errors with all of them because the files to be fed into kubectl have unicode string in them.  The problem appears to be that python structure dumps into the kube templates causes u'ddd' style unicode string.  This isn't supported by kubectl.  I've found a fix for them, but they will h

[2016-01-24 22:20] galthaus commented on #96
By the way, I watch gitter.im (like: https://gitter.im/digitalrebar/core) if chat would be easier.

[2016-01-24 22:30] ant31 commented on #96
What is your ansible version?

[2016-01-24 22:41] galthaus commented on #96
ansible version 2.0.0.2

[2016-01-24 22:52] ant31 commented on #96
Same issue here, was not there with ansible 1.9.

It looks like an ansible bug to me, but can you provide an example to fix it ? you process all templated variables with |to_nice_json?

[2016-01-24 22:58] galthaus commented on #96
https://github.com/ansibl8s/k8s-kubedash/pull/1 is an example for kube-dash

I think it is just "object" variables.  Variables that are dictionaries or arrays seem to have the problem.

[2016-01-25 17:17] ant31 commented on #96
Working on it:

- [ ] k8s-elasticsearch/
- [x] k8s-etcd/
- [x] k8s-fabric8/
- [x] k8s-heapster/
- [ ] k8s-influxdb/
- [ ] k8s-kubedash/
- [ ] k8s-kubedns/
- [ ] k8s-kube-logstash/
- [ ] k8s-kube-ui/
- [ ] k8s-memcached/
- [ ] k8s-pgbouncer/
- [ ] k8s-postgres/
- [ ] k8s-rabbitmq/
- [ ] k8s-redis/

[2016-01-25 17:24] galthaus commented on #96
Ugh -- thanks

[2016-01-25 17:28] galthaus opened #102 "What makes sure etcd and kube users exists?"
My installs are now failing because kube and etcd users are missing.

I noticed nothing creates them.  I can add them to the playbook in download.

[2016-01-25 17:30] galthaus commented on #102
NVM!! I missed it.  I'll update my code.  Sorry.  Ignore this.

[2016-01-25 17:30] #102 closed

[2016-01-25 21:10] Smana commented on #94
Well, i didn't find a solution, even when pausing for 120 secs i face the same issue.
Still searching ...

[2016-01-25 21:12] Smana commented on #94
I tried a lot of things:
- checking etcd cluster health before starting the apiserver
- using the local etcd
- pausing for 120secs

[2016-01-25 21:15] ant31 commented on #94
rollback to pod?

[2016-01-26 08:43] Smana commented on #94
No, i think keeping the apiserver as a service is necessary for production environments.
I'll find a solution :)

[2016-01-26 09:08] Smana commented on #94
https://github.com/kubernetes/kubernetes/issues/19848
https://github.com/kubernetes/kubernetes/pull/16067

[2016-01-26 09:14] Smana commented on #94
We should configure a workaround, waiting for a stable version which includes the fix.

[2016-01-26 10:42] ant31 commented on #94
Thx @Smana, if it's a race condition between master the solution is to spawn restart them one be one.

[2016-01-26 16:30] ant31 commented on #94
Fixed in #107

[2016-01-26 17:00] #94 closed

[2016-01-28 09:08] Smana opened #112 "review tokens/certs/users generation"
Try to use the deployment machine then copy the files to the nodes.

[2016-01-28 09:09] Smana commented on #47
Adding a node is ok  now

[2016-01-28 09:09] #47 closed

[2016-01-28 09:17] Smana opened #113 "Expose a service: test a load balancer solution"
Try that and see how can we manage
- ssl certs
- fault tolerance
- update the service
...
https://github.com/kubernetes/contrib/tree/master/service-loadbalancer

[2016-01-28 13:35] ant31 opened #114 "Split network plugin in roles"
roles:
 - network_plugin
 - network_plugin/calico
 - network_plugin/weave
 - network_plugin/opencontrail
 - network_plugin/flannel

In the role network_plugin: set defaults and start the subroll
[code]

[2016-01-28 13:42] ant31 opened #115 "Opencontrail network plugin"

[2016-01-28 15:17] galthaus commented on #115
I've started working on this, but there is a caveat.  Juniper has built a set of Ansible role/playbooks for this.  I'm in the process of getting them working with the setup-kubernetes playbook.  Currently, you have to do the following.

clone setup-kubernetes to sk
clone https://github/rackn/containers-networking-ansible from juniper to cna
cp cna/roles/* sk/roles
cp cna/playbooks/opencontrail-clu

[2016-01-29 15:36] galthaus opened #119 "Calico would really like separate ETCD cluster"
For performance and access reason, calico would like its own etcd cluster.

[2016-01-29 15:42] Smana commented on #119
Hello @galthaus, i'll work on it when i'll split the network plugins in roles #114
Indeed, We should give the option.

[2016-01-30 17:05] ant31 commented on #20
Works for calico and flannel wth debian jessie.

Have to set the following variable:
[code]

[2016-01-30 17:05] #20 closed

[2016-01-30 17:08] ant31 commented on #51
It works fine with the `cloud_provider: true`
Tests are now on GCE:
https://travis-ci.org/ansibl8s/k8s-integration-tests/branches

[2016-01-30 17:09] #56 closed

[2016-01-31 08:38] #51 closed

[2016-01-31 08:39] ant31 commented on #50
Fail with sudo even with -t
` "sudo: sorry, you must have a tty to run sudo\n"`

[2016-01-31 08:39] ant31 opened #121 "Fail to install docker on ubuntu 15.10"
https://travis-ci.org/ansibl8s/k8s-integration-tests/jobs/105970813

[2016-01-31 09:20] Smana commented on #50
Currently the only way i've been able to get it working is to edit the file `/etc/sudoers`  and add
[code]
But i guess, you don't want to change cloud provider's images.
Still searching for the right option.

[2016-01-31 09:51] Smana commented on #50
For an unknown reason the options `--ssh-extra-args="-t -t"` causes ansible to hang

[2016-01-31 12:40] Smana commented on #121
I don't understand why it fails on GCE.
I just installed an ubuntu server on a virtual machine and deployed docker successfuly

[code]

[code]

By the way, i had to install python2.7 and add a symlink
[code]

[2016-01-31 13:34] ant31 commented on #50
I will try with a root user for now.

[2016-01-31 13:36] ant31 commented on #121
https://github.com/docker/docker/issues/18444

[2016-01-31 15:11] Smana commented on #50
Could you please try with
[code]
instead of
[code]
?

[2016-01-31 17:11] ant31 commented on #121
It works with other docker version.
Also we should fix the docker version, using 'latest' is unsafe.

[2016-01-31 17:24] ant31 commented on #119
I think  to create a group
[code]

[2016-01-31 17:25] ant31 commented on #50
it doesn't work.

root ssh isn't allowed,
I'll create a custom image that allow non-tty until we find a way

[2016-01-31 17:53] ant31 commented on #50
I use a custom image that allow sudo:
Got a new error:
`"No Package matching 'python-httplib2`

[2016-01-31 17:54] ant31 opened #122 "Redhat-7 support"

[2016-01-31 17:54] ant31 commented on #122
"No Package matching 'python-httplib2

[2016-02-01 00:13] ant31 commented on #50
next error:
[code]
node3 is kube-node only

[2016-02-01 00:15] ant31 opened #125 "Calico ping failed on Ubuntu1404"
https://travis-ci.org/ansibl8s/k8s-integration-tests/jobs/106107842
[code]

[2016-02-01 08:50] Smana commented on #125
According to [calico documentation](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/without-docker-networking/README.md), the option `--nat-outgoing` is required on clouds.
#126

[2016-02-01 08:51] Smana commented on #119
That's what i'm going to do, thanks @ant31

[2016-02-01 08:52] Smana commented on #114
Work in progress:
https://github.com/Smana/setup-kubernetes/tree/net_plugins_distinct_roles

[2016-02-01 16:01] Smana commented on #119
@galthaus could you please let me know what are the performance issues you're talking about ?

[2016-02-03 17:35] ant31 commented on #125
Have to add firewall rules on GCE:
`gcloud compute firewall-rules create calico-ipip --allow 4 --network "default" --source-ranges "10.240.0.0/16"`

https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/GCE.md

[2016-02-03 17:35] #125 closed

[2016-02-04 16:47] galthaus commented on #115
#130 Starts some changes for this.

[2016-02-08 18:07] Smana opened #131 "Docker 1.10 : Can't execute commands on pods"
I got these messages
[code]

when i look to kubelet's logs i got this message
[code]

[2016-02-09 15:28] ntfrnzn commented on #131
This is related to https://github.com/fsouza/go-dockerclient/issues/455, I ran into it yesterday.  Although it's resolved in k8s now, I wonder if you want a new issue _Pin docker version (to 1.9)_ instead of always taking "latest".  I have a couple thoughts on that and could create a PR.

[2016-02-09 15:48] Smana commented on #131
@ntfrnzn thank you.
This is actually what i changed in the last pull request.
i've to manage redhat like distrib too.

[2016-02-09 15:49] Smana commented on #131
Actually, you can submit all the PR you want :) we will be glad to review and merge them

[2016-02-09 16:12] #114 closed

[2016-02-09 16:57] Smana commented on #46
This PR https://github.com/kubespray/setup-kubernetes/pull/133 works, need to do additionnal tests

[2016-02-09 17:46] ntfrnzn commented on #131
Just started using the repo yesterday, so don't have anything to contribute yet.  I see your fix for Ubuntu (also what I am using) & the need for support for other package managers and their naming conventions :( I was thinking of setting the docker version at at a higher level, and then switching on that value within the [debian|redhat|fedora|centos].yml vars files with
[code]
something like that

[2016-02-09 18:06] galthaus commented on #131
I like where @ntfrnzn is headed.

[2016-02-09 19:42] ant31 commented on #131
I agree, we should forget about using latest, it's VERY unsafe and can break a cluster.
`state=present` in all cases.

[2016-02-10 17:39] #46 closed

[2016-02-10 18:32] #121 closed

[2016-02-11 10:34] Smana opened #136 "Weave: sysvinit scripts"

[2016-02-11 10:38] Smana opened #137 "refactor secrets (tokens, certs, users) generation"
we faced a lot of issues with rsync/synchronize related to authentication between nodes.
the idea is to create these secrets on the deployment machine

[2016-02-11 22:10] Smana commented on #137
https://github.com/kubespray/setup-kubernetes/pull/139

[2016-02-13 06:30] ant31 commented on #131
Fixed in 1.10.1

Thx @ntfrnzn for PR

[2016-02-13 06:31] ant31 commented on #50
there is one more issue on apimaster restart (check travis)

[2016-02-13 06:34] ant31 commented on #122
[code]

[2016-02-13 06:36] ant31 commented on #137
Fixes with #140

[2016-02-13 06:36] #137 closed

[2016-02-13 14:10] Smana commented on #131
i still face the issue, it is impossible to run commands remotely on pods

[2016-02-13 16:25] ant31 commented on #131
Yes my bad:  we have to wait for:
https://github.com/kubernetes/kubernetes/pull/20873

[2016-02-14 16:12] #112 closed

[2016-02-14 16:13] #50 closed

[2016-02-14 18:43] #122 closed

[2016-02-15 10:21] Smana opened #148 "Upgrade kubernetes to 1.1.7"

[2016-02-15 10:22] Smana commented on #148
https://github.com/kubespray/setup-kubernetes/pull/147

[2016-02-15 11:18] #148 closed

[2016-02-18 16:45] rsmitty opened #151 "Generate SSL Script Broken for Mac OSX"
The mktemp command used in make-ssl.sh does not seem to work on a Mac deployment host. Seems that the Mac flags do not support the `--tmpdir` flag being passed. I believe this is a difference between the BSD and GNU versions of that tool. The offending line is [here](https://github.com/kubespray/setup-kubernetes/blob/master/roles/kubernetes/secrets/scripts/make-ssl.sh#L57).

I was able to work aro

[2016-02-18 17:18] Smana commented on #151
Thanks @rsmitty, i don't know how if there's a command which would work on both OS (linux and mac). Please let me know if you have any idea

[2016-02-18 17:23] galthaus commented on #151
I think you can us a full path and drop the --tmpdir.  /tmp/asda.XXXX. It
will work for both platforms.

On Thu, Feb 18, 2016 at 11:18 AM, Smaine Kahlouch <notifications@github.com>
wrote:

[2016-02-18 17:24] rsmitty commented on #151
I'll take a look at prototyping that out to see if it works as expected, will submit a pull if it does.

[2016-02-18 21:12] #151 closed

[2016-02-19 23:53] ant31 opened #154 "Cluster upgrade procedure"
Propose an upgrade procedure of an existing cluster at several levels
- [ ] Kubernetes core components
- [ ] Etcd
- [ ] Docker
- [ ] Network overlays

If it helps/simplify, we can assume that the original cluster was deploy with kubespray.

[2016-02-20 12:17] ant31 opened #155 "Select kubernetes version"
master follow latest release but it would be nice to be able to select k8s the version.

like :
`k8s_version= v1.1.3`

[2016-02-20 23:10] Smana opened #157 "CoreOS: add kubectl bash completion"

[2016-02-21 13:10] #53 closed

[2016-02-21 15:22] Smana opened #159 "Calico: Network policy option (namespace isolation)"

[2016-02-21 19:34] Smana opened #160 "Support Romana.io"
http://romana.io/

[2016-02-22 13:50] Smana opened #161 "Permissions on kubernetes binaries too open"

[2016-02-29 09:15] shenshouer commented on #131
still with the issue:
[code]

[code]

[2016-02-29 09:26] ant31 commented on #131
@shenshouer thx for testing 1.1.8

[2016-02-29 10:18] Smana commented on #131
Thx @shenshouer , the issue will soon be fixed with docker 1.10.3

[2016-02-29 13:13] Smana opened #166 "Weave: Unable to loadbalance properly over 2 pods by using NodePort"
Reproduce the issue :
Deploy the kubernetes cluster using weave as network-plugin.
Create a replication controller composed of 2 pods as follows :

[code]

Expose the service with NodePort

[code]

Running requests against the NodePort from a remote machine

[2016-02-29 13:17] Smana commented on #166
Actually even within the cluster, i can't get the page from the first container
[code]

[code]

[code]

I get a 200 from the container located on node2
[code]
but i get a "connection refused" for the other one
[code]

[2016-03-03 14:00] galthaus opened #168 "App repos disappeared"
Here did the ansibl8s app repos go?

[2016-03-03 14:20] ant31 commented on #168
Hi,

Sorry, it was a bit rude to move them without notification:
https://gitlab.com/groups/kubespray-ansibl8s

We are working on 'kpm' that will replace ansible to deploy 'applications' in much more easy way.

[2016-03-03 14:28] galthaus commented on #168
Why out of github?

[2016-03-03 14:53] galthaus commented on #168
Thanks for the path!

[2016-03-03 14:54] #168 closed

[2016-03-03 21:58] errordeveloper commented on #166
Are you using latest release of Weave Net (v1.4.5 as of a few days ago)?

[2016-03-04 09:33] Smana commented on #166
Hello @errordeveloper, i'll upgrade very soon and do the test again.
thank you

[2016-03-04 16:13] Smana commented on #166
The latest vesion v1.4.5 fixed the issue.

[2016-03-04 16:20] Smana commented on #166
Actually i have another issue i need to check.
I'll give details soon

[2016-03-06 00:44] tpetrosy opened #172 "apps doesn't exist any more ?"
Hello, why applications were removed from project ?

[2016-03-06 01:28] ant31 commented on #172
Hi,

The ansible scripts have been moved here: https://gitlab.com/groups/kubespray-ansibl8s
I'll probably put them back on github so it can be fork more easily

##### Why remove them?
We are working KPM that will replace all the previous ansible scripts.
It's way more easy to deploy and to package apps.
We will release and opensource it this month (working on documentation first)

(usage example w

[2016-03-06 01:33] ant31 commented on #172
deploying the cluster it self (node/masters) will still be done with ansible.

[2016-03-06 01:35] tpetrosy commented on #172
Thank you for reply,
 you did grate job !

[2016-03-15 15:30] bh016088 commented on #131
Just tested this on docker 1.10.3 and it is still occurring:

[code]

[2016-03-15 15:53] ant31 commented on #131
@bh016088 Have you tested with kubernetes 1.2.0-beta ?

I think the issue is on kubernetes side more that docker side. They have to upgrade a library

[2016-03-15 16:38] bh016088 commented on #131
I have not, I will do that now.

[2016-03-17 17:45] Smana opened #177 "Weave and kubernetes v1.2.0 : Kubelet can't connect to docker endpoint"
With the latest kubernetes version (v1.2.0), i've got the following error when starting kubelet:
[code]

[2016-03-17 17:52] Smana commented on #177
The proxy seems to be running
[code]

[2016-03-17 18:03] Smana commented on #131
@bh016088 As @ant31 said the issue is fixed with the kubernetes v1.2.0 and docker 1.10.3.
Will be released soon.

[2016-03-17 18:31] errordeveloper commented on #177
I am not 100% certain, but this may be to do with `kube-proxy` in `iptalbles` mode... (https://github.com/weaveworks/weave-kubernetes-anywhere/issues/47); so you should try `--proxy-mode="userspace"`.

[2016-03-21 15:10] Smana opened #182 "kube-proxy as daemonset"

[2016-03-21 15:11] Smana commented on #182
Currently i can't get kubedns working.

[2016-03-21 15:12] Smana commented on #182
https://github.com/kubespray/kubespray/pull/180

[2016-03-21 16:36] Smana opened #183 "Use the master election options (kubernetes v1.2.0) for scheduler and controller"
remove podmaster
configure controller and scheduller with the master election options
do tests

[2016-03-22 13:20] #183 closed

[2016-03-22 13:20] #172 closed

[2016-03-27 14:38] tpetrosy commented on #182
Hello Can you show service records for your kubedns ?
I had issue on kubernetes 1.2. The record type: NodePort solved the problem

[2016-03-27 15:09] tpetrosy opened #186 "Alias name on application certificate"
Hello,

I had problem with elasticsearch deployment, because elasticsearch nodes trying  to reach to application server via kubernetes.default.svc hostname.
When I add the hostname as alias "DNS.3 = kubernetes.default.svc" it starts to work.
my current record of  openssl.conf.j2 is

[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.

[2016-03-31 09:15] TeutoNet opened #189 "kube-controller-manager lags certificates needed for https"
The `kube-controller-manager` gets its certificates mounted from the host directory `/usr/share/ca-certificates`:

	    volumeMounts:
	    - mountPath: /etc/ssl/certs
	      name: ssl-certs-host
	      readOnly: true
        # [...]
	  volumes:
	  - hostPath:
	      path: /usr/share/ca-certificates
	    name: ssl-certs-host

Tested on ubuntu 15.10 server this prevents any https connection:

	$ cur

[2016-03-31 12:01] Smana commented on #189
Actually i followed the [coreOS doc](https://coreos.com/kubernetes/docs/1.0.6/deploy-master.html), maybe there's a difference between linux distribs.
I need to check that.

[2016-03-31 15:22] Smana commented on #189
That will work on CoreOS too
[code]
Could you please include this change to the PR #190 ?

[2016-04-01 07:37] TeutoNet commented on #189
@Smana fix was just added to PR #190. The kube-apiserver had the same problem.

[2016-04-01 07:47] Smana commented on #189
Cool thanks @TeutoNet

[2016-04-01 07:47] #189 closed

[2016-04-07 07:20] Smana opened #196 "Certificates renewal issue when adding a node."

[2016-04-07 10:24] Smana opened #197 "Use slurp and copy to synchronize certs between nodes"

[2016-04-10 09:35] Smana commented on #197
fixed by #198

[2016-04-10 09:35] #197 closed

[2016-04-10 09:36] Smana commented on #196
fixed by #198

[2016-04-10 09:36] #196 closed

[2016-04-10 12:55] countdigi opened #199 "docker install failing on redhat 7.x platform"
From: https://ci.kubespray.io/job/kubespray-aws-calico-rhel72/9/console

[code]

I am using RHEL 7.x and as a work around I used the docker.io yum repo but had to change the edit of `/etc/sysconfig/docker` to actually dropping in a systemd docker.service to override (thats where the changes go). Would that be accepted as a PR or any other thoughts on work arounds?

[2016-04-10 20:10] Smana commented on #199
Hi @countdigi, i followed the documentation and the PR #200 should fix the issue.
Currently testing it.

[2016-04-11 14:16] Smana commented on #199
It should be fixed, please let me know if that's ok from your side @countdigi

[2016-04-11 21:45] countdigi commented on #199
Verified it is fixed on end  w/ RHEL 7.2 x86_64 - thank you!

[2016-04-11 21:45] #199 closed

[2016-04-14 17:46] Smana opened #204 "Install kubedns as part of cluster deployment"

[2016-04-18 07:51] Smana opened #206 "Create a script which updates the kubernetes version."
* Run the upload.yml playbook (storage of the binaries on GCE)
* Edit the version variables
* Edit the checksums
* Update the hyperkube docker image

[2016-04-20 13:27] rawlingsj opened #208 "OpenStack + Centos: Timeout when waiting for file /run/flannel/subnet.env"
I've been following the "Deploy on OpenStack" section using CentOS base images for kubernetes master and nodes but run into the error below, is there some config I'm missing or somewhere I ought to look for why the file isn't created?
[code]

[2016-04-20 13:38] ant31 commented on #208
You don't miss a config, it should work. cc @Smana

Have you tried to re-run the script?

[2016-04-20 13:50] rawlingsj commented on #208
Thanks for the quick reply, yeah I've tried re-running the script but hit the same error.

Just in case it helps I'll explain a little more about what I've done.. I've created 4 centos vms in openstack, kubernetes-master
kubernetes-node-1
kubernetes-node-2
and a forth called kargo so it can be used to access all machines listed above using the openstack private network.

I'm low on floating ips so

[2016-04-20 13:54] rawlingsj commented on #208
For example here's my inventory, the kargo vm has root ssh access to all other machines.  All ips below are on my openstack private network.

[code]

[2016-04-20 14:11] Smana commented on #208
Hi @rawlingsj , actually i didn't deploy a cluster on Openstack yet.
This is a recent contrib from @TeutoNet.
Centos + Flannel works fine on AWS,GCE,Baremetal.

You need to check the following things:
- Is kubelet started ?
`systemctl status kubelet`
- Does it schedule containers on Docker
`docker ps`
`journalctl -ae -u kubelet`

For info the `subnet.env` file is generated by a container.

[2016-04-20 14:25] rawlingsj commented on #208
Ah ok - yeah I can see the error after running `journalctl -ae -u kubelet` on the master

[code]
I did wonder if it was me because originally used..
`cloud_provider: openstack`
but I updated to
`cloud_provider: 'openstack'`
re-ran the playbook and got the same error

[code]

[2016-04-20 14:33] Smana commented on #208
I'm not familiar with Openstack yet but maybe you're facing this issue : http://stackoverflow.com/questions/32714756/kublet-doesnt-start-with-cloud-provider-openstack ?

[2016-04-20 14:35] rawlingsj commented on #208
Ah sorry I can see that it is actually a 401 Unauthorized.

Thanks @Smana  that post has a list of attributes that my file I'm sourcing doesnt have.  I suspect its down to different openstack providers.  I'll try these and report back.

[2016-04-20 14:36] Smana commented on #208
Yes and please let us know if something's missing in our doc :)

[2016-04-20 15:04] rawlingsj commented on #208
I've still not ruled out it being an issue my side but to update, he's the openstack env vars I'm setting (which are used as the OS_AUTH_URL is used in the logs above)
[code]

[2016-04-20 16:07] rawlingsj commented on #208
Hi @TeutoNet would you be able to share what env vars are sourced in your openstack environment as I wonder if they're different from the set I've got above.

When I first ran the playbook there was a validation complaining that no tennant_id was set, I had tennant_name (which was what's used in my openstack env) I wonder if that's it?  Wonder if the validation should accept tennant_id || tennant_

[2016-04-20 16:43] rawlingsj commented on #208
Ah it was totally me.. as you probably would have guessed :)

My openstack provider used `OS_TENANT_NAME` not `OS_TENANT_ID`,  so rather than the value 'admin' I had to get the id using `openstack project list`

I guess if you were going to add more docs then the list of env vars would probably be enough.. i.e.

[code]

Anyways the ansible script just finished successfully!

Many thanks @Smana and

[2016-04-20 18:01] ant31 commented on #208
Great :)

let us know if you have any other issue/questions

[2016-04-20 18:01] #208 closed

[2016-04-21 12:11] Smana opened #210 "Drop Ubuntu 14.04 support ?"
Today the version 16.04 will be out.
The kargo integration tests are failing for a quite long time.

I think it's time to say goodbye, don't you think @galthaus @ant31 ?

[2016-04-21 12:11] Smana commented on #210
same question @zehicle :)

[2016-04-21 12:12] Smana opened #211 "CI tests for CoreOS"

[2016-04-21 12:13] Smana commented on #131
This is solved

[2016-04-21 12:13] #131 closed

[2016-04-21 12:13] Smana commented on #27
Works with the latest versions.

[2016-04-21 12:13] #27 closed

[2016-04-21 12:14] Smana commented on #26
In the kubernetes roadmap for 1.3, i need to check where i've seen this info

[2016-04-21 12:15] Smana commented on #54
Apps are now deployed using KPM. The best deployment tool ever :)

[2016-04-21 12:15] #54 closed

[2016-04-21 12:17] Smana commented on #66
@jcsirot i think there's only one task missing :

[2016-04-21 12:17] Smana commented on #66
i've open an issue for CoreOS CI tests #211

[2016-04-21 12:18] Smana commented on #96
Please consider using kpm for apps deployment.

[2016-04-21 12:18] #96 closed

[2016-04-21 12:20] Smana commented on #119
Do you think this issue is still relevant @galthaus ?

[2016-04-21 12:21] Smana commented on #166
To be tested with the latest version 1.5.0.

[2016-04-21 12:22] Smana commented on #177
This is solved with the latest version 1.5.0, though i don't figured out why

[2016-04-21 12:22] #177 closed

[2016-04-21 12:25] Smana commented on #186
This has been fixed by @ant31 , is it ok for you @tpetrosy ?

[2016-04-21 12:32] rawlingsj opened #212 "AnsibleUndefinedVariable: 'dict object' has no attribute 'ansible_default_ipv4'"
I successfully ran the ansible playbook yesterday however I wanted to do it again today with a HA setup.  It must be something I've done but I've recreated everything and tried again but get the following error during the playbook..

[code]

I can't think what's different today from how I ran it yesterday, don't suppose anyone has any ideas?

[2016-04-21 12:40] ant31 commented on #212
Ansible failed to gather the ipv4 from your hosts
Was it full deploy or you selected a tag?

One solution is to set the `ip` variable in the inventory (see the example below)
[code]

[2016-04-21 12:54] rawlingsj commented on #212
It was a full deploy.

Yeah I actually tried adding the `ip` variable but still no joy.  Hmm I'll keep digging.

[2016-04-21 13:02] rawlingsj commented on #212
I've just reverted back to a non HA inventory and it's got past the ansible step that was failing.

No idea what I did wrong yet but I'll report back once I figure it out in case others do the same.

[2016-04-21 13:02] #212 closed

[2016-04-21 13:03] ant31 commented on #212
can you share the inventory ?

[2016-04-21 13:08] rawlingsj commented on #212
Sure, this one fails..

[code]

This works..
[code]

[2016-04-21 13:24] rawlingsj commented on #212
I can see it.. there's a typo in the etcd section `kuberneten-node-1` should be `kubernetes-node-1`!

[2016-04-21 13:55] galthaus commented on #210
14.04 doesn't EOL until 2019.  It doesn't go into maintenance only until
September of this year.  I'd say keep it in, but don't focus on it.  In
other words, don't actively break it, but make people who want it support
it.

On Thu, Apr 21, 2016 at 7:11 AM, Smaine Kahlouch <notifications@github.com>
wrote:

[2016-04-21 13:58] galthaus commented on #119
I think it is still a problem as pointed out by the calico team.  Whether
we fix it in this env is a different issue.

I actually think there are a couple of ways to fix or address it.  I think
it is probably a scale deployment thing.

On Thu, Apr 21, 2016 at 7:20 AM, Smaine Kahlouch <notifications@github.com>
wrote:

[2016-04-21 14:09] ant31 commented on #210
@galthaus I'm find with that, best-effort
Will put all 'ubuntu14.04' in allow-to-fail and wait for contributions to maintain it.

[2016-04-21 14:13] Smana commented on #210
I'm ok, thank you guys :)

[2016-04-21 14:13] #210 closed

[2016-04-21 14:54] rawlingsj opened #213 "could not find bridge docker0: route ip+net: no such network interface"
After successfully running the ansible playbook creating a 5 node cluster I'm having trouble getting a pod to start on a node.

`kubectl describe pod test-345661524-ucrbu`

[code]

In the kargo docs I can see there's a section of things to check with flannel but I think they all look correct..
[code]
[code]
[code]

Is there anything else I should be checking checking?  I'm not from the infra side

[2016-04-21 15:10] rawlingsj commented on #213
Using CenOS 7.2 and docker 1.11.0
[code]

[2016-04-21 15:29] rawlingsj commented on #213
By not knowing what I was doing and a fair bit of googling I've got the pod running!

With the help of this blog https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-kubernetes-on-top-of-a-coreos-cluster

There's a section that talks about the `docker0` interface and flannel, I added the following two lines to my docker.service on the node that the test pod was trying to b

[2016-04-21 15:32] rawlingsj commented on #213
Maybe the unit section needs an `After=flannel.service` too

[2016-04-21 15:37] rawlingsj commented on #213
Actually when doing the same on the other nodes I realised I dont need those two lines at all, I just need to restart the docker service and the `docker0` is created

[2016-04-21 16:12] Smana commented on #213
Hi @rawlingsj , i'm in holidays and i won't be able to tests next week.
I'll check that as soon as i'm back. I hope you'll find a way in the meantime.

[2016-04-21 16:15] rawlingsj commented on #213
Hi @Smana no problem at all!  It all seems fine after I restarted the docker service on each node so all is good.  I'll leave this open incase there's something you want to do when you're back.
Thanks!

[2016-04-21 20:01] rsmitty opened #214 "Cert Generation Breaking"
Hello,

I'm having an issue with the gen_certs.yaml file that was changed with this commit https://github.com/kubespray/kargo/commit/5c2213349241ade3ef9d0128d614ef6dc80763bf

Seems that now, when running against some OpenStack nodes (either Ubuntu or CentOS), I'm encountering this error:

[code]

Which seems to stem from the previous task getting skipped for some reason or another:

[code]

Anyone

[2016-04-21 21:15] tpetrosy commented on #186
Sure, Thanks !

[2016-04-21 21:24] Smana commented on #214
Hi @rsmitty is it the initial deployment? if so could you please share your inventory?

[2016-04-21 21:24] #186 closed

[2016-04-21 21:28] rsmitty commented on #214
It is. Here's the inventory (redacted a bit)

[code]

[2016-04-21 21:51] Smana commented on #214
What i can say from the logs you provided is that the certs have not been generated on master.
There's a task which checks the presence of the file `/etc/kubernetes/ssh/ca.pem`.
If it is not present it will trigger certs generation.
[code]
Does this task been skipped too ?

So to keep it short, just remove this file if it exists on the first master and run again the deployment.

[2016-04-22 13:51] rsmitty commented on #214
There's still something a bit squirrely happening here. On a brand new deployment (fresh `terraform apply` to create 3 servers), it shows that the "check if the certs have already been generated on first master" task ran, did not find the file, but also did not change anything. Which seems to cause the "Set 'sync_certs' and 'gen_certs' to true" task to remain unchanged b/c kubecert_master doesn't

[2016-04-22 15:16] ant31 commented on #214
I had similar problem, the script did not detect my missing certificates.
I can't remember why or actions.

can you try to `rm -r`: /Users/spencer/Workspace/PersonalRepos/terra-k8s/kargo/roles/kubernetes/secrets/files/certs/  ?

[2016-04-22 16:54] rsmitty commented on #214
That didn't seem to fix it either. Threw some other debugs around the blocks I mentioned earlier. It appears that the `delegate_to` isn't working properly for some reason. I can see that the group matches up properly in the debug output, but it's actually delegated to a k8s node:

[code]

And then lower in the run, where the certs are copied to the master, they don't take place b/c gen_certs was o

[2016-04-22 16:55] rsmitty commented on #214
Would it make more sense to use a "where hostname ==" or something other than delegate to? I'll need to read up a bit and understand the difference between the two.

[2016-04-22 17:37] cmluciano opened #215 "Ubuntu 14.04 etcd fact gathering error"
I am running the latest master on my OS X machine with ansible 2.0.2. I am getting the following error in etcd.

[code]

This may be an ansible specific error, but I figured that I would open this issue here anyway.

[2016-04-22 18:16] galthaus commented on #215
Looks really similar to https://github.com/kubespray/kargo/issues/212

[2016-04-22 18:20] cmluciano commented on #215
For reference here is my IP list
[code]

[2016-04-22 18:21] cmluciano commented on #215
My hostnames don't resolve to anything so that is why they were not included

[2016-04-22 18:25] rsmitty commented on #214
Aha! Think I fixed it. I was using an older version of Ansible on Mac OS X (2.0.0.2). After updating to the latest (2.0.2.0), it seems to be working as expected. I saw a few random bug reports floating around the Ansible repo about delegate_to acting weird in early 2.0.

Two new builds in a row, seems to be working now! Thanks for the help guys.

[2016-04-22 18:25] #214 closed

[2016-04-22 18:51] ant31 commented on #214
Thanks!!! Good that you found this one, not easy to to spot.
we're going to update the requirement to 2.0.2.0.

[2016-04-23 12:51] ant31 commented on #215
@cmluciano can you propose the PR with the fix please?

[2016-04-25 12:54] #215 closed

[2016-04-29 19:04] MalekYala opened #218 "CoreOS writeable /opt/bin directory"
How do you make the /opt/bin directory writeable on CoreOS stable without having to directly SSH into each machine before running the deploy?

[2016-04-29 19:07] ant31 commented on #218
cc @Smana , did you made a special coreos image, if yes is it documented?

[2016-04-29 19:09] ant31 opened #219 "Use a writable directory for core-os"
Can we use a directory that is writable by default?

[2016-04-29 19:10] ant31 commented on #218
Later we may want to use a different directory: #219

[2016-04-30 18:56] #218 closed

[2016-05-02 08:19] Smana commented on #219
By default the image on GCE is not writable at all AFAIK.
I needed to create my own image.
The directory */opt/bin* is commonly used on CoreOS to install binaries.
btw It is really important to work on #211

[2016-05-02 08:20] Smana commented on #204
Wait for https://github.com/kubespray/kpm/issues/52

[2016-05-05 22:05] rsmitty opened #223 "Check-certs.yml fails during AWS deploy"
Hi all,

Having an issue with the check-certs.yml file, beginning on line 28. https://github.com/kubespray/kargo/blob/master/roles/kubernetes/secrets/tasks/check-certs.yml#L28

It appears that the search for kubecert fails, I'm assuming because it doesn't register in the step previously. The deployment is failing with the following error:
[code]

This is a multi-master deployment on AWS. I'm attem

[2016-05-05 22:37] rsmitty commented on #223
Digging in more, I threw a debug statement to pring the hostvars immediately before this failure. You can see that kubecert doesn't exist:

[code]

Which, from the way I'm reading the code block, should update certs.sync to true, resulting in an eventual setting of "sync_certs" to true as well. Just appears, for whatever reason, that hostvars[server] (which comes from the play_hosts variable) does

[2016-05-06 05:51] Smana commented on #223
Hi @rsmitty, what is your ansible version please?
I never tried with more than 2 masters (i'm not sure if that's useful) but it should work.

[2016-05-06 12:19] rsmitty commented on #223
Ansible version is 2.0.2.0.

I was trying for 3 masters so that I could co-locate the etcd cluster and the controller APIs on the same 3 boxes. I will also attempt to do a 2 node master with a 3 node, separate etcd cluster this morning sometime to see if that works around the issue.

[2016-05-06 12:20] ant31 commented on #223
3 masters must no be an issue

[2016-05-06 12:55] rsmitty commented on #223
Yeah, I'm kind of feeling that same way. It seems to me that there's some way that the play_hosts variable is working that I'm not grokking just yet, because it certainly seems that the kubecert variable is registered for that host.

If we did discover that a 3-node master isn't supported, we should certainly start working towards adding that functionality. Seems like that'd be a relatively common

[2016-05-06 13:32] Smana opened #224 "CoreOS deployment fails on certs generation"
[code]

[2016-05-06 13:53] ant31 commented on #224
Can you precise the 'ansible host' OS ?

[2016-05-06 14:07] Smana commented on #224
I'm running ansible from a Fedora host, the default python interpreter is python3. That could be related.
Well maybe it's just caused by my deployment server, i'm still digging.

[2016-05-06 17:30] rsmitty commented on #223
Ah, cracked it. Okay so there were some nodes that had failed earlier in the run for an unrelated reason. Those nodes were removed from future plays as expected; however, they were not removed from play_hosts. As such, the kubecert did not exist on those hosts, it was just unclear where the error was coming from.

Closed!

[2016-05-06 17:30] #223 closed

[2016-05-06 18:16] Smana commented on #223
Well done :)

[2016-05-06 19:46] Smana commented on #224
solved by https://github.com/kubespray/kargo/pull/225, waiting for tests

[2016-05-07 19:09] #224 closed

[2016-05-07 19:21] Smana opened #226 "dnsmasq role is not run on CoreOS"
For an unknown reason, the role dnsmasq which creates a daemonSet is not included when running a deployment on CoreOS.

[2016-05-07 19:25] Smana commented on #226
Running a second deployment works, i've to figure out the problem

[2016-05-09 09:11] jcsirot opened #228 "Install NFS client packages required to create a NFS persistentVolume"
These packages are required on the kube nodes:
- nfs-common for Debian flavour
- nfs-utils for Red Hat flavour

[2016-05-09 16:53] rsmitty opened #229 "Support Proxy Information for Docker"
I've run across an issue where, when behind a proxy, the Docker deployment does not function as expected. This is because there is currently no way in these playbooks to set the HTTP/HTTPS proxy information in /etc/sysconfig/docker. When I do this manually, the docker host is able to pull from the hub, quay.io, etc. as expected. I will create a pull request to add this functionality.

[2016-05-10 06:57] Smana commented on #229
Hi @rsmitty, indeed we never faced the issue as we've never been behind a proxy.
We'll think about a solution. I'll try to get back to you soon

[2016-05-11 15:56] rsmitty opened #231 "Multiple Masters Need ca.pem"
Continuing down the multi-master rabbit hole! The kube-apiserver fails to boot on all masters except the primary because, during cert generation, the ca.pem file is not copied as part of the master certs. This can be seen by doing a `journalctl -xe` after the failure. Really easy fix, I just added it to the list of certs and it works as expected. Will submit pull.

[2016-05-11 16:11] rsmitty opened #233 "Multiple Masters Tokens Not Copied"
Ran into this issue yesterday. Seems that the tokens are not copied from the first master to the other masters as they should be. I believe the reason for this is https://github.com/kubespray/kargo/blob/master/roles/kubernetes/secrets/tasks/gen_tokens.yml#L57, where it seems that it is checking for sync_certs instead of sync_tokens. Changing it appeared to solve the issue for me, but I want to ens

[2016-05-11 16:17] rsmitty opened #234 "Gen Certs Does Not Work With Multi-master"
Okay, last issue I encountered. It seems that the gen_certs.yml file does not work as expected when deploying with multiple masters. The first three tasks, `copy tokens generation script`, `generate tokens for master components`, and `generate tokens for node components` all seemed to fail for me. This is because of some combination of the `run_once` directive and the `inventory_hostname == groups

[2016-05-11 16:24] Smana commented on #233
hi, my mistake, it is indeed a typo.

[2016-05-11 16:39] Smana commented on #234
could you please share your inventory?
in our tests the masters are in the kube-node group too. What about you?

[2016-05-11 16:43] #233 closed

[2016-05-11 16:47] rsmitty commented on #234
They are not in the kube-node group. Seems like that would allow scheduling of pods to my master nodes, which I'd rather not do. The architecture I've been working with thus far has been 3 controllers (also hosting etcd) and 3 worker nodes. Here's a sample inventory.

[code]

[2016-05-11 16:57] Smana commented on #234
Ok, i will do some tests with your inventory. thank you :)

[2016-05-11 19:24] #231 closed

[2016-05-12 08:23] Smana commented on #234
Hi @rsmitty, Please confirm that the change fixes your issue.

[2016-05-12 09:43] Smana opened #238 "CI tests for Ubuntu 1604"

[2016-05-12 09:43] Smana commented on #238
drop tests on 1404

[2016-05-12 12:35] Smana opened #239 "Fix docker install on Ubuntu 1604"
[code]

[2016-05-12 12:36] Smana commented on #238
https://github.com/kubespray/kargo/pull/237

[2016-05-12 17:11] rsmitty commented on #234
Confirmed working for me. Awesome awesome awesome! Thank you.

[2016-05-12 17:11] #234 closed

[2016-05-12 17:47] #238 closed

[2016-05-12 17:47] #226 closed

[2016-05-12 17:48] #25 closed

[2016-05-12 17:49] #136 closed

[2016-05-12 19:20] Smana opened #241 "Vagrant deployment: Bad request when downloading coreos_production_vagrant.json"
[code]

[2016-05-12 19:23] Smana commented on #241
@paulczar i tried to test vagrant deployment but I faced this issue.
do you know what could be the cause ?

[2016-05-12 19:25] #229 closed

[2016-05-12 19:29] Smana opened #242 "Vagrant documentation"
Add documentation for vagrant

[2016-05-12 19:29] Smana commented on #242
@paulczar could you please provide us a short howto in order to use vagrant ?

[2016-05-12 19:56] jcsirot commented on #228
Agreed. But I think it should be an option of the playbook

[2016-05-12 20:25] ant31 commented on #228
it will be the same for all other networkstorage drivers.
We have already a lot of options/variations to maintain.

The best I can see is to have a separate set of playbooks that lives in `/contrib` or another directory. Users can then launch before or after the main installer.

- `ansible-playbook -i inventory/hosts cluster.yaml`
- `ansible-playbook -i inventory/hosts contrib/nfs/nfs.yaml`

[2016-05-12 22:12] jcsirot commented on #228
@ant31 You are right. It's probably a better idea to keep the main playbook as small as possible and to put any additional/optional feature in a contrib/ or extra/ directory

[2016-05-13 07:43] Smana opened #243 "Kubelet TLS bootstrap"
https://github.com/kubernetes/kubernetes/pull/20439

[2016-05-13 12:07] #219 closed

[2016-05-13 13:06] Smana commented on #213
I'm just facing the problem too, i found the solution. pr's coming

[2016-05-13 15:31] ant31 opened #246 "Download only the required files"
Currently all files are downloaded: flannel/calico/weave....

[2016-05-13 17:54] #213 closed

[2016-05-16 21:35] n0n0x opened #249 "Feature: Allow to configure docker with --insecure-registry flag"
This can become handy for some situations like when using [deis](https://github.com/deis/workflow)

[2016-05-16 22:29] n0n0x commented on #249
Maybe this can help:

[code]

worked like a charm on my box:
[code]

[2016-05-17 07:55] davidreuss opened #250 "Ubuntu fan support"
Hello,

I'm looking at the various overlay networks and i'm thinking of adding support for ubuntu-fan (https://insights.ubuntu.com/2015/06/24/introducing-the-fan-simpler-container-networking/), and was wondering if there was any thoughts on it? ..

It seems pretty simple, as it's integrated via `cni`, so there's not a whole lot setup, other than choosing your `/8`, you want addresses mapped to. Of

[2016-05-17 08:28] Smana commented on #250
Great idea !
Just do the PR for `xenial`, we'll see to adapt for other distribs.

[2016-05-17 08:31] ant31 commented on #249
Do you think you'll be able to propose a PR for this or do you prefer that we  take it?

[2016-05-17 08:45] davidreuss commented on #250
Great, i'll see how far i get, when i got the time to look into it.

Also, regarding xenial - afaik `docker 1.11` isn't officially supported by kubernetes yet, how are you approaching that? .. So far i've been using `1.10` package that's built for yakkety (it fixes the docker compiled with `go 1.6` bug, that some clients run into).

https://bugs.launchpad.net/ubuntu/+source/docker.io/+bug/1574904

[2016-05-17 15:06] n0n0x commented on #249
I think it would be better if you take it, I am just too new to Ansible!

[2016-05-17 16:41] davidreuss commented on #250
#250

[2016-05-17 16:41] davidreuss commented on #250
Duh, #252

[2016-05-18 02:55] paulczar commented on #241
Ahhh, I feel silly,  fixed here ( I hope! )  https://github.com/kubespray/kargo/pull/253

[2016-05-18 03:18] paulczar commented on #242
here - https://github.com/kubespray/kargo/pull/253

[2016-05-18 07:55] Smana commented on #242
Documentation added to https://docs.kubespray.io.

[2016-05-18 07:55] #242 closed

[2016-05-18 21:29] rsmitty commented on #249
I can take this. I'm already doing it as a post-install task anyways, so it's better for me if insecure registry makes it in!

[2016-05-18 21:33] rsmitty opened #255 "Docker proxy setup doesn't happen on CoreOS"
The line to run the docker tasks in the cluster.yml file have a strict "when not CoreOS". This prevents the proxy settings for systemd-based OSes from getting applied to CoreOS VMs. Still brainstorming a proper fix for this, but wanted to add it for tracking.

[2016-05-18 23:06] rsmitty commented on #255
Okay, I can see this being solved two ways:

First is to move the OS check to all unnecessary tasks in roles/docker/tasks/main.yml. There's really not that much going on in that file, so that may not be bad.

The second idea I had is to create a "docker-customizations" role where the non-standard things that are going on with the Docker daemon can be applied. This would move the proxy code into th

[2016-05-20 10:07] jamiehannaford commented on #212
I'm also running into this error with the HA inventory (very similar to the one you posted):

[code]

[2016-05-20 10:25] jamiehannaford commented on #212
It worked when I only had one host for the `etcd` group

[2016-05-20 17:47] jnoller opened #257 "Generate a ~/.kube/config file for users?"
This is an enhancement request - since the playbooks have all the info needed to generate a kubectl configuration file, this would be a nice to have to drop in the ~/.kube/ dir either on the nodes or in the directory where the playbooks were run. Remote kubectl access would be the norm in my mind

[2016-05-20 18:15] jnoller commented on #257
It's pretty 'simple' - once cargo is done you want to grab these from the master:

- /etc/kubernetes/ssl/admin-key.pem
- /etc/kubernetes/ssl/ca.pem
- /etc/kubernetes/ssl/admin.pem

The user can then run:

[code]

[2016-05-21 07:38] Smana commented on #257
Yes good idea, maybe a role named `postinstall` with the insecure_registry needed by @rsmitty in #256.

[2016-05-21 15:54] rsmitty commented on #257
Would you be interested in me updating my merge request to setup the
postinstall role to come at the very end? Would at least create the
structure for this to be added.
On May 21, 2016 03:38, "Smaine Kahlouch" <notifications@github.com> wrote:

[2016-05-21 16:27] galthaus commented on #257
I have some thoughts in this. My open contrail playbook request had this
because open contrail needs extra stuff at the end.

Though for docker I think we have a different problem to think about.

I'll try and elaborate later today

Greg

On Saturday, May 21, 2016, Spencer Smith <notifications@github.com> wrote:

[2016-05-22 16:02] paulczar opened #258 "cannot access API from non-master nodes via local kube-proxy endpoint"
I mentioned this in slack ( https://kubespray.slack.com/archives/general/p1463782042000002 ) that deis expects to be able to access k8s API via local kube-proxy ( via SNAT internface, usually 10.233.0.1 in default kargo install ).   It fails to do so on non-master nodes because of cert issues and therefore doesn't start.

Here's my recreation of it using curl / openssl.

## k8s-n03 ( non-master, b

[2016-05-22 16:10] paulczar commented on #258
ahhhh this is likely to do with vagrant's eth0 being NATd.

[code]

[2016-05-22 16:15] paulczar commented on #258
Here's the kube-proxy manifest on that server:

[code]

[2016-05-22 16:48] paulczar commented on #258
I'm not finding the settings that's telling it try and use `10.0.2.15:443` anywhere.

[2016-05-22 16:53] v1k0d3n commented on #59
how is this work coming along? anything that i may be able to help with; is this low hanging fruit? seems like an old issue in kubernetes-land. 😊

[2016-05-22 19:28] Smana commented on #59
@v1k0d3n actually we didn't try since a long time but i'm really looking forward to support rkt.
From what i understood in the CoreOS Fest, rkt will be considered as stable with k8s in june.
But maybe i'm wrong.
If you want to giive it a try your PR would be welcome :)

[2016-05-22 19:40] #258 closed

[2016-05-24 15:46] rsmitty opened #262 "CoreOS adduser broken"
After the meta roles were introduced for adduser and download, it seems that the necessary users aren't created. The culprit here is https://github.com/kubespray/kargo/blob/master/roles/kubernetes/preinstall/meta/main.yml, but I'm not sure why it's present. Anyways, the other pre-install tasks expect the kube user to be there on CoreOS and fail shortly thereafter. Exploring...

[2016-05-24 16:19] rsmitty opened #265 "Feature: Initial Support for Docker Options"
After discussion on the slack channel, the short path to making this happen is to allow for a string to be added to the group_vars/all.yml file. This string will then become part of the templating inside of each network plugin. In the longer term, we wish to move the docker-specific network stuff up the chain into the docker role, but for now...

[2016-05-24 16:20] galthaus commented on #265
How do we get on the slack channel?

[2016-05-24 16:24] rsmitty commented on #265
@galthaus slack.kubespray.io should allow you to invite yourself

[2016-05-24 16:26] galthaus commented on #265
Thanks!  Couldn't find that link.

[2016-05-24 20:14] #262 closed

[2016-05-25 05:42] v1k0d3n opened #267 "weave hangs at task "Weave | Enable weaveexpose" indefinitely..."
probably missing something on my end, but is anyone experiencing issues where weave installation will hang indefinitely at task:

[code]

looks like this is a timeout issue, but i haven't seen this with manual installations. i supposed i'll have a deeper look tomorrow.

[code]

[2016-05-25 10:05] #250 closed

[2016-05-25 10:06] Smana commented on #255
Could you please confirm that the issue is fixed @rsmitty

[2016-05-25 13:39] rsmitty commented on #255
Yep, #264 fixes this issue. I successfully deployed yesterday with this fix
in my environment.
On May 25, 2016 06:06, "Smaine Kahlouch" <notifications@github.com> wrote:

Could you please confirm that the issue is fixed @rsmitty
<https://github.com/rsmitty>

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/kubespray/kargo/is

[2016-05-25 20:09] abourget opened #269 "`socat` and `nsenter` missing on nodes"
Hey thanks greatly for this project :) It's awesome.

It seems nodes miss `socat` and `nsenter` for `kubectl post-forward` to work (ref: https://github.com/kubernetes/kubernetes/issues/19765)

I'm getting:

[code]

I installed `socat` on the nodes and then get:

[code]

I wasn't able to easily install `nsenter` on the nodes though.. I'm on Ubuntu 14.04.

[2016-05-26 14:44] mattymo opened #270 "scale up does not add node to etcd"
If the node isn't part of etcd_initial_cluster, the command `etcdctl member add etcd${NODE_ID} http://${NODE_IP}:2380 ` should be run after etcd is set up. It can be run on the new node.
Additionally, /etc/etcd.env doesn't have the following vars:
ETCD_ADVERTISE_CLIENT_URLS
ETCD_INITIAL_ADVERTISE_PEER_URLS
ETCD_INITIAL_CLUSTER_STATE
ETCD_INITIAL_CLUSTER_TOKEN
ETCD_LISTEN_PEER_URLS
ETCD_NAME

[2016-05-26 15:22] rsmitty commented on #267
Appears that it starts the weave service, but then can't connect via port 6783. Any firewall restrictions?

[2016-05-26 15:41] Smana commented on #269
Hi @abourget sorry for the delay, i never had to use this argument `port-forward`.
I need to do some tests.
What is the problem exactly with `nsenter` install ?

[2016-05-26 15:49] abourget commented on #269
there's no package available to bring it on an Ubuntu 14.04 install.. I think it's in `util-linux` after 14.10

[2016-05-26 17:53] v1k0d3n commented on #267
Hey, sorry for my late response. No there is no firewall, however it's possible that it could be catching on default CoreOS SELinux events? Are you able to run it successfully?

--

Brandon B. Jozsa

JinkIT<http://www.jinkit.com> / Twitter<https://twitter.com/v1k0d3n> / GitHub<https://github.com/v1k0d3n> / LinkedIn<https://www.linkedin.com/in/bjozsa>

________________________________
From: Spencer

[2016-05-26 18:22] rsmitty commented on #267
Hrmm, worked for me using CoreOS stable in AWS:

[code]

[2016-05-26 19:14] Smana opened #271 "Cleanup docker templates within network plugins roles"

[2016-05-26 19:14] #265 closed

[2016-05-26 19:55] #255 closed

[2016-05-26 20:00] #241 closed

[2016-05-26 21:23] rsmitty commented on #249
I'm going to close this issue. This can now be solved with the `docker_options` variable as of #268.

[2016-05-26 21:23] #249 closed

[2016-05-27 06:55] ant31 commented on #59
@v1k0d3n the idea is to use a variable eg. {{container_engine}} that switch between docker/rkt, like it is done for network_plugins.

To try you probably want to use kubernetes from 1.3-alpha instead of 1.2.

[2016-05-27 19:56] Smana commented on #267
@v1k0d3n did you get your cluster working ?

[2016-05-30 11:12] Smana opened #274 "--cloud-provider=aws doesn't work need IAM"
On AWS if we want to create ELB for instance we need to setup the authentication with IAM role.
it is supported by kube-up : https://github.com/kubernetes/kubernetes/tree/release-1.2/cluster/aws
To be implemented

[2016-05-31 22:47] joshuacox opened #277 "group_vars/all.yml doesn't appear to have been called"
I'm following along with the readme but my all.yml doesn't seem to be called:

[code]
[code]

[2016-06-01 15:23] #270 closed

[2016-06-01 15:24] Smana commented on #277
Hi @joshuacox could you please paste your inventory ?
What is your Ansible version ?

[2016-06-01 15:49] joshuacox commented on #277
Well it was ansible 2.1.0, I just pulled in 2.2.0 though.  Is there something fresh in 2.2.0 that auto finds that all.yml?

I 'fixed' with the PR just referenced, this may or may not be the correct way to go about that.  I'd be happy to continue debugging for you.

inventory here (all muskateer aliases are defined elsewhere, and otherwise work fine):
[code]

[2016-06-01 15:56] Smana commented on #277
Thanks for the PR but i'm pretty sure that's not the cause of your issue.
Where is located your `muskateers.cfg` when you run the `ansible-playbook` command.

Btw, do you really need two sites and the bgp peeriing ?
In not you should remove the following sections from your inventory:
[code]

Another test is to test the connectivity with your remote servers
`ansible -m ping -i inventory/muskateers.

[2016-06-01 16:28] joshuacox commented on #277
Following one of the examples I placed it in a `dev` directory inside inventory, but that should work?  ping works  great (I'll past at bottom), now I'm getting some strange errors:

[code]

I reverted back to ansible 2.1 rc4 and same, I'll provision some fresh hosts to try on as these may be silly after deving on them all night.

[code]

[2016-06-01 17:22] joshuacox commented on #277
ok on four fresh ubuntu trusty hosts:

[code]

new inventory:
[code]

ping is great:
[code]

I'm not using my PR checked out commit ab05

[code]

And ansible is 2.1 rc4
[code]

[2016-06-01 18:15] joshuacox commented on #277
rolling ansible back to 2.0.2 `git checkout v2.0.2.0-1`:
[code]

produces the old error, leading me to believe I was 2.0.1 and 2.1 like I assumed earlier previous to my checkout of 2.2.0.  What ansible version is kargo to be used with?

[code]

[2016-06-01 18:49] Smana commented on #277
Well strange we've never had this issue.
The ansible versions supported for sure are 2.2.0 and 2.1 and above.

We'll try to find out what's going on from your side but in the mean time did you consider using kargo-cli ?

[code]

What's the output of `tree -L 3 -Ap inventory` ?

[2016-06-01 21:05] joshuacox commented on #277
here is the tree:

[code]
Same errors with kargo:
[code]

[2016-06-01 21:33] joshuacox commented on #277
debug version: http://sprunge.us/GMEW

captured using:
[code]

[2016-06-01 21:46] joshuacox commented on #277
perhaps more interesting is the fact that my pipe did not include the errors:
[code]

especially the
[code]

i had to eliminate that when I copied from kargo's output to make that line work, or to be clear this line failed:

[code]
is perhaps my ssh the issue?
[code]
which got me to try:
[code]
before my ansible-playbook command.  just becaue I ran into that recently elsewhere. But still the same

[2016-06-02 01:26] joshuacox commented on #277
just to test if it was because I was using debian stretch I tested from dartagnan (a ubuntu trusty host)

after cloning the ansible repo and checkout out the 2.1 stable branch, I get the missing `kube_cert_group` again, which can be fixed with my PR, but I digress and would rather this work as intended:

http://sprunge.us/FVjX

[2016-06-02 12:55] Smana opened #279 "[Terraform] deployment for AWS"
Need to define a prod architecture.

[2016-06-02 16:18] joshuacox commented on #277
So I spun up a group of 4 centos machines this morning one to act as ansible controller, and it appears to have gotten past the addusers step just fine.  So is this an issue with ubuntu trusty hosts?

[2016-06-02 17:41] Smana commented on #277
Sorry we dropped the ci tests for trusty.
do you want to keep this issue openned ?

[2016-06-02 18:49] Smana opened #280 "[Terraform] deployment for GCE"

[2016-06-02 18:50] Smana opened #281 "[Terraform] deployment for OpenStack"

[2016-06-02 18:51] Smana commented on #274
This can probably done by Terraform #279

[2016-06-02 19:16] joshuacox commented on #277
well I added the viper hosts to inventory and it works fine.

[code]

there is something else at play here, as I'm on debian stretch (which fails with the above errors when trying spin up trusty or centos7 hosts)

trusty also fails with the same errors

yet trusty is working as a host IF controlled by centos.

as for keeping the issue open I would definitely like to be able to use debian as I pref

[2016-06-02 20:00] #271 closed

[2016-06-03 00:51] joshuacox commented on #257
+1   in the very least @jnoller 's comment should be added to the docs

[2016-06-03 02:41] joshuacox commented on #277
module mismatch was the issue:

`git submodule update --init --recursive`  in the ansible after checking out 2.1 stable cleaned up all issues here

[2016-06-03 02:41] #277 closed

[2016-06-03 07:36] jcsirot commented on #257
I had an almost similar/related request for kargo-cli https://github.com/kubespray/kargo-cli/issues/19

[2016-06-03 08:12] jcsirot commented on #66
Maybe it is time to update this ticket's content

[2016-06-03 09:19] darkwise commented on #274
I take it @Smana

[2016-06-03 09:19] darkwise commented on #279
I take it @Smana

[2016-06-03 14:26] rsmitty opened #283 "CoreOS Bootstrap Doesn't Anticipate Separate ETCD Nodes"
Title pretty much says it all. The coreos-bootstrap.yml file selects `k8s-cluster` as the set of hosts. This does not include the etcd nodes if you plan to use separate nodes for these. Should be `hosts: all` instead. PR inbound.

[2016-06-06 09:07] #283 closed

[2016-06-06 12:25] ant31 opened #287 "API to run/configure the deployment"

[2016-06-06 23:57] rsmitty commented on #257
I've added pull #288 to address grabbing the certs, but we'll want to also update the docs to show @jnoller's commands with the `output/certs/` directory.

[2016-06-07 16:13] rsmitty commented on #274
Are we saying that we want to create the IAM role as part of the terraform scripts? I'm up to talking about this, but I kind of feel like things like user/access management should be handled by the user prior to deploying with kubespray. That allows us to keep things general and simply provide pointers to documentation that shows how to allow these functions with their AWS credentials.

[2016-06-09 06:03] Smana commented on #281
https://github.com/kubespray/kargo/pull/285
tested successfuly, we still need to decide if we should create the network resources (subnets, router) as part of Terraform.
According to @paulczar the user who wants to deploy on OpenStack should know how to do it manually and we often use existing network resources.
A I right @paulczar ?

[2016-06-09 07:39] Smana commented on #274
@rsmitty , what we want is to be able to interact with the aws's api in order to create the elb automatically when a service with the `type: LoadBalancer` is created.
we just need to look at kube-up or kube-aws what they do.

[2016-06-09 11:57] #279 closed

[2016-06-12 10:43] Smana commented on #159
Use kubeconfig file to authenticate calico with kubernetes

[2016-06-12 19:26] #204 closed

[2016-06-14 06:00] billyoung commented on #274
I wrote a small module for this with Terraform. Would be happy to share :)

[2016-06-14 07:17] Smana commented on #274
@billyoung, that would be cool :)

[2016-06-14 11:58] donchh opened #292 "Deploy failed on #kubernetes-apps role"
k8s cluster deployment fail during kubernetes-apps role execution.
It seems to be related to kubedns deployment

Target platform : Ubuntu Trusty
Kargo runned on MacOS El capitan

`
 TASK [kubernetes-apps : manage kubernetes applications] ************************
 failed: [k8s-01] (item={u'variables': {u'cluster_ip': u'10.233.0.3'}, u'namespace': u'kube-system', u'name': u'kube-system/kubedns'}) =>

[2016-06-14 12:18] donchh commented on #292
It seems to be related to kpm, not directly to kargo :

root@k8s-01:~# kpm list
/usr/local/lib/python2.7/dist-packages/requests/packages/urllib3/util/ssl_.py:318: SNIMissingWarning: An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS is not available on this platform. This may cause the server to present an incorrect TLS certificate, which can cause validation fa

[2016-06-14 13:16] billyoung commented on #274
@Smana best to add it in here? https://github.com/kubespray/kargo/blob/master/contrib/terraform/aws/00-create-infrastructure.tf

[2016-06-14 14:52] Smana commented on #274
@billyoung yes thank you

[2016-06-14 17:17] Smana commented on #292
As discussed in the slack channel, you need a recent version of openssl.
Please confirm that worked for you

[2016-06-14 17:25] donchh commented on #292
Yeah, by upgrading python in 2.7.9. I close

[2016-06-14 17:25] #292 closed

[2016-06-15 17:00] billyoung commented on #274
https://github.com/kubespray/kargo/pull/294

[2016-06-16 07:53] karthikvee commented on #212
@jamiehannaford , we  kinda faced similar issue, under the group we have 3 servers of which 2 of them are down. once we made them up, it worked like a charm

[2016-06-16 11:11] mattymo opened #295 "docker package fails if newer version is installed (ubuntu/debian)"
The latest version as of this writing is 1.11.2, but the playbook defines version 1.11.1. We should add a prefs file for the repo to set the repo priority to >=1000, to enable apt to automatically downgrade the docker-engine package to the version specified. Alternatively, we could just allow apt to install the latest version available.

[2016-06-17 08:10] #281 closed

[2016-06-17 08:11] Smana opened #297 "[Terraform] deployment for Azure"

[2016-06-17 10:11] #295 closed

[2016-06-17 13:49] mattymo opened #298 "Add support for etcd from container"
It should be possible to run etcd from a Docker container and not require any OS-specific service management scripts. To implement this, we need the following:
* Optionally skip etcd from download
* Remove quotes from /etc/etcd.env. Docker doesn't like it :(
* Reference image for etcd (either gcr.io/google_containers/etcd:v2.2.5 or quay.io/coreos/etcd:v2.2.5)
* Execute docker run --env-file /etc/e

[2016-06-18 13:57] wmangano opened #299 "skydns dead link"
the link to the skydns role is dead...can please provide an alternative...or a howto "how to provide working dns - using skydns"

file:
inventory/group_vars/all.yml
### Use dns server : https://github.com/ansibl8s/k8s-skydns/blob/master/skydns-README.md

dns_setup: true
dns_domain: "{{ cluster_name }}"

; Ip address of the kubernetes skydns service
skydns_server: "{{ kube_service_addresses|ipaddr(

[2016-06-18 16:18] Smana commented on #299
Hi @wmangano thank you for reporting, i'll change that.
Now it isn't necessary anymore, the kubedns addon is installed as part of the k8s deployment.
Let me know if you face any issue.

[2016-06-19 19:57] ant31 opened #300 "Every configuration files should use the option backup"
on each template / file / copy   use the option 'backup: {{backup_files}}`

[2016-06-20 10:12] mattymo opened #301 "Ocassionally docker apt key download fails"
1 in 10 deployments has this on one or more nodes:
failed: [node2] (item=58118E89F3A912897C070ADBF76221572C52609D) => {"cmd": "apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv 2C52609D", "failed": true, "item": "58118E89F3A912897C070ADBF76221572C52609D", "msg": "gpg: requesting key 2C52609D from hkp server p80.pool.sks-keyservers.net\ngpg: no valid OpenPGP data found.\ngpg: Tota

[2016-06-20 11:43] mattymo commented on #301
This should be dropped from kargo and reposted on ansible project itself.

[2016-06-20 11:43] #301 closed

[2016-06-20 13:52] sashgorokhov commented on #27
@Smana hi, wich version do you use? I have a kubernetes 1.2.4 and I am facing the same issue.

[2016-06-20 14:06] morea-myfox commented on #27
Hi @sashgorokhov this is the version we use and we don't face the issue anymore.

[2016-06-20 22:03] wmangano opened #302 "pypy version (coreos)"
kargo/roles/coreos-bootstrap/files/bootstrap.sh

with pypy version 2.4 you run into a ssl/python security warning.

change
PYPY_VERSION=2.4.0 to PYPY_VERSION=5.1.0 should fix this issue. can anybody else confirm this.

ansible version: 2.0
coreos beta channel: 1010.4.0

[2016-06-21 08:57] rustyrobot opened #303 "License compatibility problem"
Kargo is licensed under Apache v2 license [1], Ansible is licensed under GPLv3 [2], Apache v2 and GPLv3 are incompatible [3] which prohibits cross-linking, in python use-cases it prohibits importing of GPLv3 library with further redistribution, there are at least two places where code under Apache v2 license imports GPLv3 [4], [5]. So the code which imports GPLv3 has to be published under compatib

[2016-06-21 09:14] ant31 commented on #303
@rustyrobot Thanks to pointing this out.
Is those external libraries/modules  ([4], [5]) can be licensed as GPLv3 without licensing all kargo's code as GPLv3? . They are ansible module that could be hosted in another repo, like all other modules are.

[2016-06-21 09:49] ant31 commented on #303
@rustyrobot a header GPLv3 on those module wouldn't be enough?   We can separate repo, but it may require an extra action so I would prefer not.

Other solution is that we switch to GPLv3.

Thanks

[2016-06-21 10:20] Smana commented on #302
https://github.com/kubespray/kargo/pull/305

[2016-06-21 10:23] Smana commented on #302
Confirmed and merged

[2016-06-21 10:23] #302 closed

[2016-06-22 13:41] aLostEngineer opened #306 "Systemd docker uses incorrect ENV file/vars when deploying with Calico"
When specifying docker options in group_vars/all.yml (https://github.com/kubespray/kargo/blob/master/inventory/group_vars/all.yml#L136), the options are written to a file in /etc/default/docker, under the variable name DOCKER_OPTS. However, the systemd service file (used for Calico deploy) points to /etc/sysconfig/docker* (https://github.com/kubespray/kargo/blob/master/roles/network_plugin/calico/

[2016-06-22 13:58] aLostEngineer commented on #306
#307 did not preserve back-compat with EL6; #308 does, checking /etc/{sysconfig,default}/docker

[2016-06-23 04:27] aLostEngineer commented on #306
Implemented with merge from #308

[2016-06-23 04:27] #306 closed

[2016-06-23 16:30] mattymo commented on #303
I'd like to point out that there are some downsides in commercial redistribution to GPLv3. We should keep Kargo's license the same as Kubernetes (Apache v2).

If you simply call ansible via shell execs instead of using it as a library, it will avoid the GPL violation. Yes, it's clumsy, but the license is hard to fight with.

[2016-06-26 16:07] joshuacox opened #311 "etcd has failures yet I get ' Kubernetes deployed successfuly'"
at the end of my install hosts start to fail in strange ways (not consistently starts with half of the hosts
[code]
it appears from the errors that something is wrong with ssh, but  kargo won't even start without hosts passing ping, and all hosts are accessible to anisble ping:
[code]

is it possible my use of a non-standard ssh port is mucking things up?

[2016-06-26 16:10] joshuacox commented on #311
kargo prepare just in case anyone wants to see it:
[code]

[2016-06-26 16:37] ant31 commented on #311
@joshuacox what is your ansible version?

[2016-06-26 17:23] joshuacox commented on #311
[code]
freshly pulled, and recursively updated `git submodule update --init --recursive`

this all on a tiny GCE jessie instance recently made (last week)
[code]

[2016-06-26 17:36] ant31 commented on #311
`tiny GCE`, which plan ?
Our CI spawn `g1-small` instances, f1-micro are too small for k8s services+etcd+docker

[2016-06-26 17:43] joshuacox commented on #311
sorry I'm just talking about the 'ansible controller' host, the hosts are 2GB ram

[2016-06-26 18:03] v1k0d3n commented on #267
sorry, things have been insane. i can't believe it's been a month already, but thanks for not closing the ticket on me. i will get to this towards the end of next week. not using AWS...been setting up as bare metal.

[2016-06-26 18:35] v1k0d3n opened #312 "feature: flexvolume"
i might be able to even get to this at some point, but it would be nice to enable flexvolumes for kubernetes during installation. i've been working with coreos bare metal this weekend, and torus. here are some useful docs:

flexvolumes (kubernetes):
https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/flexvolume/README.md

torus (coreos):
https://github.com/coreos/torus/tree/master/c

[2016-06-26 19:23] Smana commented on #206
https://github.com/kubespray/kargo/pull/313

[2016-06-26 20:38] ant31 commented on #312
+1 I've also played with torus and more generaly it would be nice to handle plugins with kargo

[2016-06-26 20:41] v1k0d3n commented on #312
i agree. what OS were you attempting to load it on? on coreos i am getting the following error (and not finding much resolution). i may have to reach out to those guys for more detail:

        Unable to mount volumes for pod "postgres-torus-1754447054-uf809_default(e30e6b13-3bda-11e6-afba-001fc69b97d0)": attach command failed, status: Failure, reason: Unit torus-dev-nbd0.service already exists.

[2016-06-27 06:00] v1k0d3n opened #314 "docker image failure on coreos alpha"
can't confirm this behavior on other os deployments, but going to create an issue (i'll try to get back to it at some point later): andyshinn/dnsmasq seems to fail to load/run.

[code]

[2016-06-27 07:16] Smana commented on #314
We didn't notice that during our tests : https://ci.kubespray.io/job/kargo-gce-coreos-calico/

[2016-06-27 07:19] Smana commented on #312
Yes that would be awesome if kargo could handle torus and more generally flexvolumes

[2016-06-27 07:20] v1k0d3n commented on #314
hmm...not exactly sure why, but this is on a perfectly default bare-metal coreos alpha installation.

[2016-06-29 16:49] #206 closed

[2016-06-30 05:34] Smana opened #320 "self deployment / pull mode"
Configure the local node.
There will probably be some caveats like the certs/tokens management

[2016-06-30 05:37] Smana opened #321 "Run the deployment inside a container"
When using the pull mode, run the deployment inside a container.
This container will come with all the tools/binaries needed:
hyperkube, kubectl, etcd, etdcdctl, calicoctl, kargo, kargo-cli, kpm ...

[2016-06-30 05:38] Smana commented on #320
https://github.com/kubespray/kargo/issues/321

[2016-07-01 09:56] mattymo opened #322 "resolvconf make_resolv_conf does not work"
It looks like /etc/dhcp/dhclient-enter-hooks.d/resolvconf gets sourced after /etc/dhcp/dhclient-enter-hooks.d/nodnsupdate and breaks DNS search domain if you have a DHCP configured interface with a local search domain. Workarounds available include:
1 - remove resolvconf package and /etc/resolvconf directory (we don't need any dynamic updates)
2 - rename nodnsupdate to znodnsupdate (so that it get

[2016-07-01 15:52] Smana opened #323 "Upgrade to etcd v3"

[2016-07-01 15:53] Smana commented on #322
@ant31 i remembre you faced a similar issue, right ?

[2016-07-01 16:05] ant31 commented on #322
I tried things, the easiest is to remove resolvconf I think

[2016-07-01 19:15] v1k0d3n commented on #323
so funny...i was just going to submit this as a tracking item too. :) etcd3 is a great improvement.

[2016-07-01 19:19] v1k0d3n opened #324 "etcd to use existing srv records for joining a cluster"
looking through the repo today to explore this option. i have SRV records already set up for an etcd cluster, and I'm wondering if this could be leveraged as an optional item.

notes: https://coreos.com/etcd/docs/latest/clustering.html#dns-discovery

[2016-07-02 08:18] Smana commented on #320
For the pull mode what do you think about:

1 - Create the etcd cluster in a way that it can be scaled, we need to discuss about what would be the proper way : static or discovery.
How can we scale up in the case of an autoscaling.

2 - Use the etcd cluster to store the inventory and use a dynamic inventory.
example (https://gist.github.com/justenwalker/09698cfd6c3a6a49075b)

3 - A big issue is th

[2016-07-02 08:22] Smana commented on #324
I'm just curious as i want to address the issue https://github.com/kubespray/kargo/issues/320
How could you scale (add/remove) members with this discovery mode ?

[2016-07-02 09:11] mattymo commented on #320
For public cloud consumers, etcd discovery is probably optimal since it almost never results in a broken cluster. For anyone deploying in-house, they might be reluctant to use discovery. An initial cluster array is adequate already.

Dynamic inventory and deploying etcd via ansible creates a chicken and egg problem. You can't use an inventory from etcd until etcd is up. Also, you need to make a wa

[2016-07-02 12:04] Smana commented on #320
Thank you mattymo for your answer.

We can let the user choose the way he wants to deploy the etcd cluster.
The pull mode would just be an option.

I understand that etcd would become a strong dependency but when for instance a new node is added he needs to know about the cluster topology (where is the api, the etcd, ...).
If you think about another option, we can evaluate it too.

Regarding the s

[2016-07-02 12:06] Smana commented on #323
https://github.com/kubespray/kargo/pull/326

[2016-07-02 12:07] Smana commented on #324
btw i'd like your comment in the issue https://github.com/kubespray/kargo/issues/320

[2016-07-02 12:08] Smana commented on #311
Did you find out the cause of your issue ?

[2016-07-02 12:32] #323 closed

[2016-07-02 12:32] v1k0d3n commented on #320
i'm probably missing something, but why not consider DNS discovery with SRV records vs. etcd discovery?

[2016-07-02 12:34] Smana commented on #320
This is one of the discovery option that offers etcd and i'm actually considering it @v1k0d3n

[2016-07-02 12:35] Smana commented on #320
@rustyrobot , i need your input here too :)

[2016-07-02 12:50] v1k0d3n commented on #320
it's always been the easiest for me, and i bring up and tear down etcd clusters for kubernetes all the time (granted, i've been pulled away from doing this in recent months so some of the syntax may have changed with etcd2/3).

i just created srv records on my dns server:

[code]

and then configure the etcd cluster for dns discovery (example for kubetcd01)...

[code]

[2016-07-02 13:05] joshuacox commented on #311
No, so far I've tried with debian jessie, ubuntu vivid, and centos7 all with the exact same issue, no one else has seen this the same issue?

[2016-07-02 13:37] Smana commented on #311
Could you please paste the inventory generated ?

[2016-07-02 13:50] joshuacox commented on #311
you bet, here's my last set

http://sprunge.us/WVcN

 I destroyed that list of ten long ago, I'm going to reprovision some more machines and give it another go through today as well

[2016-07-02 15:07] ant31 commented on #320
I would not use ansible pull if possible. Also about the all in one image
there are 2 images:
1 with de deployment scripts. 1 with all tools

I ll detail more later
Le 2 juil. 2016 14:50, "Brandon B. Jozsa" <notifications@github.com> a
écrit :

[2016-07-02 15:22] Smana commented on #320
@ant31 yes, please do :)

[2016-07-02 15:29] Smana commented on #320
@v1k0d3n how would you delete or add members ?

[2016-07-02 15:32] v1k0d3n commented on #320
i would let the users control that on the DNS side, and use proxy on the etcd members. destroy, and/or rebuild...add via dns. i mean, it's RAFT...so 3 or 5 members is ideal. how many members do you really want over that? my biggest stumbling block right now with kargo is I have this great srv/dns framework in place that i can't use to bring up etcd. :(

[2016-07-02 17:35] Smana commented on #324
Your PR is welcome.
I'll have a look to that and try to add the option if that's easy to setup.

[2016-07-02 17:36] Smana opened #327 "Upgrade to kubernetes 1.3.0"

[2016-07-02 17:48] Smana commented on #59
Now that k8s 1.3 is out rkt support is our priority !

[2016-07-02 17:49] Smana commented on #59
@v1k0d3n would you like to work on that ?

[2016-07-03 12:13] Smana commented on #327
https://github.com/kubespray/kargo/pull/328

[2016-07-03 14:00] Smana commented on #327
From my deployment machine everything is working fine but not for the travis tests.
I get the following error :
[code]

[2016-07-03 16:23] #327 closed

[2016-07-04 05:50] #155 closed

[2016-07-04 07:02] Smana opened #329 "Cluster federation (aka Ubernetes) option"
I just found one documentation from Kelsey H. https://github.com/kelseyhightower/kubernetes-cluster-federation

[2016-07-04 14:31] ant31 commented on #320
1. If we use ansible-pull it will add ansible dependency on every host instead of one (the deployment host). It's the opposite of the target (lower requirements / host modifications)

2. We should have
 - 1 image with the deployment script:   kargo-deploy
 - 1 image with with every binaries/tools (all-in-one)

-> the all-in one is optional and that's an another subject

The only requirement on hos

[2016-07-04 16:11] v1k0d3n commented on #320
i think i'm losing track of what's being discussed in this thread, which is why I started #324 @Smana. giving users an option for how _they_ want to bootstrap etcd distances ourselves away from _which method_ is better and why. in my case case; i'm looking for a DNS SRV bootstrap discovery method for etcd.

if users are tied to hard dependancies like ansible-pull, kpm built-in, etc, or if the proj

[2016-07-04 16:25] ant31 commented on #320
Discussion have deviated on etcd, maybe we should open a new issue to solve this question of etcd.

This issue is to how to switch kargo from push to pull.
The idea is to:
1. scale deployment to large cluster
2. allow auto-scale of nodes
3. remove host dependencies (python etc)

That the opposite of what we trying to solve with this issue.
We want that the only requirement on hosts is aa 'containe

[2016-07-05 10:47] Smana commented on #320
@ant31 i agree with you for the docker image which deploys the node where it resides.
Actually that's why i've opened the issue https://github.com/kubespray/kargo/issues/321
That said how would you configure the local node without using the pull mode (inside the container of course) ?
The main issue is not to run inside a container, this is easy to do but how to configure the local node.

[2016-07-05 10:51] Smana commented on #320
The `pull` is not mandatory but we need to get the inventory from somewhere and automatically (when the node starts)

[2016-07-05 14:46] ant31 commented on #320
@v1k0d3n yes, good idea to use the etcd cluster to store the secrets and configuration shared by nodes/masters

[2016-07-05 17:16] ant31 opened #336 "Use etcd to store configurations/secrets"
Currently there is a 'rsync' between nodes or between deploy-host and nodes

As we want to achieve self-provisioning (aka pull), nodes need to get configuration from somewhere, and as discuted in #320 etcd seems a good place.

This task as no dependency, we can  switch to this mode (etcd as cluster-configuration datastore) asap.
#### Configuration to share:
##### Ansible conf
- [ ] inventory
- [ ]

[2016-07-05 17:18] ant31 commented on #336
cc @v1k0d3n

[2016-07-05 17:19] ant31 commented on #336
@Smana can you help to identify which configuration / secrets should be shared?

[2016-07-06 13:31] bogdando commented on #298
note, it might make sense to run dockerized components as a kublet's static pods.
If the etcd cannot/shouldn't be put as a static pods, we have to think who will manage them, like systemd nspawn f.e.

[2016-07-07 19:17] #298 closed

[2016-07-07 19:36] Smana commented on #320
Please refer to https://github.com/kubespray/kargome

[2016-07-07 20:42] mattymo commented on #298
Bogdan, it's not possible to do calico + static pod right now. Calico has to be up before kubelet and etcd would be after, while it's a calico dep. Also, there are static pod issues

[2016-07-07 21:53] v1k0d3n commented on #320
private repo?

[2016-07-08 05:16] rsmitty opened #342 "Flannel Deployment Broken by ETCD"
Hey all,

Seems that the flannel deployment fails b/c of some recent merges into master around networking and the containerizing of etcd. Not quite sure where it's coming from, but I can roll back my repo to [this](https://github.com/kubespray/kargo/commit/65ece3bc1d8877e9d71701ea1f71a5f1436b9a63) commit and all is good. @mattymo mind taking a look?

[2016-07-08 06:57] Smana commented on #342
Hello @rsmitty, according to the CI tests the deployments work fine.
But i remember you're using CoreOS, right ?
@jcsirot you've tested the etcd changes with CoreOS i guess.
I'll have a look to jenkins.

[2016-07-08 06:59] Smana commented on #320
@v1k0d3n Sorry, i've changed my mind and i closed the repo, i'll try to do a PR instead.

[2016-07-08 07:01] mattymo commented on #342
@rsmitty Yeah, it would be handy if you could explain what you are deploying on. I just tested master on Ubuntu 16.04 Xenial with etcd in both host and docker mode using flannel. They both seem to work fine.

A copy of the error you get would also be great.

[2016-07-08 07:08] rsmitty commented on #342
Yep, sorry, I was certainly a bit vague. I'm deploying Ubuntu 16.04 on openstack. I don't have a ton to offer for log output, but I was seeing this when doing a `systemctl status etcd -l`:

[code]

The etcd cluster was also showing as unhealth with a `etcdctl cluster-health` check. The playbooks were failing while waiting for the flannel subnet.env file, which I suspect wasn't working b/c it could

[2016-07-08 07:11] mattymo commented on #342
How about the output from `grep etcd /var/log/syslog`?

[2016-07-08 08:08] jcsirot commented on #342
I launched a deployment test

[2016-07-08 13:49] mattymo opened #343 "hyperkube image is missing binaries"
https://github.com/kubernetes/kubernetes/issues/26093 states what binaries are required by each component.

quay.io/smana/kubernetes-hyperkube:v1.3.0 is missing ethtool and socat, both required by kubelet.

[2016-07-08 14:36] bogdando opened #345 "PetSets support for v1.3 deploys"
In order to enable PetSets http://kubernetes-v1-3.github.io/docs/user-guide/petset/ experimental feature, we need a dynamic pv claims to be working, at least with a dev/test only provisioner (hostpath).

A controller shall accept the enable-hostpath-provisioner=true to make that happen

[2016-07-08 14:53] bogdando commented on #345
https://github.com/kubespray/kargo/pull/346

[2016-07-08 14:54] bogdando commented on #345
The next item to do is a "DNS cluster addon at version >= 15" requirement. IIUC, it is currently kube-system/kubedns kpm.version: 1.14.0-1 , right?..

[2016-07-08 15:30] rsmitty commented on #342
Any way to try Ubuntu 16.04 @jcsirot? I'm heading to the office now, so I'll update in a bit with a test of my own to try to get some more data.

[2016-07-08 15:44] rsmitty commented on #342
Here's the output of `grep etcd /var/log/syslog`. Looks the same as the error I was seeing above:

[code]

[2016-07-08 15:55] jcsirot commented on #342
@rsmitty I launch the deployment test for Ubuntu 16.04

[2016-07-08 17:06] rsmitty opened #347 "Update Admission Conrollers for Kube API Server"
The kube api server is using some out of date plug-ins for the admission controller. I encountered this when trying to run the kubernetes e2e conformance tests across a newly created kargo cluster. Several tests failed b/c of these settings and updating them in accordance with [this](http://kubernetes.io/docs/admin/admission-controllers/#is-there-a-recommended-set-of-plug-ins-to-use) page fixes it

[2016-07-08 21:08] Smana commented on #347
great @rsmitty , thx

[2016-07-08 21:08] #347 closed

[2016-07-08 21:33] v1k0d3n commented on #321
i'd like to recommend not using hyperkube whenever possible, or at least strongly advising users of the project to avoid conditions where hyperkube is deployed. for instance...a disclaimer during deployment that it is an insecure framework and meant for development purposes only: https://github.com/kubernetes/kubernetes/issues/21735

[2016-07-08 22:07] v1k0d3n opened #349 "question re: hyperkube binaries"
The project can be modified to fetch other hyperkube binaries, but I was wondering if there were any special modifications to either the coreos provided hyperkube binaries or google provided binaries?

it makes tracking security vulnerabilities (CVE) and other issues very difficult prior to launching the binary on a system.

for comparison:
CoreOS: https://quay.io/repository/coreos/hyperkube?tab=t

[2016-07-09 14:07] Smana commented on #269
maybe, this commit would help you @abourget ?
https://github.com/intelsdi-x/kargo/commit/04ae56b14a7294c874386c9d4c5a1cf75c5d5820

[2016-07-09 21:25] abourget commented on #269
well yeah :) if it's stored in the repo then I guess it'd be okay :) are you going to merge that back ?

[2016-07-10 13:00] joshuacox commented on #311
just posting to let you know I'm still testing here, my latest looks like this:

[code]

I've been automating my build and tear down of the cluster at this point I can rip through an iteration pretty quickly, but my kargo deploys always end in this strange SSH error.  going to bang on it some more today, I would gladly take pointers or suggestions for troubleshooting.

[2016-07-10 17:16] Smana opened #351 "deployment not idempotent since latest changes on etcd"

[2016-07-11 08:02] bogdando commented on #26
@mattymo

[2016-07-11 10:41] mattymo commented on #303
Is there any news on this? We should move kpm to a separate module that can be called in optionally.

[2016-07-11 12:01] joshuacox commented on #311
just in case anyone wants to try my exact setup:

https://github.com/joshuacox/mkcloudatcost

the 'build' portion of their api is broken at the moment so you still have to manually create the server, but if you were to create some jessie machine (I usually make 5), and then `make jessieauto` and then `make kargo`, and cd to the kargo directory, then finally `kargo deploy` you'll follow exactly the

[2016-07-11 14:49] blasphemy commented on #349
As far as I can tell, it just downloads the official binaries for kubectl and hyperkube, and sticks them in / of the container. I agree the way this is handled is a sore spot of this project.

[2016-07-11 15:30] ant31 commented on #303
Hi,
Michael DeHann, author of ansible, have changed the license to BSD for the modules.
Its goal was to allow users to chose the license for their modules and playbook without any constraint.

He changed only the following file under BSD:
`https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py`
Which is the one kpm and kube modules import, they can then be both licensed un

[2016-07-11 16:31] ant31 opened #352 "Limit kpm to optional application"
We agreed month ago that kubedns should not be an option.
We are currently using kpm to deploy it.

Kpm is still in early / unstable stage, I propose to move back to a 'full' ansible to deploy kubedns, and remove kpm install from default to get more stability in kargo script

kpm will still be used for other applications that are marked as optional (dashboards/deis-worfklow/elk/grafana...)

[2016-07-11 16:41] #303 closed

[2016-07-11 18:05] Smana commented on #352
+1

[2016-07-11 18:09] Smana commented on #349
We decided to build our own image because we had to wait weeks to get an official updated image.
Maybe it's faster now, i'll have a look to the CoreOS image and see if we can use it instead.

[2016-07-11 18:12] v1k0d3n commented on #349
yeah, that makes sense and i can understand that. i had the same issue a while back. i think this is why CoreOS started deploying their own. would an acceptable solution be to use theirs? it would maybe give folks some confidence that their images can be scanned for CVE issues (even if that is a superficial sense of security)?

[2016-07-11 18:16] Smana commented on #349
I need to check what they ship with it, it is not as simpler as our image and maybe we should use the google's one

[2016-07-11 18:22] blasphemy commented on #349
Looks like the coreos image is about the same as google's.

[2016-07-11 18:46] v1k0d3n commented on #349
i think at one point google had trouble keeping hypercube up-to-date, but that may be resolved now. at least if coreos is used, users would see CVE issues via clair/quay and there would be some sort of visualization of this: https://quay.io/repository/coreos/hyperkube/image/6cf635ef8bd8747af5cbe0786157197248d270a817c5fadd96f87faf3e097668?tab=vulnerabilities

that said, any thoughts on: #321?

[2016-07-11 19:01] Smana commented on #321
kubernetes guys are aiming to use hyperkube as default binary : https://groups.google.com/forum/#!topic/kubernetes-sig-cluster-lifecycle/FhEsevva6Yg

[2016-07-11 21:07] v1k0d3n commented on #321
kubernetes running as a single binary in a container (hyperkube) is definitely a security concern when running directly on the internet. this is misleading when advertising as a "production ready" deployment until there is some other [more secure] method. hyperkube as a single binary...sure. hyperkube via a docker container...not so much when carefully reading the security advisory and issues thre

[2016-07-11 21:45] Smana commented on #321
I agree we'll take care of these security concerns when we'll choose the method (single binary or not).
Anyway we currently trying to run everything into containers when possible.

I want to keep this issue opened as a reminder.
Thank you @v1k0d3n

[2016-07-11 22:34] VMTrooper commented on #342
+1 Experiencing this on Ubuntu 14.04 as well. I will try again to Ubuntu 16.04.

[2016-07-12 03:07] VMTrooper commented on #342
I am experiencing the same timeout with CoreOS 1097 Alpha. However, **my etcd cluster has a healthy** status.

Should I open a different issue to track it?

I can use the etcdctl command from my nodes as well as the master, but flannel itself seems to have an issue communicating with etcd with a connection refused error when trying to communicate on port 443. I am including some of my journalctl o

[2016-07-12 13:03] bogdando commented on #26
Here is the scheme to cover internal HA endpoints for K8s cluster https://www.lucidchart.com/documents/view/be302c9e-bea6-4e2a-ac10-9b5fd049f8ac

[2016-07-12 17:32] rsmitty opened #357 "Draft A Process for Releases"
Let's spend some time thinking about how we would like to do releases for kargo. Thus far, I've been deploying from master, but it seems risky as a long term solution. I'd like to propose we provide known good versions of each kubernetes release (or minor release).

[2016-07-13 00:47] ant31 commented on #357
Yes, we have to.
Also something that shows versions of each components, so we know what is going to be upgraded:

kargo v1.1:
etcd 2.3  ,  k8s: 1.2, calico 0.17, flannel xxx, weave xxx,

kargo v1.2:
etcd 3.0.0, k8s 1.3, calico 0.19.......

[2016-07-13 01:05] rsmitty commented on #357
That's a great idea!

On Jul 12, 2016 8:47 PM, "Antoine Legrand" <notifications@github.com> wrote:

[2016-07-13 04:10] joshuacox commented on #311
making some centos VMs I left the ssh port on the default 22, and now I've successfully built a few clusters (today one with 9 nodes),  perhaps its centos, or its ssh being on port 22, I'll investigate further

[2016-07-13 18:36] rsmitty commented on #349
I'll +1 on switching to CoreOS's hyperkube or at least ensuring that the hyperkube that we're building out checked for vulnerabilities by quay as well if that's a possibility.

Just as a general thought, it seems easier to explain (in the enterprise) that the image comes from some official release, rather than a personal repo.

[2016-07-14 16:27] rsmitty commented on #352
I've got a playbook for deploying kube-dns already created. If no one else has begun work on this, I'll add it in this week.

[2016-07-14 19:19] Smana commented on #349
Merged

[2016-07-14 19:19] #349 closed

[2016-07-14 19:34] #351 closed

[2016-07-14 19:54] v1k0d3n commented on #349
@Smana...you're awesome. thank you :)

[2016-07-14 20:13] Smana commented on #342
@rsmitty do you still face the issue ?
i just deployed a cluster using ubuntu xenial image with the following inventory and flannel network plugin
[code]

[2016-07-14 20:29] VMTrooper commented on #342
@Smana Were you able to successfully create a k8s service with the type LoadBalancer?

I tried the older commit that @rsmitty mentioned in his earlier posts, and k8s deployed successully. However, when I deployed a service, I never got an external IP.

Are the Kargo playbooks compatible with OpenStack Load Balancer as a Service API v1 and v2?

Thanks,
Trevor

[2016-07-14 20:34] rsmitty commented on #342
I was able to get further yesterday deploying from master, but get hung up on an issue with the dnsmasq deployment. I'll try to gather some more data around that piece.

Important to note that I'm not using the cloud provider flag that @VMTrooper is using on OpenStack (at least for now). I do use it on Amazon though, but haven't tested whether or not it actually works for things like loadbalancers

[2016-07-19 05:21] ant31 commented on #352
@rsmitty do you have a link/place I can see it?

FYI, the major issue with kpm was from the api that could be down time to time and SNI support from python.
I added an `offline mode` that takes tar.gz  to solve it: no more api calls

To resolve this issue I propose either:

1. To use the official contrib plugin:
 - https://github.com/ansible/ansible-modules-extras/blob/devel/clustering/kubernetes.

[2016-07-19 12:55] steeeeeeved opened #364 "Playbook Error on AWS/CoreOS baremetal deploy."
Hi,
Using core OS (on AWS), I've see the following behaviour when using a baremetal installation.

Completes with no errors:

[code]

Fails with 1 error (kubernetes cluster appears to be working):
`kargo prepare  --master node1[ansible_ssh_host=10.xx.xx.xx] node2[ansible_ssh_host=xx.xx.xx] --nodes node3[ansible_ssh_host=10.xx.xx.xx] node4[ansible_ssh_host=10.xx.xx.xx] node5[ansible_ssh_host=10.xx.

[2016-07-20 15:23] hbokh opened #368 "Check for dnsmasq port fails"
First let me state that I'm really impressed by these scripts. Started using them app. 2 weeks ago.
However today on both CoreOS Alpha and Ubuntu 16.04 the playbook fails.
Using `commit 52a85d5757799669f4d10502d048e0e78c1b98db`, this is the error from the playbook:

[code]

On host `etcd0` this is the command failing AFAIK:
[code]

Any clues?

[2016-07-20 17:22] rsmitty opened #369 "Flannel Options Symlink Does Not Persist Reboot"
On CoreOS, there's a symlink made from /etc/default/docker to /run/flannel_docker_opts.env. For some reason or another, if a node in the cluster gets rebooted, the symlink does not survive. This essentially leaves Docker + Flannel in bad state, as the bip, mtu, and insecure registry flags aren't passed to the daemon. I'm not sure how to make this stick around, but the original link is made here:

[2016-07-20 21:55] joshuacox commented on #311
I think I figure it out, you need to set the environment variable:
[code]

needs to be set for debian hosts, I've tested trusty (with a vivid kernel and newest docker) just now,  I'll test jessie next, but my guess this is the lynchpin that's been killing my debian based distro builds, closing here, if anyone wishes to try my makefile out, post issues, PRs, etc there:

[mkcloudatcost](https://gith

[2016-07-20 21:55] #311 closed

[2016-07-20 22:19] rsmitty commented on #352
Seems like if we're just trying to deploy add-ons like kube-dns, we should just use the new addons folder functionality in 1.3 and drop in a templated yaml file. Doing it this way will also allow the dns service to be monitored by the kubelet for changes and upgraded as needed.

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/README.md

[2016-07-21 16:13] dberuben opened #373 "etcd timeout"
Hi Guys,

I had some issues the last time and think it's interesting to handle the etcd timeout during the kargo deploy.

**The issue :**

`RUNNING HANDLER [etcd : start etcd] ********************************************
fatal: [k8s-barcelona-vrsp0]: FAILED! => {"changed": false, "failed": true, "msg": "Job for etcd.service failed because a timeout was exceeded. See \"systemctl status etcd.service

[2016-07-21 16:23] mattymo commented on #373
@dberuben How long does it take to time out? I set it to 15s so it would start after docker.service more reliably. It should time out on most systemd systems after 60s.

Can you share which OS and version you're running?

[2016-07-21 16:42] ant31 commented on #373
@mattymo the `systemd start/restart` exist with an error, but etcd is correctly started.

[2016-07-22 11:20] ant31 commented on #66
We need to implement last item :

- check that kubedns is working
- check https://kubernetes.default.svc.cluster.local  is ok on each nodes

[2016-07-22 11:26] mattymo commented on #66
We should verify resolution and connectivity to https://kubernetes.default.svc.cluster.local. It tests: dnsmasq, kubedns, proxy via kube-proxy to kube-apiserver. It can be done from the host itself. What's really important is to run this test on a non-master node.

[2016-07-22 16:39] mattymo opened #376 "kubectl completion from kubectl itself"
Storing kubectl completion in kargo repo makes little sense. We should use kubectl itself to generate completion

[2016-07-25 21:24] rawlingsj opened #379 "service discovery between applications"
Hi, this is more of a question so apologies if this is not the right place to ask but I'm after some clarification on DNS after setting up a kubernetes cluster using Kargo.

I'm not sure what role dnsmasq plays here, when I created a cluster before I manually deployed skydns so that I could resolve kubernetes services from within pods and via an ingress controller.

I'm creating a new cluster and

[2016-07-27 02:17] raivil opened #383 "Vagrant install with error"
Hi,

I'm trying to run the vagrant install but some `etcd` errors are showing up.
Could someone help?
Thank you.

Here's the complete log:
[code]

[code]

[2016-07-27 07:12] mattymo commented on #383
I believe the issue is related to this line: https://github.com/kubespray/kargo/blob/master/roles/etcd/templates/deb-etcd-proxy-docker.initd.j2#L31

I didn't do any Ubuntu 14.04 testing, but I see there's an etcd-proxy user configured here, but we don't create it anywhere. Let's just change it back to etcd user.

[2016-07-27 13:42] raivil commented on #383
Still no luck with the fix.

[code]

[2016-07-27 14:36] mattymo opened #385 "calicoctl should pin calico-node tag"
calico/ctl image defaults to calico/node:latest, instead of calico_version variable. This can have unintended consequences

[2016-07-27 17:56] nanliu commented on #352
I was under the impression addons folders only works out of the box in GCE (since it's baked into GCI), and for all other deployments it requires building/deploying the addon manager container:

https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager

It would be interesting to have kargo deploy the addon manager and have options to deploy additional addons.

[2016-07-29 12:32] mattymo opened #388 "Ansible 2.1.1 breaks on non-unique handler task names"
"reload systemd" is used in many roles, which causes breakage. Ansible docs advise against reusing task names across handlers since they share a global namespace.

[2016-07-29 14:59] #373 closed

[2016-07-29 14:59] #388 closed

[2016-08-01 11:45] mattymo opened #390 "Upgrading requires waiting for controller-manager and scheduler"
My deploy fails on

Steps to reproduce:
deploy with the following vars:
kube_network_plugin: "calico"
hyperkube_image_tag: "v1.2.6_coreos.0"
hyperkube_image_repo: "quay.io/coreos/hyperkube"

deploy again with the following vars:
kube_network_plugin: "calico"
hyperkube_image_tag: "v1.3.0_coreos.1"
hyperkube_image_repo: "quay.io/coreos/hyperkube"

It looks like we need to wait for up to a minute for

[2016-08-01 11:52] ant31 opened #391 "Upload logs after CI failure for investigation"
It's sometime hard to debug when a run in the CI fail, the vm are deleted.
We can tar and upload the logs in case of failure

[2016-08-01 12:16] jjungnickel commented on #368
I just encountered the same issue when removing the etcd/master nodes from the kube-node group. When I keep all nodes in the group, everything works. Well, except that we don't want masters/etcds in the kube-nodes group

[2016-08-01 12:17] jjungnickel commented on #364
This may be the same issue as #368

[2016-08-01 12:29] ant31 commented on #368
Thanks for report @jjungnickel @hbokh.

[2016-08-02 06:50] mattymo opened #395 "update docker systemd unit file"
The current unit file adds the environment file, but is missing some useful options (contained in newer versions of docker) that will improve both deployment and ongoing operator tasks.

[code]

Further, we should set up this unit file during the docker role before we load any containers, rather than towards the end, where a slow docker restart can break deployment.

[2016-08-02 08:58] bogdando commented on #395
https://github.com/kubespray/kargo/pull/396

[2016-08-02 15:27] bogdando opened #399 "Less faily debian CI jobs"
Let's try to make debian based Travis CI jobs less faily with tor/httpredir only mirrors

[2016-08-02 15:33] mattymo commented on #399
We can add retries instead of doing some serious customizations to apt conf

[2016-08-03 09:30] #390 closed

[2016-08-03 10:49] bogdando commented on #399
retries is an option as well

[2016-08-03 13:36] #345 closed

[2016-08-03 13:41] bogdando opened #402 "Fix etcd "publish error: etcdserver: request timed out" by serializing member joins by ansible"
When all members start at once, join races may fail the cluster assemble.
See https://github.com/coreos/etcd/issues/716, https://github.com/coreos/etcd/issues/2038
Request Timeout is not configurable, so the only "fix" is to start the first instance, then wait  a bit and start the rest.
Not sure if it is not configurable though, see https://github.com/coreos/fleet/blob/master/Documentation/deploym

[2016-08-03 15:52] bogdando commented on #402
This is likely etcd ops related issue, not the deployment stage one. Won't fix for now.

[2016-08-03 15:52] #402 closed

[2016-08-05 08:25] Smana commented on #368
Just tested a new deployment with debian 8 without facing the issue.
Currently running another one with ubuntu xenial

[2016-08-05 09:08] Smana commented on #368
It works on ubuntu xenial too

[2016-08-05 09:12] Smana commented on #364
Sorry i don't really understand. Both commands you've pasted are using the `prepare` argument which just generate the inventory for you. BTW could you please paste your inventory.
What is the `deploy` command please ?
Maybe it's just a timeout too short because it may depend of your network performances on baremetal.

[2016-08-05 09:13] #395 closed

[2016-08-05 09:14] Smana commented on #376
How would you do that mattymo ?

[2016-08-05 09:15] mattymo commented on #368
I'm curious to see what the role distribution is for @hbokh's environment.
My suspicions for how this could happen:
* kube-proxy isn't running on this host (or hasn't started yet). I tried to fix this in https://github.com/kubespray/kargo/pull/398
* kubelet or kube-proxy can't reach apiserver. They only connect to master[0] IP and if apiserver isn't running there, it will definitely fail
* There w

[2016-08-05 09:18] Smana commented on #369
Well that's annoying, maybe not using a symlink at all would be a solution. I'll have a look to it.

[2016-08-05 09:19] Smana commented on #343
We're using the coreos image now.

[2016-08-05 09:19] #343 closed

[2016-08-05 09:28] Smana commented on #342
any news @rsmitty ?

[2016-08-05 11:12] hbokh commented on #368
Thank you, @mattymo - I have just setup a new CoreOS env on 3 VMware VM's, based on the latest Stable 1068.8.0. The issue remains (same error at task `Check for dnsmasq port ...`) with a fresh pull from this git-repo today.
What specific information can be helpful in this specific case?
To get started, here's my `inventory.cfg`:
[code]

There are pods too (checked with `kubectl` on OS X, after ins

[2016-08-05 11:45] mattymo commented on #368
This is an architectural issue.

https://github.com/kubespray/kargo/blob/master/roles/dnsmasq/tasks/main.yml#L58

kube-proxy only runs on kube-node role nodes. If you change this line above to the following:
``` when: inventory_hostname == groups['kube-node'][0]```
it should work.

Do we want to run kube-proxy on kube-master[0]? I don't see the benefit, but we do configure DNS to point to 10.233.0

[2016-08-05 11:58] hbokh commented on #368
Thanks heaps! I have applied the above change and re-run the playbook: no more error / failure indeed.
I miss the architectural POV in this... @jjungnickel seems to have the same consideration as I have / had.

Would you be so kind to suggest a better setup / `inventory.cfg` in this case with 3 hosts? If adding a 4th host / VM on my setup is needed, I consider that an option too.

[2016-08-05 12:02] mattymo commented on #368
I prefer the following 3-node setup:
[code]

[2016-08-05 12:13] jjungnickel commented on #368
While I don't really mind running masters and etcd on the same host and also as a node, this directly contradicts the deployment options that are being outlined in the examples shown in [https://github.com/kubespray/kargo-cli#basic-usage]

[2016-08-05 12:13] hbokh commented on #368
@mattymo Just to be 100% sure, you mean adding a 2nd node to `[kube-master]`? In the above case `[kube-master]` seems to have fallen off the first line, so:

[code]

[2016-08-05 12:14] mattymo commented on #368
Yes, sorry. Copy and paste error on my side.

[2016-08-05 12:21] hbokh commented on #368
@jjungnickel Thanks for pointing that out, however I do miss your point here, since this is in "**Basic usage**" regarding 3 VM's:

and that looks exactly what @mattymo is suggesting with his `inventory.cfg`.

[2016-08-05 12:52] jjungnickel commented on #368
@hbokh Oh, you're right - I should have made myself more clear. I was referring to the other deployment options outlined in the document, specifically the one isolating etcd/master/nodes. These are being contradicted, the first one is not.

[2016-08-05 13:07] #368 closed

[2016-08-05 15:02] bogdando commented on #342
I saw the same "publish error: etcdserver: request timed out" message from time to time, have no ideas on the RC though. See also https://github.com/kubespray/kargo/issues/402. I believe I observer the issue for etcd deployment type "host" also. If you google for that error, you will find a *lots* of the similar issues, it seems like an operational issues and has nothing to the installer, IMO.

[2016-08-08 04:56] mpetason commented on #383
I'm able to replicate, similar issue still.

[code]

[2016-08-08 05:37] mpetason commented on #383
The only real log information I could find was in the docker log in upstart on the nodes:

`./upstart/docker.log:ERRO[0015] Handler for DELETE /v1.22/containers/etcdctl-binarycopy returned error: No such container: etcdctl-binarycopy
./upstart/docker.log:ERRO[0015] Handler for POST /v1.22/containers/create returned error: No such image: quay.io/coreos/etcd:v3.0.1
`

[2016-08-09 09:56] mattymo commented on #385
This isn't so important any more since it now defaults to tag v0.20.0

[2016-08-10 08:29] mattymo opened #409 "containerized kubelet on kube-node roles doesn't upgrade"
If you configure kube_version: v1.2.4, deploy, then v1.3.0, and deploy again, it stays at v1.2.4 on non-master nodes.

[2016-08-10 08:33] mattymo commented on #409
I think we should fix the task kubernetes/node : Restart kubelet if binary changed to reflect "if the kubelet launch script changed"

[2016-08-10 16:23] rsmitty commented on #369
Sorry, I've been out of pocket for a bit. Yeah, I'm not sure what the best option is here, but I'm still seeing this behavior for sure.

[2016-08-11 16:50] rsmitty commented on #369
Would it suffice to just copy /run/flannel_docker_opts.env over to /etc/defaults/docker? Should we expect that flannel file to change? Just trying to get my head around a quick fix, as I'm seeing this on lots of long-running CoreOS nodes in a cluster.

[2016-08-12 14:05] rsmitty opened #414 "Need to gather facts before running preinstall"
When doing a separate etcd and kube-master in a cluster, we need to gather facts about all nodes in the run before running the kubernetes/preinstall against the etcd nodes. If we do not do this, the following error is thrown, as we don't know anything about our master nodes yet:

[code]

PR coming to force a fact gather of all nodes first thing in cluster.yml

[2016-08-12 14:14] mattymo commented on #414
Your approach looks good so far. We want to do facts gathering on all hosts at the beginning of the play. We need to know where apiservers and etcd is located on all roles, regardless of how roles are distributed.

[2016-08-12 21:02] rsmitty commented on #414
Closing since merged. Thx @Smana and @mattymo!

[2016-08-12 21:02] #414 closed

[2016-08-14 13:55] dshulyak commented on #383
Still have this problem
07c144d8a6871c3dd72f550beab9e74fe608ddaa

[2016-08-14 14:00] dshulyak commented on #383
I have this image in docker:
```quay.io/coreos/etcd        v3.0.1              4f4b2b766a37        6 weeks ago         43.37 MB```
But there is no history in `docker ps -a` at all. Also i cannot find docker logs on any node

[2016-08-15 09:44] mattymo commented on #383
I have a fix prepared for the init scripts which were preventing containers from starting. The other issue looks like if ip and access_ip are both set and equal, then etcd and etcd-proxy both try to start. It seems to conflict and then etcd can't stop because etcd-proxy is bound to that IP. I'm trying to work around in vagrant by unsetting access_ip, but it looks like we need to simply drop etcd-p

[2016-08-16 07:17] #383 closed

[2016-08-18 08:59] bogdando commented on #385
Could we close it then?

[2016-08-18 09:08] #385 closed

[2016-08-18 09:10] bogdando commented on #409
Just thinking, how shall we align this issue with the Kargo roadmap and with the the self-hosted LCM track, see https://docs.google.com/document/d/1_I6xT0XHCoOqZUT-dtpxzwvYpTR5JmFQY0S4gL2PPkU/edit# Looks like the issue is a much more than it seems like

[2016-08-18 09:17] mattymo commented on #409
That's a huge shift and we're not ready for this yet. This bug can be fixed normally

[2016-08-18 13:02] Smana commented on #369
Ok let's do that :)

[2016-08-19 07:10] #409 closed

[2016-08-19 07:55] bogdando commented on #322
Note, that for some cases, like Vagrant virtualbox installations, the target nodes will contain artifitial search/nameserver entries. Those must be purged, otherwise the playbook cannot ensure the correct order when querying the listed nameservers

[2016-08-19 08:57] bogdando commented on #322
F.e., this will never search for domains we want:
[code]
and will always search only foo.domain. So, if we want the foo.domain being searched as well as kubernetes domains, we must ensure extra domains in the single search string. And purge the rest.

[2016-08-22 20:08] rsmitty opened #421 "Remove certs mount from controller-manager"
In the controller manager manifest, the /etc/ssl/certs directory is mounted from the host into the pod. This, however, breaks on CoreOS when trying to get AWS cloud-provider going:

[code]

I don't believe we need to be passing this through anyways, as hyperkube already ships with the ca-certificates package pre-installed. That fix can be found here:
https://github.com/kubernetes/kubernetes/pull/7

[2016-08-23 09:50] anthonyhaussman opened #424 "Etcd don't start on node after upgrade"
Trying an update from an old cluster kubernetes (kubeket 1.2.2 and etcd 2.2.5) I have an issue with etcd.

I have 3 nodes, on node1 etcd start well.

On node2 and node3, the container won't start because each one of them try to connect to each other.

Node2:
[code]

Node3:
[code]

For informations, coming from an old etcd version, it was necessary for me to delete the wal and snap path of etcd bec

[2016-08-23 10:23] anthonyhaussman commented on #424
Well i have found the problem.

Before the upgrade, the cluster health was ok so when it tried to deploy the new configuration of "etcd.env", the var "ETCD_INITIAL_CLUSTER_STATE" was set to existing on node2 and node3.

After set it to "new" and restart etcd it works fine.

Maybe it will be nice to add task to verify if an old etcd instance is running to flush snapshot and wal.
And to set the clus

[2016-08-23 10:38] mattymo commented on #424
Resetting to new will cause you to lose data, though. The better solution is to create a safer upgrade from etcd 2.x to 3.x.

[2016-08-23 11:13] Smana commented on #421
Thank you @rsmitty

[2016-08-23 11:13] #421 closed

[2016-08-23 11:14] Smana commented on #424
Glad that you've been able to fix your issue.
As mattymo said we can't reset to new.

[2016-08-23 11:14] #424 closed

[2016-08-23 14:22] Smana opened #425 "Deployment on RH like OS's broken"
A recent change has broken the deployment on RH platforms.
The commit https://travis-ci.org/kubespray/kargo/builds/153484597 works great.
Please don't use the commits after that

[2016-08-23 16:35] rsmitty opened #426 "Add proper cloud-provider flags, regardless of cloud-provider entered"
In the code base, the cloud provider flag is only added in the openstack use case. I'm going to submit a merge to set those flags anytime the provider value is set. PR on the way in a bit.

[2016-08-24 09:59] bogdando opened #429 "Faily task "wait for the apiserver to be running" is too much faily"
Recent CI jobs has too many failures for the given task. We have to do RCA.

[2016-08-24 13:26] bogdando commented on #322
Reopened because of the revert

[2016-08-24 13:46] bogdando commented on #429
Fixed by reverts

[2016-08-24 14:35] pcm32 commented on #369
if you copy the file on a running CoreOS machine, do you need to restart flannel or something else?

[2016-08-24 14:47] rsmitty commented on #369
I still haven't found a way to deal with this. Copying the file to /run/flannel_docker_opts.env doesn't seem to persist a reboot either. I'm unsure it it's part of flannel running in a container or if it's part of the /run directory being somehow protected in general.

I think the real fix here is to set the docker overrides as a systemd drop-in on coreos. Basically something like the "Drop-in Con

[2016-08-24 16:28] pcm32 commented on #369
What I'm seeing currently is that I cannot access a Pod (container) by its IP from another node, but only from the node where the pod is running. I presume that could be related to docker using a --bip and flannel running on a different network as stated [here](https://github.com/kubernetes/kubernetes/issues/7996), which in our case is produced by what you described.

[2016-08-24 19:09] #425 closed

[2016-08-24 19:55] #426 closed

[2016-08-25 07:09] bogdando commented on #429
The issue is very intermittent and still persists. The related code to be investigated https://github.com/kubespray/kargo/blob/bcec5553c5f9989b1b23f387b89ec8ccf92e05b4/roles/kubernetes/master/tasks/main.yml#L17-L29

[2016-08-25 07:13] Smana opened #436 "CI tests: RH OS's with calico sometimes doesn't work (device mapper error)"
`"changed": false, "cmd": ["/usr/bin/docker", "run", "--rm", "-v", "/usr/local/bin:/systembindir", "quay.io/coreos/hyperkube:v1.3.0_coreos.0", "/bin/cp", "/hyperkube", "/systembindir/kubectl"], "delta": "0:00:12.021005", "end": "2016-08-24 20:13:01.726622", "failed": true, "rc": 125, "start": "2016-08-24 20:12:49.705617", "stderr": "Unable to find image 'quay.io/coreos/hyperkube:v1.3.0_coreos.0' l

[2016-08-25 07:14] bogdando commented on #436
this is an intermittent issue, right?

[2016-08-25 07:18] bogdando opened #438 "Task network_plugin/weave : reload weaveproxy always fails for rhel OS family"
Example job run https://travis-ci.org/kubespray/kargo/jobs/154751212

[2016-08-25 07:20] bogdando opened #439 "Task Flannel | Wait for flannel subnet.env file presence" sometimes times out"
This issue impacts CI stability for flannel

[2016-08-25 09:33] #429 closed

[2016-08-25 13:47] Smana commented on #436
Right i change the title

[2016-08-26 17:23] rsmitty opened #441 "Laying Down Git Info Script Crashes on CoreOS"
It's b/c the bin_dir fact is not forced on CoreOS yet. PR incoming.

[2016-08-26 21:19] ant31 commented on #441
closed by #442

[2016-08-26 21:19] #441 closed

[2016-08-26 21:25] ant31 commented on #376
is think we can do:
[code]

[2016-08-26 22:14] v1k0d3n opened #443 "Deployment Type: Non-Containerized Deployment"
All, I just wanted to start the discussion about a possible non-containerized deployment mode for Kargo. I don't want to change the current deployment, but rather stand up the Kubernetes deployment "as-is" today, and then pluck the binaries from the running containers, create systemd unit files, and run them as users with various privilege levels. I'm not addressing the use of complete package dep

[2016-08-26 22:23] v1k0d3n commented on #160
@Smana I spoke with the folks at Romana last night. They are going to assist and provide me with a set of playbooks that should go well with #443. This could be a "quick approach", but I asked them to consider containerizing their SDN solution so it could be used in both a containerized and non-containerized deployment of Kargo. Your thoughts?

[2016-08-27 00:49] v1k0d3n opened #444 "Ansible playbooks for cluster shared storage"
Just creating a placeholder issue, until I can work on it: I would like to add a collection of playbook that would add shared storage options prior to the deployment of the cluster. One of the lower hanging items could be Ceph and NFS. Since Kargo already deploys Docker and etcd, storage options could be configured prior, and used as the shared backend for all other services and container volumes.

[2016-08-27 07:43] Smana commented on #444
Hello, does this issue relates to https://github.com/kubespray/kargo/issues/312

[2016-08-27 07:49] Smana commented on #443
Hi, yes we a similar discussion with @detiber who's leading https://github.com/openshift/openshift-ansible. We agreed kargo should support both containerized and system services deployments (and use distribs packages ).

[2016-08-27 07:53] Smana commented on #160
Indeed, i've started to work on it a while ago and i think it would be much easier to deploy their binaries with a container. (too many binaries to handle).
Any help woud be welcome :)

[2016-08-27 09:10] ant31 commented on #443
distrib packages is a third mode

Le 27 août 2016 09:49, "Smaine Kahlouch" <notifications@github.com> a
écrit :

[2016-08-27 09:27] ant31 commented on #443
Yes, we wanted to keep system-base deployment  but with the awesome work from @mattymo / @bogdando to containrize everything we dropped it because of the lack contributors to maintain it.

there are some components with still have the choice, like etcd:
https://github.com/kubespray/kargo/blob/master/roles/etcd/tasks/install.yml#L10

Plan B:
https://github.com/kubespray/kargo/blob/master/roles/etcd

[2016-08-27 09:38] ant31 commented on #444
Related to too #228

I think such service can be  k8s-managed, then kpm is a candidate (to be discuss) to prepare packages and manage resources.
But kargo will have to configure the kubelet plugins before.

we probably want to create new-roles:

 - network_storage/ceph
 - network_storage/nfs
 - network_storage/torus

[2016-08-27 15:24] v1k0d3n commented on #444
yes, @ant31 you're right...those are related. I can clean these issues up later today.

[2016-08-27 15:34] v1k0d3n commented on #443
we like plan B a lot. it's clean. and i agree, it must preserve the great work already done, first and foremost. understandably @detiber would need a slightly different approach with distort/packages, but we could support this effort as well when his team needs it. glad you're both open to options!

[2016-08-27 15:35] v1k0d3n commented on #160
@jbrendel, let me know how i can help. :)

[2016-08-27 16:36] mattymo commented on #443
"system-base" with binaries extracted from containers and package-base should actually work reasonably identically. I can say that the following services should already fit that scheme:
kubelet
calicoctl
calico-node
etcdctl

We'll need completely separate systemd units for the following:
etcd
etcd-proxy
kube-apiserver/controller-manager/scheduler/proxy

We also should adjust systemd requirements a

[2016-08-27 19:47] chrismarino commented on #160
Hey guys. Still some more work to do on our side, but we're getting closer. @cgilmour will be in touch as soon as practical with more details on what kind of help we could use.  We've been spread pretty thin lately, but this is now at the top our our list....

[2016-08-29 08:48] bogdando commented on #443
Please note, that according to the self-hosted track for k8s, the static pods is not that they are gonna to use, they can't be scaled this simple as pods can. Let's name it just a static pods, to not bring a confusion. I hope later we'll start supporting the self-hosted layout as well, once it is implemented in k8s

[2016-08-29 09:48] mattymo opened #447 "etcd member list sometimes hangs before cluster is set up"
Need to add --no-sync for this command

[2016-08-29 12:29] mattymo opened #450 "etcd sometimes cannot restart"
etcd bug upstream: https://github.com/coreos/etcd/issues/5857
Fix is in ETCD 3.0.2, but latest is v3.0.6. Let's rebase to master.

[2016-08-29 13:36] bogdando opened #452 "Split host DNS setup playbook from SkyDNS:kubedns/dnsmasq in k8s"
There is a use case to configure name resolve before to pull docker images and install packages. Which is before kubernetes cluster is up and running kubedns and dnsmasq. To achieve that, we should split the host OS DNS setup from the k8s part.

[2016-08-29 13:44] v1k0d3n commented on #59
@Smana I missed your post last month. Yes, I can help do this once I have approval with my company to make these changes. This is coming soon, and then I can start working on it.

[2016-08-29 14:07] bogdando opened #453 "runC support"
Let's use https://runc.io/ to deploy k8s components to complement or replace docker-engine daemon.
The main point is to improve services stability and AV and to not introduce additional restarts to containers when reloading systemd daemon, which restarts docker-engine

[2016-08-29 14:07] bogdando commented on #453
@mattymo

[2016-08-29 14:14] mattymo commented on #453
It doesn't have tight docker integration still. I don't think it gives us enough of a benefit yet. Look at the list of steps required to switch kubelet to this format:
1 - pull new kubelet container
2 - extract it to some directory, like /var/lib/runc/kubelet-$kube_version/
3 - Create a new systemd unit to run runc tehre
4 - figure out how to reimplement the following features:
 - bind mounting (r

[2016-08-29 15:10] Smana commented on #59
Great, looking forward to see your PR :)

[2016-08-29 16:56] #450 closed

[2016-08-29 16:58] #447 closed

[2016-08-30 09:20] mattymo opened #456 "resolvconf base file conflicts with Kargo dns setup"
Extra search domains and nameservers in /etc/resolvconf/resolv.conf.d/base cause issues with name resolution after deploy. They should be purged by kargo to ensure that the settings in place are correct.

By default, Cobbler will configure this file when provisioning Ubuntu hosts.

[2016-08-30 10:00] bogdando opened #457 "Network restart handler sometimes hangs"
In order to apply the dhclient hook for resolvconf, a network(ing) service must be restarted. The issue is that it is a too heavy operation and may sometimes hang as well, at least for Ubuntu Xenial, for example https://bugs.launchpad.net/ubuntu/+source/ifupdown/+bug/1551415.

And there is a strange intermittent bug with the restart network ansible handler may hang on a node. Only ansible runners

[2016-08-30 10:28] bogdando commented on #457
Folks say, this may help http://toroid.org/ansible-ssh-pipelining. So with pipelining disabled, ansible shall reestablish broken ssh connections while doing a net restart

[2016-08-30 10:29] bogdando commented on #457
CI has ssh pipelining disabled, so we never saw this issue. Nothing to fix upstream perhaps. Just an ansible configuration case.

[2016-08-30 10:32] mattymo commented on #457
https://github.com/kubespray/kargo/blob/master/ansible.cfg#L2 it's enabled by default. This is still relevant, @bogdando

[2016-08-30 10:44] bogdando commented on #457
Correct, it makes sens to disable it for a handler only, reopened

[2016-08-30 11:00] bogdando commented on #457
Tried with the https://github.com/bogdando/kargo/tree/fix_pipeline, no luck.

[2016-08-30 13:15] bogdando commented on #457
This is the only option has worked for me. Pipelining, async/poll stuff have shown nothing good

[2016-08-30 13:36] sttts commented on #376
[code]

[2016-08-31 08:49] bogdando commented on #457
I'm pretty sure only Ansible fix would be appropriate, but I keep trying :)

[2016-08-31 11:15] #456 closed

[2016-08-31 11:22] bogdando commented on #457
Just for the record, repro steps (a test scenario). Run it via ssh for an arbitrary loop, preferably in a sleep loop:

[code]

Example ansible handler failure:
[code]

[2016-08-31 13:09] #369 closed

[2016-08-31 14:25] bogdando commented on #439
Seems resolved by the recent commits

[2016-08-31 14:25] #439 closed

[2016-08-31 14:26] bogdando commented on #399
Seems not a relevant anymore

[2016-08-31 14:26] #399 closed

[2016-08-31 14:27] bogdando commented on #438
Seems resolved by the recent commits, see CI results https://travis-ci.org/kubespray/kargo/builds/156486366

[2016-08-31 14:27] #438 closed

[2016-08-31 22:10] v1k0d3n opened #464 "issues with installing kpm version of kubedns"
Something I noticed while working with vagrant today:

[code]

[2016-08-31 22:11] v1k0d3n commented on #352
i'm with @rsmitty on this one. something simple, reliable and repeatable for core services. kpm is really nice, but i'm not sure i trust it enough (in current state) to trust it for core services. this work is being discussed at a kubernetes-level as rsmitty mentioned. see issue #464.

[2016-08-31 22:48] ant31 commented on #352
@v1k0d3n the major issue is that kpm rely on a serveur that is not in a production state/monitored.
kpm-ansible plugin is fine and it's pretty similar to what you would have with other plugins.

The main issue is the server, I did not have time to finish the 'offline' mode, (embed a tar.gz)

I propose that we switch asap to any other solution than kpm for kubedns.

[2016-09-01 08:34] bogdando commented on #457
Can't fix it, an ansible bug perhaps

[2016-09-01 15:04] bogdando commented on #457
@holser found a better way to apply changes w/o restarting network, this is a systemd-networkd-resolvconf-update service.

[2016-09-02 10:20] #352 closed

[2016-09-06 11:05] ant31 opened #470 "Remove Python dependency on hosts"
I would like to remove the python dependency on host.
Ansible requires it so it will probably change the way we deploy the cluster.

it's related to #320.

One idea is to deploy a kargo image that mount the host FS and configure it.
1. Use ansible with 'raw' to install docker / rkt
2. send kargo-configurations
3.  run the kargo-image
4. Kargo-image mount kargo-configuration / FS  and configure the

[2016-09-08 12:25] mattymo opened #474 "kubedns is not idempotent"
"error running kubectl (/usr/local/bin/kubectl --api-version=v1 --namespace=kube-system create --filename=/etc/kubernetes/kubedns-svc.yml) command (rc=1): Flag --api-version has been deprecated, flag is no longer respected and will be deleted in the next release\nThe Service \"kubedns\" is invalid.\nspec.clusterIP: Invalid value: \"10.233.0.3\": provided IP is already allocated\n"

We should use "

[2016-09-08 12:54] ant31 opened #475 "Add CoreOS in the CI"
Now that coreos is bootstraped by kargo, we can add it in the ci

[2016-09-08 13:18] bogdando commented on #475
:+1:

[2016-09-08 18:25] Smana opened #476 "Update the documentation with the latest changes for OS bootstrap"

[2016-09-12 12:43] olegeech-me opened #478 "Kargo is too slow on scale"
- It takes half an hour to deploy 10 cluster on bare metal Ubuntu Xenials:
![node1 cpu](https://cloud.githubusercontent.com/assets/21361354/18435635/1af9f574-78fd-11e6-8900-de1812e3793c.png)
- More than an hour to deploy 50 cluster:
![node1 cpu](https://cloud.githubusercontent.com/assets/21361354/18435657/3f03c616-78fd-11e6-9c2d-027ab0581a29.png)
-  About 2,5 hours on 100 cluster
- More than 6 hou

[2016-09-12 12:53] olegeech-me opened #479 "Kargo can't deploy 200 nodes cluster (timeout to quay.io to fetch etcd image)"
After several retries it fails with:

[code]

Also there are warning at the log collecting sections:

[code]

Full Kargo run output:

[kargo_run_200.txt.gz](https://github.com/kubespray/kargo/files/467324/kargo_run_200.txt.gz)

[2016-09-12 13:36] bogdando commented on #479
Please attach the tarball with diag info

[2016-09-12 13:39] bogdando commented on #479
The deployment failed to setup etcd cluster, because of connection timeout to quay.io:
[code]
Would be nice to have retries for such tasks

[2016-09-12 14:15] olegeech-me commented on #479
Sure, here's tarball from node1:
[logs.tar.gz](https://github.com/kubespray/kargo/files/467493/logs.tar.gz)

[2016-09-13 09:04] bogdando commented on #479
So, I'll implement retries to mitigate intermittent download issues

[2016-09-13 09:51] mattymo opened #480 "Downloading containers doesn't scale well"
Deploying Kargo on 100+ nodes is impractical because it downloads hyperkube, etcd, and kubedns containers 100+ times. This is error prone and easily fails deployment. Secondly, it is wasteful of bandwidth.

A solution should be made where 1 node (preferrably master[0]) downloads all containers, and then somehow all nodes grab the containers from this host. This could be via docker save/docker load

[2016-09-13 09:52] mattymo commented on #480
@bogdando

[2016-09-13 10:07] bogdando commented on #480
Yeah, we should move all docker pull things into the only download role, then upload them to nodes with a random shifts in time perhaps

[2016-09-14 08:22] #479 closed

[2016-09-14 09:10] bogdando commented on #480
Thank you @mattymo for ideas on how-to:

1 - predictive: download hyperkube and etcd, evaluate network_plugin and download those. Save all to a single file, rsync pull from other nodes (the upload role)
Note, one file is better than a few as if you docker save 5 containers with the same base, it deduplicates the resulting images

2 - reactive: create a new cluster.yml called scale-cluster.yml that

[2016-09-14 12:56] mattymo opened #485 "hosts file generation at scale takes too long"
Upon deployment of 178 nodes, it was discovered that /etc/hosts generation has n^2 operations, taking ~13 mins on bare metal. We have three options I can think of to solve the scale problem:
1 - template /etc/hosts file (removing any existing entries the user may want)
2 - just add async to the task (dangerous)
3 - Try to preserve the original /etc/hosts file and use assemble module to build a new

[2016-09-14 16:10] mattymo opened #487 "Docker options are defined too late"
We set up calico/flannel/weave docker options after setting up etcd and some other services, making it impossible to use an insecure registry as a source for images. We should refactor deployment so that Docker role sets up its options appropriately.

[2016-09-16 07:15] #480 closed

[2016-09-19 10:19] #485 closed

[2016-09-21 10:36] mattymo opened #499 "Updating DNS settings doesn't remove previously configured ones"
If I deploy with default 8.8.8.8 upstream DNS, then change to my own custom servers, it leaves 8.8.8.8 in the resolvconf head file. Also, it doesn't run resolvconf -u during ansible run.

[2016-09-22 13:55] bogdando commented on #379
Not sure if it explains why Kargo deploys an additional dnsmasq daemon set, but here is a drawing how it works https://www.lucidchart.com/publicSegments/view/290ecc1b-e123-4050-b079-f4f6b1777922

[2016-09-23 08:34] bogdando opened #503 "Additional DNSmasq conf is inoptimal"
The 1st issue is that it may fail to resolve internal k8s domains, cache the failure and return it to all K8s apps.
Steps to repro:
Given a dns_server = 10.233.0.2 and skydns_server = 10.233.0.3 repeat many times:
A:
```$ dig kubernetes.cluster.local @10.233.0.2```
B:
```$ dig kubernetes.cluster.local @10.233.0.3```

Expected that failures will never happen for either DNS server we try to resolve

[2016-09-23 08:38] bogdando commented on #379
Related https://github.com/kubespray/kargo/issues/503

[2016-09-23 11:17] bogdando commented on #452
Addressed by https://github.com/kubespray/kargo/pull/504

[2016-09-23 13:33] #503 closed

[2016-09-26 16:05] mattymo opened #512 "Use traefik as a load balancer for apiserver"
We should be able to use traefik as a static pod on non-master nodes to proxy apiserver requests

ETCD tree looks like this:
[code]

traefik conf file looks like:
[code]

[2016-09-26 21:10] galstrom21 opened #513 "roles/kubernetes/preinstall/tasks/set_facts.yml does not work on a [2] Masters [3] Etcds [3] Nodes deployment."
Provisioned all nodes before hand. Then I ran a kargo prepare command

[code]

Running a kargo deploy yields the following errors:

[code]

The error is here: https://github.com/kubespray/kargo/blob/master/roles/kubernetes/preinstall/tasks/set_facts.yml#L6

Which is being called by: https://github.com/kubespray/kargo/blob/master/cluster.yml#L9-L13

This error appears to be happening because gather

[2016-09-27 08:10] bogdando commented on #513
Perhaps this is the fix https://github.com/kubespray/kargo/pull/497

[2016-09-27 08:14] bogdando commented on #512
IMHO, it makes sens for all k8s components, including masters, to use loadbalanced A/A apiserver endpoint, not only non-master nodes

[2016-09-27 08:16] bogdando commented on #512
Also keep in mind that accessing apiservers in A/A fasion requires setting quorum reads, see https://github.com/kubernetes/kubernetes/pull/20145/files

[2016-09-27 08:25] bogdando commented on #512
Also note that the ```apiserver_loadbalancer_domain_name``` is for external LB, we should use traefik for internal use, which is just setting the ```loadbalancer_apiserver_localhost: true``` . Given that, the access pattern for Local LB would be:
* all master/nonmaster nodes connect to apiserver as http://localhost:insecure_port,
* while the rest is hidden behind the revers proxy config and may us

[2016-09-27 08:56] adidenko opened #514 "delegate_to breaks deployment if ansible is not able to resolve node names"
The error

[code]

This is happening because ansible tries to SSH to "node1", "node2", "node3" instead of theirs "ansible_ssh_host" parameter. And if the host you're running ansible-playbook on does not have appropriate records in /etc/hosts file, it fails.

The reason is
[code]

In case of `download_run_once: false` this expression evaluates to `node1`:

[code]

According to ansible docs:

we can

[2016-09-27 09:26] bogdando opened #516 "Allow subdomains of dns_domain"
Use cases:
- a user wants to be able to resolve subdomains of cluster.local (a default value of the dns_domain var), for example foo.bar.cluster.local with foo.bar given as a host name in the cluster.local domain, via hosts' /etc/resolv.conf. _Issue_: default hosts' ndots:1 prohibits that for arbitrary names of subdomains.
- a user want to do the same but for srv records, via Skydns configured for

[2016-09-27 09:37] adidenko commented on #514
We can not remove `delegate_to` because download tasks are executed for k8s-cluster groups which may be a different set of nodes than kube-master. And it looks like the problem is with "else omit" which for some reason translates into "node1" ssh host. Replacing it with "else inventory_hostname" closes the issue.

[2016-09-27 10:18] bogdando opened #517 "Static master pods waiters are never triggered if kubelet restarted via handler"
The wait for scheduler/controller waiters are never triggered after kubelet restarted.
The apiserver waiter shall be triggered in the kubelet restart handler, not in the playbook.

The impact is that each time ansible restarts kubelet, race conditions may fail deployments, and there are intermittent CI failures to confirm that.

[2016-09-27 16:35] galstrom21 commented on #513
@bogdando yup.. that looks like the right fix to me as well.

[2016-09-28 08:11] #513 closed

[2016-09-28 08:11] #517 closed

[2016-09-28 12:06] mattymo commented on #512
For what it's worth, we already do A/A with 2 masters pointing to localhost. Let's sneak in this quorum read option in a separate patch first. It will be trivial to pass CI.

Setting `loadbalancer_apiserver_localhost:true` is probably what I wanted initially.

The open question here is should we disable kube-apiserver from listening on 8080 so that we can enable the proxy on that port on master no

[2016-09-29 09:36] #514 closed

[2016-09-29 09:38] bogdando commented on #512
If that doesn't break inter communications for apiservers, we could do that and disable kube-apiserver from listening on localhost:8080, which is that setting of ```loadbalancer_apiserver_localhost:true``` basically does.

[2016-09-29 09:41] mattymo commented on #512
Looks like we can't until k8s 1.5. There are issues with master nodes using cert based auth. I'll do this for non-masters to start.

[2016-09-29 11:07] bogdando commented on #512
Sounds reasonable. Although let's try to preserve ```loadbalancer_apiserver_localhost:true``` logic as is. We could add another war to cover non masters to be removed later

[2016-09-29 13:06] adidenko opened #524 "Cluster IPs do not work on Calico when default GW interface is different from Calico interface"
Bare-metal lab (i.e. `cloud_provider` is undefined), calico pool without `ipip` tunneling.

If we have default route via one interface (let's say `eth1`) and calico routes PoD IPs via another interface (`eth0`) then cluster IPs provided by kube-proxy do not work.

Routes on node:
[code]

When we try to connect to any service our packets are NATed to the proper pod. Here's an example, we're trying

[2016-09-29 13:21] bogdando commented on #524
Any other options to fix it but fiddling with SNAT ? :/

[2016-09-29 13:23] adidenko commented on #524
Either iptables (SNAT/MASQUERADE) or routing for cluster IP network. I'm looking at the options atm.

[2016-09-29 13:25] bogdando commented on #524
I'd like we to chose routing only changes

[2016-09-29 15:21] bogdando opened #526 "Downloading binaries doesn't scale well"
Continues https://github.com/kubespray/kargo/issues/480 but for binaries.

The use case: a user wants to install a 1.4.0 hyperkube `download_run_once: true`, copy CNI from it to all nodes, then overwrite by a custom CNI plugin with `overwrite_hyperkube_cni: true`.

Expected: it works with `download_run_once: true`
Actual: pushing binaries in batches is yet implemented, so it fails deployment as th

[2016-10-03 09:51] adidenko commented on #524
@mattymo I've tested `--masquerade-all` for kube-proxy, it fixes this issue. So we just need to add another config option for kube-proxy.

[2016-10-03 14:49] #524 closed

[2016-10-05 14:36] ant31 opened #534 "Auto-add a kubectl context or print the configuration"

[2016-10-05 22:47] olegeech-me commented on #478
Now we roughly have following counters:
15 minutes for 10 nodes
35 minutes for 50 nodes
65 minutes for 150 nodes
3 hours and 40 minutes for 350 nodes

That's much better now. I close an issue.

[2016-10-05 22:47] #478 closed

[2016-10-06 09:41] xenolog opened #535 "Calico 1.4.2 support required"
Calico 1.4.2 CNI usage is break container networking

[2016-10-07 16:05] #535 closed

[2016-10-11 12:31] objenious-morea opened #541 "remove kubelet's deprecated flags --api-server and --config"

[2016-10-11 12:33] #541 closed

[2016-10-11 12:33] Smana opened #542 "remove kubelet's deprecated flags --api-server and --config"

[2016-10-11 12:34] #113 closed

[2016-10-11 12:37] Smana commented on #154
@mattymo @bogdando any thoughts about that ?
My recent upgrade tests it was smooth but maybe the only task required is to clean the etcd storage

[2016-10-11 12:41] mattymo commented on #154
Why do you have to clean the ETCD storage? If anything, just back it up

[2016-10-12 09:21] ursuad commented on #342
I also found sometimes `etcd`, `etcd-proxy` and the `kubelet` services failing on Ubuntu 14.04. I manage to track it down to the 1 second delay between deleting the container and recreating it.
I found the same issues for etcd-proxy and kubelet. The code which I'm referring two is this:
• [etcd](https://github.com/kubespray/kargo/blob/master/roles/etcd/templates/deb-etcd-docker.initd.j2#L53)
•[etc

[2016-10-15 13:14] Smana opened #547 "Use weave-kube for weave network plugin"

[2016-10-17 11:18] pcm32 commented on #154
I have recently updated a k8s cluster running on Ubuntu 15.10 which I provisioned roughly a month ago with kubespray:

Procedure (on the machine from which I had previously deployed the k8s cluster):
[code]

It failed initially because `cloud_provider` variable wasn't set, wasn't required last time I tried it a few weeks ago.

[code]

I set it to `openstack` on `~/.kargo/inventory/group_vars/all.y

[2016-10-17 15:54] bogdando commented on #159
@aatem does the patch close the issue?

[2016-10-18 09:43] bogdando commented on #342
@ursuas very nice esoteric finding, thank you! I will address that change if you don't mind.

[2016-10-18 10:02] aateem commented on #159
@bogdando Yes, users can tune network policy for particular namespace of k8s cluster if they enable policy setting by providing 'enable_network_policy' ansible variable.

[2016-10-18 10:57] bogdando opened #553 "Adopt kubeadm tool for cluster creation"
We should delegate some CM tasks to the kubeadm tool in Kubernetes.
For the start, that may be a certificates management for k8s cluster nodes. Because this is the most time consuming operation on a large scale.

Perhaps we could do that by adopting https://github.com/att-comdev/halcyon-kubernetes work to Kargo

[2016-10-18 11:36] Smana commented on #553
That's exactly what we've talked about with @v1k0d3n and @rsmitty, we  should start this item asap.
That would be an option and may become the default installation method in the future

[2016-10-18 11:41] #159 closed

[2016-10-18 13:38] v1k0d3n commented on #553
@bogdando + @Smana yeah, this sounds good. let me do a couple of things before i merge in and find intersecting points with kubespray (if this is ok)? i am in the process of adding a couple of things; the obvious is centos. i contacted maintainers of a kubeadm/centos/ansible project, and they were fine with merging the efforts. we should probably talk about how you want to handle sdn's too. i was

[2016-10-18 14:40] bogdando commented on #553
@v1k0d3n sure, please also join to my WIP patch review

[2016-10-19 16:32] bogdando commented on #553
Related issue that makes integration with CM a very painful https://github.com/kubernetes/kubernetes/issues/35133

[2016-10-20 09:52] bogdando commented on #553
Another blocker issue https://github.com/kubernetes/kubernetes/issues/33729

[2016-10-20 09:59] bogdando commented on #553
And multi master steps are unclear https://github.com/kubernetes/kubernetes/issues/35188

[2016-10-20 10:04] bogdando commented on #553
There is also yet possible to use hyperkube for kubeadm https://github.com/kubernetes/kubernetes/issues/35190

[2016-10-20 10:09] bogdando commented on #553
This is yet doable, closing

[2016-10-20 10:46] mattymo commented on #553
We should keep this open and let it be a roadmap item.

[2016-10-20 13:23] bogdando commented on #512
Related https://github.com/kubespray/kargo/pull/528

[2016-10-20 13:27] bogdando commented on #336
@mattymo and another use case is to distribute k8s cluster certificates, token, users via etcd as well. Althouhg, once we wanted TLS for etcd, we'd have use rsync still.

[2016-10-20 13:29] bogdando opened #557 "Use caching for facts to speed up large deployments"
We should enable facts caching and store those in etcd perhaps (OR local json files are just fine unless we want ansible pull mode). This allows concurrent ansible-playbooks to be run by external launchers, while deploying large Kargo envs.

Kargo though relies on set_facts to manipulate with certificates and tokens generation logic. Thus, we should explore the impact of cached set_facts definitio

[2016-10-20 13:29] bogdando commented on #557
related https://github.com/kubespray/kargo/issues/336

[2016-10-20 14:25] bogdando commented on #557
It seems ansible facts from "set_facts:" are missing the cache. At least that is that I can see for ansible 2.1.2.0.

[2016-10-21 09:55] mattymo commented on #512
We ended up with nginx because traefik can't do a transparent SSL passthrough.

[2016-10-21 09:55] #512 closed

[2016-10-21 10:23] mattymo opened #560 "Enable --limit deploy of kube-node hosts"
We should enable a deployer to cache all hosts facts and then add 1 kube-node host to the cluster without requiring them in the Ansible play. There are two areas in deployment that break this workflow:

etcd endpoint/peers calculations
cert/token checks

The downside we have to avoid is the problem that set_fact facts cannot be cached at all. They should instead be calculated by play_hosts[0] and

[2016-10-21 10:25] bogdando commented on #557
related https://github.com/kubespray/kargo/issues/560

[2016-10-21 10:46] bogdando commented on #560
kubernetes/secrets runs only for masters, which may be not the case for cached facts to be expected to speed up things much. We could run master role with gather_facts true perhaps and ignore (or flush) facts.

[2016-10-22 13:48] superdump opened #563 "Elevate individual tasks to super user only as needed"
I was going to give kargo a try for rolling a kubernetes cluster but it got stuck at:

[code]

I checked in the ansible files and it seemed that the task had no `become: true` annotation which seemed odd given it requires super user permissions. I asked about this and was told that people using kargo normally add the become on the command line. But that would mean running all tasks as a super user

[2016-10-24 16:18] bogdando commented on #452
@mattymo

[2016-10-25 08:58] mattymo opened #565 "Enable separate resolv.conf setup from dnsmasq"
We have partial separation, but it forces kubedns on the host if you set skip_dnsmasq.

[2016-10-25 09:02] bogdando commented on #565
This is a dup of https://github.com/kubespray/kargo/issues/452

[2016-10-25 09:02] #565 closed

[2016-10-26 11:16] kad opened #567 "Proposal: drop support for upstart based distributions."
Background:
current Vagrant setup doesn't work "out of box" or installing on top of bare metal ubuntu 14.04: Installing flannel restarts docker which leads to stopping kubelet . In systemd based distros kubelet is restarted by systemd and playbook continues to work fine. In upstart based distros, startup scripts are done via SysV init scripts, and not really upstart, thus upstart doesn't know anyt

[2016-10-26 14:49] mattymo commented on #474
This was fixed

[2016-10-26 14:49] #474 closed

[2016-10-26 14:49] mattymo commented on #474
This was fixed

[2016-10-26 17:49] rsmitty opened #569 "Docker not reliably restarted on CoreOS"
I've only encountered this on the newest CoreOS version, but it's been a while since I've upgraded our OS versions. The step during Docker deployment where the daemon is reloaded and restarted seems to fail on some nodes, but not all. Here's a 4-node example with CoreOS 1122.3.0. Seems to be occurring after the nework_plugin bit runs and deploys flannel.

[code]

[2016-10-27 07:07] #452 closed

[2016-10-27 14:36] sc68cal commented on #257
Or at the very least, when the ansible playbook run is complete, do as #534 would be nice.

[2016-10-27 14:48] joshuacox commented on #257
I have automated the process with a makefile, it's for a provisioner I made for cloudatcost, I've been meaning to make all this a module like GCE or AWS that could be invoked instead, but I haven't gotten around to it, and have merely bolted on some extra steps using bash.

it looks like this:

[code]

https://github.com/joshuacox/mkcloudatcost

[2016-10-27 18:29] rsmitty commented on #569
I can also reproduce this on an older version of CoreOS with a much larger base of nodes (deploying 80 workers). So it seems like it's always been flaky, just something has changed on the CoreOS side to make it even more true lately.

[2016-10-28 09:12] bogdando commented on #31
Just a not may be useful while implementing this https://github.com/kubernetes/kubernetes/pull/29649#discussion_r85375841

[2016-10-28 09:23] mattymo commented on #31
That sort of conflicts with Calico deployment where each node needs etcd access. This solution is only useful for masters that don't run any workloads.

[2016-10-30 17:22] pcm32 commented on #569
I'm getting this as well, on CoreOS 1122.3.0...

[2016-10-31 08:51] jjungnickel commented on #569
It appears that not even docker (or the docker unit itself) is the culprit here - restarting the docker.socket reliably fixes the issue for us.

[2016-10-31 14:26] pcm32 opened #577 "Terraform on openstack requires that every machine provisioned has a floating ip"
In the current state, the terraform scripts available in contrib/terraform/openstack force you to have a floating ip for each machine provisioned (masters, nodes). This is prohibitive in some use cases, and the user should have the ability to decide how many floating IPs should be used, if any. You could have maybe one as the minimum, at least for automatic setup of ansible. I have written a solut

[2016-10-31 21:00] pcm32 commented on #439
I still see this occasionally with CoreOS 1122.3.0 and flannel.

[2016-11-01 04:16] fuyufjh commented on #383
Hi,

I am using latest version on master branch, and same errors happened when using `vagrant up`

[code]

`iptables` is disabled.

Here is the generated `/etc/etcd.env` in Node 1

[code]

[2016-11-01 09:55] Smana commented on #577
@paulczar, could you please have a look to pcm32 proposal ?

[2016-11-01 11:30] pcm32 commented on #577
I have updated documentation as well on that branch, possibly the easiest is that start the pull request, then is easier to see the differences. I just wrote the issue to follow the guidelines. Let me know.

[2016-11-02 13:26] bogdando commented on #557
Was addressed by recent patches

[2016-11-02 13:26] #557 closed

[2016-11-02 13:31] #516 closed

[2016-11-02 19:13] pcm32 opened #578 "terraform/openstack/no floating ips/CoreOS: etcd doesn't come up and deployment fails after waiting for it."
On both CoreOS 1122.3.0 and 1068.3.0 I get deployments constantly failing due to etcd not coming up:

[code]

The error shown is (1 node, 3 masters):

[code]

I have been doing many test deployments and only seen it work past this a few times out of many trials. This happens both with flannel and calico. Tested with the latest kargo version on master (VMs generated with terraform).

Any additional

[2016-11-04 02:57] abourget opened #581 "Support for native AWS routing"
Instead of installing a network plugin, Kubernetes supports using the AWS VPC routes natively.  In that case, we mustn't install any plugin.

I know `flannel` has an `aws-vpc` backend that does the same thing, but my goal is to avoid managing yet another `etcd` cluster.

On AWS, I'd prefer to use the native support, so I can keep my k8s `etcd` secured away and not share it with all the nodes (I'm

[2016-11-04 16:52] rsmitty opened #582 "Update Admission Controllers for > v1.4"
Updated in the docs, needs an update since our default version is 1.4.3 and I think it may be messing with some persistent volume stuff I'm trying out. PR incoming.

Docs: http://kubernetes.io/docs/admin/admission-controllers/#is-there-a-recommended-set-of-plug-ins-to-use

[2016-11-04 21:02] #582 closed

[2016-11-10 18:25] rsvancara commented on #578
In my case, etcd is not coming up because the member.pem is not being generated in the SSL steps.   I can verify this if I run the playbook via:

ansible-playbook -i inventory/inventory cluster.yml

I will post a fix if I find one.  But for right now the certificate generation/propagation seems to have challenges.

2016-11-10 18:23:14.898307 I | etcdmain: etcd Version: 3.0.6
2016-11-10 18:23:14.89

[2016-11-10 19:47] mattymo commented on #578
@rsvancara Can you show me a few items?
What files exist in /etc/ssl/etcd/ssl ?
What node hostname is this?
Please paste your inventory. It's a regression related to https://github.com/kubernetes-incubator/kargo/pull/591, but let's try to fix it.

[2016-11-10 22:46] rsvancara commented on #578
Inventory:
[kube-node]
kub-rs-minion0.local ansible_ssh_host=10.150.152.130
kub-rs-minion1.local ansible_ssh_host=10.150.152.131
kub-rs-minion2.local ansible_ssh_host=10.150.152.132
kub-rs-minion3.local ansible_ssh_host=10.150.152.133
[kube-master]
kub-rs-master0.local ansible_ssh_host=10.150.152.120
kub-rs-master1.local ansible_ssh_host=10.150.152.121
kub-rs-master2.local ansible_ssh_host=10.150.

[2016-11-11 03:55] abourget commented on #119
I'd very much love to have a separate `etcd` cluster for both Calico and Flannel..

This is a blocker for my infrastructure.

[2016-11-11 10:45] mattymo commented on #119
Calico and Flannel have experimental support for using k8s annotations instead of etcd as backend. I hope to take a look at it soon.

As far as a separate etcd cluster, I don't think we'll do it right now, but we could create an overridable var for network_plugin_etcd_access_endpoint, which would default to etcd_access_endpoint.

[2016-11-11 11:26] pcm32 commented on #578
On the setup I was using, I didn't have dedicated etcd nodes. All my machines had played the three roles: master, node and etcd node. In some cases I was also provisioning an additional (kubernetes) node (as node only I mean).

[2016-11-11 13:40] rsvancara commented on #578
I will combine the etcd and master nodes and test.  I had not thought about
combining etcd and the kubernetes masters

On Nov 11, 2016 3:26 AM, "Pablo Moreno" <notifications@github.com> wrote:

[2016-11-13 18:33] pcm32 commented on #578
@mattymo I have managed to reproduce the error. You can find in this [gist](https://gist.github.com/pcm32/a231d291d292bec7f800aea6eff563f4) the output of `journalctl -f -o cat` for each of the three hosts (as ansible outputs, search for word 'pheno3' to move from host to host) and the dynamic inventory as generated by `python contrib/terraform/openstack/host --list` command.

What strikes me is th

[2016-11-13 20:36] mattymo commented on #578
Oh it's quite simple. Your access IP is set, but it's not a locally available IP to bind to. That's why you see this error in your logs:
2016-11-13 17:52:28.014925 C | etcdmain: listen tcp 192.168.0.180:2380: bind: cannot assign requested address

Further down, I see the address is set to 192.168.0.193 for host pheno3-k8s-master-nf-1. I don't see how 192.168.0.180 got selected, though. Your invent

[2016-11-13 21:34] pcm32 commented on #578
Thanks @mattymo. I wonder where do the 179, 180 and 181 IPs come from... maybe the default on

[code]

within `kubernetes/preinstall/tasks/set_facts.yml`.

I have written now something to add the `ip` variable in the `contrib/terraform/openstack/hosts` python script, testing it now. I will change the title of the issue to reflect that this is terraform/openstack specific with non-floating ips.

[2016-11-13 22:06] pcm32 commented on #578
@mattymo I have made the fix that you suggested and it seems to work. However now I'm hitting a problem when flannel sets the etcd configuration, apparently etcdctl doesn't like the certificates generated:

[code]

I presume that the issue is on `openssl.conf.j2` template file in `etcd/templates`:

[code]

due to the changes in the "ip" variable. If I set all "ip" variables in the inventory to the

[2016-11-14 02:01] pcm32 commented on #578
PR #596 fixes the certificate issues I mentioned in the previous post.

[2016-11-14 07:45] #578 closed

[2016-11-14 07:47] mattymo commented on #569
This issue appears resolved.

[2016-11-14 07:47] #569 closed

[2016-11-14 07:48] mattymo commented on #567
+1. Let's make a PR to drop it and announce it on kubernetes-dev.

[2016-11-14 07:49] mattymo commented on #563
There are only a handful of tasks that don't require become: true. I would argue this is a wishlist item and would not add a great deal of value to Kargo.

[2016-11-14 07:50] #560 closed

[2016-11-14 08:16] mattymo commented on #476
At a minimum, you have to add a variable "bootstrap_os" to your global variables for this to work. I would like to see if we can fix this a step further so that there are no documentation requirements or manual steps for nodes that require bootstrap.

[2016-11-14 08:17] mattymo commented on #457
Is this still unresolved?

[2016-11-14 08:17] mattymo commented on #436
Adding retries to docker commands fixed this. It's nothing we can fix any further.

[2016-11-14 08:17] #436 closed

[2016-11-14 08:19] mattymo commented on #379
Kargo enables deployment of kubedns by default. Deploying dns separately in a manual install isn't supported. Closing this issue.

[2016-11-14 08:19] #379 closed

[2016-11-14 08:32] #322 closed

[2016-11-14 08:33] mattymo commented on #314
This looks like an intermittent issue that hasn't come up in recent months. Please reopen if you see this agian.

[2016-11-14 08:33] #314 closed

[2016-11-14 08:34] #299 closed

[2016-11-14 08:37] mattymo commented on #300
This is some nice low hanging fruit. About 1/3 of template tasks and almost no file/copy tasks use backup option.

[2016-11-14 08:41] mattymo commented on #269
This is a requirement for kubelet, not kubectl. I did a strace on this same command and saw that kubectl didn't invoke either binary. There's nothing to fix here, since hyperkube container runs kubelet and has all the necessary binaries.

[2016-11-14 08:41] #269 closed

[2016-11-14 08:41] mattymo commented on #287
Can you elaborate here? Should this go into roadmap?

[2016-11-14 08:43] mattymo commented on #246
This can be closed. Calico install doesn't pull flannel or weave, and the same applies for other network plugins.

[2016-11-14 08:43] #246 closed

[2016-11-14 08:43] mattymo commented on #243
What should be done here? Our SSL is fine for now until we can switch over to kubeadm's TLS framework.

[2016-11-14 08:46] mattymo commented on #161
What's the harm here? Without root permissions, the binaries are useless.

[2016-11-14 10:30] mattymo commented on #157
CoreOS doesn't have bash-completion. The only way you can make it work is through a temporary runtime hack that runs it in a fedora container: https://www.binarysludge.com/2014/10/21/install-bash-completion-on-coreos/

[2016-11-14 10:37] bogdando commented on #475
So, let's replace a few of existing test cases inthe test matrix to run with CoreOS stable and to deploy canal instead of flannel as well. Canal deploys flannel, so we don't loose much in the coverage. Canal also deploys calico policy controller app, which should also be tested.

As @mattymo suggested, we could drop a few of the debian+weave, rhel+flannel, ubuntu+calico and replace them to the cor

[2016-11-14 11:03] #577 closed

[2016-11-14 12:47] mattymo commented on #542
https://github.com/kubernetes/kubernetes/issues/36745

[2016-11-14 21:30] rsmitty opened #605 "update bootstrap_os comment with options"
Currently says xenial, should be ubuntu.

[2016-11-15 09:50] #542 closed

[2016-11-15 09:51] #605 closed

[2016-11-15 17:02] mzylowski opened #610 "CoreOS BM deployment fails because certs cannot be transferred correctly"
I have three nodes with CoreOS.

Here is my inventory.cfg:
[code]

Fails:
[code]
After that we wait 9 times to etcd cluster up:
[code]

Re-run doesn't help, after manually scping certs to problematic node kargo made some progress. After re-run kargo failed on
[code]
[code]

[2016-11-15 17:12] mattymo commented on #610
Hi! You're missing logs from a few tasks:
etcd : Gen_certs | Gather etcd node certs
and
etcd : Gen_certs | Copy certs on masters

Are there certs in /etc/ssl/etcd/ssl on host `igk-0158`? They should have been copied, but something went wrong.

[2016-11-15 17:59] mzylowski commented on #610
[code]

[code]

[code]

[2016-11-16 02:49] pcm32 commented on #444
I'm close to submitting a PR to provision glusterfs plus k8s support for that (PV and endpoint).

[2016-11-16 09:06] adidenko opened #612 "download_run_once does not work for remote hosts"
`download_run_once: true` works only if `groups['kube-master'][0]` is the same host where ansible-playbook is executed.
But if you run ansible/kargo on host-A to deploy k8s on host-B, host-C and host-D, then `download_run_once: true` does not work. In some places it is simply missing `delegate_to: "{{groups['kube-master'][0]}}"` but more serious problem is with rsync+ssh access from `groups['kube-

[2016-11-16 10:31] #475 closed

[2016-11-16 11:00] bogdando opened #613 "CoreOS with weave fails the "Ping between pods is working" postinstall test case"
CoreOS with weave fails the Ping between pods is working postinstall case, for example:

[code]

[2016-11-16 11:23] bogdando commented on #610
There are few places with no fallback from inventory nodes' IPs to ansible_ssh_hosts. Thus, I'm not sure  deployments w/o defined nodes IP in inventory are supported.

[2016-11-16 11:36] ant31 commented on #610
I think we never fallback to ansible_ssh_host var, maybe we can do it instead of fallback to default_ipv4.
Can you try with the ip var in your inventory

[code]

@mattymo this looks like it take inventory_hostname
[code]
but the etcd is configured with:
[code]

[2016-11-16 11:40] bogdando commented on #161
It looks like we want a separate label 'security' for such type of issues. F.e. we may want to consider dropping capabilities for kube services we run in containers and so on (http://rhelblog.redhat.com/2016/10/17/secure-your-containers-with-this-one-weird-trick/)

[2016-11-16 11:44] bogdando opened #614 "Drop capabilities for etcd/kube services/k8s apps Kargo runs in containers"
See http://rhelblog.redhat.com/2016/10/17/secure-your-containers-with-this-one-weird-trick/
The consequent of dropped caps is that etcd service units and k8s apps must launch unprivileged containers under their own users instead of the root. And permissions to certs/state dirs must be as well adjusted to become shared.

[2016-11-16 11:47] bogdando commented on #457
Let's close unless we have more feedback from users on that topic

[2016-11-16 11:47] #457 closed

[2016-11-16 12:13] bogdando commented on #613
The issue seems intermittent see https://travis-ci.org/kubernetes-incubator/kargo/builds/176342071 which is passed

[2016-11-16 23:31] syed opened #616 "Adding support for CloudStack"
I am a Cloudstack contributor. I want to add support for Kargo in Cloudstack. Where do I get started?

[2016-11-17 07:51] ant31 commented on #616
Hi,
You can have a look at #587  , it's still in progress but it will give quite good hint where to start to cloudstack as a 'cloud-provider' to kargo.
Or you can describe here the extra steps that are required to deploy on cloudstack and we will point where to do the changes.

[2016-11-17 10:20] bogdando commented on #610
@ant31 missing IPs looks like UX issue. Inventory files for cloud instances normally contain only `ansible_ssh_host` and no IP, right? For example, if GCE instances created with ansible gce module, the inventory file will contain only ansible_ssh_host. Shall Kargo provide a fallback for IP to that?

[2016-11-17 12:00] bogdando opened #617 "Bootstrap OS (python-minimal) task is not idempotent for CoreOS"
How to reproduce: make the bootstrap python minimal task for CoreOS to fail, then rerun with correct parameters. It fails with:
[code]

To make it to fail, run the task with `-e bootstrap_os=coreos` *but* w/o custom `ansible_python_interpreter` var defined:
[code]
then rerun with `-e ansible_python_interpreter=/opt/bin/python` and face the idempotency issue.

[2016-11-17 13:50] ant31 opened #619 "define the network-interface to use rather than each IP"
To bind service we use :
the default order is :
`ip | default_interface.ipv4`

- ip: is manually set for each node, it is usually the private ip of the host
- default.ipv4: is gathered by ansible and it often the public ip.

Instead of setting an ip for each node we can set an interface and get the ip from ansible fact:

[code]

and the new order would be :
`ip | network[node_network_iface].ipv4

[2016-11-17 13:57] mattymo commented on #619
I'm in favor of a new fact for access_ip and ip to reduce lines like this:
[code]

Or do you intend to make it extended so that access_ip will look like this instead?
[code]

[2016-11-17 15:47] pcm32 commented on #269
@mattymo missing socat is an issue with CoreOS... recommended possibility on CoreOS is to use kubelet-wrapper. Should I open a separate issue for that? I hit the problem when trying to use helm on the kargo deployed cluster.

[2016-11-17 16:01] ant31 opened #622 "Move documentation to kubernetes.io"
http://kubernetes.io/docs/

[2016-11-17 16:41] abourget opened #623 "Missing proxy settings in `/etc/default/docker` for network plugins."
Behind corporate proxies, Docker can't download images so any `Download` fails.

When flannel, calico sets up its own `/etc/default/docker` .. it doesn't put anything for proxies in there.

This would be needed for it to work:

[code]

or something like `defined http_proxy`, etc..

Any way we could have that centralized, or have that snippet live in a variable that every plugin can simply drop in

[2016-11-17 16:50] ant31 opened #624 "Configuration / inventory wizard"
It would be nice the have a CLI or a small webpage to generate the inventory and select the configuration options.
It will give some space/room to explain each options and have a quick way to get started.

It would create the `'inventory.cfg'` and the `groups_vars/all.yaml`

[2016-11-17 16:53] mattymo commented on #624
I can upstream https://github.com/openstack/fuel-ccp-installer/blob/master/utils/kargo/inventory.py for you. It's not flexible in role distribution, though. There's no point in creating all.yaml. It already exists.

[2016-11-17 16:57] ant31 opened #625 "Ansible command wrapper"

[2016-11-17 16:58] rsmitty opened #626 "Ensure kubelet restarts always"
Simply need restart flag to kubelet binary script.

[2016-11-17 17:05] abourget commented on #567
I'm still using this.. I understand we'd want to clean-up.

You're wondering if its worth it to pass to `upstart` scripts instead of SysV, or whether its still worth supporting 14.04 at all ?

In my case, we have internal OpenStack with only 14.04 supported there.. and since it's an LTS.. well.. I sorta need to support it for longer :)

Anyone else using this ? I understand not every user of that

[2016-11-17 17:45] abourget commented on #581
we could call that `cloud-provider` network plugin ?

[2016-11-17 18:36] mzylowski commented on #610
Hey!
Adding 'ip' to ansible inventory doesn't help me :< There was some similar problems, but I did not debug it yet (not enough time)
Few days ago I deployed another small cluster via kargo. After switch to commit before 'etcd TLS' and running ansible-playbok it start working.
So I have CoreOS BM cluster but etcd works via http.

Probably I will check CoreOS bare metal deployment in next few days

[2016-11-17 22:50] syed commented on #616
Thank you I'll have a look at this.

[2016-11-18 12:18] kad commented on #567
Reason of proposal was mostly to drop distros that are non-systemd based. Nothing specific about 14.04 itself.
To support upstream based distros, it would require to write properly upstart init files, instead of trying to relay on SysV back-compatibility in upstart.  One example would be inability to restart kubelet which goes down if docker restarted during playbook play.

[2016-11-18 12:39] abourget commented on #567
That particular issue was solved yesterday but adding --restart=always to
the docker run call for kubelet, like it was for etcd.

On Fri, Nov 18, 2016, 7:18 AM Alexander D. Kanevskiy <
notifications@github.com> wrote:

[2016-11-18 12:49] bogdando commented on #610
@mzylowski yes, it is. See also https://github.com/kubernetes-incubator/kargo/blob/master/docs/ansible.md . Perhaps we should have examples with access_ip explained (cloud providers) as well... @ant31 what do you think?